Repository HP319193/prisme.ai: changes, and which GitLab CI jobs are due for each by the changed paths.
All: npm_install, console_test, console_build_docker, console_deploy, workspaces_build_docker, workspaces_deploy, runtime_build_docker, runtime_deploy, api-gateway_build_docker, api-gateway_deploy, events_test, events_build_docker, events_deploy

Path conditions:
  npm_install: any of: package-lock.json, packages/**/*
  console_test: any of: services/console/**/*
  console_build_docker: any of: services/console/**/*
  console_deploy: any of: services/console/**/*
  workspaces_build_docker: any of: services/workspaces/**/*
  workspaces_deploy: any of: services/workspaces/**/*
  runtime_build_docker: any of: services/runtime/**/*
  runtime_deploy: any of: services/runtime/**/*
  api-gateway_build_docker: any of: services/api-gateway/**/*
  api-gateway_deploy: any of: services/api-gateway/**/*
  events_test: any of: services/events/**/*
  events_build_docker: any of: services/events/**/*
  events_deploy: any of: services/events/**/*

Publish send proper name to display in app store
  services/console/components/PublishModal.tsx
Due: console_test, console_build_docker, console_deploy

Fixed public url in page sharing, and api url
  packages/sdk/lib/api.ts
  services/console/components/Share/SharePage.tsx
Due: npm_install, console_test, console_build_docker, console_deploy

Removed "share page" from UI while the whole process isn't done
  services/console/components/Share/ShareWorkspace.tsx
  services/console/components/Share/ShareWorkspacePopover.tsx
  services/console/public/locales/en/common.json
  services/console/public/locales/es/common.json
  services/console/public/locales/fr/common.json
  services/console/views/Page.tsx
Due: console_test, console_build_docker, console_deploy

Retrieve app photo & description from publishing workspace if not provided in request body
  services/workspaces/src/services/apps/crud/apps.ts
Due: workspaces_build_docker, workspaces_deploy

Workspace/Page sharing wordings
  services/console/components/HeaderWorkspace.tsx
  services/console/public/locales/en/workspaces.json
  services/console/public/locales/fr/workspaces.json
  services/console/views/Workspace.tsx
Due: console_test, console_build_docker, console_deploy

More wording fixes
  services/console/public/locales/en/workspaces.json
  services/console/public/locales/fr/workspaces.json
Due: console_test, console_build_docker, console_deploy

Fix tests
  services/console/views/__snapshots__/AppsSidebar.test.tsx.snap
  services/console/views/__snapshots__/PagesSidebar.test.tsx.snap
  services/console/views/__snapshots__/Workspace.test.tsx.snap
Due: console_test, console_build_docker, console_deploy

Removed duplicate method in sdk
  packages/sdk/lib/api.ts
Due: npm_install

increased min-height for search input
  packages/design-system/styles/prismeai-theme.less
Due: npm_install

changed app store and "espace de travail" to "workspace"
  services/console/public/locales/en/workspaces.json
  services/console/public/locales/fr/workspaces.json
Due: console_test, console_build_docker, console_deploy

removed window.location.hostname as default url to share
  services/console/components/Share/SharePage.tsx
Due: console_test, console_build_docker, console_deploy

Sidebar don't minimize when switching out of "apps" section
  services/console/views/AppsSidebar.tsx
Due: console_test, console_build_docker, console_deploy

Store and workspace properly use photo/description
  services/console/views/AppsStore.tsx
  services/console/views/Workspaces.tsx
Due: console_test, console_build_docker, console_deploy

Random wording fixes
  services/console/public/locales/en/common.json
  services/console/public/locales/es/common.json
  services/console/public/locales/fr/common.json
  services/console/public/locales/fr/workspaces.json
Due: console_test, console_build_docker, console_deploy

Widget selection from app use same display logic as automations from apps
  services/console/components/PageBuilder/Panel/WidgetForm.tsx
Due: console_test, console_build_docker, console_deploy

check if app is already published to prevent renaming it when publishing
  package-lock.json
  packages/sdk/lib/api.ts
  services/console/components/AppsProvider/Provider.tsx
  services/console/components/AppsProvider/context.ts
  services/console/components/PublishModal.tsx
  services/console/public/locales/en/workspaces.json
  services/console/public/locales/fr/workspaces.json
Due: npm_install, console_test, console_build_docker, console_deploy

Fix validation of non-translated LocalizedText fields
  services/console/Dockerfile
  services/workspaces/Dockerfile
  specifications/swagger.yml
Due: console_test, console_build_docker, console_deploy, workspaces_build_docker, workspaces_deploy

Now return workspaces photo/description on GET /workspaces
  services/workspaces/src/permissions/index.ts
  services/workspaces/src/services/workspaces/crud/workspaces.ts
Due: workspaces_build_docker, workspaces_deploy

Add output for each custom automation in graph form
  services/console/components/AutomationBuilder/AutomationBuilder.tsx
Due: console_test, console_build_docker, console_deploy

Display instruction field description if present
  services/console/components/AutomationBuilder/AutomationBuilder.tsx
  services/console/components/AutomationBuilder/Panel/__snapshots__/ConditionForm.test.tsx.snap
  services/console/components/AutomationBuilder/Panel/__snapshots__/InstructionValue.test.tsx.snap
  services/console/components/SchemaForm/Field.tsx
  services/console/components/SchemaForm/Form.tsx
  services/console/components/SchemaForm/__snapshots__/Form.test.tsx.snap
  services/console/components/SchemaForm/types.ts
  services/console/public/locales/en/workspaces.json
  services/console/public/locales/es/workspaces.json
  services/console/public/locales/fr/workspaces.json
Due: console_test, console_build_docker, console_deploy

ui:widget select with options
  packages/types/index.d.ts
  services/console/__mocks__/@prisme.ai/design-system.js
  services/console/components/SchemaForm/Field.test.tsx
  services/console/components/SchemaForm/Field.tsx
  services/console/components/SchemaForm/Form.tsx
  services/console/components/SchemaForm/types.ts
  specifications/swagger.yml
Due: npm_install, console_test, console_build_docker, console_deploy

array type
  package-lock.json
  packages/types/index.d.ts
  services/console/components/SchemaForm/Field.tsx
  services/console/components/SchemaForm/Form.tsx
  services/console/components/SchemaForm/types.ts
  services/console/package.json
  services/console/public/locales/fr/workspaces.json
  specifications/swagger.yml
Due: npm_install, console_test, console_build_docker, console_deploy

object type
  services/console/components/SchemaForm/Field.tsx
  services/console/components/SchemaForm/Form.tsx
  services/console/components/SchemaForm/types.ts
Due: console_test, console_build_docker, console_deploy

Display a code editor when needing additionnalProperties
  services/console/components/SchemaForm/Field.tsx
  services/console/components/SchemaForm/Form.tsx
  services/console/components/SchemaForm/types.ts
Due: console_test, console_build_docker, console_deploy

Required should stay a boolean
  services/console/components/AutomationBuilder/context.ts
  services/console/components/SchemaForm/Field.test.tsx
  services/console/components/SchemaForm/Field.tsx
Due: console_test, console_build_docker, console_deploy

Tests
  packages/design-system/lib/Components/Input.tsx
  services/console/__mocks__/@ant-design/icons.js
  services/console/__mocks__/antd.js
  services/console/components/SchemaForm/Field.test.tsx
  services/console/components/SchemaForm/Field.tsx
  services/console/components/SchemaForm/Form.test.tsx
  services/console/components/SchemaForm/Form.tsx
  services/console/components/SchemaForm/__snapshots__/Form.test.tsx.snap
  services/console/components/SchemaForm/types.ts
  services/console/components/WorkspacesProvider/Provider.tsx
Due: npm_install, console_test, console_build_docker, console_deploy

Forgotten translations
  services/console/public/locales/en/workspaces.json
  services/console/public/locales/es/workspaces.json
Due: console_test, console_build_docker, console_deploy

Fix types
  services/console/components/SchemaForm/Form.tsx
Due: console_test, console_build_docker, console_deploy

Avoid crash when page does not exists
  packages/sdk/lib/api.ts
Due: npm_install

Avoid useless renders on events feed
  services/console/components/EventsViewer/EventsViewer.tsx
Due: console_test, console_build_docker, console_deploy

Save last workspace nav state in LS
  services/console/views/Workspace.tsx
Due: console_test, console_build_docker, console_deploy

Attempt to optimize events feed refresh
  services/console/components/WorkspacesProvider/Provider.tsx
  services/console/layouts/WorkspaceLayout/WorkspaceLayout.tsx
Due: console_test, console_build_docker, console_deploy

Display app instance schema form
  package-lock.json
  packages/types/index.d.ts
  services/console/components/SchemaForm/Field.tsx
  services/console/components/SchemaForm/types.ts
  services/console/layouts/WorkspaceLayout/WorkspaceLayout.tsx
  services/console/layouts/WorkspaceLayout/context.ts
  services/console/views/AppsSidebarItem.tsx
  specifications/swagger.yml
Due: npm_install, console_test, console_build_docker, console_deploy

Fix infinite loop on automations due to "output" schema
  services/console/components/AutomationBuilder/AutomationBuilder.tsx
Due: console_test, console_build_docker, console_deploy

Fix select another block in graph
  services/console/components/AutomationBuilder/Panel/InstructionForm.tsx
Due: console_test, console_build_docker, console_deploy

Source code save display DSUL error
  services/console/components/WorkspacesProvider/Provider.tsx
  services/console/layouts/WorkspaceLayout/WorkspaceLayout.tsx
Due: console_test, console_build_docker, console_deploy

Fix displaying objects nested in arrays
  services/console/components/SchemaForm/Field.tsx
Due: console_test, console_build_docker, console_deploy

Fix typing preventing build
  services/console/components/AppsProvider/context.ts
Due: console_test, console_build_docker, console_deploy

Fix workspacelayout test
  services/console/layouts/WorkspaceLayout/WorkspaceLayout.test.tsx
Due: console_test, console_build_docker, console_deploy

Ugly comment of test for instruction, UI works well
  services/console/components/AutomationBuilder/Panel/InstructionForm.test.tsx
Due: console_test, console_build_docker, console_deploy
