Repository HP319193/prisme.ai: changes, and which GitLab CI jobs are due for each by the changed paths.
All: npm_install, console_test, console_build_docker, console_deploy, workspaces_build_docker, workspaces_deploy, runtime_build_docker, runtime_deploy, api-gateway_build_docker, api-gateway_deploy, events_test, events_build_docker, events_deploy

Path conditions:
  npm_install: any of: package-lock.json, packages/**/*
  console_test: any of: services/console/**/*
  console_build_docker: any of: services/console/**/*
  console_deploy: any of: services/console/**/*
  workspaces_build_docker: any of: services/workspaces/**/*
  workspaces_deploy: any of: services/workspaces/**/*
  runtime_build_docker: any of: services/runtime/**/*
  runtime_deploy: any of: services/runtime/**/*
  api-gateway_build_docker: any of: services/api-gateway/**/*
  api-gateway_deploy: any of: services/api-gateway/**/*
  events_test: any of: services/events/**/*
  events_build_docker: any of: services/events/**/*
  events_deploy: any of: services/events/**/*

Layout for two column workspaces
  services/console/components/DesignSystem/LayoutColumn.tsx
  services/console/components/DesignSystem/Menu.tsx
  services/console/components/DesignSystem/MenuTab.tsx
  services/console/components/DesignSystem/index.js
  services/console/stories/Layout.stories.tsx
  services/console/stories/LayoutColumn.stories.tsx
  services/console/styles/prismeai-theme.less
Due: console_test, console_build_docker, console_deploy

Header component added to design system
  services/console/.storybook/preview.js
  services/console/components/DesignSystem/Header.tsx
  services/console/components/DesignSystem/Layout.tsx
  services/console/components/DesignSystem/index.js
  services/console/styles/prismeai-theme.less
Due: console_test, console_build_docker, console_deploy

Fixed padding/centered stories
  services/console/components/DesignSystem/index.js
  services/console/stories/Button.stories.tsx
  services/console/stories/Dropdown.stories.tsx
  services/console/stories/Header.stories.tsx
  services/console/stories/Layout.stories.tsx
  services/console/stories/MenuTab.stories.tsx
  services/console/stories/PageHeader.stories.tsx
  services/console/stories/RowCol.stories.tsx
  services/console/stories/no-padding.css
Due: console_test, console_build_docker, console_deploy

Updated tests from jsx to tsx
  services/console/.storybook/main.js
  services/console/components/DesignSystem/Button.tsx
  services/console/components/DesignSystem/Layout.tsx
  services/console/components/DesignSystem/PageHeader.tsx
  services/console/stories/Button.stories.tsx
  services/console/stories/Header.stories.tsx
  services/console/stories/Layout.stories.jsx
  services/console/stories/Layout.stories.tsx
  services/console/stories/PageHeader.stories.tsx
  services/console/stories/RowCol.stories.tsx
Due: console_test, console_build_docker, console_deploy

Added workspaceFeed story and general updates
  services/console/components/DesignSystem/Components/Collapse.tsx
  services/console/components/DesignSystem/Components/Dropdown.stories.tsx
  services/console/components/DesignSystem/Components/Feed.stories.tsx
  services/console/components/DesignSystem/Components/Feed.tsx
  services/console/components/DesignSystem/Components/FeedHeader.stories.tsx
  services/console/components/DesignSystem/Components/Layout.stories.tsx
  services/console/components/DesignSystem/Groups/WorkspaceFeed.stories.tsx
  services/console/components/DesignSystem/Groups/WorkspaceFeed.tsx
  services/console/components/DesignSystem/Pages/Workspace.stories.tsx
  services/console/components/DesignSystem/Pages/WorkspaceFeed.tsx
  services/console/components/DesignSystem/index.js
  services/console/components/DesignSystem/mockData.tsx
Due: console_test, console_build_docker, console_deploy

Storybook Pages/Workspace
  services/console/stories/Layout.stories.tsx
  services/console/stories/Workspace.stories.tsx
  services/console/styles/prismeai-theme.less
Due: console_test, console_build_docker, console_deploy

Cleaned Layout story props
  services/console/components/DesignSystem/Layout.tsx
  services/console/stories/Layout.stories.tsx
Due: console_test, console_build_docker, console_deploy

Reorganized DesignSystem in three folders
  services/console/components/DesignSystem/Components/Button.stories.tsx
  services/console/components/DesignSystem/Components/Button.tsx
  services/console/components/DesignSystem/Components/Collapse.stories.tsx
  services/console/components/DesignSystem/Components/Collapse.tsx
  services/console/components/DesignSystem/Components/Dropdown.stories.tsx
  services/console/components/DesignSystem/Components/Dropdown.tsx
  services/console/components/DesignSystem/Components/Layout.stories.tsx
  services/console/components/DesignSystem/Components/Layout.tsx
  services/console/components/DesignSystem/Components/Menu.tsx
  services/console/components/DesignSystem/Components/MenuTab.stories.tsx
  services/console/components/DesignSystem/Components/MenuTab.tsx
  services/console/components/DesignSystem/Components/PageHeader.stories.tsx
  services/console/components/DesignSystem/Components/PageHeader.tsx
  services/console/components/DesignSystem/Components/RowCol.stories.tsx
  services/console/components/DesignSystem/Components/SearchInput.stories.tsx
  services/console/components/DesignSystem/Components/SearchInput.tsx
  services/console/components/DesignSystem/Groups/Feed.stories.tsx
  services/console/components/DesignSystem/Groups/Feed.tsx
  services/console/components/DesignSystem/Groups/Header.stories.tsx
  services/console/components/DesignSystem/Groups/Header.tsx
  services/console/components/DesignSystem/Pages/SidePanelAutomation.tsx
  services/console/components/DesignSystem/Pages/Workspace.stories.tsx
  services/console/components/DesignSystem/index.js
  services/console/stories/mockData.tsx
Due: console_test, console_build_docker, console_deploy

tailwind is back
  package-lock.json
  package.json
  packages/design-system/.gitignore
  packages/design-system/.storybook/preview.js
  packages/design-system/less-watcher.config.json
  packages/design-system/package.json
  packages/design-system/postcss.config.js
  packages/design-system/styles/tailwind.css
  packages/design-system/tailwind.config.js
Due: npm_install

Prettified .js files
  services/console/.storybook/preview.js
  services/console/components/DesignSystem/Pages/WorkspaceHome.tsx
  services/console/components/DesignSystem/index.js
  services/console/pages/_document.js
  services/console/postcss.config.js
  services/console/tailwind.config.js
Due: console_test, console_build_docker, console_deploy

fix Storybook build
  services/console/components/DesignSystem/Groups/Header.stories.tsx
  services/console/components/DesignSystem/Groups/WorkspaceFeed.stories.tsx
  services/console/components/DesignSystem/Groups/WorkspaceFeed.tsx
  services/console/components/DesignSystem/Pages/SidePanel.tsx
  services/console/components/DesignSystem/Pages/SidePanelAutomation.tsx
  services/console/components/DesignSystem/Pages/Workspace.stories.tsx
  services/console/components/DesignSystem/Pages/WorkspaceFeed.tsx
  services/console/components/DesignSystem/Pages/WorkspaceHome.tsx
Due: console_test, console_build_docker, console_deploy

Prettified .tsx files
  services/console/components/DesignSystem/Components/Button.stories.tsx
  services/console/components/DesignSystem/Components/Button.tsx
  services/console/components/DesignSystem/Components/Collapse.stories.tsx
  services/console/components/DesignSystem/Components/Collapse.tsx
  services/console/components/DesignSystem/Components/Dropdown.stories.tsx
  services/console/components/DesignSystem/Components/Dropdown.tsx
  services/console/components/DesignSystem/Components/Feed.stories.tsx
  services/console/components/DesignSystem/Components/Feed.tsx
  services/console/components/DesignSystem/Components/FeedHeader.stories.tsx
  services/console/components/DesignSystem/Components/FeedHeader.tsx
  services/console/components/DesignSystem/Components/Layout.stories.tsx
  services/console/components/DesignSystem/Components/Layout.tsx
  services/console/components/DesignSystem/Components/Menu.tsx
  services/console/components/DesignSystem/Components/MenuTab.stories.tsx
  services/console/components/DesignSystem/Components/MenuTab.tsx
  services/console/components/DesignSystem/Components/PageHeader.stories.tsx
  services/console/components/DesignSystem/Components/PageHeader.tsx
  services/console/components/DesignSystem/Components/RowCol.stories.tsx
  services/console/components/DesignSystem/Components/SearchInput.stories.tsx
  services/console/components/DesignSystem/Components/SearchInput.tsx
  services/console/components/DesignSystem/Groups/Header.stories.tsx
  services/console/components/DesignSystem/Groups/Header.tsx
  services/console/components/DesignSystem/Groups/SidePanel.stories.tsx
  services/console/components/DesignSystem/Groups/SidePanel.tsx
  services/console/components/DesignSystem/Groups/SidePanelAutomations.stories.tsx
  services/console/components/DesignSystem/Groups/SidePanelAutomations.tsx
  services/console/components/DesignSystem/Groups/WorkspaceFeed.stories.tsx
  services/console/components/DesignSystem/Groups/WorkspaceFeed.tsx
  services/console/components/DesignSystem/Pages/WorkspaceHome.stories.tsx
  services/console/components/DesignSystem/mockData.tsx
Due: console_test, console_build_docker, console_deploy

Added mock data to preview workspace home
  services/console/components/DesignSystem/Groups/WorkspaceFeed.tsx
  services/console/components/DesignSystem/Pages/WorkspaceHome.tsx
  services/console/components/DesignSystem/index.js
  services/console/components/DesignSystem/mockData.tsx
Due: console_test, console_build_docker, console_deploy

Updated readme
  services/console/components/DesignSystem/Readme.md
Due: console_test, console_build_docker, console_deploy

backup before changing Layout to use children
  services/console/components/DesignSystem/Pages/WorkspaceHome.tsx
  services/console/components/DesignSystem/SearchInput.tsx
  services/console/components/DesignSystem/index.js
  services/console/stories/SearchInput.stories.tsx
  services/console/tailwind.config.js
Due: console_test, console_build_docker, console_deploy

Added doc generation for storybook, basic control for existing components
  package-lock.json
  package.json
  services/console/.storybook/preview.js
  services/console/components/DesignSystem/LayoutColumn.tsx
  services/console/components/DesignSystem/MenuTab.tsx
  services/console/components/DesignSystem/index.js
  services/console/stories/Dropdown.stories.tsx
  services/console/stories/Header.stories.tsx
  services/console/stories/Layout.stories.tsx
  services/console/stories/LayoutColumn.stories.tsx
  services/console/stories/MenuTab.stories.tsx
  services/console/stories/PageHeader.stories.tsx
Due: npm_install, console_test, console_build_docker, console_deploy

Load design system in console
  package-lock.json
  packages/design-system/lib/Components/Button.tsx
  packages/design-system/lib/Components/FeedHeader.stories.tsx
  packages/design-system/lib/Components/Layout.stories.tsx
  packages/design-system/lib/Components/PageHeader.stories.tsx
  packages/design-system/lib/Groups/Header.tsx
  packages/design-system/lib/Groups/WorkspaceFeed.tsx
  packages/design-system/lib/mockData.tsx
  packages/design-system/package.json
  packages/design-system/postcss.config.cjs
  packages/design-system/rollup.config.js
  packages/design-system/styles/prismeai-theme.less
  packages/design-system/styles/tailwind-compiled.less
  packages/design-system/tailwind.config.cjs
  packages/design-system/tsconfig.json
  services/console/next.config.js
  services/console/package.json
  services/console/pages/_app.tsx
  services/console/postcss.config.js
  services/console/styles/antd.less
  services/console/styles/prismeai-theme.less
  services/console/views/AutomationsSidebar.tsx
  services/console/views/Home.tsx
Due: npm_install, console_test, console_build_docker, console_deploy

Removed primeicon from storybook
  services/console/.storybook/preview.js
Due: console_test, console_build_docker, console_deploy

Fixed some storybook displays
  services/console/.storybook/style.css
  services/console/stories/Layout.stories.tsx
  services/console/stories/PageHeader.stories.tsx
  services/console/stories/RowCol.stories.tsx
Due: console_test, console_build_docker, console_deploy

Clean workspace feed view
  services/console/.storybook/preview.js
  services/console/.storybook/style.css
  services/console/components/DesignSystem/Feed.tsx
  services/console/components/DesignSystem/Header.tsx
  services/console/components/DesignSystem/Layout.tsx
  services/console/components/DesignSystem/MenuTab.tsx
  services/console/stories/Layout.stories.tsx
  services/console/stories/Workspace.stories.tsx
  services/console/stories/mockData.tsx
  services/console/styles/prismeai-theme.less
  services/console/tailwind.config.js
Due: console_test, console_build_docker, console_deploy

Small tweaks for stories categories and content
  services/console/components/DesignSystem/Components/Layout.stories.tsx
  services/console/components/DesignSystem/Components/PageHeader.stories.tsx
  services/console/components/DesignSystem/Components/RowCol.stories.tsx
  services/console/components/DesignSystem/Groups/WorkspaceFeed.stories.tsx
Due: console_test, console_build_docker, console_deploy

Added design-system components and storybook to console
  package-lock.json
  package.json
  services/console/.storybook/main.js
  services/console/.storybook/preview.js
  services/console/components/DesignSystem/Button.tsx
  services/console/components/DesignSystem/Header.tsx
  services/console/components/DesignSystem/Layout.tsx
  services/console/components/DesignSystem/PageHeader.tsx
  services/console/components/DesignSystem/index.js
  services/console/next.config.js
  services/console/package.json
  services/console/pages/_app.tsx
  services/console/stories/Button.stories.jsx
  services/console/stories/Header.stories.jsx
  services/console/stories/Layout.stories.jsx
  services/console/stories/PageHeader.stories.jsx
  services/console/stories/RowCol.stories.jsx
  services/console/stories/no-padding.css
  services/console/styles/antd.less
  services/console/styles/prismeai-theme.less
Due: npm_install, console_test, console_build_docker, console_deploy

Added stories and component for sidePanel, workspace feed, SidePanelAutomations
  services/console/components/DesignSystem/Components/MenuTab.stories.tsx
Due: console_test, console_build_docker, console_deploy

Add workspaceHome
  services/console/components/DesignSystem/Pages/WorkspaceHome.tsx
Due: console_test, console_build_docker, console_deploy

Added Feed component and story
  services/console/components/DesignSystem/Feed.tsx
  services/console/components/DesignSystem/index.js
  services/console/stories/Feed.stories.tsx
  services/console/stories/mockData.tsx
  services/console/styles/prismeai-theme.less
  services/console/tailwind.config.js
Due: console_test, console_build_docker, console_deploy

ts fix on Header
  services/console/components/DesignSystem/Groups/Header.tsx
Due: console_test, console_build_docker, console_deploy

Layout use children instead of Content props
  services/console/components/DesignSystem/Layout.tsx
  services/console/components/DesignSystem/Pages/WorkspaceHome.tsx
  services/console/stories/Layout.stories.tsx
  services/console/stories/Workspace.stories.tsx
Due: console_test, console_build_docker, console_deploy

Added stories and component for sidePanel, workspace feed, SidePanelAutomations
  services/console/components/DesignSystem/Groups/SidePanel.stories.tsx
  services/console/components/DesignSystem/Groups/SidePanel.tsx
  services/console/components/DesignSystem/Groups/SidePanelAutomations.stories.tsx
  services/console/components/DesignSystem/Groups/SidePanelAutomations.tsx
  services/console/components/DesignSystem/Groups/WorkspaceFeed.tsx
  services/console/components/DesignSystem/Pages/WorkspaceHome.stories.tsx
  services/console/components/DesignSystem/index.js
Due: console_test, console_build_docker, console_deploy

Added amt-design icons
  package-lock.json
  package.json
Due: npm_install

Added collapse component
  services/console/components/DesignSystem/Collapse.tsx
  services/console/stories/Collapse.stories.tsx
  services/console/styles/prismeai-theme.less
Due: console_test, console_build_docker, console_deploy

Added Design system readme
  services/console/components/DesignSystem/Readme.md
Due: console_test, console_build_docker, console_deploy

Init SB
  package-lock.json
  package.json
  services/console/.eslintrc.json
  services/console/.storybook/main.js
  services/console/.storybook/preview.js
  services/console/package-lock.json
  services/console/package.json
Due: npm_install, console_test, console_build_docker, console_deploy

Header complete in storybook
  services/console/components/DesignSystem/Dropdown.tsx
  services/console/components/DesignSystem/Header.tsx
  services/console/components/DesignSystem/Menu.tsx
  services/console/components/DesignSystem/index.js
  services/console/stories/Header.stories.tsx
  services/console/styles/antd.less
  services/console/styles/prismeai-theme.less
Due: console_test, console_build_docker, console_deploy

Moved stories to DesignSystem folder
  services/console/.storybook/main.js
  services/console/components/DesignSystem/Button.stories.tsx
  services/console/components/DesignSystem/Collapse.stories.tsx
  services/console/components/DesignSystem/Dropdown.stories.tsx
  services/console/components/DesignSystem/Feed.stories.tsx
  services/console/components/DesignSystem/Header.stories.tsx
  services/console/components/DesignSystem/Layout.stories.tsx
  services/console/components/DesignSystem/MenuTab.stories.tsx
  services/console/components/DesignSystem/PageHeader.stories.tsx
  services/console/components/DesignSystem/Pages/Workspace.stories.tsx
  services/console/components/DesignSystem/RowCol.stories.tsx
  services/console/components/DesignSystem/SearchInput.stories.tsx
Due: console_test, console_build_docker, console_deploy

Added FeedHeader and its story
  services/console/components/DesignSystem/Components/FeedHeader.stories.tsx
  services/console/components/DesignSystem/Components/FeedHeader.tsx
  services/console/components/DesignSystem/Pages/FeedHeader.tsx
Due: console_test, console_build_docker, console_deploy

Added Montserrat font
  services/console/.storybook/preview-head.html
  services/console/pages/_document.js
  services/console/styles/globals.css
Due: console_test, console_build_docker, console_deploy

Layout component complete in storybook
  services/console/components/DesignSystem/Layout.tsx
  services/console/stories/Layout.stories.tsx
Due: console_test, console_build_docker, console_deploy

Added graphSidePanel
  packages/design-system/lib/Groups/GraphSidePanel.stories.tsx
  packages/design-system/lib/Groups/GraphSidePanel.tsx
  packages/design-system/lib/Groups/SidePanel.stories.tsx
  packages/design-system/lib/Groups/SidePanel.tsx
  packages/design-system/lib/Pages/WorkspaceHome.tsx
  packages/design-system/lib/index.ts
Due: npm_install

Fixed css build for design-system
  packages/design-system/package.json
  packages/design-system/styles/tailwind-compiled.less
Due: npm_install
