Repository HP319193/prisme.ai: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend_npm_install, console_check, console_test, console_build_docker, console_deploy, workspaces_test, workspaces_build_docker, workspaces_deploy, runtime_test, runtime_build_docker, runtime_deploy, api-gateway_build_docker, api-gateway_deploy, events_test, events_build_docker, events_deploy, docs_build_static, docs_deploy

backend_npm_install:
  stage: dependencies
  image: docker:stable
  services:
  - docker:stable-dind
  script:
  ...

console_check:
  stage: test
  script:
  - "if ! [[ -d node_modules/ ]] ; then\n  BUILD_PACKAGES=0 npm ci\nfi\n"
  - npm run build:packages
  - npm run check:console
  needs: []
  before_script:
  - export DIRECTORY=services/$CONSOLE_DIRECTORY

console_test:
  stage: test
  script:
  - "if ! [[ -d node_modules/ ]] ; then\n  BUILD_PACKAGES=0 npm ci\nfi\n"
  - npm run build:packages
  - npm test -- $DIRECTORY
  coverage: /All files\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)/
  artifacts:
    paths:
    - coverage
  cache:
    key:
      files:
  ...

console_build_docker:
  stage: build_docker
  image: docker:stable
  services:
  - docker:stable-dind
  script:
  ...

console_deploy:
  stage: deploy
  tags:
  - internal-runner
  image:
    name: registry.gitlab.com/gogowego-devsecops/dev/prisme.ai-infra:latest
    entrypoint:
    - /bin/sh
    - -c
  script:
  ...

workspaces_test:
  stage: test
  script:
  - "if ! [[ -d node_modules/ ]] ; then\n  BUILD_PACKAGES=0 npm ci\nfi\n"
  - npm run build:packages
  - npm test -- $DIRECTORY
  coverage: /All files\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)/
  artifacts:
    paths:
    - coverage
  cache:
    key:
      files:
  ...

workspaces_build_docker:
  stage: build_docker
  image: docker:stable
  services:
  - docker:stable-dind
  script:
  ...

workspaces_deploy:
  stage: deploy
  tags:
  - internal-runner
  image:
    name: registry.gitlab.com/gogowego-devsecops/dev/prisme.ai-infra:latest
    entrypoint:
    - /bin/sh
    - -c
  script:
  ...

runtime_test:
  stage: test
  script:
  - "if ! [[ -d node_modules/ ]] ; then\n  BUILD_PACKAGES=0 npm ci\nfi\n"
  - npm run build:packages
  - npm test -- $DIRECTORY
  coverage: /All files\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)/
  artifacts:
    paths:
    - coverage
  cache:
    key:
      files:
  ...

runtime_build_docker:
  stage: build_docker
  image: docker:stable
  services:
  - docker:stable-dind
  script:
  ...

runtime_deploy:
  stage: deploy
  tags:
  - internal-runner
  image:
    name: registry.gitlab.com/gogowego-devsecops/dev/prisme.ai-infra:latest
    entrypoint:
    - /bin/sh
    - -c
  script:
  ...

api-gateway_build_docker:
  stage: build_docker
  image: docker:stable
  services:
  - docker:stable-dind
  script:
  ...

api-gateway_deploy:
  stage: deploy
  tags:
  - internal-runner
  image:
    name: registry.gitlab.com/gogowego-devsecops/dev/prisme.ai-infra:latest
    entrypoint:
    - /bin/sh
    - -c
  script:
  ...

events_test:
  stage: test
  script:
  - "if ! [[ -d node_modules/ ]] ; then\n  BUILD_PACKAGES=0 npm ci\nfi\n"
  - npm run build:packages
  - npm test -- $DIRECTORY
  coverage: /All files\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)/
  artifacts:
    paths:
    - coverage
  cache:
    key:
      files:
  ...

Good bye useless Development block
  packages/blocks/lib/Blocks/Development.stories.tsx
  packages/blocks/lib/Blocks/Development.tsx
Due: backend_npm_install

Add cards variants
  services/console/components/PageBuilder/useBlocks.ts
  services/console/public/images/blocks/block card square.png
  services/console/public/images/blocks/preview-Cards-actions.png
  services/console/public/images/blocks/preview-Cards-articles.png
  services/console/public/images/blocks/preview-Cards-short.png
  services/console/public/images/blocks/preview-Cards-square.png
  services/console/public/images/blocks/preview-Layout.jpg
  services/console/public/images/blocks/preview-Layout.png
Due: console_check, console_test, console_build_docker, console_deploy

Display block name in panel title
  services/console/components/PageBuilder/PageBuilder.tsx
  services/console/public/locales/en/workspaces.json
  services/console/public/locales/es/workspaces.json
  services/console/public/locales/fr/workspaces.json
Due: console_check, console_test, console_build_docker, console_deploy

Fix block translations
  services/console/components/PageBuilder/PageBlocks.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Fix tests
  services/console/components/PageBuilder/builtinBlocksVariants.ts
  services/console/components/PageBuilder/useBlocks.test.tsx
  services/console/components/PageBuilder/useBlocks.ts
Due: console_check, console_test, console_build_docker, console_deploy

Bigger size for menu button
  services/console/components/Workspaces/WorkspaceMenu.tsx
Due: console_check, console_test, console_build_docker, console_deploy

:white_check_mark: Add conditions tests with length.
  services/runtime/src/utils/evaluate.test.ts
Due: runtime_test, runtime_build_docker, runtime_deploy

Fix search
  services/console/components/PageBuilder/Panel/PageNewBlockForm.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Fix types
  packages/permissions/lib/api/initApiKeysRoutes.ts
  packages/sdk/lib/api.ts
Due: backend_npm_install

[PROD DEBUG]
  packages/permissions/lib/accessManager.ts
Due: backend_npm_install

[PROD DEBUG] may fix events service
  packages/permissions/lib/accessManager.ts
Due: backend_npm_install

:bug: Process diffs after creation of the permission on creation of a workspace.
  services/workspaces/src/services/workspaces/crud/workspaces.ts
Due: workspaces_build_docker, workspaces_deploy

:lipstick: Make sure title are smaller even in confirm-body
  services/console/styles/globals.css
Due: console_check, console_test, console_build_docker, console_deploy

:sparkles: Allows to set an accordion open by default.
  packages/blocks/lib/Blocks/Cards/Accordion.tsx
  packages/blocks/lib/Blocks/Cards/Variants/Classic.tsx
  packages/blocks/lib/Blocks/Cards/types.ts
Due: backend_npm_install

Clean trads
  services/console/components/PageBuilder/builtinBlocksVariants.ts
  services/console/public/locales/en/workspaces.json
  services/console/public/locales/es/workspaces.json
  services/console/public/locales/fr/workspaces.json
Due: console_check, console_test, console_build_docker, console_deploy

Update README.md
  README.md
Due: none

Create a new version
  packages/sdk/lib/api.test.ts
  packages/sdk/lib/endpoints/workspacesVersions.ts
  services/console/components/EventsViewer/useActionsByEvent.ts
  services/console/layouts/EditDetails.tsx
Due: backend_npm_install, console_check, console_test, console_build_docker, console_deploy

Should faster the events feed
  services/console/components/EventsViewer/EventsViewer.tsx
  services/console/components/WorkspaceProvider/Provider.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Display actions by event type
  services/console/components/EventsViewer/SectionContent.tsx
  services/console/components/EventsViewer/useActionsByEvent.ts
  services/console/public/locales/fr/workspaces.json
Due: console_check, console_test, console_build_docker, console_deploy

Bonus : feed rendering optimization
  services/console/components/EventsViewer/EventsViewer.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Rollback
  services/console/components/EventsViewer/Labels.tsx
  services/console/components/EventsViewer/SectionContent.tsx
  services/console/components/EventsViewer/useActionsByEvent.ts
  services/console/layouts/EditDetails.tsx
  services/console/public/locales/fr/workspaces.json
Due: console_check, console_test, console_build_docker, console_deploy

Filters suggestions
  services/console/components/EventsViewer/FilterEventsPopover.tsx
  services/console/components/EventsViewer/filters.ts
  services/console/public/locales/fr/workspaces.json
Due: console_check, console_test, console_build_docker, console_deploy

Workspace versions methods
  packages/sdk/lib/api.test.ts
  packages/sdk/lib/api.ts
  packages/sdk/lib/endpoints/workspaces.ts
  packages/sdk/lib/endpoints/workspacesVersions.ts
Due: backend_npm_install

Create version with description
  services/console/components/EventsViewer/Labels.tsx
  services/console/components/EventsViewer/SectionContent.tsx
  services/console/components/HeaderWorkspace.tsx
  services/console/components/PublishModal.tsx
  services/console/components/VersionModal.tsx
  services/console/layouts/EditDetails.tsx
  services/console/public/locales/en/workspaces.json
  services/console/public/locales/es/workspaces.json
  services/console/public/locales/fr/workspaces.json
Due: console_check, console_test, console_build_docker, console_deploy

Restyle suggestions popup
  services/console/components/EventsViewer/FilterEventsPopover.tsx
  services/console/public/locales/en/workspaces.json
  services/console/public/locales/es/workspaces.json
  services/console/public/locales/fr/workspaces.json
Due: console_check, console_test, console_build_docker, console_deploy

Fix wrong display on rich text with nested html tags
  packages/blocks/lib/Blocks/RichText.stories.tsx
  packages/blocks/lib/Blocks/RichText.tsx
Due: backend_npm_install

Fix crash when sending null cards
  packages/blocks/lib/Blocks/Cards/Cards.tsx
Due: backend_npm_install

Fix nested vars injections inside permissions rules which prevented some rules from beging evaluated : fix sharing a page with someone who doesn't have access to the parent workspace
  packages/permissions/lib/rulesBuilder.test.ts
  packages/permissions/lib/rulesBuilder.ts
  services/events/Dockerfile
  services/workspaces/Dockerfile
  services/workspaces/src/app.ts
Due: backend_npm_install, workspaces_test, workspaces_build_docker, workspaces_deploy, events_test, events_build_docker, events_deploy

Add examples directory
  docs/docs/en/examples/.gitkeep
Due: docs_build_static, docs_deploy

clean ugly console.logs
  packages/permissions/lib/rulesBuilder.ts
  services/events/Dockerfile
  services/workspaces/Dockerfile
  services/workspaces/src/app.ts
Due: backend_npm_install, workspaces_test, workspaces_build_docker, workspaces_deploy, events_test, events_build_docker, events_deploy

Add examples of DSUL to doc for developers
  docs/docs/en/examples/index.md
Due: docs_build_static, docs_deploy

Add collapsible section to DSUL
  docs/docs/en/examples/index.md
Due: docs_build_static, docs_deploy

Add examples to doc.
  docs/docs/en/about.md
  docs/i18n/en.yml
  docs/i18n/fr.yml
  docs/mkdocs.yml
Due: docs_build_static, docs_deploy

Navigate into console when navigating into preview
  services/console/components/PagePreview.tsx
  services/console/views/Page/Page.tsx
  services/pages/components/Page/PageProvider.tsx
  services/pages/components/usePreview.ts
  services/pages/pages/_app.tsx
  services/pages/views/Page.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Console gives auth token to page host while loaded in preview iframe
  package-lock.json
  services/console/.env
  services/console/components/PagePreview.tsx
  services/console/next.config.js
  services/console/views/Page/Page.tsx
  services/pages/package.json
  services/pages/views/Page.tsx
Due: console_check, console_test, console_build_docker, console_deploy

.gitlab-ci
  .gitlab-ci.yml
  docker-compose.yml
  services/console/.gitlab-ci.yml
  services/pages/.gitlab-ci.yml
  services/pages/Dockerfile
Due: console_check, console_test, console_build_docker, console_deploy

Update page url
  services/console/utils/urls.test.ts
  services/console/utils/urls.ts
Due: console_check, console_test, console_build_docker, console_deploy

May fix 404 error
  services/console/next.config.js
  services/console/utils/urls.test.ts
  services/console/utils/urls.ts
  services/console/views/WorkspaceSource.test.tsx
  services/pages/Dockerfile
  services/pages/docker/start.sh
  services/pages/views/404.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Path conditions:
  backend_npm_install: any of: services/api-gateway/package.json, services/runtime/package.json, services/workspaces/package.json, services/events/package.json, packages/**/*
  console_check: any of: services/console/**/*
  console_test: any of: services/console/**/*
  console_build_docker: any of: services/console/**/*
  console_deploy: any of: services/console/**/*
  workspaces_test: any of: services/workspaces/*
  workspaces_build_docker: any of: services/workspaces/**/*
  workspaces_deploy: any of: services/workspaces/**/*
  runtime_test: any of: services/runtime/**/*
  runtime_build_docker: any of: services/runtime/**/*
  runtime_deploy: any of: services/runtime/**/*
  api-gateway_build_docker: any of: services/api-gateway/**/*
  api-gateway_deploy: any of: services/api-gateway/**/*
  events_test: any of: services/events/**/*
  events_build_docker: any of: services/events/**/*
  events_deploy: any of: services/events/**/*
  docs_build_static: any of: docs/**/*, specifications/*
  docs_deploy: any of: docs/**/*, specifications/*
