Repository HP319193/prisme.ai: changes, and which GitLab CI jobs are due for each by the changed paths.
All: npm_install, console_test, console_build_docker, console_deploy, workspaces_build_docker, workspaces_deploy, runtime_build_docker, runtime_deploy, api-gateway_build_docker, api-gateway_deploy, events_test, events_build_docker, events_deploy

Path conditions:
  npm_install: any of: package-lock.json, packages/**/*
  console_test: any of: services/console/**/*
  console_build_docker: any of: services/console/**/*
  console_deploy: any of: services/console/**/*
  workspaces_build_docker: any of: services/workspaces/**/*
  workspaces_deploy: any of: services/workspaces/**/*
  runtime_build_docker: any of: services/runtime/**/*
  runtime_deploy: any of: services/runtime/**/*
  api-gateway_build_docker: any of: services/api-gateway/**/*
  api-gateway_deploy: any of: services/api-gateway/**/*
  events_test: any of: services/events/**/*
  events_build_docker: any of: services/events/**/*
  events_deploy: any of: services/events/**/*

Added version number to package.json and workspaces page
  package.json
  services/console/views/Workspaces.tsx
  services/console/views/__snapshots__/Workspaces.test.tsx.snap
Due: console_test, console_build_docker, console_deploy

Force rebuilding events/runtime/workspaces as feature/public_sharing merge on main did not trigger expected pipelines
  services/events/Dockerfile
  services/runtime/Dockerfile
  services/workspaces/Dockerfile
Due: workspaces_build_docker, workspaces_deploy, runtime_build_docker, runtime_deploy, events_test, events_build_docker, events_deploy

fix Prisme.ai version number when page is scrollable
  services/console/views/Workspaces.tsx
Due: console_test, console_build_docker, console_deploy

fix crash on codeEditor with numbers
  services/console/components/CodeEditor/CodeEditor.tsx
Due: console_test, console_build_docker, console_deploy

updated test for prisme.ai version number
  services/console/views/__snapshots__/Workspaces.test.tsx.snap
Due: console_test, console_build_docker, console_deploy

added popover for share menu
  packages/design-system/lib/Components/Popover.stories.tsx
  packages/design-system/lib/Components/Popover.tsx
  packages/design-system/lib/index.ts
  services/console/api/api.ts
  services/console/components/HeaderWorkspace.tsx
  services/console/components/SharePopover.tsx
  services/console/components/WorkspacesProvider/Provider.test.tsx
  services/console/components/WorkspacesProvider/Provider.tsx
  services/console/components/WorkspacesProvider/context.ts
  services/console/public/locales/en/workspaces.json
  services/console/public/locales/es/workspaces.json
  services/console/public/locales/fr/workspaces.json
Due: npm_install, console_test, console_build_docker, console_deploy

More progress on permissionsProvider
  package-lock.json
  services/console/api/api.ts
  services/console/components/PermissionsProvider/Provider.tsx
  services/console/components/PermissionsProvider/context.ts
  services/console/components/SharePopover.tsx
  services/console/package.json
Due: npm_install, console_test, console_build_docker, console_deploy

progress on PermissionsProvider
  services/console/api/api.ts
  services/console/components/HeaderWorkspace.tsx
  services/console/components/PermissionsProvider/Provider.test.tsx
  services/console/components/PermissionsProvider/Provider.tsx
  services/console/components/PermissionsProvider/context.ts
  services/console/components/PermissionsProvider/index.ts
  services/console/components/SharePopover.tsx
  services/console/pages/_app.tsx
  services/console/public/locales/en/common.json
  services/console/public/locales/en/workspaces.json
  services/console/public/locales/es/common.json
  services/console/public/locales/es/workspaces.json
  services/console/public/locales/fr/common.json
  services/console/public/locales/fr/sign.json
  services/console/public/locales/fr/workspaces.json
Due: console_test, console_build_docker, console_deploy

share popover progress
  services/console/api/api.ts
  services/console/components/SharePopover.tsx
Due: console_test, console_build_docker, console_deploy

Permission popup working with proper backend routes
  packages/validation/instructions.json
  services/console/api/api.ts
  services/console/components/HeaderWorkspace.tsx
  services/console/components/PermissionsProvider/Provider.tsx
  services/console/components/PermissionsProvider/context.ts
  services/console/components/SharePopover.tsx
  services/console/public/locales/en/workspaces.json
  services/console/public/locales/es/workspaces.json
  services/console/public/locales/fr/workspaces.json
Due: npm_install, console_test, console_build_docker, console_deploy

Share use select for role
  services/console/components/SharePopover.tsx
  services/console/public/locales/en/workspaces.json
  services/console/public/locales/es/workspaces.json
  services/console/public/locales/fr/workspaces.json
Due: console_test, console_build_docker, console_deploy

Added Select component to design-system
  packages/design-system/lib/Components/Input.tsx
  packages/design-system/lib/Components/Select.stories.tsx
  packages/design-system/lib/Components/Select.tsx
  packages/design-system/lib/index.ts
  packages/design-system/styles/prismeai-theme.less
Due: npm_install

removed permission test from workspaceProvider test
  services/console/components/WorkspacesProvider/Provider.test.tsx
Due: console_test, console_build_docker, console_deploy

Made add Permission remove Optimistic
  services/console/components/PermissionsProvider/Provider.tsx
  services/console/components/PermissionsProvider/context.ts
Due: console_test, console_build_docker, console_deploy

Updated providers test to target context file instead of index
  services/console/components/PermissionsProvider/Provider.test.tsx
  services/console/components/UserProvider/Provider.test.tsx
  services/console/components/WorkspacesProvider/Provider.test.tsx
Due: console_test, console_build_docker, console_deploy

Made add Permission remove Optimistic
  services/console/components/PermissionsProvider/Provider.tsx
Due: console_test, console_build_docker, console_deploy

Added lodash types
  package-lock.json
  services/console/package.json
Due: npm_install, console_test, console_build_docker, console_deploy

Made add Permission Optimistic
  services/console/components/PermissionsProvider/Provider.tsx
  services/console/components/PermissionsProvider/context.ts
  services/console/components/SharePopover.tsx
  services/console/public/locales/en/common.json
  services/console/public/locales/en/errors.json
  services/console/public/locales/es/errors.json
  services/console/public/locales/fr/errors.json
Due: console_test, console_build_docker, console_deploy

Renamed addPermissions
  services/console/api/api.ts
  services/console/components/PermissionsProvider/Provider.test.tsx
  services/console/components/PermissionsProvider/Provider.tsx
  services/console/components/PermissionsProvider/context.ts
  services/console/components/SharePopover.tsx
Due: console_test, console_build_docker, console_deploy

permissions provider complete with tests
  package-lock.json
  services/console/api/api.ts
  services/console/components/PermissionsProvider/Provider.test.tsx
  services/console/components/PermissionsProvider/Provider.tsx
  services/console/components/PermissionsProvider/context.ts
  services/console/components/SharePopover.tsx
  services/console/components/WorkspacesProvider/Provider.tsx
  services/console/components/WorkspacesProvider/context.ts
Due: npm_install, console_test, console_build_docker, console_deploy

removed leftover log
  services/console/components/PermissionsProvider/Provider.tsx
Due: console_test, console_build_docker, console_deploy

Added support for public permissions
  services/console/components/SharePopover.tsx
Due: console_test, console_build_docker, console_deploy

Share doc links.
  README.md
Due: none

fix spelling
  README.md
Due: none

Small doc update
  docs/docs/en/architecture/authentication_access_control.md
  docs/docs/en/architecture/index.md
  docs/docs/en/getstarted/configuration.md
Due: none

start-dev : avoid killing databases on every ctrl+c to spare elastic boot time on next start
  scripts/start-dev.ts
Due: none

Remove front packages from backend deps
  dependencies.dockerfile
Due: none

Use token to authenticate with api
  services/console/api/api.ts
  services/console/api/fetcher.test.ts
  services/console/api/fetcher.ts
  services/console/components/UserProvider/Provider.tsx
Due: console_test, console_build_docker, console_deploy

Add some doc
  packages/sdk/Readme.md
Due: npm_install

Move api from console to sdk
  package-lock.json
  packages/sdk/index.ts
  packages/sdk/lib/ApiError.test.ts
  packages/sdk/lib/ApiError.ts
  packages/sdk/lib/HTTPError.test.ts
  packages/sdk/lib/HTTPError.ts
  packages/sdk/lib/api.test.ts
  packages/sdk/lib/api.ts
  packages/sdk/lib/events.test.ts
  packages/sdk/lib/events.ts
  packages/sdk/lib/fetcher.test.ts
  packages/sdk/lib/fetcher.ts
  packages/sdk/lib/types.ts
  packages/sdk/package.json
  packages/sdk/tsconfig.json
  services/console/components/EventsViewer/EventDetails.test.tsx
  services/console/components/EventsViewer/EventDetails.tsx
  services/console/components/EventsViewer/EventsViewer.test.tsx
  services/console/components/EventsViewer/EventsViewer.tsx
  services/console/components/PermissionsProvider/Provider.test.tsx
  services/console/components/PermissionsProvider/Provider.tsx
  services/console/components/UserProvider/Provider.test.tsx
  services/console/components/UserProvider/Provider.tsx
  services/console/components/UserProvider/context.ts
  services/console/components/WorkspacesProvider/Provider.test.tsx
  services/console/components/WorkspacesProvider/Provider.tsx
  services/console/components/WorkspacesProvider/context.ts
  services/console/layouts/WorkspaceLayout/WorkspaceLayout.test.tsx
  services/console/layouts/WorkspaceLayout/WorkspaceLayout.tsx
  services/console/layouts/WorkspaceLayout/context.ts
  services/console/utils/api.ts
  services/console/views/Sign/In.test.tsx
  services/console/views/WorkspaceSource.tsx
  services/console/views/Workspaces.tsx
Due: npm_install, console_test, console_build_docker, console_deploy

Fixes
  package-lock.json
  packages/sdk/lib/types.ts
  services/workspaces/src/services/workspaces/crud/workspaces.test.ts
Due: npm_install, workspaces_build_docker, workspaces_deploy

AppInstances CRUD + workspaces/automations/apps crud refacto
  .gitlab-ci.yml
  packages/types/index.d.ts
  services/runtime/src/eda/index.ts
  services/runtime/src/services/runtime/index.ts
  services/workspaces/src/api/app.ts
  services/workspaces/src/api/middlewares/traceability.ts
  services/workspaces/src/api/routes/appInstances.ts
  services/workspaces/src/api/routes/apps.ts
  services/workspaces/src/api/routes/automations.ts
  services/workspaces/src/api/routes/index.ts
  services/workspaces/src/api/routes/workspaces.ts
  services/workspaces/src/app.ts
  services/workspaces/src/eda/index.ts
  services/workspaces/src/errors/index.ts
  services/workspaces/src/metrics/eda.ts
  services/workspaces/src/metrics/index.ts
  services/workspaces/src/services/apps/crud/apps.ts
  services/workspaces/src/services/apps/index.ts
  services/workspaces/src/services/index.ts
  services/workspaces/src/services/workspaces/crud/appInstances.test.ts
  services/workspaces/src/services/workspaces/crud/appInstances.ts
  services/workspaces/src/services/workspaces/crud/automations.test.ts
  services/workspaces/src/services/workspaces/crud/automations.ts
  services/workspaces/src/services/workspaces/crud/workspaces.test.ts
  services/workspaces/src/services/workspaces/crud/workspaces.ts
  services/workspaces/src/services/workspaces/index.ts
  specifications/swagger.yml
Due: npm_install, workspaces_build_docker, workspaces_deploy, runtime_build_docker, runtime_deploy

Fix gitlab ci to run only tests from updated direcotry
  .gitlab-ci.yml
Due: none

Fix gitlab ci to run only tests from updated direcotry
  .gitlab-ci.yml
  services/workspaces/Dockerfile
Due: workspaces_build_docker, workspaces_deploy

Buffer specific dsul update events until every parts gets validated without any error, finally allowing us to release the events
  packages/broker/lib/broker.ts
  services/workspaces/src/services/workspaces/crud/workspaces.test.ts
  services/workspaces/src/services/workspaces/crud/workspaces.ts
Due: npm_install, workspaces_build_docker, workspaces_deploy

On global DSUL update, compare with previous DSUL & process individual diffs (functional validation, events emits, ...)
  services/workspaces/src/services/workspaces/crud/appInstances.ts
  services/workspaces/src/services/workspaces/crud/workspaces.ts
  services/workspaces/src/utils/extractObjectsByPath.test.ts
  services/workspaces/src/utils/extractObjectsByPath.ts
  services/workspaces/src/utils/getObjectsDifferences.test.ts
  services/workspaces/src/utils/getObjectsDifferences.ts
Due: workspaces_build_docker, workspaces_deploy

Added unit test on specific events creation from global updateWorkspace
  services/workspaces/src/services/workspaces/crud/appInstances.ts
  services/workspaces/src/services/workspaces/crud/workspaces.test.ts
  services/workspaces/src/services/workspaces/crud/workspaces.ts
Due: workspaces_build_docker, workspaces_deploy

Turn workspace imports array into an object. Handle imports renaming from specific API & structure appInstances events as for automations with an optional oldSlug field (in case of renaming)
  packages/broker/lib/events/eventsFactory.ts
  packages/types/index.d.ts
  services/workspaces/src/services/workspaces/crud/appInstances.test.ts
  services/workspaces/src/services/workspaces/crud/appInstances.ts
  services/workspaces/src/services/workspaces/crud/workspaces.test.ts
  services/workspaces/src/services/workspaces/crud/workspaces.ts
  specifications/swagger.yml
Due: npm_install, workspaces_build_docker, workspaces_deploy

Added source.appId & appInstanceSlug fields to appInstance CRUD related events
  packages/types/index.d.ts
  services/workspaces/src/services/workspaces/crud/appInstances.ts
  specifications/swagger.yml
Due: npm_install, workspaces_build_docker, workspaces_deploy

Fix tsc & /v2/workspaces/{workspaceId}/apps route
  services/workspaces/src/api/routes/appInstances.ts
  services/workspaces/src/services/workspaces/crud/appInstances.ts
Due: workspaces_build_docker, workspaces_deploy
