Repository HP319193/prisme.ai: changes, and which GitLab CI jobs are due for each by the changed paths.
All: npm_install, console_test, console_build_docker, console_deploy, workspaces_build_docker, workspaces_deploy, runtime_build_docker, runtime_deploy, api-gateway_build_docker, api-gateway_deploy, events_test, events_build_docker, events_deploy

npm_install:
  stage: dependencies
  image: docker:stable
  services:
  - docker:stable-dind
  script:
  ...

console_test:
  interruptible: true
  stage: test
  script:
  - "if ! [[ -d node_modules/ ]] ; then\n  BUILD_PACKAGES=0 npm ci\nfi\n"
  - npm run build:packages
  - npm test --prefix $DIRECTORY
  coverage: /All files\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)/
  artifacts:
    paths:
    - coverage
  cache:
  ...

console_build_docker:
  interruptible: true
  stage: build_docker
  image: docker:stable
  services:
  - docker:stable-dind
  script:
  ...

console_deploy:
  stage: deploy
  tags:
  - internal-runner
  image:
    name: registry.gitlab.com/gogowego-devsecops/dev/prisme.ai-infra:latest
    entrypoint:
    - /bin/sh
    - -c
  script:
  ...

workspaces_build_docker:
  interruptible: true
  stage: build_docker
  image: docker:stable
  services:
  - docker:stable-dind
  script:
  ...

workspaces_deploy:
  stage: deploy
  tags:
  - internal-runner
  image:
    name: registry.gitlab.com/gogowego-devsecops/dev/prisme.ai-infra:latest
    entrypoint:
    - /bin/sh
    - -c
  script:
  ...

runtime_build_docker:
  interruptible: true
  stage: build_docker
  image: docker:stable
  services:
  - docker:stable-dind
  script:
  ...

runtime_deploy:
  stage: deploy
  tags:
  - internal-runner
  image:
    name: registry.gitlab.com/gogowego-devsecops/dev/prisme.ai-infra:latest
    entrypoint:
    - /bin/sh
    - -c
  script:
  ...

api-gateway_build_docker:
  interruptible: true
  stage: build_docker
  image: docker:stable
  services:
  - docker:stable-dind
  script:
  ...

api-gateway_deploy:
  stage: deploy
  tags:
  - internal-runner
  image:
    name: registry.gitlab.com/gogowego-devsecops/dev/prisme.ai-infra:latest
    entrypoint:
    - /bin/sh
    - -c
  script:
  ...

events_test:
  interruptible: true
  stage: test
  script:
  - "if ! [[ -d node_modules/ ]] ; then\n  BUILD_PACKAGES=0 npm ci\nfi\n"
  - npm run build:packages
  - npm test --prefix $DIRECTORY
  coverage: /All files\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)/
  artifacts:
    paths:
    - coverage
  cache:
  ...

events_build_docker:
  interruptible: true
  stage: build_docker
  image: docker:stable
  services:
  - docker:stable-dind
  script:
  ...

events_deploy:
  stage: deploy
  tags:
  - internal-runner
  image:
    name: registry.gitlab.com/gogowego-devsecops/dev/prisme.ai-infra:latest
    entrypoint:
    - /bin/sh
    - -c
  script:
  ...

Basic apps execution : we now load them & allow to call one one of their automations
  services/runtime/src/app.ts
  services/runtime/src/eda/index.ts
  services/runtime/src/services/apps/apps.ts
  services/runtime/src/services/apps/index.ts
  services/runtime/src/services/workspaces/workspace.ts
  services/runtime/src/services/workspaces/workspaces.ts
Due: runtime_build_docker, runtime_deploy

Allow installed apps exposing endpoint triggers
  services/runtime/src/services/runtime/index.ts
  services/runtime/src/services/workspaces/workspace.ts
  services/runtime/src/services/workspaces/workspaces.ts
Due: runtime_build_docker, runtime_deploy

Ensure events source.appId/appInstanceSlug are always up to date with calling app automation
  packages/broker/lib/broker.ts
  services/console/components/EventsViewer/EventDetails.tsx
  services/runtime/src/services/runtime/automations/index.ts
  services/runtime/src/services/runtime/automations/instructions/emit.ts
  services/runtime/src/services/runtime/automations/instructions/index.ts
  services/runtime/src/services/runtime/index.ts
  services/runtime/src/services/workspaces/workspace.ts
Due: npm_install, console_test, console_build_docker, console_deploy, runtime_build_docker, runtime_deploy

Prevent infinite nested imports
  services/runtime/src/services/workspaces/workspace.ts
Due: runtime_build_docker, runtime_deploy

Add config variable
  packages/types/index.d.ts
  services/runtime/src/services/runtime/automations/instructions/index.ts
  services/runtime/src/services/runtime/contexts.ts
  services/runtime/src/services/runtime/index.ts
  services/runtime/src/services/workspaces/workspace.ts
  specifications/swagger.yml
Due: npm_install, runtime_build_docker, runtime_deploy

Now sync workspaces with app latest releases when appVersion is not specified or set to 'current'
  services/runtime/src/eda/index.ts
  services/runtime/src/services/apps/apps.ts
  services/runtime/src/services/workspaces/workspaces.ts
Due: runtime_build_docker, runtime_deploy

Allow apps listening to workspaces.app.installed/configured/uninstall events
  services/runtime/src/services/runtime/automations/index.ts
  services/runtime/src/services/runtime/contexts.ts
  services/runtime/src/services/runtime/index.ts
  services/runtime/src/services/workspaces/workspace.ts
Due: runtime_build_docker, runtime_deploy

Simulate workspaces.app.uninstalled event when workspace is deleted. Add workspaces.configured event
  packages/types/index.d.ts
  services/runtime/src/eda/index.ts
  services/runtime/src/services/runtime/contexts.ts
  services/runtime/src/services/runtime/index.ts
  services/runtime/src/services/workspaces/workspace.ts
  services/runtime/src/services/workspaces/workspaces.ts
  services/workspaces/src/eda/index.ts
  services/workspaces/src/services/workspaces/crud/workspaces.ts
  specifications/swagger.yml
Due: npm_install, workspaces_build_docker, workspaces_deploy, runtime_build_docker, runtime_deploy

Require installed app endpoints to be called prefixed with the full appInstance slug (as for events & automations calls)
  services/runtime/src/services/workspaces/workspace.ts
Due: runtime_build_docker, runtime_deploy

Turn app ids into unique & human readable slugs
  packages/broker/lib/events/eventsFactory.ts
  packages/types/index.d.ts
  services/console/components/EventsViewer/EventDetails.tsx
  services/console/components/EventsViewer/EventsViewer.tsx
  services/runtime/src/services/apps/apps.ts
  services/runtime/src/services/workspaces/workspace.ts
  services/runtime/src/services/workspaces/workspaces.ts
  services/workspaces/src/api/routes/apps.ts
  services/workspaces/src/permissions/index.ts
  services/workspaces/src/services/apps/crud/apps.ts
  services/workspaces/src/services/workspaces/crud/appInstances.test.ts
  services/workspaces/src/services/workspaces/crud/appInstances.ts
  services/workspaces/src/services/workspaces/crud/workspaces.test.ts
  specifications/swagger.yml
Due: npm_install, console_test, console_build_docker, console_deploy, workspaces_build_docker, workspaces_deploy, runtime_build_docker, runtime_deploy

Better separate dsul/appInstance config schema & value
  packages/types/index.d.ts
  services/runtime/src/services/workspaces/workspace.ts
  specifications/swagger.yml
Due: npm_install, runtime_build_docker, runtime_deploy

Fixed layout header story
  packages/design-system/lib/Components/Layout.stories.tsx
Due: npm_install

Loading component is now in design-system
  packages/design-system/lib/Components/Loading.stories.tsx
  packages/design-system/lib/Components/Loading.tsx
  packages/design-system/lib/index.ts
  services/console/components/EventsViewer/EventsViewer.tsx
  services/console/components/Loading.test.tsx
  services/console/components/Loading.tsx
  services/console/layouts/WorkspaceLayout/WorkspaceLayout.tsx
  services/console/views/Automation.tsx
  services/console/views/WorkspaceSource.tsx
Due: npm_install, console_test, console_build_docker, console_deploy

Pages and widgets spec
  packages/types/index.d.ts
  specifications/swagger.yml
Due: npm_install

Permission popup working with proper backend routes
  services/console/components/PermissionsProvider/Provider.tsx
Due: console_test, console_build_docker, console_deploy

Move api from console to sdk
  services/console/components/PermissionsProvider/Provider.tsx
Due: console_test, console_build_docker, console_deploy

Added CheckBox, EditableText
  packages/design-system/lib/Components/Checkbox.stories.tsx
  packages/design-system/lib/Components/EditableText.stories.tsx
  packages/design-system/lib/Components/EditableText.tsx
  packages/design-system/lib/Components/EditableTitle.tsx
  packages/design-system/lib/index.ts
  packages/design-system/package.json
  packages/design-system/styles/prismeai-theme.less
Due: npm_install

Pages sidebar
  services/console/utils/useLocalizedText.ts
  services/console/views/PagesSidebar.tsx
  services/console/views/Workspace.tsx
Due: console_test, console_build_docker, console_deploy

added popover for share menu
  services/console/components/WorkspacesProvider/Provider.test.tsx
  services/console/components/WorkspacesProvider/Provider.tsx
  services/console/components/WorkspacesProvider/context.ts
Due: console_test, console_build_docker, console_deploy

Pages backend
  packages/types/index.d.ts
  services/console/components/PageBuilder/Widgets.tsx
  services/console/views/Page.tsx
  services/workspaces/src/api/routes/index.ts
  services/workspaces/src/api/routes/pages.ts
  services/workspaces/src/eda/index.ts
  services/workspaces/src/services/workspaces/crud/pages.ts
  specifications/swagger.yml
Due: npm_install, console_test, console_build_docker, console_deploy, workspaces_build_docker, workspaces_deploy

Page builder
  package-lock.json
  packages/design-system/lib/Components/ListItem.tsx
  packages/sdk/lib/api.ts
  packages/sdk/lib/fetcher.ts
  services/console/components/AutomationBuilder/Panel/index.ts
  services/console/components/PageBuilder/AddWidget.tsx
  services/console/components/PageBuilder/PageBuilder.tsx
  services/console/components/PageBuilder/Panel/WidgetForm.tsx
  services/console/components/PageBuilder/Widget.tsx
  services/console/components/PageBuilder/Widgets.tsx
  services/console/components/PageBuilder/context.ts
  services/console/components/PageBuilder/index.ts
  services/console/components/Panel.test.tsx
  services/console/components/Panel.tsx
  services/console/components/WorkspacesProvider/Provider.tsx
  services/console/components/WorkspacesProvider/context.ts
  services/console/package.json
  services/console/pages/workspaces/[id]/pages/[pageId]/index.tsx
  services/console/views/Page.tsx
Due: npm_install, console_test, console_build_docker, console_deploy

Save Page
  services/console/components/PageBuilder/PageBuilder.tsx
  services/console/components/PageBuilder/Widget.tsx
  services/console/components/PageBuilder/Widgets.tsx
  services/console/views/Page.tsx
  services/console/views/PagesSidebar.tsx
Due: console_test, console_build_docker, console_deploy

Delete page
  services/console/views/Page.tsx
Due: console_test, console_build_docker, console_deploy

Create new Page
  services/console/views/PagesSidebar.tsx
Due: console_test, console_build_docker, console_deploy

Save widget height
  packages/design-system/lib/Components/Loading.tsx
  packages/types/index.d.ts
  services/console/components/PageBuilder/PageBuilder.tsx
  services/console/components/PageBuilder/Widget.tsx
  services/console/components/PageBuilder/Widgets.tsx
  services/console/components/PageBuilder/context.ts
  services/console/views/Page.tsx
  specifications/swagger.yml
Due: npm_install, console_test, console_build_docker, console_deploy

Wordings
  services/console/components/PageBuilder/Panel/WidgetForm.tsx
  services/console/public/locales/en/workspaces.json
  services/console/public/locales/es/workspaces.json
  services/console/public/locales/fr/workspaces.json
  services/console/views/PagesSidebar.tsx
Due: console_test, console_build_docker, console_deploy

Fixes
  package-lock.json
  packages/sdk/lib/api.test.ts
  services/console/components/EventsViewer/__snapshots__/EventsViewer.test.tsx.snap
  services/console/components/PageBuilder/PageBuilder.tsx
  services/console/components/__snapshots__/Loading.test.tsx.snap
  services/console/components/__snapshots__/Panel.test.tsx.snap
  services/console/layouts/WorkspaceLayout/__snapshots__/WorkspaceLayout.test.tsx.snap
  services/console/views/PagesSidebar.test.tsx
  services/console/views/PagesSidebar.tsx
  services/console/views/__snapshots__/PagesSidebar.test.tsx.snap
  services/console/views/__snapshots__/Workspace.test.tsx.snap
  services/workspaces/src/services/workspaces/crud/pages.ts
Due: npm_install, console_test, console_build_docker, console_deploy, workspaces_build_docker, workspaces_deploy

Fix pages with workspaces refacto
  packages/permissions/lib/api/initCollaboratorRoutes.ts
  packages/types/index.d.ts
  services/workspaces/src/api/middlewares/accessManager.ts
  services/workspaces/src/api/routes/index.ts
  services/workspaces/src/api/routes/pages.ts
  services/workspaces/src/permissions/index.ts
  services/workspaces/src/services/workspaces/crud/pages.ts
  services/workspaces/src/services/workspaces/crud/workspaces.ts
  specifications/swagger.yml
Due: npm_install, workspaces_build_docker, workspaces_deploy

Do not store pages in DSUL anymore (avoids permissions issues when renaming slug, provide better access separation between workspace & pages
  packages/types/index.d.ts
  services/workspaces/src/api/routes/pages.ts
  services/workspaces/src/permissions/index.ts
  services/workspaces/src/services/workspaces/crud/pages.ts
  services/workspaces/src/services/workspaces/crud/workspaces.ts
  specifications/swagger.yml
Due: npm_install, workspaces_build_docker, workspaces_deploy

Added sidePanel to design-system
  packages/design-system/lib/Components/SidePanel.stories.tsx
  packages/design-system/lib/Components/SidePanel.tsx
  packages/design-system/lib/index.ts
Due: npm_install

Share
  packages/design-system/lib/Components/Select.tsx
  packages/permissions/lib/api/initCollaboratorRoutes.ts
  packages/permissions/lib/types.ts
  packages/types/index.d.ts
  services/api-gateway/gateway.config.yml
  services/console/components/HeaderWorkspace.tsx
  services/console/components/PermissionsProvider/Provider.tsx
  services/console/components/Share/SharePage.tsx
  services/console/components/Share/SharePopover.tsx
  services/console/components/Share/ShareWorkspace.tsx
  services/console/layouts/Field.tsx
  services/console/layouts/WorkspaceLayout/WorkspaceLayout.tsx
  services/console/layouts/WorkspaceLayout/context.ts
  services/console/next.config.js
  services/console/public/locales/fr/workspaces.json
  services/console/views/Page.tsx
  services/workspaces/src/api/app.ts
  services/workspaces/src/api/routes/pages.ts
  services/workspaces/src/permissions/config.ts
  services/workspaces/src/permissions/index.ts
  services/workspaces/src/permissions/middleware.ts
  services/workspaces/src/services/workspaces/crud/pages.ts
  specifications/swagger.yml
Due: npm_install, console_test, console_build_docker, console_deploy, workspaces_build_docker, workspaces_deploy, api-gateway_build_docker, api-gateway_deploy

Force backends deploy
  services/api-gateway/Dockerfile
Due: api-gateway_build_docker, api-gateway_deploy

wrokin commit
  services/console/components/PageBuilder/Widget.tsx
  services/console/components/Panel.tsx
  services/console/layouts/SidePanel.test.tsx
  services/console/views/Page.tsx
  services/console/views/Workspace.tsx
Due: console_test, console_build_docker, console_deploy

Better way to securise localStorage
  services/console/utils/Storage.test.ts
  services/console/utils/Storage.ts
Due: console_test, console_build_docker, console_deploy

remove useless import
  services/workspaces/src/services/workspaces/crud/pages.ts
Due: workspaces_build_docker, workspaces_deploy

Remove useless import
  packages/permissions/lib/types.ts
Due: npm_install

Remove widget
  services/console/components/PageBuilder/PageBuilder.tsx
  services/console/components/PageBuilder/Widget.tsx
  services/console/components/PageBuilder/Widgets.tsx
  services/console/components/PageBuilder/context.ts
Due: console_test, console_build_docker, console_deploy

Tests
  services/console/components/AutomationBuilder/Panel/__snapshots__/ConditionForm.test.tsx.snap
  services/console/components/AutomationBuilder/Panel/__snapshots__/InstructionValue.test.tsx.snap
  services/console/components/AutomationBuilder/Panel/__snapshots__/OutputForm.test.tsx.snap
  services/console/components/AutomationBuilder/Panel/__snapshots__/TriggerForm.test.tsx.snap
  services/console/components/PageBuilder/Panel/WidgetForm.tsx
  services/console/components/PermissionsProvider/Provider.test.tsx
  services/console/components/SchemaForm/__snapshots__/Form.test.tsx.snap
  services/console/layouts/__snapshots__/Field.test.tsx.snap
  services/console/public/locales/en/workspaces.json
  services/console/public/locales/es/workspaces.json
  services/console/public/locales/fr/workspaces.json
  services/console/views/PagesSidebar.test.tsx
  services/console/views/Sign/__snapshots__/In.test.tsx.snap
Due: console_test, console_build_docker, console_deploy

Ability to load react component from outside
  services/console/components/Block.tsx
  services/console/components/PageBuilder/Widget.tsx
  services/console/components/PageBuilder/Widgets.tsx
  services/console/utils/Storage.ts
Due: console_test, console_build_docker, console_deploy

Include basic details of available widgets & automations side GET /v2/workspaces/{workspaceId}/apps
  packages/types/index.d.ts
  services/workspaces/src/services/apps/crud/apps.ts
  services/workspaces/src/services/workspaces/crud/appInstances.ts
  specifications/swagger.yml
Due: npm_install, workspaces_build_docker, workspaces_deploy

Path conditions:
  npm_install: any of: package-lock.json, packages/**/*
  console_test: any of: services/console/**/*
  console_build_docker: any of: services/console/**/*
  console_deploy: any of: services/console/**/*
  workspaces_build_docker: any of: services/workspaces/**/*
  workspaces_deploy: any of: services/workspaces/**/*
  runtime_build_docker: any of: services/runtime/**/*
  runtime_deploy: any of: services/runtime/**/*
  api-gateway_build_docker: any of: services/api-gateway/**/*
  api-gateway_deploy: any of: services/api-gateway/**/*
  events_test: any of: services/events/**/*
  events_build_docker: any of: services/events/**/*
  events_deploy: any of: services/events/**/*
