Repository HP319193/prisme.ai: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend_npm_install, console_check, console_test, console_build_docker, console_deploy, workspaces_test, workspaces_build_docker, workspaces_deploy, runtime_test, runtime_build_docker, runtime_deploy, api-gateway_build_docker, api-gateway_deploy, events_test, events_build_docker, events_deploy, docs_build_static, docs_deploy

backend_npm_install:
  stage: dependencies
  image: docker:stable
  services:
  - docker:stable-dind
  script:
  ...

console_check:
  stage: test
  script:
  - "if ! [[ -d node_modules/ ]] ; then\n  BUILD_PACKAGES=0 npm ci\nfi\n"
  - npm run build:packages
  - npm run check:console
  needs: []
  before_script:
  - export DIRECTORY=services/$CONSOLE_DIRECTORY

console_test:
  stage: test
  script:
  - "if ! [[ -d node_modules/ ]] ; then\n  BUILD_PACKAGES=0 npm ci\nfi\n"
  - npm run build:packages
  - npm test -- $DIRECTORY
  coverage: /All files\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)/
  artifacts:
    paths:
    - coverage
  cache:
    key:
      files:
  ...

console_build_docker:
  stage: build_docker
  image: docker:stable
  services:
  - docker:stable-dind
  script:
  ...

console_deploy:
  stage: deploy
  tags:
  - internal-runner
  image:
    name: registry.gitlab.com/gogowego-devsecops/dev/prisme.ai-infra:latest
    entrypoint:
    - /bin/sh
    - -c
  script:
  ...

workspaces_test:
  stage: test
  script:
  - "if ! [[ -d node_modules/ ]] ; then\n  BUILD_PACKAGES=0 npm ci\nfi\n"
  - npm run build:packages
  - npm test -- $DIRECTORY
  coverage: /All files\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)/
  artifacts:
    paths:
    - coverage
  cache:
    key:
      files:
  ...

workspaces_build_docker:
  stage: build_docker
  image: docker:stable
  services:
  - docker:stable-dind
  script:
  ...

workspaces_deploy:
  stage: deploy
  tags:
  - internal-runner
  image:
    name: registry.gitlab.com/gogowego-devsecops/dev/prisme.ai-infra:latest
    entrypoint:
    - /bin/sh
    - -c
  script:
  ...

runtime_test:
  stage: test
  script:
  - "if ! [[ -d node_modules/ ]] ; then\n  BUILD_PACKAGES=0 npm ci\nfi\n"
  - npm run build:packages
  - npm test -- $DIRECTORY
  coverage: /All files\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)/
  artifacts:
    paths:
    - coverage
  cache:
    key:
      files:
  ...

runtime_build_docker:
  stage: build_docker
  image: docker:stable
  services:
  - docker:stable-dind
  script:
  ...

runtime_deploy:
  stage: deploy
  tags:
  - internal-runner
  image:
    name: registry.gitlab.com/gogowego-devsecops/dev/prisme.ai-infra:latest
    entrypoint:
    - /bin/sh
    - -c
  script:
  ...

api-gateway_build_docker:
  stage: build_docker
  image: docker:stable
  services:
  - docker:stable-dind
  script:
  ...

api-gateway_deploy:
  stage: deploy
  tags:
  - internal-runner
  image:
    name: registry.gitlab.com/gogowego-devsecops/dev/prisme.ai-infra:latest
    entrypoint:
    - /bin/sh
    - -c
  script:
  ...

events_test:
  stage: test
  script:
  - "if ! [[ -d node_modules/ ]] ; then\n  BUILD_PACKAGES=0 npm ci\nfi\n"
  - npm run build:packages
  - npm test -- $DIRECTORY
  coverage: /All files\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)/
  artifacts:
    paths:
    - coverage
  cache:
    key:
      files:
  ...

Added loader on create
  services/console/layouts/WorkspaceLayout/WorkspaceLayout.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Added bold to alwaysShown tree
  packages/design-system/lib/Components/Tree.stories.tsx
  packages/design-system/lib/Components/Tree.tsx
Due: backend_npm_install

enhanced tree style with app icons
  packages/design-system/lib/Components/Tree.stories.tsx
  packages/design-system/lib/Components/Tree.tsx
  packages/design-system/styles/prismeai-theme.less
  services/console/layouts/WorkspaceLayout/WorkspaceLayout.tsx
Due: backend_npm_install, console_check, console_test, console_build_docker, console_deploy

Added save validation before changing page
  services/console/components/AppEditor.tsx
  services/console/layouts/WorkspaceLayout/WorkspaceLayout.tsx
  services/console/layouts/WorkspaceLayout/context.tsx
  services/console/views/Automation.tsx
  services/console/views/Page.tsx
Due: console_check, console_test, console_build_docker, console_deploy

added i18n, fixes for app install slug
  services/console/components/AppEditor.tsx
  services/console/components/WorkspaceProvider/Provider.tsx
  services/console/components/WorkspaceProvider/context.ts
  services/console/components/WorkspacesProvider/Provider.tsx
  services/console/components/WorkspacesProvider/context.ts
  services/console/layouts/WorkspaceLayout/WorkspaceLayout.tsx
  services/console/public/locales/en/workspaces.json
  services/console/public/locales/es/workspaces.json
  services/console/public/locales/fr/workspaces.json
  services/console/utils/generateNewName.ts
  services/console/utils/useAppConfig.tsx
  services/console/views/Apps.tsx
  services/console/views/AppsStore.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Updated test and cleanup
  package-lock.json
  packages/design-system/lib/Components/Tree.tsx
  services/console/components/PageBuilder/context.ts
  services/console/components/WorkspaceProvider/Provider.tsx
  services/console/components/WorkspaceProvider/WorkspaceProvider.test.tsx
  services/console/components/WorkspacesProvider/Provider.test.tsx
  services/console/layouts/WorkspaceLayout/WorkspaceLayout.test.tsx
  services/console/layouts/WorkspaceLayout/WorkspaceLayout.tsx
  services/console/layouts/WorkspaceLayout/__snapshots__/WorkspaceLayout.test.tsx.snap
  services/console/package.json
  services/console/utils/generateNewName.ts
  services/console/views/AppsSidebar.test.tsx
  services/console/views/AppsSidebar.tsx
  services/console/views/Automation.tsx
  services/console/views/AutomationSidebar.test.tsx
  services/console/views/AutomationsSidebar.tsx
  services/console/views/PagesSidebar.test.tsx
  services/console/views/PagesSidebar.tsx
  services/console/views/__snapshots__/AppsSidebar.test.tsx.snap
  services/console/views/__snapshots__/AutomationSidebar.test.tsx.snap
  services/console/views/__snapshots__/PagesSidebar.test.tsx.snap
Due: backend_npm_install, console_check, console_test, console_build_docker, console_deploy

LAST RESORT TEST COMMENT SO IT CAN BE TESTED ON PREVIEWS
  services/console/layouts/WorkspaceLayout/WorkspaceLayout.test.tsx
  services/console/layouts/WorkspaceLayout/__snapshots__/WorkspaceLayout.test.tsx.snap
Due: console_check, console_test, console_build_docker, console_deploy

Remove current (useless) prefix from nodejs prom metrics as they can't be displayed by standard grafana dashboards without custom editing
  services/api-gateway/src/metrics/index.ts
  services/events/src/metrics/index.ts
  services/runtime/src/metrics/index.ts
  services/template/src/metrics/index.ts
  services/workspaces/src/metrics/index.ts
Due: workspaces_build_docker, workspaces_deploy, runtime_test, runtime_build_docker, runtime_deploy, api-gateway_build_docker, api-gateway_deploy, events_test, events_build_docker, events_deploy

Plenty small UI adjustments
  packages/blocks/lib/tw.ts
  packages/design-system/lib/Components/Tree.tsx
  packages/design-system/styles/prismeai-theme.less
  packages/design-system/tailwind.config.cjs
  services/console/components/AutomationBuilder/AutomationBuilder.test.tsx
  services/console/components/AutomationBuilder/AutomationBuilder.tsx
  services/console/components/AutomationBuilder/Block.tsx
  services/console/components/AutomationBuilder/EmptyBlock.tsx
  services/console/components/AutomationBuilder/Panel/index.ts
  services/console/components/AutomationBuilder/TriggerBlock.tsx
  services/console/components/AutomationBuilder/__snapshots__/Block.test.tsx.snap
  services/console/components/AutomationBuilder/__snapshots__/EmptyBlock.test.tsx.snap
  services/console/components/AutomationBuilder/__snapshots__/Repeat.test.tsx.snap
  services/console/components/PageBuilder/AddBlock.tsx
  services/console/components/PageBuilder/PageBuilder.tsx
  services/console/components/Panel.test.tsx
  services/console/components/Panel.tsx
  services/console/components/__snapshots__/Panel.test.tsx.snap
  services/console/icons/plus.svg
  services/console/layouts/WorkspaceLayout/WorkspaceLayout.tsx
  services/console/public/locales/en/workspaces.json
  services/console/public/locales/fr/workspaces.json
  services/console/styles/globals.css
  services/console/tailwind.config.js
  services/console/views/Apps.tsx
  services/console/views/AppsStore.tsx
  services/console/views/Automation.tsx
  services/console/views/Page.tsx
Due: backend_npm_install, console_check, console_test, console_build_docker, console_deploy

Plenty other small UI adjustments
  package-lock.json
  packages/blocks/lib/Blocks/Cards.stories.tsx
  packages/design-system/lib/Components/SchemaForm/FieldArray.tsx
  services/console/package.json
  services/console/styles/globals.css
  services/console/views/Apps.tsx
  services/console/views/Automation.tsx
  services/console/views/Page.tsx
  services/console/views/Sign/In.tsx
  services/console/views/Sign/Up.tsx
  services/console/views/Sign/__snapshots__/In.test.tsx.snap
  services/console/views/Workspaces.tsx
  services/console/views/__snapshots__/Workspaces.test.tsx.snap
Due: backend_npm_install, console_check, console_test, console_build_docker, console_deploy

Third UI adjustments
  packages/design-system/lib/Components/Tree.tsx
  services/console/components/PageBuilder/PageBuilder.tsx
  services/console/layouts/WorkspaceLayout/WorkspaceLayout.tsx
  services/console/styles/globals.css
Due: backend_npm_install, console_check, console_test, console_build_docker, console_deploy

Adjusted Card UI to match figma
  packages/blocks/lib/Blocks/Cards.stories.tsx
  packages/blocks/lib/Blocks/Cards.tsx
  packages/blocks/lib/Provider/BlocksProvider.tsx
  packages/blocks/lib/Provider/blocksContext.ts
  services/console/icons/down.svg
  services/console/pages/_app.tsx
Due: backend_npm_install, console_check, console_test, console_build_docker, console_deploy

Fixed workspaceSource save, added Powered by on pages
  services/console/components/PageBuilder/PageBuilder.tsx
  services/console/components/WorkspaceProvider/Provider.tsx
  services/console/components/WorkspaceProvider/context.ts
  services/console/layouts/WorkspaceLayout/WorkspaceLayout.tsx
  services/console/layouts/WorkspaceLayout/context.tsx
  services/console/pages/_app.tsx
  services/console/public/locales/en/common.json
  services/console/public/locales/es/common.json
  services/console/public/locales/fr/common.json
  services/console/views/PublicPage.tsx
  services/console/views/WorkspaceSource.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Pages: removed snap-y, restored overflow-scroll
  services/console/components/PageBuilder/PageBlocks.tsx
  services/console/views/PublicPage.tsx
Due: console_check, console_test, console_build_docker, console_deploy

enhanced: Powered By, Collapse margins, Save App config
  packages/design-system/styles/prismeai-theme.less
  services/console/components/AppEditor.tsx
  services/console/components/AutomationBuilder/Block.tsx
  services/console/components/PageBuilder/PageBlocks.tsx
  services/console/components/PageBuilder/PageBuilder.tsx
  services/console/views/PublicPage.tsx
Due: backend_npm_install, console_check, console_test, console_build_docker, console_deploy

allow interpolating a specific char by string index
  services/runtime/src/utils/interpolate.test.ts
  services/runtime/src/utils/interpolate.ts
Due: runtime_test, runtime_build_docker, runtime_deploy

Fixed conditions including a var with bracket-preceded quotes & any character inside
  services/runtime/deps/condition-eval/grammar.ne
  services/runtime/deps/condition-eval/src/grammar.js
  services/runtime/src/utils/evaluate.test.ts
Due: runtime_test, runtime_build_docker, runtime_deploy

Enhanced form
  packages/design-system/lib/Components/DatePicker.tsx
  packages/design-system/lib/Components/Input.tsx
  packages/design-system/lib/Components/Internal/FloatingLabel.tsx
  packages/design-system/lib/Components/Label.stories.tsx
  packages/design-system/lib/Components/Label.tsx
  packages/design-system/lib/Components/Localized/LocalizedInput.tsx
  packages/design-system/lib/Components/Popover.tsx
  packages/design-system/lib/Components/SchemaForm/Description.tsx
  packages/design-system/lib/Components/SchemaForm/FieldAdditionalProperties.tsx
  packages/design-system/lib/Components/SchemaForm/FieldAny.tsx
  packages/design-system/lib/Components/SchemaForm/FieldBoolean.tsx
  packages/design-system/lib/Components/SchemaForm/FieldLocalizedBoolean.tsx
  packages/design-system/lib/Components/SchemaForm/FieldLocalizedText.tsx
  packages/design-system/lib/Components/SchemaForm/FieldObject.tsx
  packages/design-system/lib/Components/SchemaForm/FieldText.tsx
  packages/design-system/lib/Components/SchemaForm/FieldTextColor.tsx
  packages/design-system/lib/Components/SchemaForm/FieldTextUpload.tsx
  packages/design-system/lib/Components/SchemaForm/LayoutGrid.tsx
  packages/design-system/lib/Components/SchemaForm/OneOf.tsx
  packages/design-system/lib/Components/SchemaForm/SchemaForm.tsx
  packages/design-system/lib/Components/Select.tsx
  packages/design-system/lib/Components/TextArea.tsx
  packages/design-system/lib/index.ts
  packages/design-system/styles/prismeai-theme.less
  services/console/components/AutomationBuilder/Panel/InstructionValue.tsx
  services/console/components/CodeEditor/Inline.tsx
  services/console/components/FieldContainerWithRaw.tsx
  services/console/components/HeaderWorkspace.tsx
  services/console/components/SchemaFormBuilder/ArgumentsEditor.tsx
  services/console/components/SchemaFormBuilder/Properties.tsx
  services/console/components/SchemaFormBuilder/SchemaFormBuilder.tsx
  services/console/components/Share/ShareWorkspacePopover.tsx
  services/console/components/WorkspaceProvider/Provider.tsx
  services/console/layouts/EditDetails.tsx
  services/console/layouts/WorkspaceLayout/WorkspaceLayout.tsx
  services/console/styles/globals.css
  services/console/views/Automation.tsx
  services/console/views/Page.tsx
  services/console/views/WorkspaceSource.tsx
Due: backend_npm_install, console_check, console_test, console_build_docker, console_deploy

Fix secrets redacting which didn't match special characters as they were not escaped for regexps
  services/runtime/src/utils/secrets.ts
Due: runtime_test, runtime_build_docker, runtime_deploy

Security fix : unauthenticated users had manage permissions on any workspace & events
  packages/permissions/lib/accessManager.ts
  packages/permissions/lib/rulesBuilder.ts
  services/events/Dockerfile
Due: backend_npm_install, events_test, events_build_docker, events_deploy

Fix runtime build & fix last security patch which was inaccurate
  packages/permissions/lib/rulesBuilder.ts
  services/events/Dockerfile
  services/runtime/Dockerfile
Due: backend_npm_install, runtime_test, runtime_build_docker, runtime_deploy, events_test, events_build_docker, events_deploy

increase unauthenticated runtime sessions lifespan to 1hr
  services/runtime/config/runtime.ts
  services/runtime/src/services/runtime/contexts.ts
Due: runtime_test, runtime_build_docker, runtime_deploy

enhanced popovers
  packages/design-system/lib/Components/Label.tsx
  packages/design-system/lib/Components/Popover.tsx
  packages/design-system/lib/Components/SchemaForm/FieldArray.tsx
  packages/design-system/lib/Components/Select.tsx
  packages/design-system/styles/prismeai-theme.less
  services/console/components/AutomationBuilder/Panel/__snapshots__/InstructionValue.test.tsx.snap
  services/console/components/AutomationBuilder/__snapshots__/Block.test.tsx.snap
  services/console/components/AutomationBuilder/__snapshots__/Repeat.test.tsx.snap
  services/console/components/HeaderWorkspace.tsx
  services/console/components/SchemaFormBuilder/SchemaFormBuilder.tsx
  services/console/components/SchemaFormBuilder/__snapshots__/SchemaFormBuilder.test.tsx.snap
  services/console/components/Share/SharePage.tsx
  services/console/components/Share/ShareWorkspacePopover.tsx
Due: backend_npm_install, console_check, console_test, console_build_docker, console_deploy

enhanced forms, wording, mobile
  packages/design-system/lib/Components/SchemaForm/FieldArray.tsx
  packages/design-system/styles/prismeai-theme.less
  services/console/components/PageBuilder/Panel/EditSchema/Cards.tsx
  services/console/components/SigninForm.tsx
  services/console/layouts/WorkspaceLayout/WorkspaceLayout.tsx
  services/console/public/locales/en/workspaces.json
  services/console/public/locales/fr/workspaces.json
  services/console/views/Sign/Up.tsx
  services/console/views/Sign/__snapshots__/In.test.tsx.snap
Due: backend_npm_install, console_check, console_test, console_build_docker, console_deploy

Bump version
  package.json
Due: none

Added an user-agent to runtime fetch to enable outside traffic finegrained access control
  services/runtime/config/runtime.ts
  services/runtime/src/services/runtime/automations/instructions/fetch.ts
Due: runtime_test, runtime_build_docker, runtime_deploy

draft
  specifications/swagger.yml
Due: docs_build_static, docs_deploy

Bump version to 6.8.0
  package.json
Due: none

fix test
  services/console/views/__snapshots__/Workspaces.test.tsx.snap
Due: console_check, console_test, console_build_docker, console_deploy

Added workspace usage API
  package-lock.json
  packages/types/index.d.ts
  services/events/src/api/routes/index.ts
  services/events/src/api/routes/usage.ts
  services/events/src/eda/index.ts
  services/events/src/permissions/config.ts
  services/events/src/services/events/store/ElasticsearchStore.ts
  services/events/src/services/events/store/types.ts
  specifications/swagger.yml
Due: backend_npm_install, events_test, events_build_docker, events_deploy, docs_build_static, docs_deploy

Added disabled setting to automation UI
  services/console/public/locales/en/workspaces.json
  services/console/public/locales/fr/workspaces.json
  services/console/views/Automation.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Handle disabled appInstances (simply remove them from executing workspace)
  packages/types/index.d.ts
  services/runtime/src/services/runtime/automations/instructions/index.ts
  services/runtime/src/services/workspaces/workspace.ts
  specifications/swagger.yml
Due: backend_npm_install, runtime_test, runtime_build_docker, runtime_deploy, docs_build_static, docs_deploy

Handle automations disabled attribute : disabled event triggers are silently skipped, endpoint triggers throw an error, & instructions calling a disabled automation are silently ignored
  services/runtime/src/services/runtime/automations/instructions/index.ts
  services/runtime/src/services/workspaces/workspace.ts
Due: runtime_test, runtime_build_docker, runtime_deploy

Added disabled button to appInstance settings UI
  services/console/public/locales/en/workspaces.json
  services/console/public/locales/fr/workspaces.json
  services/console/views/Apps.tsx
  services/console/views/Automation.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Removed unnecessary margin above boolean fields
  packages/design-system/lib/Components/SchemaForm/FieldBoolean.tsx
Due: backend_npm_install

Fix Function/NLU element pages display for specific numbers of elements
  packages/design-system/lib/Components/LayoutSelection.tsx
Due: backend_npm_install

Fix "publish app" modal margins
  services/console/components/PublishModal.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Prevent apps from overflowing to the right on desktop
  services/console/layouts/WorkspaceLayout/WorkspaceLayout.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Fix repeat i18n
  services/console/components/AutomationBuilder/Panel/InstructionValue.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Path conditions:
  backend_npm_install: any of: services/api-gateway/package.json, services/runtime/package.json, services/workspaces/package.json, services/events/package.json, packages/**/*
  console_check: any of: services/console/**/*
  console_test: any of: services/console/**/*
  console_build_docker: any of: services/console/**/*
  console_deploy: any of: services/console/**/*
  workspaces_test: any of: services/workspaces/*
  workspaces_build_docker: any of: services/workspaces/**/*
  workspaces_deploy: any of: services/workspaces/**/*
  runtime_test: any of: services/runtime/**/*
  runtime_build_docker: any of: services/runtime/**/*
  runtime_deploy: any of: services/runtime/**/*
  api-gateway_build_docker: any of: services/api-gateway/**/*
  api-gateway_deploy: any of: services/api-gateway/**/*
  events_test: any of: services/events/**/*
  events_build_docker: any of: services/events/**/*
  events_deploy: any of: services/events/**/*
  docs_build_static: any of: docs/**/*, specifications/*
  docs_deploy: any of: docs/**/*, specifications/*
