Repository HP319193/prisme.ai: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend_npm_install, console_check, console_test, console_build_docker, console_deploy, workspaces_test, workspaces_build_docker, workspaces_deploy, runtime_test, runtime_build_docker, runtime_deploy, api-gateway_build_docker, api-gateway_deploy, events_test, events_build_docker, events_deploy, docs_build_static, docs_deploy

backend_npm_install:
  stage: dependencies
  image: docker:stable
  services:
  - docker:stable-dind
  script:
  ...

console_check:
  stage: test
  script:
  - "if ! [[ -d node_modules/ ]] ; then\n  BUILD_PACKAGES=0 npm ci\nfi\n"
  - npm run build:packages
  - npm run check:console
  needs: []
  before_script:
  - export DIRECTORY=services/$CONSOLE_DIRECTORY

console_test:
  stage: test
  script:
  - "if ! [[ -d node_modules/ ]] ; then\n  BUILD_PACKAGES=0 npm ci\nfi\n"
  - npm run build:packages
  - npm test -- $DIRECTORY
  coverage: /All files\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)/
  artifacts:
    paths:
    - coverage
  cache:
    key:
      files:
  ...

console_build_docker:
  stage: build_docker
  image: docker:stable
  services:
  - docker:stable-dind
  script:
  ...

console_deploy:
  stage: deploy
  tags:
  - internal-runner
  image:
    name: registry.gitlab.com/gogowego-devsecops/dev/prisme.ai-infra:latest
    entrypoint:
    - /bin/sh
    - -c
  script:
  ...

workspaces_test:
  stage: test
  script:
  - "if ! [[ -d node_modules/ ]] ; then\n  BUILD_PACKAGES=0 npm ci\nfi\n"
  - npm run build:packages
  - npm test -- $DIRECTORY
  coverage: /All files\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)/
  artifacts:
    paths:
    - coverage
  cache:
    key:
      files:
  ...

workspaces_build_docker:
  stage: build_docker
  image: docker:stable
  services:
  - docker:stable-dind
  script:
  ...

workspaces_deploy:
  stage: deploy
  tags:
  - internal-runner
  image:
    name: registry.gitlab.com/gogowego-devsecops/dev/prisme.ai-infra:latest
    entrypoint:
    - /bin/sh
    - -c
  script:
  ...

runtime_test:
  stage: test
  script:
  - "if ! [[ -d node_modules/ ]] ; then\n  BUILD_PACKAGES=0 npm ci\nfi\n"
  - npm run build:packages
  - npm test -- $DIRECTORY
  coverage: /All files\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)/
  artifacts:
    paths:
    - coverage
  cache:
    key:
      files:
  ...

runtime_build_docker:
  stage: build_docker
  image: docker:stable
  services:
  - docker:stable-dind
  script:
  ...

runtime_deploy:
  stage: deploy
  tags:
  - internal-runner
  image:
    name: registry.gitlab.com/gogowego-devsecops/dev/prisme.ai-infra:latest
    entrypoint:
    - /bin/sh
    - -c
  script:
  ...

api-gateway_build_docker:
  stage: build_docker
  image: docker:stable
  services:
  - docker:stable-dind
  script:
  ...

api-gateway_deploy:
  stage: deploy
  tags:
  - internal-runner
  image:
    name: registry.gitlab.com/gogowego-devsecops/dev/prisme.ai-infra:latest
    entrypoint:
    - /bin/sh
    - -c
  script:
  ...

events_test:
  stage: test
  script:
  - "if ! [[ -d node_modules/ ]] ; then\n  BUILD_PACKAGES=0 npm ci\nfi\n"
  - npm run build:packages
  - npm test -- $DIRECTORY
  coverage: /All files\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)/
  artifacts:
    paths:
    - coverage
  cache:
    key:
      files:
  ...

Page
  packages/design-system/lib/Components/Collapse.tsx
  packages/design-system/lib/Components/SchemaForm/FieldText.tsx
  services/console/components/AutomationBuilder/Panel/InstructionValue.tsx
  services/console/components/AutomationBuilder/Panel/TriggerForm.tsx
  services/console/components/PageBuilder/BlockPreview.tsx
  services/console/components/PageBuilder/PageBlocks.tsx
  services/console/components/PageBuilder/PageBuilder.tsx
  services/console/components/PageBuilder/Panel/EditSchema/Development.tsx
  services/console/components/PageBuilder/Panel/EditSchema/getEditSchema.ts
  services/console/components/PageBuilder/Panel/PageEditBlockForm.tsx
  services/console/components/PageBuilder/Panel/Settings.tsx
  services/console/components/PageBuilder/context.ts
  services/console/components/PageBuilder/useBlockPageConfig.tsx
  services/console/components/PageBuilder/useBlocks.test.tsx
  services/console/components/PageBuilder/useBlocks.ts
  services/console/components/PagePreview.tsx
  services/console/components/PagesProvider/PagesProvider.test.tsx
  services/console/components/PagesProvider/PagesProvider.tsx
  services/console/components/PagesProvider/context.ts
  services/console/components/PagesProvider/index.ts
  services/console/components/SchemaForm/__snapshots__/useSchema.test.tsx.snap
  services/console/components/SchemaForm/useSchema.test.tsx
  services/console/components/SchemaForm/useSchema.tsx
  services/console/components/SchemaFormBuilder/Properties.tsx
  services/console/components/SchemaFormBuilder/__snapshots__/SchemaFormBuilder.test.tsx.snap
  services/console/components/Share/SharePage.tsx
  services/console/layouts/WorkspaceLayout/WorkspaceLayout.test.tsx
  services/console/pages/_app.tsx
  services/console/providers/Page/PageProvider.test.tsx
  services/console/providers/Page/PageProvider.tsx
  services/console/providers/Page/__snapshots__/PageProvider.test.tsx.snap
  services/console/providers/Page/index.ts
  services/console/providers/Workspace/WorkspaceProvider.tsx
  services/console/providers/Workspaces/WorkspacesProvider.tsx
  services/console/utils/useBlockComponent.ts
  services/console/utils/useContext.ts
  services/console/views/Page/CSSEditor.tsx
  services/console/views/Page/Page.tsx
  services/console/views/Page/PageRenderer.tsx
  services/console/views/Workspace.test.tsx
Due: backend_npm_install, console_check, console_test, console_build_docker, console_deploy

Workspaces
  packages/sdk/lib/api.ts
  packages/sdk/lib/types.ts
  services/console/pages/_app.tsx
  services/console/providers/Workspaces/WorkspacesProvider.test.tsx
  services/console/providers/Workspaces/WorkspacesProvider.tsx
  services/console/providers/Workspaces/__snapshots__/WorkspacesProvider.test.tsx.snap
  services/console/providers/Workspaces/index.ts
  services/console/views/Workspaces.tsx
Due: backend_npm_install, console_check, console_test, console_build_docker, console_deploy

AppInstance
  packages/sdk/lib/api.ts
  packages/types/index.d.ts
  services/console/pages/workspaces/[id]/apps/[appId]/index.tsx
  services/console/providers/AppInstanceProvider/AppInstanceProvider.test.tsx
  services/console/providers/AppInstanceProvider/AppInstanceProvider.tsx
  services/console/providers/AppInstanceProvider/__snapshots__/AppInstanceProvider.test.tsx.snap
  services/console/providers/AppInstanceProvider/appInstancesContextValue.mock.ts
  services/console/providers/AppInstanceProvider/index.ts
  services/console/providers/Workspace/workspaceContextValue.mock.ts
  services/console/views/AppInstance.test.tsx
  services/console/views/AppInstance.tsx
  services/console/views/Apps.tsx
  services/console/views/AppsStore.tsx
  services/console/views/__snapshots__/AppInstance.test.tsx.snap
  specifications/swagger.yml
Due: backend_npm_install, console_check, console_test, console_build_docker, console_deploy, docs_build_static, docs_deploy

Duplicate automations and pages
  packages/design-system/lib/Components/Button.tsx
  services/console/providers/Workspace/WorkspaceProvider.tsx
  services/console/public/locales/fr/workspaces.json
  services/console/styles/globals.css
  services/console/utils/generateNewName.ts
  services/console/utils/incrementName.test.ts
  services/console/utils/incrementName.ts
  services/console/views/Automation.tsx
  services/console/views/Page/Page.tsx
  services/console/views/Page/PageRenderer.tsx
Due: backend_npm_install, console_check, console_test, console_build_docker, console_deploy

Activities
  packages/design-system/tsconfig.json
  services/console/__mocks__/@ant-design/icons.js
  services/console/__mocks__/@prisme.ai/design-system.js
  services/console/components/Activities/Activities.test.tsx
  services/console/components/Activities/Activities.tsx
  services/console/components/Activities/EmptyActivities.test.tsx
  services/console/components/Activities/EmptyActivities.tsx
  services/console/components/Activities/EventDetails.test.tsx
  services/console/components/Activities/EventDetails.tsx
  services/console/components/Activities/EventsList.test.tsx
  services/console/components/Activities/EventsList.tsx
  services/console/components/Activities/Filters.tsx
  services/console/components/Activities/Labels.tsx
  services/console/components/Activities/SectionContent.tsx
  services/console/components/Activities/__snapshots__/Activities.test.tsx.snap
  services/console/components/Activities/__snapshots__/EmptyActivities.test.tsx.snap
  services/console/components/Activities/__snapshots__/EventDetails.test.tsx.snap
  services/console/components/Activities/index.ts
  services/console/components/Activities/presetFilters.ts
  services/console/components/EventsViewer/EventsViewer.test.tsx
  services/console/components/EventsViewer/EventsViewer.tsx
  services/console/components/EventsViewer/__snapshots__/EventsViewer.test.tsx.snap
  services/console/components/EventsViewer/index.ts
  services/console/pages/_app.tsx
  services/console/providers/Events/EventsProvider.test.tsx
  services/console/providers/Events/EventsProvider.tsx
  services/console/providers/Events/__snapshots__/EventsProvider.test.tsx.snap
  services/console/providers/Events/eventsContextValue.mock.ts
  services/console/providers/Events/index.ts
  services/console/providers/QueryStringProvider/QueryStringProvider.tsx
  services/console/providers/QueryStringProvider/index.ts
  services/console/providers/QueryStringProvider/queryStringContextValue.mock.ts
  services/console/views/Workspace.tsx
Due: backend_npm_install, console_check, console_test, console_build_docker, console_deploy

Edit workspace source code
  services/console/views/WorkspaceSource.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Show slug in navigation
  services/console/layouts/WorkspaceLayout/Navigation.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Edit source
  packages/sdk/lib/api.ts
  services/console/components/SourceEdit/SourceEdit.tsx
  services/console/providers/AppInstanceProvider/AppInstanceProvider.tsx
  services/console/providers/AppInstanceProvider/appInstancesContextValue.mock.ts
  services/console/providers/Workspace/WorkspaceProvider.tsx
  services/console/public/locales/fr/workspaces.json
  services/console/views/AppInstance.tsx
  services/console/views/Automation.test.tsx
  services/console/views/Automation.tsx
  services/console/views/Page/PageRenderer.tsx
  services/console/views/WorkspaceSource.tsx
  services/console/views/__snapshots__/AppInstance.test.tsx.snap
  services/console/views/__snapshots__/Automation.test.tsx.snap
Due: backend_npm_install, console_check, console_test, console_build_docker, console_deploy

Fix types and tests
  packages/blocks/lib/Provider/Block.tsx
  packages/sdk/lib/types.ts
  packages/types/index.d.ts
  services/console/components/AppsProvider/Provider.tsx
  services/console/components/AutomationBuilder/Panel/InstructionValue.tsx
  services/console/components/SchemaForm/useSchema.tsx
  services/console/components/Share/ShareWorkspacePopover.tsx
  services/console/components/Workspaces/WorkspaceCardButton.tsx
  services/console/layouts/WorkspaceLayout/WorkspaceLayout.test.tsx
  services/console/providers/AppInstanceProvider/appInstancesContextValue.mock.ts
  services/console/providers/Automation/AutomationProvider.tsx
  services/console/providers/Events/EventsProvider.tsx
  services/console/providers/Workspace/WorkspaceProvider.test.tsx
  services/console/providers/Workspace/updateOnEvents.ts
  services/console/providers/Workspace/workspaceContextValue.mock.ts
  services/console/utils/strings.ts
  services/console/views/AppInstance.test.tsx
  services/console/views/Automation.tsx
  services/console/views/Workspaces.test.tsx
  services/console/views/__snapshots__/AppInstance.test.tsx.snap
  specifications/swagger.yml
Due: backend_npm_install, console_check, console_test, console_build_docker, console_deploy, docs_build_static, docs_deploy

Update workspace with websocket
  packages/sdk/lib/events.ts
  packages/validation/instructions.json
  services/console/providers/Page/PageProvider.tsx
  services/console/providers/Workspace/WorkspaceProvider.tsx
  services/console/providers/Workspace/updateOnEvents.ts
  services/console/views/AppInstance.tsx
  services/console/views/Automation.tsx
  services/console/views/Page/cleanValue.ts
  services/console/views/WorkspaceSource.tsx
Due: backend_npm_install, console_check, console_test, console_build_docker, console_deploy

Fix share workspace
  services/console/components/Activities/__snapshots__/Activities.test.tsx.snap
  services/console/components/HeaderWorkspace.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Edit app config
  services/console/views/AppInstance.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Fix update apps in nav
  services/console/providers/Workspace/updateOnEvents.ts
  services/console/public/locales/fr/workspaces.json
Due: console_check, console_test, console_build_docker, console_deploy

Fix display on virgin workspace
  services/console/components/Activities/Activities.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Add id to GET workspace & adapt PATCH appInstance response to return same config field as in GET appInstance : { value }
  package-lock.json
  packages/types/index.d.ts
  services/runtime/src/services/schedules/schedules.ts
  services/workspaces/src/services/workspaces/crud/appInstances.test.ts
  services/workspaces/src/services/workspaces/crud/appInstances.ts
  services/workspaces/src/services/workspaces/crud/automations.ts
  services/workspaces/src/services/workspaces/crud/workspaces.ts
  specifications/swagger.yml
Due: backend_npm_install, workspaces_build_docker, workspaces_deploy, runtime_test, runtime_build_docker, runtime_deploy, docs_build_static, docs_deploy

Fix changing slugs
  services/console/providers/Workspace/updateOnEvents.ts
  services/console/views/Automation.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Fix pages display
  services/pages/components/Page/Page.tsx
Due: none

Refacto account navigation
  services/console/components/Navigation/Expand.test.tsx
  services/console/components/Navigation/Expand.tsx
  services/console/components/Navigation/Item.test.tsx
  services/console/components/Navigation/Item.tsx
  services/console/components/Navigation/ItemsGroup.test.tsx
  services/console/components/Navigation/ItemsGroup.tsx
  services/console/components/Navigation/SearchInput.test.tsx
  services/console/components/Navigation/SearchInput.tsx
  services/console/components/Navigation/__snapshots__/Expand.test.tsx.snap
  services/console/components/Navigation/__snapshots__/Item.test.tsx.snap
  services/console/components/Navigation/__snapshots__/ItemsGroup.test.tsx.snap
  services/console/components/Navigation/__snapshots__/SearchInput.test.tsx.snap
  services/console/components/Share/ShareWorkspace.tsx
  services/console/components/Workspaces/WorkspaceCardButton.tsx
  services/console/components/Workspaces/WorkspaceIcon.test.tsx
  services/console/components/Workspaces/WorkspaceIcon.tsx
  services/console/components/Workspaces/__snapshots__/WorkspaceIcon.test.tsx.snap
  services/console/layouts/WorkspaceLayout/Navigation.tsx
  services/console/layouts/WorkspaceLayout/WorkspaceLayout.tsx
  services/console/pages/account/index.ts
  services/console/pages/account/workspaces/[workspaceId].ts
  services/console/providers/Events/EventsProvider.test.tsx
  services/console/providers/Events/EventsProvider.tsx
  services/console/providers/Workspace/WorkspaceProvider.tsx
  services/console/views/Account/AccountLayout.tsx
  services/console/views/Account/Components/Navigation.tsx
  services/console/views/Account/WorkspaceManagement.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Sort blocks
  services/console/components/PageBuilder/useBlocks.ts
Due: console_check, console_test, console_build_docker, console_deploy

Fix editing page details
  services/console/views/Page/CSSEditor.tsx
  services/console/views/Page/PageRenderer.tsx
  services/console/views/Page/defaultStyles.ts
Due: console_check, console_test, console_build_docker, console_deploy

Redirect on not found workspace
  services/console/providers/Workspace/WorkspaceProvider.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Fix account layout
  services/console/components/Navigation/Item.tsx
  services/console/components/Navigation/ItemsGroup.tsx
  services/console/components/Navigation/__snapshots__/Item.test.tsx.snap
  services/console/components/Navigation/__snapshots__/ItemsGroup.test.tsx.snap
  services/console/views/Account/AccountLayout.tsx
  services/console/views/Account/Components/Navigation.tsx
  services/console/views/Account/MyAccount.tsx
  services/console/views/Account/WorkspaceManagement.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Fix reading apps
  services/console/components/SchemaForm/useSchema.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Order items alphabetically in nav
  services/console/layouts/WorkspaceLayout/Navigation.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Not found
  services/console/components/NotFound.tsx
  services/console/layouts/WorkspaceLayout/Navigation.tsx
  services/console/providers/AppInstanceProvider/AppInstanceProvider.tsx
  services/console/providers/Automation/AutomationProvider.tsx
  services/console/providers/Page/PageProvider.tsx
  services/console/public/locales/fr/workspaces.json
Due: console_check, console_test, console_build_docker, console_deploy

2nd fix build workspaces
  services/workspaces/src/api/app.ts
  services/workspaces/src/api/routes/appInstances.ts
  services/workspaces/src/api/routes/apps.ts
  services/workspaces/src/api/routes/automations.ts
  services/workspaces/src/api/routes/index.ts
  services/workspaces/src/api/routes/migrate.ts
  services/workspaces/src/api/routes/pages.ts
  services/workspaces/src/api/routes/workspaces.ts
  services/workspaces/src/app.ts
  services/workspaces/src/services/apps/crud/apps.ts
  services/workspaces/src/services/migrate/dsul-filesystem/index.ts
  services/workspaces/src/services/workspaces/crud/appInstances.test.ts
  services/workspaces/src/services/workspaces/crud/appInstances.ts
  services/workspaces/src/services/workspaces/crud/automations.test.ts
  services/workspaces/src/services/workspaces/crud/pages.test.ts
  services/workspaces/src/services/workspaces/crud/pages.ts
  services/workspaces/src/services/workspaces/crud/workspaces.test.ts
  services/workspaces/src/services/workspaces/crud/workspaces.ts
  services/workspaces/src/services/workspaces/syncDetailedPagesWithEDA.test.ts
  services/workspaces/src/services/workspaces/syncDetailedPagesWithEDA.ts
  services/workspaces/src/services/workspaces/syncWorkspacesWithConfigContexts.test.ts
  services/workspaces/src/services/workspaces/syncWorkspacesWithConfigContexts.ts
Due: workspaces_build_docker, workspaces_deploy

Fix tests
  services/console/components/SchemaForm/useSchema.test.tsx
  services/console/components/SchemaForm/useSchema.tsx
  services/console/providers/Workspace/WorkspaceProvider.test.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Renamed dsulStorage -> DSULStorage
  services/workspaces/src/services/DSULStorage/DSULStorage.test.ts
  services/workspaces/src/services/DSULStorage/DSULStorage.ts
  services/workspaces/src/services/DSULStorage/__mocks__/DSULStorage.ts
  services/workspaces/src/services/DSULStorage/__mocks__/index.ts
  services/workspaces/src/services/DSULStorage/getPath.test.ts
  services/workspaces/src/services/DSULStorage/getPath.ts
  services/workspaces/src/services/DSULStorage/index.ts
  services/workspaces/src/services/DSULStorage/types.ts
  services/workspaces/src/services/workspaces/crud/pages.ts
Due: workspaces_build_docker, workspaces_deploy

Routing with page slug
  services/console/layouts/WorkspaceLayout/WorkspaceLayout.tsx
  services/console/pages/workspaces/[id]/pages/[pageSlug]/index.tsx
  services/console/views/Page/Page.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Now compute an events field for automtions + pages + imports including emitted events after their autocomplete processing
  package-lock.json
  packages/types/index.d.ts
  services/workspaces/package.json
  services/workspaces/src/services/DSULStorage/DSULStorage.test.ts
  services/workspaces/src/services/DSULStorage/DSULStorage.ts
  services/workspaces/src/services/apps/crud/apps.ts
  services/workspaces/src/services/workspaces/crud/appInstances.test.ts
  services/workspaces/src/services/workspaces/crud/appInstances.ts
  services/workspaces/src/services/workspaces/crud/automations.test.ts
  services/workspaces/src/services/workspaces/crud/automations.ts
  services/workspaces/src/services/workspaces/crud/pages.test.ts
  services/workspaces/src/services/workspaces/crud/pages.ts
  services/workspaces/src/utils/extractEmits.ts
  services/workspaces/src/utils/extractEvents.ts
  specifications/swagger.yml
Due: backend_npm_install, workspaces_test, workspaces_build_docker, workspaces_deploy, docs_build_static, docs_deploy

En translations
  services/console/public/locales/en/common.json
  services/console/public/locales/en/workspaces.json
  services/console/public/locales/fr/workspaces.json
Due: console_check, console_test, console_build_docker, console_deploy

Fixed s3.copyObject
  services/workspaces/src/storage/drivers/s3.ts
  services/workspaces/src/utils/extractEvents.ts
Due: workspaces_build_docker, workspaces_deploy

Autocomplete is back
  package-lock.json
  services/console/components/SchemaForm/useSchema.test.tsx
  services/console/components/SchemaForm/useSchema.tsx
  services/console/public/locales/fr/workspaces.json
Due: console_check, console_test, console_build_docker, console_deploy

Dirty warning
  services/console/__mocks__/@ant-design/icons.js
  services/console/components/AppEditor.tsx
  services/console/components/PageBuilder/PageBuilder.tsx
  services/console/components/SchemaForm/useSchema.test.tsx
  services/console/layouts/WorkspaceLayout/WorkspaceLayout.tsx
  services/console/layouts/WorkspaceLayout/context.tsx
  services/console/providers/Page/PageProvider.tsx
  services/console/utils/useDirtyWarning.test.tsx
  services/console/utils/useDirtyWarning.tsx
  services/console/views/AppInstance.tsx
  services/console/views/Automation.test.tsx
  services/console/views/Automation.tsx
  services/console/views/Page/Page.tsx
  services/console/views/Page/PageRenderer.tsx
  services/console/views/WorkspaceSource.tsx
Due: console_check, console_test, console_build_docker, console_deploy

LocalizedText can display the current language by default
  packages/design-system/lib/Components/Localized/LocalizedInput.tsx
  packages/validation/instructions.json
  services/console/components/EditableTitle.tsx
  services/console/views/Automation.tsx
  services/console/views/Page/PageRenderer.tsx
Due: backend_npm_install, console_check, console_test, console_build_docker, console_deploy

DSUL Migration route : increase apps pagination to migrate all apps
  services/workspaces/src/services/migrate/dsul-filesystem/index.ts
Due: workspaces_build_docker, workspaces_deploy

Should speed up source editor
  services/console/components/SourceEdit/SourceEdit.tsx
  services/console/views/WorkspaceSource.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Fix pages duplication (s3.find was broken)
  services/workspaces/src/storage/drivers/s3.ts
Due: workspaces_build_docker, workspaces_deploy

Allow migrating big DSULs by targeting their id specifically
  services/workspaces/src/services/migrate/dsul-filesystem/index.ts
Due: workspaces_build_docker, workspaces_deploy

Initial runtime model creation on workspace creation and duplication events + Fixed initial appInstance config sync with install automations
  packages/broker/lib/broker.ts
  services/api-gateway/docker-compose.yml
  services/events/src/services/events/send.ts
  services/runtime/src/eda/index.ts
  services/runtime/src/services/runtime/contexts.ts
  services/runtime/src/services/runtime/index.ts
  services/runtime/src/services/workspaces/workspaces.ts
  services/workspaces/src/services/workspaces/crud/pages.ts
Due: backend_npm_install, workspaces_build_docker, workspaces_deploy, runtime_test, runtime_build_docker, runtime_deploy, api-gateway_build_docker, api-gateway_deploy, events_test, events_build_docker, events_deploy

Path conditions:
  backend_npm_install: any of: services/api-gateway/package.json, services/runtime/package.json, services/workspaces/package.json, services/events/package.json, packages/**/*
  console_check: any of: services/console/**/*
  console_test: any of: services/console/**/*
  console_build_docker: any of: services/console/**/*
  console_deploy: any of: services/console/**/*
  workspaces_test: any of: services/workspaces/*
  workspaces_build_docker: any of: services/workspaces/**/*
  workspaces_deploy: any of: services/workspaces/**/*
  runtime_test: any of: services/runtime/**/*
  runtime_build_docker: any of: services/runtime/**/*
  runtime_deploy: any of: services/runtime/**/*
  api-gateway_build_docker: any of: services/api-gateway/**/*
  api-gateway_deploy: any of: services/api-gateway/**/*
  events_test: any of: services/events/**/*
  events_build_docker: any of: services/events/**/*
  events_deploy: any of: services/events/**/*
  docs_build_static: any of: docs/**/*, specifications/*
  docs_deploy: any of: docs/**/*, specifications/*
