Repository HP319193/prisme.ai: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend_npm_install, console_check, console_test, console_build_docker, console_deploy, workspaces_test, workspaces_build_docker, workspaces_deploy, runtime_test, runtime_build_docker, runtime_deploy, api-gateway_build_docker, api-gateway_deploy, events_test, events_build_docker, events_deploy, docs_build_static, docs_deploy

backend_npm_install:
  stage: dependencies
  image: docker:stable
  services:
  - docker:stable-dind
  script:
  ...

console_check:
  stage: test
  script:
  - "if ! [[ -d node_modules/ ]] ; then\n  BUILD_PACKAGES=0 npm ci\nfi\n"
  - npm run build:packages
  - npm run check:console
  needs: []
  before_script:
  - export DIRECTORY=services/$CONSOLE_DIRECTORY

console_test:
  stage: test
  script:
  - "if ! [[ -d node_modules/ ]] ; then\n  BUILD_PACKAGES=0 npm ci\nfi\n"
  - npm run build:packages
  - npm test -- $DIRECTORY
  coverage: /All files\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)/
  artifacts:
    paths:
    - coverage
  cache:
    key:
      files:
  ...

console_build_docker:
  stage: build_docker
  image: docker:stable
  services:
  - docker:stable-dind
  script:
  ...

console_deploy:
  stage: deploy
  tags:
  - internal-runner
  image:
    name: registry.gitlab.com/gogowego-devsecops/dev/prisme.ai-infra:latest
    entrypoint:
    - /bin/sh
    - -c
  script:
  ...

workspaces_test:
  stage: test
  script:
  - "if ! [[ -d node_modules/ ]] ; then\n  BUILD_PACKAGES=0 npm ci\nfi\n"
  - npm run build:packages
  - npm test -- $DIRECTORY
  coverage: /All files\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)/
  artifacts:
    paths:
    - coverage
  cache:
    key:
      files:
  ...

workspaces_build_docker:
  stage: build_docker
  image: docker:stable
  services:
  - docker:stable-dind
  script:
  ...

workspaces_deploy:
  stage: deploy
  tags:
  - internal-runner
  image:
    name: registry.gitlab.com/gogowego-devsecops/dev/prisme.ai-infra:latest
    entrypoint:
    - /bin/sh
    - -c
  script:
  ...

runtime_test:
  stage: test
  script:
  - "if ! [[ -d node_modules/ ]] ; then\n  BUILD_PACKAGES=0 npm ci\nfi\n"
  - npm run build:packages
  - npm test -- $DIRECTORY
  coverage: /All files\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)/
  artifacts:
    paths:
    - coverage
  cache:
    key:
      files:
  ...

runtime_build_docker:
  stage: build_docker
  image: docker:stable
  services:
  - docker:stable-dind
  script:
  ...

runtime_deploy:
  stage: deploy
  tags:
  - internal-runner
  image:
    name: registry.gitlab.com/gogowego-devsecops/dev/prisme.ai-infra:latest
    entrypoint:
    - /bin/sh
    - -c
  script:
  ...

api-gateway_build_docker:
  stage: build_docker
  image: docker:stable
  services:
  - docker:stable-dind
  script:
  ...

api-gateway_deploy:
  stage: deploy
  tags:
  - internal-runner
  image:
    name: registry.gitlab.com/gogowego-devsecops/dev/prisme.ai-infra:latest
    entrypoint:
    - /bin/sh
    - -c
  script:
  ...

events_test:
  stage: test
  script:
  - "if ! [[ -d node_modules/ ]] ; then\n  BUILD_PACKAGES=0 npm ci\nfi\n"
  - npm run build:packages
  - npm test -- $DIRECTORY
  coverage: /All files\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)/
  artifacts:
    paths:
    - coverage
  cache:
    key:
      files:
  ...

Updated tests and fix some build error
  packages/design-system/lib/Components/Localized/useLocalizedText.test.tsx
  packages/design-system/lib/Components/SchemaForm/__snapshots__/SchemaForm.test.tsx.snap
  services/console/__mocks__/@prisme.ai/blocks.js
  services/console/__mocks__/@prisme.ai/design-system.js
  services/console/components/LocalizedInput.tsx
  services/console/components/SchemaForm/__snapshots__/useSchema.test.tsx.snap
  services/console/components/UserProvider/Provider.test.tsx
  services/console/pages/_app.tsx
Due: backend_npm_install, console_check, console_test, console_build_docker, console_deploy

Cleaned useLocalizedText comments
  packages/design-system/lib/Components/Localized/useLocalizedText.ts
Due: backend_npm_install

Block can use next/link or other link component
  packages/blocks/lib/Blocks/Header.tsx
  packages/blocks/lib/Provider/BlocksProvider.tsx
  packages/blocks/lib/Provider/blocksContext.ts
  packages/blocks/lib/tw.ts
  services/console/pages/_app.tsx
Due: backend_npm_install, console_check, console_test, console_build_docker, console_deploy

Removed nanoid from blocks so we don't need crypto polyfills
  package-lock.json
  packages/blocks/lib/BlockLoader.tsx
Due: backend_npm_install

Remove next-transpile-modules
  package-lock.json
  packages/blocks/lib/index.ts
  services/console/components/PageBuilder/PageBuilder.tsx
  services/console/components/PageBuilder/Panel/PageNewBlockForm.tsx
  services/console/next.config.js
  services/console/package.json
Due: backend_npm_install, console_check, console_test, console_build_docker, console_deploy

Update logos
  services/console/components/Header.tsx
  services/console/icons/icon-prisme.svg
  services/console/public/favicon.png
Due: console_check, console_test, console_build_docker, console_deploy

Updated Blocks onLoad providing schema
  packages/blocks/lib/BlockLoader.tsx
  packages/blocks/lib/Blocks/Development.tsx
  packages/blocks/lib/Provider/Block.tsx
  packages/blocks/lib/Provider/context.ts
  services/console/components/PageBuilder/PageBuilder.tsx
  services/console/components/PageBuilder/Panel/EditSchema/getEditSchema.ts
  services/console/components/PageBuilder/Panel/PageEditBlockForm.tsx
  services/console/components/PageBuilder/context.ts
Due: backend_npm_install, console_check, console_test, console_build_docker, console_deploy

Updated typings to fix build
  packages/design-system/lib/Components/Localized/useLocalizedText.ts
  services/console/components/PageBuilder/PageBuilder.tsx
  services/console/components/PageBuilder/Panel/PageEditBlockForm.tsx
  services/console/components/PageBuilder/context.ts
  services/console/components/PageBuilder/useBlockConfig.tsx
Due: backend_npm_install, console_check, console_test, console_build_docker, console_deploy

RichText block
  package-lock.json
  packages/blocks/lib/BlockLoader.tsx
  packages/blocks/lib/Blocks/Cards.stories.tsx
  packages/blocks/lib/Blocks/DataTable.stories.tsx
  packages/blocks/lib/Blocks/DataTable.tsx
  packages/blocks/lib/Blocks/Development.stories.tsx
  packages/blocks/lib/Blocks/Form.stories.tsx
  packages/blocks/lib/Blocks/Header.stories.tsx
  packages/blocks/lib/Blocks/RichText.stories.tsx
  packages/blocks/lib/Blocks/RichText.test.tsx
  packages/blocks/lib/Blocks/RichText.tsx
  packages/blocks/lib/Blocks/__snapshots__/RichText.test.tsx.snap
  packages/blocks/lib/Blocks/index.ts
  packages/blocks/lib/i18n.tsx
  packages/blocks/package.json
  services/console/__mocks__/@prisme.ai/design-system.js
  services/console/components/PageBuilder/Panel/EditSchema/RichText.tsx
  services/console/components/PageBuilder/Panel/EditSchema/getEditSchema.ts
  services/console/public/locales/en/workspaces.json
  services/console/public/locales/es/workspaces.json
  services/console/public/locales/fr/workspaces.json
Due: backend_npm_install, console_check, console_test, console_build_docker, console_deploy

Fix build dependencies
  dependencies.dockerfile
Due: none

Fix types
  packages/blocks/lib/Blocks/Header.tsx
  packages/blocks/lib/Provider/context.ts
  services/console/components/PageBuilder/useBlockPageConfig.tsx
Due: backend_npm_install, console_check, console_test, console_build_docker, console_deploy

Right fix for backend deps job
  dependencies.dockerfile
Due: none

Send page query string in block init event payload
  services/console/components/Page/usePageBlocksConfigs.ts
Due: console_check, console_test, console_build_docker, console_deploy

Use page socket in Blocks
  services/console/components/Page/PageBlock.tsx
  services/console/views/PublicPage.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Make page scroll snap to blocks
  services/console/components/PageBuilder/PageBlocks.tsx
  services/console/views/PublicPage.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Fix margin on top and bottom of page builder to access Blocks edit/add buttons
  services/console/components/PageBuilder/PageBlocks.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Fix unit tests
  services/runtime/src/services/runtime/index.test.ts
  services/runtime/src/services/workspaces/workspaces.test.ts
Due: runtime_test, runtime_build_docker, runtime_deploy

Fixed workspaces config updates with new runtime.contexts.updated event
  services/runtime/src/services/runtime/contexts.ts
  services/workspaces/src/services/workspaces/crud/appInstances.ts
  services/workspaces/src/services/workspaces/index.ts
  services/workspaces/src/utils/applyObjectUpdateOpLogs.ts
Due: workspaces_build_docker, workspaces_deploy, runtime_test, runtime_build_docker, runtime_deploy

Real time sync run contexts between executing automations (with the same correlationId) accross instances
  packages/types/index.d.ts
  services/runtime/src/services/runtime/contexts.ts
  services/runtime/src/services/runtime/index.ts
  specifications/swagger.yml
Due: backend_npm_install, runtime_test, runtime_build_docker, runtime_deploy, docs_build_static, docs_deploy

Fix contexts syncing which could reapplied duplicate updates
  services/runtime/src/services/runtime/automations/index.test.ts
  services/runtime/src/services/runtime/contexts.ts
  services/runtime/src/services/runtime/index.ts
Due: runtime_test, runtime_build_docker, runtime_deploy

Set viewport for mobile
  services/console/pages/_app.tsx
Due: console_check, console_test, console_build_docker, console_deploy

fix unit tests
  packages/types/index.d.ts
  services/runtime/Dockerfile
  services/workspaces/Dockerfile
  services/workspaces/src/services/workspaces/crud/appInstances.test.ts
  services/workspaces/src/services/workspaces/crud/workspaces.test.ts
  services/workspaces/src/utils/applyObjectUpdateOpLogs.ts
  specifications/swagger.yml
Due: backend_npm_install, workspaces_test, workspaces_build_docker, workspaces_deploy, runtime_test, runtime_build_docker, runtime_deploy, docs_build_static, docs_deploy

documentation
  docs/docs/en/workspaces/automations.md
Due: docs_build_static, docs_deploy

rm console.log
  services/runtime/src/services/runtime/automations/index.test.ts
Due: runtime_test, runtime_build_docker, runtime_deploy

Fix first workspaces config update (workspaces.configured event failed emitting since oldConfig was undefined)
  services/workspaces/Dockerfile
  services/workspaces/README.md
  specifications/swagger.yml
Due: workspaces_test, workspaces_build_docker, workspaces_deploy, docs_build_static, docs_deploy

2nd fix first workspaces config update (workspaces.configured event failed emitting since oldConfig was undefined)
  packages/broker/package-lock.json
  services/workspaces/Dockerfile
  services/workspaces/README.md
Due: backend_npm_install, workspaces_test, workspaces_build_docker, workspaces_deploy

Updated RichText and Cards blocks for chat support
  packages/blocks/lib/Blocks/Cards.tsx
  packages/blocks/package.json
Due: backend_npm_install

fix break field inside runtome.automations.executed event
  services/runtime/src/services/runtime/automations/index.ts
Due: runtime_test, runtime_build_docker, runtime_deploy

Fix page preview display
  services/console/components/PageBuilder/PageBuilder.tsx
  services/console/components/PagePreview.tsx
  services/console/views/Page.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Fix workspaces which configured workspaces / apps on UpdatedContexts events even when they did not hit config context
  services/workspaces/src/services/workspaces/index.ts
Due: workspaces_build_docker, workspaces_deploy

force rebuilding workspaces
  services/workspaces/Dockerfile
  services/workspaces/README.md
Due: workspaces_test, workspaces_build_docker, workspaces_deploy

Fix getting sessionId from /me
  packages/sdk/lib/api.ts
Due: backend_npm_install

Added JSON-configurable events redaction before their storage
  services/events/config/index.ts
  services/events/config/preprocessing.ts
  services/events/config/preprocessingRules.json
  services/events/src/services/events/store/ElasticsearchStore.ts
  services/events/src/services/events/store/preprocess.ts
Due: events_test, events_build_docker, events_deploy

Now pass session ids/token/expiration within gateway.login.succeeded events, but readact tokens before storage
  packages/types/index.d.ts
  services/api-gateway/src/config/eda.ts
  services/api-gateway/src/express.d.ts
  services/api-gateway/src/routes/identity.ts
  specifications/swagger.yml
Due: backend_npm_install, api-gateway_build_docker, api-gateway_deploy, docs_build_static, docs_deploy

Pull & save user session tokens inside runtime redis cache & automatically inject these tokens inside fetch towards Prismeai API
  docs/docs/en/getstarted/configuration.md
  docs/docs/en/workspaces/automations.md
  package-lock.json
  services/runtime/config/runtime.ts
  services/runtime/package.json
  services/runtime/src/eda/index.ts
  services/runtime/src/services/runtime/automations/instructions/fetch.ts
  services/runtime/src/services/runtime/contexts.ts
  services/runtime/src/services/runtime/index.ts
Due: backend_npm_install, runtime_test, runtime_build_docker, runtime_deploy, docs_build_static, docs_deploy

update wait instruction documentation
  docs/docs/en/workspaces/instructions.md
Due: docs_build_static, docs_deploy

Fix setting runtime session context expiresIn
  services/runtime/src/services/runtime/contexts.ts
  services/runtime/src/services/runtime/index.ts
Due: runtime_test, runtime_build_docker, runtime_deploy

Fix double init event on public page
  services/console/components/Page/PageBlock.tsx
  services/console/views/PublicPage.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Force rebuilding runtime with updated package.json
  package.json
  services/runtime/Dockerfile
Due: runtime_test, runtime_build_docker, runtime_deploy

Path conditions:
  backend_npm_install: any of: services/api-gateway/package.json, services/runtime/package.json, services/workspaces/package.json, services/events/package.json, packages/**/*
  console_check: any of: services/console/**/*
  console_test: any of: services/console/**/*
  console_build_docker: any of: services/console/**/*
  console_deploy: any of: services/console/**/*
  workspaces_test: any of: services/workspaces/*
  workspaces_build_docker: any of: services/workspaces/**/*
  workspaces_deploy: any of: services/workspaces/**/*
  runtime_test: any of: services/runtime/**/*
  runtime_build_docker: any of: services/runtime/**/*
  runtime_deploy: any of: services/runtime/**/*
  api-gateway_build_docker: any of: services/api-gateway/**/*
  api-gateway_deploy: any of: services/api-gateway/**/*
  events_test: any of: services/events/**/*
  events_build_docker: any of: services/events/**/*
  events_deploy: any of: services/events/**/*
  docs_build_static: any of: docs/**/*, specifications/*
  docs_deploy: any of: docs/**/*, specifications/*
