Repository HP319193/prisme.ai: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend_npm_install, console_check, console_test, console_build_docker, console_deploy, workspaces_test, workspaces_build_docker, workspaces_deploy, runtime_test, runtime_build_docker, runtime_deploy, api-gateway_build_docker, api-gateway_deploy, events_test, events_build_docker, events_deploy, docs_build_static, docs_deploy

backend_npm_install:
  stage: dependencies
  image: docker:stable
  services:
  - docker:stable-dind
  script:
  ...

console_check:
  stage: test
  script:
  - "if ! [[ -d node_modules/ ]] ; then\n  BUILD_PACKAGES=0 npm ci\nfi\n"
  - npm run build:packages
  - npm run check:console
  needs: []
  before_script:
  - export DIRECTORY=services/$CONSOLE_DIRECTORY

console_test:
  stage: test
  script:
  - "if ! [[ -d node_modules/ ]] ; then\n  BUILD_PACKAGES=0 npm ci\nfi\n"
  - npm run build:packages
  - npm test -- $DIRECTORY
  coverage: /All files\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)/
  artifacts:
    paths:
    - coverage
  cache:
    key:
      files:
  ...

console_build_docker:
  stage: build_docker
  image: docker:stable
  services:
  - docker:stable-dind
  script:
  ...

console_deploy:
  stage: deploy
  tags:
  - internal-runner
  image:
    name: registry.gitlab.com/gogowego-devsecops/dev/prisme.ai-infra:latest
    entrypoint:
    - /bin/sh
    - -c
  script:
  ...

workspaces_test:
  stage: test
  script:
  - "if ! [[ -d node_modules/ ]] ; then\n  BUILD_PACKAGES=0 npm ci\nfi\n"
  - npm run build:packages
  - npm test -- $DIRECTORY
  coverage: /All files\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)/
  artifacts:
    paths:
    - coverage
  cache:
    key:
      files:
  ...

workspaces_build_docker:
  stage: build_docker
  image: docker:stable
  services:
  - docker:stable-dind
  script:
  ...

workspaces_deploy:
  stage: deploy
  tags:
  - internal-runner
  image:
    name: registry.gitlab.com/gogowego-devsecops/dev/prisme.ai-infra:latest
    entrypoint:
    - /bin/sh
    - -c
  script:
  ...

runtime_test:
  stage: test
  script:
  - "if ! [[ -d node_modules/ ]] ; then\n  BUILD_PACKAGES=0 npm ci\nfi\n"
  - npm run build:packages
  - npm test -- $DIRECTORY
  coverage: /All files\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)/
  artifacts:
    paths:
    - coverage
  cache:
    key:
      files:
  ...

runtime_build_docker:
  stage: build_docker
  image: docker:stable
  services:
  - docker:stable-dind
  script:
  ...

runtime_deploy:
  stage: deploy
  tags:
  - internal-runner
  image:
    name: registry.gitlab.com/gogowego-devsecops/dev/prisme.ai-infra:latest
    entrypoint:
    - /bin/sh
    - -c
  script:
  ...

api-gateway_build_docker:
  stage: build_docker
  image: docker:stable
  services:
  - docker:stable-dind
  script:
  ...

api-gateway_deploy:
  stage: deploy
  tags:
  - internal-runner
  image:
    name: registry.gitlab.com/gogowego-devsecops/dev/prisme.ai-infra:latest
    entrypoint:
    - /bin/sh
    - -c
  script:
  ...

events_test:
  stage: test
  script:
  - "if ! [[ -d node_modules/ ]] ; then\n  BUILD_PACKAGES=0 npm ci\nfi\n"
  - npm run build:packages
  - npm test -- $DIRECTORY
  coverage: /All files\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)/
  artifacts:
    paths:
    - coverage
  cache:
    key:
      files:
  ...

Many fixes around instructions forms
  packages/design-system/lib/Components/SchemaForm/Field.tsx
  packages/design-system/lib/Components/SchemaForm/FieldText.tsx
  packages/design-system/lib/Components/SchemaForm/OneOf.tsx
  packages/design-system/lib/Components/SchemaForm/SchemaForm.stories.tsx
  packages/design-system/lib/Components/SchemaForm/__snapshots__/SchemaForm.test.tsx.snap
  packages/design-system/lib/Components/SchemaForm/index.ts
  packages/design-system/lib/Components/SchemaForm/types.ts
  packages/design-system/lib/Components/SchemaForm/utils.ts
  packages/types/index.d.ts
  packages/validation/instructions.json
  services/console/__mocks__/@ant-design/icons.js
  services/console/components/AutomationBuilder/AutomationBuilder.tsx
  services/console/components/AutomationBuilder/Block.tsx
  services/console/components/AutomationBuilder/Instruction.test.tsx
  services/console/components/AutomationBuilder/Instruction.tsx
  services/console/components/AutomationBuilder/Panel/InstructionForm.test.tsx
  services/console/components/AutomationBuilder/Panel/InstructionForm.tsx
  services/console/components/AutomationBuilder/Panel/InstructionValue.tsx
  services/console/components/AutomationBuilder/Panel/__snapshots__/InstructionValue.test.tsx.snap
  services/console/components/AutomationBuilder/Repeat.tsx
  services/console/components/AutomationBuilder/__snapshots__/Repeat.test.tsx.snap
  services/console/components/AutomationBuilder/flow.ts
  services/console/components/AutomationBuilder/utils.ts
  services/console/public/locales/en/workspaces.json
  services/console/public/locales/es/workspaces.json
  services/console/public/locales/fr/workspaces.json
  specifications/swagger.yml
Due: backend_npm_install, console_check, console_test, console_build_docker, console_deploy, docs_build_static, docs_deploy

Added responsive sign in page
  services/console/components/SigninForm.tsx
  services/console/public/locales/en/sign.json
  services/console/public/locales/fr/sign.json
  services/console/tailwind.config.js
  services/console/views/Sign/In.test.tsx
  services/console/views/Sign/In.tsx
  services/console/views/Sign/__snapshots__/In.test.tsx.snap
Due: console_check, console_test, console_build_docker, console_deploy

Fix types checking on new repeat structure
  services/runtime/src/services/runtime/automations/instructions/repeat.ts
Due: runtime_test, runtime_build_docker, runtime_deploy

Fix version number on workspaces
  packages/design-system/lib/Components/Layout.tsx
  services/console/views/Workspaces.tsx
Due: backend_npm_install, console_check, console_test, console_build_docker, console_deploy

Fix hidding sidebar after removing an instruction
  services/console/components/AutomationBuilder/AutomationBuilder.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Translate custom instructions schemas
  services/console/components/AutomationBuilder/AutomationBuilder.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Fix custom instruction attributes
  services/console/components/AutomationBuilder/AutomationBuilder.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Added search label for layoutSelection
  packages/design-system/lib/Components/LayoutSelection.tsx
Due: backend_npm_install

Added signup page
  services/console/public/locales/en/sign.json
  services/console/public/locales/fr/sign.json
  services/console/views/Sign/In.tsx
  services/console/views/Sign/Up.tsx
Due: console_check, console_test, console_build_docker, console_deploy

ES translation and code naming change
  services/console/public/locales/es/sign.json
  services/console/views/Workspaces.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Upddated test for signin
  packages/design-system/lib/Components/Layout.tsx
  services/console/views/Sign/__snapshots__/In.test.tsx.snap
Due: backend_npm_install, console_check, console_test, console_build_docker, console_deploy

Clean automation from empty instructions on save
  services/console/components/AutomationBuilder/AutomationBuilder.tsx
  services/console/components/HeaderWorkspace.tsx
  services/console/views/Automation.tsx
Due: console_check, console_test, console_build_docker, console_deploy

:wrench: Change strict option to 'log'.
  package-lock.json
  packages/broker/lib/events/validator.ts
Due: backend_npm_install

Fix signin redirect link wrong url
  services/console/views/Sign/Up.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Fix infinite loop on app instance getter
  services/console/components/AppsProvider/Provider.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Fix fields order
  services/console/views/Sign/Up.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Built-in Blocks foundations
  packages/design-system/lib/Components/Block.stories.tsx
  packages/design-system/lib/Components/Block.tsx
  packages/design-system/lib/Components/Block/Block.tsx
  packages/design-system/lib/Components/Block/context.ts
  packages/design-system/lib/Components/Block/index.ts
  services/console/components/Blocks/Title.tsx
  services/console/components/Blocks/index.ts
  services/console/components/PageBuilder/Panel/WidgetForm.tsx
  services/console/components/PageBuilder/Widget.tsx
  services/console/components/PageBuilder/Widgets.tsx
  services/console/public/locales/fr/workspaces.json
Due: backend_npm_install, console_check, console_test, console_build_docker, console_deploy

Widget settings
  package-lock.json
  packages/design-system/lib/Components/Block/Block.tsx
  packages/design-system/lib/Components/Block/context.ts
  packages/design-system/lib/Components/CustomSelect.stories.tsx
  packages/design-system/lib/Components/StretchContent.stories.tsx
  packages/types/index.d.ts
  services/console/components/Blocks/Title.tsx
  services/console/components/PageBuilder/PageBuilder.tsx
  services/console/components/PageBuilder/Settings.tsx
  services/console/components/PageBuilder/Widget.tsx
  services/console/components/PageBuilder/Widgets.tsx
  services/console/components/PageBuilder/context.ts
  services/console/package.json
  services/console/public/locales/fr/workspaces.json
  services/console/views/AppsSidebarItem.tsx
  services/console/views/PublicPage.tsx
  services/workspaces/src/services/apps/crud/apps.ts
  specifications/swagger.yml
Due: backend_npm_install, console_check, console_test, console_build_docker, console_deploy, workspaces_build_docker, workspaces_deploy, docs_build_static, docs_deploy

Init widgets and update them
  packages/sdk/lib/api.ts
  packages/sdk/lib/events.ts
  services/console/views/PublicPage.tsx
Due: backend_npm_install, console_check, console_test, console_build_docker, console_deploy

Fix select display
  packages/design-system/lib/Components/Internal/FloatingLabel.tsx
  packages/design-system/lib/Components/SchemaForm/FieldSelect.tsx
Due: backend_npm_install

fix rebase
  services/console/components/EventsViewer/EventsViewer.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Fix after rebase
  services/console/components/Blocks/Title.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Cards group
  packages/design-system/lib/Components/Block/context.ts
  services/console/components/AutomationBuilder/AutomationBuilder.tsx
  services/console/components/Block.tsx
  services/console/components/Blocks/Cards.tsx
  services/console/components/Blocks/index.ts
  services/console/components/Blocks/useBlocksConfigs.ts
  services/console/components/HeaderWorkspace.tsx
  services/console/components/PageBuilder/Panel/WidgetForm.tsx
  services/console/components/PageBuilder/Settings.tsx
  services/console/components/PageBuilder/Widget.tsx
  services/console/components/PageBuilder/Widgets.tsx
  services/console/components/PublishModal.tsx
  services/console/components/WorkspacesProvider/Provider.tsx
  services/console/icons/icon-link.svgr
  services/console/layouts/EditDetails.tsx
  services/console/layouts/WorkspaceLayout/WorkspaceLayout.tsx
  services/console/pages/workspaces/[id]/pages/[pageId]/index.tsx
  services/console/public/locales/fr/pages.json
  services/console/public/locales/fr/workspaces.json
  services/console/utils/useLocalizedText.ts
  services/console/views/AppsStore.tsx
  services/console/views/Automation.tsx
  services/console/views/AutomationsSidebar.tsx
  services/console/views/Page.tsx
  services/console/views/PagesSidebar.tsx
  services/console/views/PublicPage.tsx
  services/console/views/Workspaces.tsx
Due: backend_npm_install, console_check, console_test, console_build_docker, console_deploy

Translations sync
  services/console/public/locales/en/pages.json
  services/console/public/locales/en/workspaces.json
  services/console/public/locales/es/pages.json
  services/console/public/locales/es/workspaces.json
  services/console/public/locales/fr/workspaces.json
Due: console_check, console_test, console_build_docker, console_deploy

Datatable
  services/console/components/Blocks/DataTable.tsx
  services/console/components/Blocks/index.ts
  services/console/public/locales/en/pages.json
  services/console/public/locales/en/workspaces.json
  services/console/public/locales/es/pages.json
  services/console/public/locales/es/workspaces.json
  services/console/public/locales/fr/pages.json
  services/console/public/locales/fr/workspaces.json
Due: console_check, console_test, console_build_docker, console_deploy

Add some locales
  services/console/components/PageBuilder/Settings.tsx
  services/console/utils/useLocalizedText.ts
Due: console_check, console_test, console_build_docker, console_deploy

Fix types
  package-lock.json
  package.json
  services/console/components/AutomationBuilder/utils.ts
  services/console/components/Blocks/Cards.tsx
  services/console/views/PublicPage.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Localize schemas
  services/console/components/AutomationBuilder/AutomationBuilder.tsx
  services/console/components/PageBuilder/Widget.tsx
  services/console/utils/useLocalizedText.ts
Due: console_check, console_test, console_build_docker, console_deploy

Enhance workspace description display on home page
  services/console/views/Workspaces.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Collapse accept default antd props
  packages/design-system/lib/Components/Collapse.tsx
Due: backend_npm_install

Replace all occurences of "widget" for "block"
  packages/design-system/lib/Components/SchemaForm/__snapshots__/SchemaForm.test.tsx.snap
  packages/types/index.d.ts
  services/console/components/Blocks/useBlocksConfigs.ts
  services/console/components/PageBuilder/AddBlock.tsx
  services/console/components/PageBuilder/PageBlock.tsx
  services/console/components/PageBuilder/PageBlocks.tsx
  services/console/components/PageBuilder/PageBuilder.tsx
  services/console/components/PageBuilder/Panel/PageBlockForm.tsx
  services/console/components/PageBuilder/Settings.tsx
  services/console/components/PageBuilder/context.ts
  services/console/public/locales/en/workspaces.json
  services/console/public/locales/es/workspaces.json
  services/console/public/locales/fr/workspaces.json
  services/console/views/AppsSidebarItem.tsx
  services/console/views/Page.tsx
  services/console/views/PagesSidebar.tsx
  services/console/views/PublicPage.tsx
  services/workspaces/src/api/routes/pages.ts
  services/workspaces/src/permissions/index.ts
  services/workspaces/src/services/apps/crud/apps.ts
  specifications/swagger.yml
Due: backend_npm_install, console_check, console_test, console_build_docker, console_deploy, workspaces_build_docker, workspaces_deploy, docs_build_static, docs_deploy

Fix wording
  services/console/public/locales/en/workspaces.json
  services/console/public/locales/es/workspaces.json
  services/console/public/locales/fr/workspaces.json
Due: console_check, console_test, console_build_docker, console_deploy

Fix tests on packages
  packages/sdk/lib/api.test.ts
  packages/sdk/lib/fetcher.test.ts
Due: backend_npm_install

Implemented upload API
  package-lock.json
  packages/types/index.d.ts
  services/api-gateway/gateway.config.yml
  services/workspaces/config/storage.ts
  services/workspaces/package.json
  services/workspaces/src/api/app.ts
  services/workspaces/src/api/middlewares/traceability.ts
  services/workspaces/src/api/routes/files.ts
  services/workspaces/src/api/routes/index.ts
  services/workspaces/src/app.ts
  services/workspaces/src/permissions/config.ts
  services/workspaces/src/permissions/index.ts
  services/workspaces/src/services/FileStorage.ts
  services/workspaces/src/storage/drivers/filesystem.ts
  services/workspaces/src/storage/index.ts
  specifications/swagger.yml
Due: backend_npm_install, workspaces_test, workspaces_build_docker, workspaces_deploy, api-gateway_build_docker, api-gateway_deploy, docs_build_static, docs_deploy

Update workspaces API configuration doc
  docs/docs/en/getstarted/configuration.md
Due: docs_build_static, docs_deploy

Added an allowApiKeyOnly option to authentication middleware within gateway api, in order to allow calling some api exclusively with an api key (i.e upload api called from an app)
  services/api-gateway/gateway.config.yml
  services/api-gateway/src/policies/authentication.ts
Due: api-gateway_build_docker, api-gateway_deploy

Clean up uploads on workspace deletion
  services/workspaces/src/api/routes/index.ts
  services/workspaces/src/api/routes/workspaces.ts
  services/workspaces/src/services/FileStorage.ts
Due: workspaces_build_docker, workspaces_deploy

Added upload mimetype validation
  services/workspaces/config/storage.ts
  services/workspaces/src/services/FileStorage.ts
Due: workspaces_build_docker, workspaces_deploy

Fixed workspaces & event build
  services/api-gateway/Dockerfile
  services/events/Dockerfile
  services/events/src/permissions/index.ts
  services/workspaces/Dockerfile
  services/workspaces/src/errors/index.ts
Due: workspaces_test, workspaces_build_docker, workspaces_deploy, api-gateway_build_docker, api-gateway_deploy, events_test, events_build_docker, events_deploy

Allow files upload/delete/get only with an api key
  services/events/src/api/middlewares/errors.ts
  services/events/src/permissions/config.ts
  services/runtime/src/api/middlewares/errors.ts
  services/workspaces/src/api/middlewares/accessManager.ts
  services/workspaces/src/api/middlewares/errors.ts
  services/workspaces/src/permissions/config.ts
  specifications/swagger.yml
Due: workspaces_build_docker, workspaces_deploy, runtime_test, runtime_build_docker, runtime_deploy, events_test, events_build_docker, events_deploy, docs_build_static, docs_deploy

Path conditions:
  backend_npm_install: any of: services/api-gateway/package.json, services/runtime/package.json, services/workspaces/package.json, services/events/package.json, packages/**/*
  console_check: any of: services/console/**/*
  console_test: any of: services/console/**/*
  console_build_docker: any of: services/console/**/*
  console_deploy: any of: services/console/**/*
  workspaces_test: any of: services/workspaces/*
  workspaces_build_docker: any of: services/workspaces/**/*
  workspaces_deploy: any of: services/workspaces/**/*
  runtime_test: any of: services/runtime/**/*
  runtime_build_docker: any of: services/runtime/**/*
  runtime_deploy: any of: services/runtime/**/*
  api-gateway_build_docker: any of: services/api-gateway/**/*
  api-gateway_deploy: any of: services/api-gateway/**/*
  events_test: any of: services/events/**/*
  events_build_docker: any of: services/events/**/*
  events_deploy: any of: services/events/**/*
  docs_build_static: any of: docs/**/*, specifications/*
  docs_deploy: any of: docs/**/*, specifications/*
