Repository HP319193/prisme.ai: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend_npm_install, console_check, console_test, console_build_docker, console_deploy, workspaces_test, workspaces_build_docker, workspaces_deploy, runtime_test, runtime_build_docker, runtime_deploy, api-gateway_build_docker, api-gateway_deploy, events_test, events_build_docker, events_deploy, docs_build_static, docs_deploy

backend_npm_install:
  stage: dependencies
  image: docker:stable
  services:
  - docker:stable-dind
  script:
  ...

console_check:
  stage: test
  script:
  - "if ! [[ -d node_modules/ ]] ; then\n  BUILD_PACKAGES=0 npm ci\nfi\n"
  - npm run build:packages
  - npm run check:console
  needs: []
  before_script:
  - export DIRECTORY=services/$CONSOLE_DIRECTORY

console_test:
  stage: test
  script:
  - "if ! [[ -d node_modules/ ]] ; then\n  BUILD_PACKAGES=0 npm ci\nfi\n"
  - npm run build:packages
  - npm test -- $DIRECTORY
  coverage: /All files\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)/
  artifacts:
    paths:
    - coverage
  cache:
    key:
      files:
  ...

console_build_docker:
  stage: build_docker
  image: docker:stable
  services:
  - docker:stable-dind
  script:
  ...

console_deploy:
  stage: deploy
  tags:
  - internal-runner
  image:
    name: registry.gitlab.com/gogowego-devsecops/dev/prisme.ai-infra:latest
    entrypoint:
    - /bin/sh
    - -c
  script:
  ...

workspaces_test:
  stage: test
  script:
  - "if ! [[ -d node_modules/ ]] ; then\n  BUILD_PACKAGES=0 npm ci\nfi\n"
  - npm run build:packages
  - npm test -- $DIRECTORY
  coverage: /All files\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)/
  artifacts:
    paths:
    - coverage
  cache:
    key:
      files:
  ...

workspaces_build_docker:
  stage: build_docker
  image: docker:stable
  services:
  - docker:stable-dind
  script:
  ...

workspaces_deploy:
  stage: deploy
  tags:
  - internal-runner
  image:
    name: registry.gitlab.com/gogowego-devsecops/dev/prisme.ai-infra:latest
    entrypoint:
    - /bin/sh
    - -c
  script:
  ...

runtime_test:
  stage: test
  script:
  - "if ! [[ -d node_modules/ ]] ; then\n  BUILD_PACKAGES=0 npm ci\nfi\n"
  - npm run build:packages
  - npm test -- $DIRECTORY
  coverage: /All files\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)/
  artifacts:
    paths:
    - coverage
  cache:
    key:
      files:
  ...

runtime_build_docker:
  stage: build_docker
  image: docker:stable
  services:
  - docker:stable-dind
  script:
  ...

runtime_deploy:
  stage: deploy
  tags:
  - internal-runner
  image:
    name: registry.gitlab.com/gogowego-devsecops/dev/prisme.ai-infra:latest
    entrypoint:
    - /bin/sh
    - -c
  script:
  ...

api-gateway_build_docker:
  stage: build_docker
  image: docker:stable
  services:
  - docker:stable-dind
  script:
  ...

api-gateway_deploy:
  stage: deploy
  tags:
  - internal-runner
  image:
    name: registry.gitlab.com/gogowego-devsecops/dev/prisme.ai-infra:latest
    entrypoint:
    - /bin/sh
    - -c
  script:
  ...

events_test:
  stage: test
  script:
  - "if ! [[ -d node_modules/ ]] ; then\n  BUILD_PACKAGES=0 npm ci\nfi\n"
  - npm run build:packages
  - npm test -- $DIRECTORY
  coverage: /All files\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)/
  artifacts:
    paths:
    - coverage
  cache:
    key:
      files:
  ...

Fix converting an object containing data uri images and number/boolean values
  packages/sdk/lib/api.test.ts
  packages/sdk/lib/api.ts
Due: backend_npm_install

Blocks list cannot be empty
  services/console/components/PageBuilder/Panel/PageBlockForm.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Update blocks configs from EDA
  packages/sdk/lib/api.ts
  packages/sdk/lib/events.ts
  services/console/components/AutomationBuilder/Panel/InstructionValue.tsx
  services/console/components/Blocks/Cards.tsx
  services/console/components/Blocks/ErrorBoundary.tsx
  services/console/components/Blocks/useBlocksConfigs.ts
  services/console/components/CodeEditor/CodeEditor.tsx
  services/console/components/CodeEditor/Inline.tsx
  services/console/components/CodeEditor/__snapshots__/CodeEditor.test.tsx.snap
  services/console/components/PageBuilder/Panel/PageBlockForm.tsx
  services/console/components/PageBuilder/Settings.tsx
  services/console/layouts/WorkspaceLayout/WorkspaceLayout.tsx
  services/console/public/locales/en/workspaces.json
  services/console/public/locales/es/workspaces.json
  services/console/public/locales/fr/workspaces.json
  services/console/views/PublicPage.tsx
Due: backend_npm_install, console_check, console_test, console_build_docker, console_deploy

Ability to send events from a Block
  packages/design-system/lib/Components/Block/Block.tsx
  packages/design-system/lib/Components/Block/context.ts
  services/console/components/Blocks/Cards.tsx
  services/console/components/Blocks/useBlocksConfigs.ts
  services/console/views/PublicPage.tsx
Due: backend_npm_install, console_check, console_test, console_build_docker, console_deploy

Block can call an initial endpoint
  packages/design-system/lib/Components/SchemaForm/FieldSelect.tsx
  packages/design-system/lib/Components/SchemaForm/types.ts
  packages/sdk/lib/api.ts
  services/console/components/Blocks/useBlocksConfigs.ts
  services/console/components/PageBuilder/Settings.tsx
  services/console/components/SchemaForm/useSchema.tsx
  services/console/layouts/WorkspaceLayout/WorkspaceLayout.tsx
Due: backend_npm_install, console_check, console_test, console_build_docker, console_deploy

appConfig and setAppConfig from Block props or provider
  services/console/views/PublicPage.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Hide panel when saving graph to force refreshing of its values
  services/console/components/AutomationBuilder/AutomationBuilder.test.tsx
  services/console/components/AutomationBuilder/AutomationBuilder.tsx
  services/console/views/Automation.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Bultin blocks have simplest static schema for setup
  services/console/components/Blocks/Cards.tsx
  services/console/components/Blocks/DataTable.tsx
  services/console/components/Blocks/Title.tsx
  services/console/components/PageBuilder/PageBlocks.tsx
  services/console/public/locales/en/workspaces.json
  services/console/public/locales/es/workspaces.json
  services/console/public/locales/fr/workspaces.json
  services/console/utils/useLocalizedText.ts
Due: console_check, console_test, console_build_docker, console_deploy

Fix login colored bars display
  services/console/views/Sign/In.tsx
  services/console/views/Sign/__snapshots__/In.test.tsx.snap
Due: console_check, console_test, console_build_docker, console_deploy

Ability to send events from a Block
  packages/design-system/lib/Components/Block/Block.tsx
  packages/design-system/lib/Components/Block/context.ts
  services/console/components/Blocks/Cards.tsx
  services/console/components/Blocks/ErrorBoundary.tsx
  services/console/components/Blocks/useBlocksConfigs.ts
  services/console/layouts/WorkspaceLayout/WorkspaceLayout.tsx
  services/console/public/locales/en/workspaces.json
  services/console/public/locales/es/workspaces.json
  services/console/public/locales/fr/workspaces.json
  services/console/views/PublicPage.tsx
Due: backend_npm_install, console_check, console_test, console_build_docker, console_deploy

select:automations
  services/console/components/SchemaForm/useSchema.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Block can call an initial endpoint
  packages/design-system/lib/Components/SchemaForm/FieldSelect.tsx
  packages/design-system/lib/Components/SchemaForm/types.ts
  packages/sdk/lib/api.ts
  services/console/components/Blocks/useBlocksConfigs.ts
  services/console/components/PageBuilder/Settings.tsx
  services/console/components/SchemaForm/useSchema.tsx
Due: backend_npm_install, console_check, console_test, console_build_docker, console_deploy

Wording and removed console.log and snapshots test updated
  services/console/components/AutomationBuilder/Block.tsx
  services/console/components/AutomationBuilder/ConditionEdge.tsx
  services/console/components/AutomationBuilder/Panel/InstructionValue.tsx
  services/console/components/AutomationBuilder/TriggerBlock.tsx
  services/console/components/AutomationBuilder/__snapshots__/flow.test.ts.snap
  services/console/components/AutomationBuilder/flow.ts
  services/console/components/HeaderWorkspace.tsx
  services/console/components/Share/SharePage.tsx
  services/console/public/locales/en/common.json
  services/console/public/locales/en/workspaces.json
  services/console/public/locales/es/common.json
  services/console/public/locales/es/workspaces.json
  services/console/public/locales/fr/common.json
  services/console/public/locales/fr/workspaces.json
  services/console/views/AppsSidebar.tsx
  services/console/views/Automation.tsx
  services/console/views/AutomationsSidebar.tsx
  services/console/views/Page.tsx
  services/console/views/PagesSidebar.tsx
  services/console/views/Workspaces.tsx
  services/console/views/__snapshots__/Workspaces.test.tsx.snap
Due: console_check, console_test, console_build_docker, console_deploy

Temporally disable tests which fail.
  services/console/components/WorkspacesProvider/Provider.test.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Fix cards display
  services/console/components/Blocks/Cards.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Block form
  services/console/components/Blocks/Form.tsx
  services/console/components/Blocks/index.ts
  services/console/components/PageBuilder/Panel/PageBlockForm.tsx
  services/console/components/SchemaFormBuilder/SchemaFormBuilder.tsx
  services/console/components/SchemaFormBuilder/__snapshots__/SchemaFormBuilder.test.tsx.snap
  services/console/public/locales/en/workspaces.json
  services/console/public/locales/es/workspaces.json
  services/console/public/locales/fr/workspaces.json
Due: console_check, console_test, console_build_docker, console_deploy

Fix tests
  jest.config.js
  services/console/__mocks__/react-i18next.js
  services/console/components/WorkspacesProvider/Provider.test.tsx
  services/console/utils/useLocalizedText.ts
Due: console_check, console_test, console_build_docker, console_deploy

Fix crash if no block
  services/console/components/PageBuilder/PageBlock.tsx
  services/console/components/PageBuilder/PageBlocks.tsx
  services/console/components/PageBuilder/PageBuilder.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Fix button white background on form (delete button for example)
  packages/design-system/styles/prismeai-theme.less
Due: backend_npm_install

Removed rounded effect on left border on fieldArray
  packages/design-system/lib/Components/SchemaForm/FieldArray.tsx
Due: backend_npm_install

select:pages
  services/console/components/SchemaForm/useSchema.tsx
Due: console_check, console_test, console_build_docker, console_deploy

rename widgets to blocks
  docs/docs/en/workspaces/pages.md
Due: docs_build_static, docs_deploy

Header block
  packages/design-system/lib/Components/SchemaForm/SchemaForm.tsx
  services/console/components/Blocks/Header.test.tsx
  services/console/components/Blocks/Header.tsx
  services/console/components/Blocks/Title.tsx
  services/console/components/Blocks/__snapshots__/Header.test.tsx.snap
  services/console/components/Blocks/index.ts
  services/console/components/Blocks/useBlocksConfigs.ts
  services/console/components/PageBuilder/PageBlock.tsx
  services/console/components/PageBuilder/PageBuilder.tsx
  services/console/components/PageBuilder/Settings.tsx
  services/console/components/SchemaForm/__snapshots__/useSchema.test.tsx.snap
  services/console/components/SchemaForm/useSchema.test.tsx
  services/console/components/SchemaForm/useSchema.tsx
  services/console/public/locales/en/workspaces.json
  services/console/public/locales/es/workspaces.json
  services/console/public/locales/fr/workspaces.json
  services/console/styles/globals.css
  services/console/views/Page.tsx
  services/console/views/PublicPage.tsx
Due: backend_npm_install, console_check, console_test, console_build_docker, console_deploy

Events API now filter out events from appInstance of depth 2 & more by default
  packages/types/index.d.ts
  services/events/src/api/routes/events.ts
  services/events/src/services/events/Subscriptions.ts
  services/events/src/services/events/store/ElasticsearchStore.ts
  specifications/swagger.yml
Due: backend_npm_install, events_test, events_build_docker, events_deploy, docs_build_static, docs_deploy

Allow runtime webhook to receive base64 encoded files through multipart POST
  package-lock.json
  services/runtime/package.json
  services/runtime/src/api/routes/webhooks.ts
Due: backend_npm_install, runtime_test, runtime_build_docker, runtime_deploy

Added an auto expiration mechanism to Workspaces Upload API
  packages/permissions/lib/accessManager.ts
  packages/types/index.d.ts
  services/runtime/src/storage/drivers/filesystem.ts
  services/template/src/storage/drivers/filesystem.ts
  services/workspaces/src/api/app.ts
  services/workspaces/src/api/routes/files.ts
  services/workspaces/src/app.ts
  services/workspaces/src/permissions/index.ts
  services/workspaces/src/services/FileStorage.ts
  services/workspaces/src/services/uploads/index.ts
  services/workspaces/src/storage/drivers/filesystem.ts
  services/workspaces/src/storage/drivers/s3.ts
  services/workspaces/src/storage/types.ts
  specifications/swagger.yml
Due: backend_npm_install, workspaces_build_docker, workspaces_deploy, runtime_test, runtime_build_docker, runtime_deploy, docs_build_static, docs_deploy

PageHeader has height as workspace header
  packages/design-system/lib/Components/PageHeader.tsx
  packages/design-system/styles/prismeai-theme.less
Due: backend_npm_install

Buttons in pageHeader use primary variant
  services/console/views/Automation.tsx
  services/console/views/Page.tsx
  services/console/views/WorkspaceSource.tsx
Due: console_check, console_test, console_build_docker, console_deploy

New page UI
  services/console/components/Blocks/Cards.tsx
  services/console/components/Blocks/DataTable.tsx
  services/console/components/Blocks/Form.tsx
  services/console/components/PageBuilder/AddBlock.tsx
  services/console/components/PageBuilder/EditBlock.tsx
  services/console/components/PageBuilder/PageBlock.tsx
  services/console/components/PageBuilder/PageBlockProvider.tsx
  services/console/components/PageBuilder/PageBlocks.tsx
  services/console/components/PageBuilder/PageBuilder.tsx
  services/console/components/PageBuilder/Panel/PageEditBlockForm.tsx
  services/console/components/PageBuilder/Panel/PageNewBlockForm.tsx
  services/console/components/PageBuilder/Panel/Settings.tsx
  services/console/components/PageBuilder/context.ts
  services/console/components/Panel.tsx
  services/console/components/__snapshots__/Panel.test.tsx.snap
  services/console/public/locales/en/workspaces.json
  services/console/public/locales/es/workspaces.json
  services/console/public/locales/fr/workspaces.json
  services/console/views/Page.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Added padding on form block
  services/console/components/Blocks/Form.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Fix Header button crash with realtime editing
  services/console/components/Blocks/Header.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Fix Prismeai types imports
  services/console/components/PageBuilder/context.ts
Due: console_check, console_test, console_build_docker, console_deploy

Should fix pages
  services/console/components/PageBuilder/PageBlock.tsx
  services/console/views/Page.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Fix blocks width
  services/console/components/PageBuilder/PageBlock.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Ability to specify a select with data from app config in json schema form
  package-lock.json
  services/console/components/AutomationBuilder/ConditionEdge.tsx
  services/console/components/AutomationBuilder/Panel/InstructionValue.tsx
  services/console/components/AutomationBuilder/Panel/readAppConfig.ts
  services/console/components/SchemaForm/useSchema.tsx
  services/console/package.json
Due: console_check, console_test, console_build_docker, console_deploy

Added global.endpoints variable
  docs/docs/en/getstarted/configuration.md
  docs/docs/en/workspaces/automations.md
  services/runtime/config/runtime.ts
  services/runtime/src/services/runtime/automations/index.ts
  services/runtime/src/services/runtime/contexts.ts
  services/runtime/src/services/runtime/index.ts
  services/runtime/src/services/workspaces/workspace.ts
Due: runtime_test, runtime_build_docker, runtime_deploy, docs_build_static, docs_deploy

Allow date comparison in conditions
  services/events/src/services/events/store/ElasticsearchStore.ts
  services/runtime/deps/condition-eval/grammar.ne
  services/runtime/deps/condition-eval/src/grammar.js
  services/runtime/deps/condition-eval/src/interpreter/DateExpression.ts
  services/runtime/src/utils/evaluate.test.ts
Due: runtime_test, runtime_build_docker, runtime_deploy, events_test, events_build_docker, events_deploy

Refacto custom select ui:widget
  packages/design-system/lib/Components/SchemaForm/FieldSelect.tsx
  packages/design-system/lib/Components/SchemaForm/SchemaForm.stories.tsx
  packages/design-system/lib/Components/SchemaForm/SchemaForm.tsx
  packages/design-system/lib/Components/SchemaForm/context.ts
  packages/design-system/lib/Components/SchemaForm/types.ts
  services/console/components/AutomationBuilder/Panel/InstructionForm.test.tsx
  services/console/components/AutomationBuilder/Panel/InstructionValue.test.tsx
  services/console/components/AutomationBuilder/Panel/InstructionValue.tsx
  services/console/components/Blocks/Header.tsx
  services/console/components/PageBuilder/PageBlock.tsx
  services/console/components/PageBuilder/Panel/PageEditBlockForm.tsx
  services/console/components/PageBuilder/Panel/Settings.tsx
  services/console/components/PageBuilder/context.ts
  services/console/components/SchemaForm/__snapshots__/useSchema.test.tsx.snap
  services/console/components/SchemaForm/useSchema.test.tsx
  services/console/components/SchemaForm/useSchema.tsx
Due: backend_npm_install, console_check, console_test, console_build_docker, console_deploy

Fixed unit tests since jest timeout is globally defined to 500ms & rebuild every backend microservice
  packages/permissions/package.json
  services/events/Dockerfile
  services/events/src/services/events/Subscriptions.test.ts
  services/events/src/utils/BatchExecStream.test.ts
  services/runtime/Dockerfile
  services/runtime/src/services/workspaces/workspaces.test.ts
  services/workspaces/Dockerfile
Due: backend_npm_install, workspaces_test, workspaces_build_docker, workspaces_deploy, runtime_test, runtime_build_docker, runtime_deploy, events_test, events_build_docker, events_deploy

Path conditions:
  backend_npm_install: any of: services/api-gateway/package.json, services/runtime/package.json, services/workspaces/package.json, services/events/package.json, packages/**/*
  console_check: any of: services/console/**/*
  console_test: any of: services/console/**/*
  console_build_docker: any of: services/console/**/*
  console_deploy: any of: services/console/**/*
  workspaces_test: any of: services/workspaces/*
  workspaces_build_docker: any of: services/workspaces/**/*
  workspaces_deploy: any of: services/workspaces/**/*
  runtime_test: any of: services/runtime/**/*
  runtime_build_docker: any of: services/runtime/**/*
  runtime_deploy: any of: services/runtime/**/*
  api-gateway_build_docker: any of: services/api-gateway/**/*
  api-gateway_deploy: any of: services/api-gateway/**/*
  events_test: any of: services/events/**/*
  events_build_docker: any of: services/events/**/*
  events_deploy: any of: services/events/**/*
  docs_build_static: any of: docs/**/*, specifications/*
  docs_deploy: any of: docs/**/*, specifications/*
