Repository HP319193/prisme.ai: changes, and which GitLab CI jobs are due for each by the changed paths.
All: npm_install, console_test, console_build_docker, console_deploy, workspaces_build_docker, workspaces_deploy, runtime_build_docker, runtime_deploy, api-gateway_build_docker, api-gateway_deploy, events_test, events_build_docker, events_deploy

npm_install:
  stage: dependencies
  image: docker:stable
  services:
  - docker:stable-dind
  script:
  ...

console_test:
  interruptible: true
  stage: test
  script:
  - "if ! [[ -d node_modules/ ]] ; then\n  BUILD_PACKAGES=0 npm ci\nfi\n"
  - npm run build:packages
  - npm test --prefix $DIRECTORY
  coverage: /All files\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)/
  artifacts:
    paths:
    - coverage
  cache:
  ...

console_build_docker:
  interruptible: true
  stage: build_docker
  image: docker:stable
  services:
  - docker:stable-dind
  script:
  ...

console_deploy:
  stage: deploy
  tags:
  - internal-runner
  image:
    name: registry.gitlab.com/gogowego-devsecops/dev/prisme.ai-infra:latest
    entrypoint:
    - /bin/sh
    - -c
  script:
  ...

workspaces_build_docker:
  interruptible: true
  stage: build_docker
  image: docker:stable
  services:
  - docker:stable-dind
  script:
  ...

workspaces_deploy:
  stage: deploy
  tags:
  - internal-runner
  image:
    name: registry.gitlab.com/gogowego-devsecops/dev/prisme.ai-infra:latest
    entrypoint:
    - /bin/sh
    - -c
  script:
  ...

runtime_build_docker:
  interruptible: true
  stage: build_docker
  image: docker:stable
  services:
  - docker:stable-dind
  script:
  ...

runtime_deploy:
  stage: deploy
  tags:
  - internal-runner
  image:
    name: registry.gitlab.com/gogowego-devsecops/dev/prisme.ai-infra:latest
    entrypoint:
    - /bin/sh
    - -c
  script:
  ...

api-gateway_build_docker:
  interruptible: true
  stage: build_docker
  image: docker:stable
  services:
  - docker:stable-dind
  script:
  ...

api-gateway_deploy:
  stage: deploy
  tags:
  - internal-runner
  image:
    name: registry.gitlab.com/gogowego-devsecops/dev/prisme.ai-infra:latest
    entrypoint:
    - /bin/sh
    - -c
  script:
  ...

events_test:
  interruptible: true
  stage: test
  script:
  - "if ! [[ -d node_modules/ ]] ; then\n  BUILD_PACKAGES=0 npm ci\nfi\n"
  - npm run build:packages
  - npm test --prefix $DIRECTORY
  coverage: /All files\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)/
  artifacts:
    paths:
    - coverage
  cache:
  ...

events_build_docker:
  interruptible: true
  stage: build_docker
  image: docker:stable
  services:
  - docker:stable-dind
  script:
  ...

events_deploy:
  stage: deploy
  tags:
  - internal-runner
  image:
    name: registry.gitlab.com/gogowego-devsecops/dev/prisme.ai-infra:latest
    entrypoint:
    - /bin/sh
    - -c
  script:
  ...

Added getApps route to SDK
  packages/sdk/lib/api.ts
  packages/sdk/lib/utils.test.ts
  packages/sdk/lib/utils.ts
Due: npm_install

App store display cards for apps
  services/console/views/AppsSidebar.tsx
  services/console/views/AppsStore.tsx
Due: console_test, console_build_docker, console_deploy

Added appProvider with getApps
  services/console/components/AppsProvider/Provider.test.tsx
  services/console/components/AppsProvider/Provider.tsx
  services/console/components/AppsProvider/context.ts
  services/console/components/AppsProvider/index.ts
  services/console/pages/_app.tsx
Due: console_test, console_build_docker, console_deploy

InstallApp moved to workspaceProvider
  packages/sdk/lib/api.ts
  services/console/components/WorkspacesProvider/Provider.test.tsx
  services/console/components/WorkspacesProvider/Provider.tsx
  services/console/components/WorkspacesProvider/context.ts
  services/console/views/AppsStore.tsx
Due: npm_install, console_test, console_build_docker, console_deploy

Setup an installed app
  packages/design-system/lib/Components/ListItem.tsx
  services/console/tailwind.config.js
  services/console/views/AppsSidebar.tsx
Due: npm_install, console_test, console_build_docker, console_deploy

Added routes for update/uninstall apps
  packages/sdk/lib/api.ts
  services/console/components/WorkspacesProvider/Provider.test.tsx
  services/console/components/WorkspacesProvider/Provider.tsx
  services/console/components/WorkspacesProvider/context.ts
Due: npm_install, console_test, console_build_docker, console_deploy

i18n for apps
  services/console/public/locales/en/workspaces.json
  services/console/public/locales/es/workspaces.json
  services/console/public/locales/fr/workspaces.json
  services/console/views/AppsSidebar.tsx
  services/console/views/AppsStore.tsx
Due: console_test, console_build_docker, console_deploy

Can install an app in the workspace
  packages/sdk/lib/api.ts
  services/console/components/WorkspacesProvider/Provider.tsx
  services/console/views/AppsStore.tsx
Due: npm_install, console_test, console_build_docker, console_deploy

Apps sidebar list real data
  services/console/views/AppsSidebar.tsx
Due: console_test, console_build_docker, console_deploy

Rename app details
  packages/types/index.d.ts
  services/console/views/AppsStore.tsx
  services/workspaces/src/services/apps/crud/apps.ts
  services/workspaces/src/services/workspaces/crud/appInstances.ts
  specifications/swagger.yml
Due: npm_install, console_test, console_build_docker, console_deploy, workspaces_build_docker, workspaces_deploy

Added config field to GET /v2/workspaces/../appInstances
  packages/types/index.d.ts
  services/workspaces/src/services/apps/crud/apps.ts
  services/workspaces/src/services/workspaces/crud/appInstances.ts
  specifications/swagger.yml
Due: npm_install, workspaces_build_docker, workspaces_deploy

Added specific appInstance GET route
  packages/types/index.d.ts
  services/workspaces/src/api/routes/appInstances.ts
  services/workspaces/src/services/workspaces/crud/appInstances.ts
  specifications/swagger.yml
Due: npm_install, workspaces_build_docker, workspaces_deploy

Added 2 appInstance config specific get/patch routes
  packages/types/index.d.ts
  services/workspaces/src/api/routes/appInstances.ts
  specifications/swagger.yml
Due: npm_install, workspaces_build_docker, workspaces_deploy

Made listItems black like UI design
  packages/design-system/lib/Components/ListItem.tsx
Due: npm_install

collapse supports a light props
  packages/design-system/lib/Components/Collapse.stories.tsx
  packages/design-system/lib/Components/Collapse.tsx
  packages/design-system/styles/prismeai-theme.less
Due: npm_install

AppsSidebar config
  services/console/views/AppsSidebar.tsx
Due: console_test, console_build_docker, console_deploy

Workspace dropdown can publish a workspace as app
  packages/design-system/lib/Components/Collapse.tsx
  packages/sdk/lib/api.ts
  services/console/components/HeaderWorkspace.tsx
  services/console/components/WorkspacesProvider/Provider.tsx
  services/console/components/WorkspacesProvider/context.ts
  services/console/public/locales/en/common.json
  services/console/public/locales/en/workspaces.json
  services/console/public/locales/es/common.json
  services/console/public/locales/es/workspaces.json
  services/console/public/locales/fr/common.json
  services/console/public/locales/fr/workspaces.json
  services/console/utils/objects.test.ts
  services/console/utils/objects.ts
  services/console/views/AppsSidebar.tsx
  services/console/views/AppsSidebarItem.tsx
  services/console/views/AppsStore.tsx
Due: npm_install, console_test, console_build_docker, console_deploy

Apps Sidebar use fetched appInstances instead of imports key
  packages/sdk/lib/api.ts
  services/console/components/AppsProvider/Provider.tsx
  services/console/components/AppsProvider/context.ts
  services/console/views/AppsSidebar.tsx
  services/console/views/AppsSidebarItem.tsx
Due: npm_install, console_test, console_build_docker, console_deploy

Center app store apps list
  services/console/views/AppsStore.tsx
Due: console_test, console_build_docker, console_deploy

Fixed tests, import modal from design-system instead of antd
  packages/design-system/lib/index.ts
  services/console/__mocks__/@prisme.ai/design-system.js
  services/console/components/EventsViewer/__snapshots__/EventsViewer.test.tsx.snap
  services/console/components/HeaderWorkspace.tsx
  services/console/components/__snapshots__/Loading.test.tsx.snap
  services/console/components/__snapshots__/Panel.test.tsx.snap
  services/console/layouts/WorkspaceLayout/__snapshots__/WorkspaceLayout.test.tsx.snap
  services/console/layouts/__snapshots__/SidePanel.test.tsx.snap
  services/console/views/AppsSidebar.test.tsx
  services/console/views/AppsSidebar.tsx
  services/console/views/AppsStore.tsx
  services/console/views/Automation.tsx
  services/console/views/Page.tsx
  services/console/views/WorkspaceSource.tsx
  services/console/views/__snapshots__/AppsSidebar.test.tsx.snap
  services/console/views/__snapshots__/Workspace.test.tsx.snap
Due: npm_install, console_test, console_build_docker, console_deploy

app sidebar update on app install, fix multiple instance of same app slug
  services/console/components/AppsProvider/Provider.tsx
  services/console/components/WorkspacesProvider/Provider.tsx
  services/console/views/AppsSidebar.tsx
  services/console/views/PagesSidebar.tsx
Due: console_test, console_build_docker, console_deploy

2 small fixes
  services/runtime/src/services/runtime/automations/instructions/fetch.ts
  services/runtime/src/services/runtime/automations/instructions/index.ts
Due: runtime_build_docker, runtime_deploy

Share
  packages/permissions/lib/api/initCollaboratorRoutes.ts
  services/console/components/HeaderWorkspace.tsx
  services/console/views/Page.tsx
  services/workspaces/src/permissions/index.ts
Due: npm_install, console_test, console_build_docker, console_deploy, workspaces_build_docker, workspaces_deploy

Include basic details of available widgets & automations side GET /v2/workspaces/{workspaceId}/apps
  services/workspaces/src/services/apps/crud/apps.ts
  specifications/swagger.yml
Due: workspaces_build_docker, workspaces_deploy

Inject design-system
  package-lock.json
  package.json
  packages/design-system/lib/Components/Collapse.tsx
  packages/design-system/lib/Components/MenuTab.tsx
  packages/design-system/lib/Components/Popover.tsx
  services/console/components/Block.tsx
  services/console/components/PageBuilder/Widgets.tsx
Due: npm_install, console_test, console_build_docker, console_deploy

Inject design-system and sdk
  services/console/components/Block.tsx
Due: console_test, console_build_docker, console_deploy

Pages provider
  package-lock.json
  packages/sdk/lib/api.ts
  services/console/components/PagesProvider/PagesProvider.tsx
  services/console/components/PagesProvider/context.ts
  services/console/components/PagesProvider/index.ts
  services/console/components/PermissionsProvider/Provider.tsx
  services/console/components/WorkspacesProvider/Provider.tsx
  services/console/components/WorkspacesProvider/context.ts
  services/console/layouts/WorkspaceLayout/WorkspaceLayout.tsx
  services/console/pages/_app.tsx
  services/console/views/Page.tsx
  services/console/views/PagesSidebar.tsx
Due: npm_install, console_test, console_build_docker, console_deploy

Turn app ids into unique & human readable slugs
  services/workspaces/src/services/apps/crud/apps.ts
Due: workspaces_build_docker, workspaces_deploy

Include basic details of available widgets & automations side GET /v2/workspaces/{workspaceId}/apps
  services/workspaces/src/services/apps/crud/apps.ts
Due: workspaces_build_docker, workspaces_deploy

Fix save page
  packages/sdk/lib/api.ts
  packages/sdk/lib/fetcher.ts
  services/console/components/PageBuilder/Widget.tsx
  services/console/public/locales/fr/workspaces.json
Due: npm_install, console_test, console_build_docker, console_deploy

Fix giving attributes to block
  services/console/components/Block.tsx
  services/console/components/PageBuilder/Widget.tsx
  services/console/components/PageBuilder/Widgets.tsx
  services/console/utils/api.ts
Due: console_test, console_build_docker, console_deploy

Fix page persistance (broken since last rebase) + add missing url field to widgets inside GET appInstances
  packages/types/index.d.ts
  services/workspaces/src/permissions/index.ts
  services/workspaces/src/services/apps/crud/apps.ts
  specifications/swagger.yml
Due: npm_install, workspaces_build_docker, workspaces_deploy

Get imports widgets
  packages/sdk/lib/api.ts
  services/console/components/AppsProvider/context.ts
  services/console/components/PageBuilder/PageBuilder.tsx
  services/console/components/PageBuilder/Widgets.tsx
  services/console/layouts/WorkspaceLayout/WorkspaceLayout.tsx
  services/console/views/PagesSidebar.tsx
Due: npm_install, console_test, console_build_docker, console_deploy

WIP
  services/console/components/PageBuilder/PageBuilder.tsx
  services/console/components/PageBuilder/Widgets.tsx
  services/console/components/PageBuilder/context.ts
Due: console_test, console_build_docker, console_deploy

Display widgets from imported apps
  packages/sdk/lib/api.ts
  services/console/components/PageBuilder/PageBuilder.tsx
  services/console/components/PageBuilder/Panel/WidgetForm.tsx
  services/console/components/PageBuilder/Widgets.tsx
  services/console/components/PageBuilder/context.ts
Due: npm_install, console_test, console_build_docker, console_deploy

f
  services/console/components/Block.tsx
  services/console/components/PageBuilder/PageBuilder.tsx
  services/console/components/PageBuilder/Panel/WidgetForm.tsx
  services/console/components/PageBuilder/Widget.tsx
  services/console/components/PageBuilder/Widgets.tsx
  services/console/components/PageBuilder/context.ts
Due: console_test, console_build_docker, console_deploy

Update code after rebase
  services/console/components/AppsProvider/context.ts
  services/console/components/PageBuilder/PageBuilder.tsx
  services/console/layouts/WorkspaceLayout/WorkspaceLayout.tsx
Due: console_test, console_build_docker, console_deploy

Display app setup widget
  packages/design-system/lib/Components/Collapse.tsx
  services/console/views/AppsSidebarItem.tsx
Due: npm_install, console_test, console_build_docker, console_deploy

Display apps setup widgets in full width
  services/console/layouts/WorkspaceLayout/WorkspaceLayout.tsx
  services/console/layouts/WorkspaceLayout/context.ts
  services/console/views/AppsSidebar.tsx
  services/console/views/AppsSidebarItem.tsx
  services/console/views/Workspace.tsx
Due: console_test, console_build_docker, console_deploy

Fix tests
  services/console/components/AppsProvider/Provider.test.tsx
Due: console_test, console_build_docker, console_deploy

Path conditions:
  npm_install: any of: package-lock.json, packages/**/*
  console_test: any of: services/console/**/*
  console_build_docker: any of: services/console/**/*
  console_deploy: any of: services/console/**/*
  workspaces_build_docker: any of: services/workspaces/**/*
  workspaces_deploy: any of: services/workspaces/**/*
  runtime_build_docker: any of: services/runtime/**/*
  runtime_deploy: any of: services/runtime/**/*
  api-gateway_build_docker: any of: services/api-gateway/**/*
  api-gateway_deploy: any of: services/api-gateway/**/*
  events_test: any of: services/events/**/*
  events_build_docker: any of: services/events/**/*
  events_deploy: any of: services/events/**/*
