Repository HP319193/prisme.ai: changes, and which GitLab CI jobs are due for each by the changed paths.
All: npm_install, console_test, console_build_docker, console_deploy, workspaces_build_docker, workspaces_deploy, runtime_build_docker, runtime_deploy, api-gateway_build_docker, api-gateway_deploy, events_test, events_build_docker, events_deploy

npm_install:
  stage: dependencies
  image: docker:stable
  services:
  - docker:stable-dind
  script:
  ...

console_test:
  interruptible: true
  stage: test
  script:
  - "if ! [[ -d node_modules/ ]] ; then\n  BUILD_PACKAGES=0 npm ci\nfi\n"
  - npm run build:packages
  - npm test --prefix $DIRECTORY
  coverage: /All files\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)/
  artifacts:
    paths:
    - coverage
  cache:
  ...

console_build_docker:
  interruptible: true
  stage: build_docker
  image: docker:stable
  services:
  - docker:stable-dind
  script:
  ...

console_deploy:
  stage: deploy
  tags:
  - internal-runner
  image:
    name: registry.gitlab.com/gogowego-devsecops/dev/prisme.ai-infra:latest
    entrypoint:
    - /bin/sh
    - -c
  script:
  ...

workspaces_build_docker:
  interruptible: true
  stage: build_docker
  image: docker:stable
  services:
  - docker:stable-dind
  script:
  ...

workspaces_deploy:
  stage: deploy
  tags:
  - internal-runner
  image:
    name: registry.gitlab.com/gogowego-devsecops/dev/prisme.ai-infra:latest
    entrypoint:
    - /bin/sh
    - -c
  script:
  ...

runtime_build_docker:
  interruptible: true
  stage: build_docker
  image: docker:stable
  services:
  - docker:stable-dind
  script:
  ...

runtime_deploy:
  stage: deploy
  tags:
  - internal-runner
  image:
    name: registry.gitlab.com/gogowego-devsecops/dev/prisme.ai-infra:latest
    entrypoint:
    - /bin/sh
    - -c
  script:
  ...

api-gateway_build_docker:
  interruptible: true
  stage: build_docker
  image: docker:stable
  services:
  - docker:stable-dind
  script:
  ...

api-gateway_deploy:
  stage: deploy
  tags:
  - internal-runner
  image:
    name: registry.gitlab.com/gogowego-devsecops/dev/prisme.ai-infra:latest
    entrypoint:
    - /bin/sh
    - -c
  script:
  ...

events_test:
  interruptible: true
  stage: test
  script:
  - "if ! [[ -d node_modules/ ]] ; then\n  BUILD_PACKAGES=0 npm ci\nfi\n"
  - npm run build:packages
  - npm test --prefix $DIRECTORY
  coverage: /All files\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)/
  artifacts:
    paths:
    - coverage
  cache:
  ...

events_build_docker:
  interruptible: true
  stage: build_docker
  image: docker:stable
  services:
  - docker:stable-dind
  script:
  ...

events_deploy:
  stage: deploy
  tags:
  - internal-runner
  image:
    name: registry.gitlab.com/gogowego-devsecops/dev/prisme.ai-infra:latest
    entrypoint:
    - /bin/sh
    - -c
  script:
  ...

Fixed primary "plain" button
  packages/design-system/lib/Components/Button.stories.tsx
  packages/design-system/styles/prismeai-theme.less
Due: npm_install

Adapt button type to variant
  packages/design-system/lib/Components/Button.stories.tsx
  packages/design-system/lib/Groups/GraphSidePanel.tsx
  packages/design-system/lib/Groups/LoginForm.tsx
Due: npm_install

Merge components from feature/design-flo
  package-lock.json
  packages/design-system/lib/Components/Button.stories.tsx
  packages/design-system/lib/Components/Input.stories.tsx
  packages/design-system/lib/Components/Input.tsx
  packages/design-system/lib/Components/Layout.stories.tsx
  packages/design-system/lib/Components/ListItem.stories.tsx
  packages/design-system/lib/Components/ListItem.tsx
  packages/design-system/lib/Components/SearchInput.tsx
  packages/design-system/lib/Components/Text.stories.tsx
  packages/design-system/lib/Components/Text.tsx
  packages/design-system/lib/Groups/Header.stories.tsx
  packages/design-system/lib/Groups/LoginForm.stories.tsx
  packages/design-system/lib/Groups/LoginForm.tsx
  packages/design-system/lib/Groups/SidePanel.stories.tsx
  packages/design-system/lib/Groups/SidePanel.tsx
  packages/design-system/lib/Groups/SidePanelAutomations.stories.tsx
  packages/design-system/lib/Groups/SidePanelAutomations.tsx
  packages/design-system/lib/Pages/WorkspaceHome.tsx
  packages/design-system/lib/index.ts
  packages/design-system/tailwind.config.cjs
Due: npm_install

Added InstructionsList to add instructions to graph
  packages/design-system/lib/Components/ListItem.tsx
  packages/design-system/lib/Groups/InstructionsList.stories.tsx
  packages/design-system/lib/Groups/InstructionsList.tsx
  packages/design-system/lib/Groups/SidePanel.stories.tsx
  packages/design-system/lib/Groups/SidePanelAutomations.tsx
Due: npm_install

Added LoginPage component
  packages/design-system/lib/Groups/LoginForm.tsx
  packages/design-system/lib/Pages/LoginPage.stories.tsx
  packages/design-system/lib/Pages/LoginPage.tsx
  packages/design-system/styles/prismeai-theme.less
  packages/design-system/tailwind.config.cjs
Due: npm_install

Renamed sidepanelautomations to automnationsList
  packages/design-system/lib/Groups/AutomationsList.stories.tsx
  packages/design-system/lib/Groups/AutomationsList.tsx
  packages/design-system/lib/Groups/SidePanel.stories.tsx
  packages/design-system/lib/Pages/WorkspaceHome.tsx
  packages/design-system/lib/index.ts
Due: npm_install

Added DualHeader component
  packages/design-system/lib/Groups/DualHeader.stories.tsx
  packages/design-system/lib/Groups/DualHeader.tsx
  packages/design-system/lib/index.ts
Due: npm_install

Updated Header and layout props
  packages/design-system/lib/Components/Layout.tsx
  packages/design-system/lib/Groups/Header.stories.tsx
  packages/design-system/lib/Groups/Header.tsx
Due: npm_install

Updated feed bg color
  packages/design-system/lib/Components/Feed.tsx
Due: npm_install

Added SVG loader for building package/design-system
  package-lock.json
  package.json
  packages/design-system/package.json
  packages/design-system/rollup.config.js
Due: npm_install

fix Layout story crash
  packages/design-system/lib/Components/Layout.stories.tsx
Due: npm_install

Fix button variant story
  packages/design-system/lib/Components/Button.stories.tsx
Due: npm_install

Workspace side panel
  packages/design-system/lib/Components/MenuTab.tsx
  services/console/layouts/Main.tsx
  services/console/layouts/SidePanel.test.tsx
  services/console/layouts/SidePanel.tsx
  services/console/layouts/WorkspaceLayout/WorkspaceLayout.tsx
  services/console/layouts/WorkspaceLayout/__snapshots__/WorkspaceLayout.test.tsx.snap
  services/console/layouts/__snapshots__/Main.test.tsx.snap
  services/console/layouts/__snapshots__/SidePanel.test.tsx.snap
  services/console/views/AutomationsSidebar.tsx
  services/console/views/Workspace.tsx
  services/console/views/__snapshots__/Workspace.test.tsx.snap
  services/console/views/__snapshots__/Workspaces.test.tsx.snap
Due: npm_install, console_test, console_build_docker, console_deploy

Graph sidebar
  packages/design-system/lib/Components/Layout.tsx
  packages/design-system/lib/Components/ListItem.tsx
  packages/design-system/lib/Components/SearchInput.tsx
  packages/design-system/lib/Components/Text.tsx
  services/console/components/AutomationBuilder/AutomationBuilder.tsx
  services/console/components/AutomationBuilder/Panel/InstructionForm.tsx
  services/console/components/AutomationBuilder/Panel/InstructionSelection.tsx
  services/console/components/AutomationBuilder/Panel/Panel.tsx
  services/console/components/AutomationBuilder/context.ts
  services/console/views/Automation.tsx
Due: npm_install, console_test, console_build_docker, console_deploy

Added build design system command to root package
  package.json
Due: none

Updated loader
  services/console/components/Loading.tsx
Due: console_test, console_build_docker, console_deploy

Console use designed Feed
  packages/design-system/lib/Components/Collapse.tsx
  packages/design-system/lib/Groups/WorkspaceFeed.tsx
  services/console/components/EventsViewer/EventsViewer.tsx
Due: npm_install, console_test, console_build_docker, console_deploy

Login / Signup pages styled
  services/console/components/SignHeader.tsx
  services/console/layouts/Field.tsx
  services/console/public/locales/en/sign.json
  services/console/public/locales/es/sign.json
  services/console/public/locales/fr/sign.json
  services/console/styles/globals.css
  services/console/views/Sign/In.tsx
  services/console/views/Sign/Up.tsx
Due: console_test, console_build_docker, console_deploy

Removed shadow from buttons
  packages/design-system/styles/prismeai-theme.less
Due: npm_install

Updated eventDetail datatable
  packages/design-system/lib/index.ts
  services/console/components/EventsViewer/EventDetails.tsx
Due: npm_install, console_test, console_build_docker, console_deploy

Automation builder sidebar
  packages/design-system/lib/Groups/SidePanel.tsx
  services/console/components/AutomationBuilder/AutomationBuilder.tsx
  services/console/components/AutomationBuilder/Block.tsx
  services/console/components/AutomationBuilder/EmptyBlock.tsx
  services/console/components/AutomationBuilder/Panel/InstructionForm.tsx
  services/console/components/AutomationBuilder/Panel/InstructionSelection.tsx
  services/console/components/AutomationBuilder/Panel/Panel.tsx
  services/console/components/AutomationBuilder/Panel/TriggerForm.tsx
  services/console/components/AutomationBuilder/Panel/__snapshots__/InstructionForm.test.tsx.snap
  services/console/components/AutomationBuilder/Panel/__snapshots__/InstructionSelection.test.tsx.snap
  services/console/components/AutomationBuilder/Panel/__snapshots__/TriggerForm.test.tsx.snap
  services/console/components/AutomationBuilder/__snapshots__/Block.test.tsx.snap
  services/console/components/AutomationBuilder/__snapshots__/EmptyBlock.test.tsx.snap
  services/console/components/AutomationBuilder/__snapshots__/Repeat.test.tsx.snap
  services/console/components/EventsViewer/EventsViewer.tsx
  services/console/components/EventsViewer/__snapshots__/EventsViewer.test.tsx.snap
  services/console/layouts/Main.tsx
  services/console/layouts/WorkspaceLayout/__snapshots__/WorkspaceLayout.test.tsx.snap
  services/console/layouts/__snapshots__/Main.test.tsx.snap
  services/console/views/Automation.tsx
  services/console/views/Home.tsx
  services/console/views/Sign/__snapshots__/In.test.tsx.snap
  services/console/views/WorkspaceSource.tsx
  services/console/views/__snapshots__/Home.test.tsx.snap
  services/console/views/__snapshots__/WorkspaceSource.test.tsx.snap
  services/console/views/__snapshots__/Workspaces.test.tsx.snap
Due: npm_install, console_test, console_build_docker, console_deploy

Updated feed and collapseItem
  packages/design-system/lib/Components/Collapse.tsx
  packages/design-system/lib/Components/Feed.tsx
  services/console/components/EventsViewer/EventsViewer.tsx
  services/console/views/Workspace.tsx
Due: npm_install, console_test, console_build_docker, console_deploy

Fix button type
  services/console/views/Sign/In.tsx
Due: console_test, console_build_docker, console_deploy

Connected header and automations sidebar
  packages/design-system/lib/Components/Menu.tsx
  packages/design-system/lib/Pages/WorkspaceHome.tsx
  services/console/components/Header.tsx
  services/console/components/HeaderWorkspace.tsx
  services/console/layouts/Main.tsx
  services/console/layouts/WorkspaceLayout/WorkspaceLayout.tsx
  services/console/layouts/WorkspaceLayout/__snapshots__/WorkspaceLayout.test.tsx.snap
  services/console/layouts/__snapshots__/Main.test.tsx.snap
  services/console/pages/workspaces/[id]/automations/[automationId]/index.tsx
  services/console/pages/workspaces/[id]/index.ts
  services/console/pages/workspaces/[id]/source.tsx
  services/console/pages/workspaces/index.ts
  services/console/public/locales/en/user.json
  services/console/public/locales/en/workspaces.json
  services/console/public/locales/es/user.json
  services/console/public/locales/es/workspaces.json
  services/console/public/locales/fr/sign.json
  services/console/public/locales/fr/user.json
  services/console/public/locales/fr/workspaces.json
  services/console/views/Workspace.tsx
  services/console/views/Workspaces.tsx
  services/console/views/__snapshots__/Workspace.test.tsx.snap
  services/console/views/__snapshots__/Workspaces.test.tsx.snap
Due: npm_install, console_test, console_build_docker, console_deploy

Integrate Automations sidebar
  package-lock.json
  packages/design-system/lib/Components/SearchInput.tsx
  services/console/utils/useLocalizedText.ts
  services/console/views/AutomationsSidebar.tsx
Due: npm_install, console_test, console_build_docker, console_deploy

Automation header
  packages/design-system/lib/Components/Layout.tsx
  packages/design-system/lib/Components/PageHeader.tsx
  services/console/views/Automation.tsx
Due: npm_install, console_test, console_build_docker, console_deploy

Graph
  services/console/components/AutomationBuilder/AutomationBuilder.tsx
  services/console/components/AutomationBuilder/Block.tsx
  services/console/components/AutomationBuilder/ConditionEdge.tsx
  services/console/components/AutomationBuilder/EmptyBlock.tsx
  services/console/tailwind.config.js
Due: console_test, console_build_docker, console_deploy

Fix tailwind on console
  package-lock.json
  package.json
  services/console/.babelrc
  services/console/layouts/SidePanel.tsx
  services/console/package.json
  services/console/postcss.config.js
Due: npm_install, console_test, console_build_docker, console_deploy

Fixed css from tailwind in console
  package-lock.json
  packages/design-system/styles/prismeai-theme.less
  services/console/package.json
  services/console/pages/_app.tsx
  services/console/styles/tailwind-console.css
  services/console/tailwind.config.js
Due: npm_install, console_test, console_build_docker, console_deploy

Workspaces Home added
  packages/design-system/lib/Pages/WorkspaceHome.tsx
  services/console/views/Workspaces.tsx
Due: npm_install, console_test, console_build_docker, console_deploy

Added login Page, tweaked inputs
  packages/design-system/lib/Components/Input.tsx
  packages/design-system/lib/Pages/LoginPage.stories.tsx
  packages/design-system/lib/Pages/LoginPage.tsx
  packages/design-system/lib/index.ts
  services/console/layouts/Field.tsx
  services/console/styles/globals.css
  services/console/tailwind.config.js
  services/console/views/Sign/In.tsx
  services/console/views/Sign/LoginPage.tsx
Due: npm_install, console_test, console_build_docker, console_deploy

Fix double -
  services/console/components/AutomationBuilder/Block.tsx
  services/console/components/AutomationBuilder/ConditionEdge.tsx
  services/console/components/AutomationBuilder/InstructionEdge.tsx
  services/console/components/AutomationBuilder/Panel/InstructionSelection.tsx
  services/console/components/AutomationBuilder/Panel/TriggerForm.tsx
  services/console/components/AutomationBuilder/Panel/__snapshots__/InstructionForm.test.tsx.snap
  services/console/components/AutomationBuilder/Panel/__snapshots__/InstructionSelection.test.tsx.snap
  services/console/components/AutomationBuilder/Panel/__snapshots__/TriggerForm.test.tsx.snap
  services/console/components/AutomationBuilder/__snapshots__/Block.test.tsx.snap
  services/console/components/AutomationBuilder/__snapshots__/ConditionEdge.test.tsx.snap
  services/console/components/AutomationBuilder/__snapshots__/InstructionEdge.test.tsx.snap
  services/console/components/AutomationBuilder/__snapshots__/Repeat.test.tsx.snap
  services/console/components/EventsViewer/__snapshots__/EventsViewer.test.tsx.snap
  services/console/components/Loading.tsx
  services/console/components/SchemaForm/Field.tsx
  services/console/components/SchemaForm/__snapshots__/Form.test.tsx.snap
  services/console/components/__snapshots__/Loading.test.tsx.snap
  services/console/layouts/CardsContainer.tsx
  services/console/layouts/FullScreen.tsx
  services/console/layouts/Main.tsx
  services/console/layouts/WorkspaceLayout/WorkspaceLayout.tsx
  services/console/layouts/WorkspaceLayout/__snapshots__/WorkspaceLayout.test.tsx.snap
  services/console/layouts/__snapshots__/CardsContainer.test.tsx.snap
  services/console/layouts/__snapshots__/FullScreen.test.tsx.snap
  services/console/layouts/__snapshots__/Main.test.tsx.snap
  services/console/views/Automation.tsx
  services/console/views/Home.tsx
  services/console/views/Sign/__snapshots__/In.test.tsx.snap
  services/console/views/__snapshots__/Automation.test.tsx.snap
  services/console/views/__snapshots__/AutomationSidebar.test.tsx.snap
  services/console/views/__snapshots__/Home.test.tsx.snap
  services/console/views/__snapshots__/Workspace.test.tsx.snap
  services/console/views/__snapshots__/Workspaces.test.tsx.snap
Due: console_test, console_build_docker, console_deploy

Updated some sidePanel style
  packages/design-system/lib/Components/ListItem.tsx
  packages/design-system/lib/Groups/SidePanel.tsx
Due: npm_install

Removed prime-react button from Workspaces
  services/console/views/Workspaces.tsx
Due: console_test, console_build_docker, console_deploy

Fix tests
  jest.config.js
  services/console/components/AutomationBuilder/AutomationBuilder.test.tsx
  services/console/components/AutomationBuilder/Panel/InstructionForm.test.tsx
  services/console/components/AutomationBuilder/Panel/InstructionSelection.test.tsx
  services/console/components/AutomationBuilder/Panel/InstructionSelection.tsx
  services/console/components/AutomationBuilder/Panel/Panel.test.tsx
  services/console/components/AutomationBuilder/Panel/__snapshots__/ConditionForm.test.tsx.snap
  services/console/components/AutomationBuilder/Panel/__snapshots__/InstructionForm.test.tsx.snap
  services/console/components/AutomationBuilder/Panel/__snapshots__/InstructionSelection.test.tsx.snap
  services/console/components/AutomationBuilder/Panel/__snapshots__/InstructionValue.test.tsx.snap
  services/console/components/AutomationBuilder/Panel/__snapshots__/Panel.test.tsx.snap
  services/console/components/AutomationBuilder/Panel/__snapshots__/TriggerForm.test.tsx.snap
  services/console/components/AutomationBuilder/__snapshots__/AutomationBuilder.test.tsx.snap
  services/console/components/AutomationBuilder/__snapshots__/Block.test.tsx.snap
  services/console/components/AutomationBuilder/__snapshots__/ConditionEdge.test.tsx.snap
  services/console/components/AutomationBuilder/__snapshots__/EmptyBlock.test.tsx.snap
  services/console/components/AutomationBuilder/__snapshots__/Repeat.test.tsx.snap
  services/console/components/SchemaForm/__snapshots__/Form.test.tsx.snap
  services/console/jest.config.js
  services/console/layouts/__snapshots__/Field.test.tsx.snap
  services/events/jest.config.js
  services/runtime/jest.config.js
  services/template/jest.config.js
  services/workspaces/jest.config.js
Due: console_test, console_build_docker, console_deploy, workspaces_build_docker, workspaces_deploy, runtime_build_docker, runtime_deploy, events_test, events_build_docker, events_deploy

Automation title is editable
  packages/design-system/lib/Components/EditableTitle.stories.tsx
  packages/design-system/lib/Components/EditableTitle.tsx
  packages/design-system/lib/Components/PageHeader.stories.tsx
  packages/design-system/lib/Components/PageHeader.tsx
  packages/design-system/lib/Components/TagEditable.stories.tsx
  packages/design-system/lib/index.ts
  services/console/components/EditableTitle.test.tsx
  services/console/components/EditableTitle.tsx
  services/console/views/Automation.tsx
Due: npm_install, console_test, console_build_docker, console_deploy

Replace icons
  services/console/__mocks__/@ant-design/icons.js
  services/console/components/AutomationBuilder/Trigger.tsx
  services/console/views/Sign/In.test.tsx
  services/console/views/Sign/In.tsx
  services/console/views/Sign/Up.tsx
  services/console/views/Sign/__snapshots__/In.test.tsx.snap
Due: console_test, console_build_docker, console_deploy

Output in graph
  packages/design-system/lib/Components/Input.tsx
  services/console/components/AutomationBuilder/AutomationBuilder.tsx
  services/console/components/AutomationBuilder/Block.test.tsx
  services/console/components/AutomationBuilder/Block.tsx
  services/console/components/AutomationBuilder/InstructionEdge.tsx
  services/console/components/AutomationBuilder/OutputBlock.test.tsx
  services/console/components/AutomationBuilder/OutputBlock.tsx
  services/console/components/AutomationBuilder/Panel/OutputForm.test.tsx
  services/console/components/AutomationBuilder/Panel/OutputForm.tsx
  services/console/components/AutomationBuilder/Panel/__snapshots__/OutputForm.test.tsx.snap
  services/console/components/AutomationBuilder/__snapshots__/Block.test.tsx.snap
  services/console/components/AutomationBuilder/__snapshots__/InstructionEdge.test.tsx.snap
  services/console/components/AutomationBuilder/__snapshots__/OutputBlock.test.tsx.snap
  services/console/components/AutomationBuilder/__snapshots__/Repeat.test.tsx.snap
  services/console/components/AutomationBuilder/__snapshots__/flow.test.ts.snap
  services/console/components/AutomationBuilder/context.ts
  services/console/components/AutomationBuilder/flow.ts
  services/console/pages/_app.tsx
  services/console/public/locales/fr/workspaces.json
Due: npm_install, console_test, console_build_docker, console_deploy

Fix next/image case sensitive import
  services/console/components/SignHeader.tsx
  services/console/views/Sign/In.test.tsx
  services/console/views/Sign/Up.tsx
Due: console_test, console_build_docker, console_deploy

Path conditions:
  npm_install: any of: package-lock.json, packages/**/*
  console_test: any of: services/console/**/*
  console_build_docker: any of: services/console/**/*
  console_deploy: any of: services/console/**/*
  workspaces_build_docker: any of: services/workspaces/**/*
  workspaces_deploy: any of: services/workspaces/**/*
  runtime_build_docker: any of: services/runtime/**/*
  runtime_deploy: any of: services/runtime/**/*
  api-gateway_build_docker: any of: services/api-gateway/**/*
  api-gateway_deploy: any of: services/api-gateway/**/*
  events_test: any of: services/events/**/*
  events_build_docker: any of: services/events/**/*
  events_deploy: any of: services/events/**/*
