Repository HP319193/prisme.ai: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend_npm_install, console_check, console_test, console_build_docker, console_deploy, workspaces_test, workspaces_build_docker, workspaces_deploy, runtime_test, runtime_build_docker, runtime_deploy, api-gateway_build_docker, api-gateway_deploy, events_test, events_build_docker, events_deploy, docs_build_static, docs_deploy

Path conditions:
  backend_npm_install: any of: services/api-gateway/package.json, services/runtime/package.json, services/workspaces/package.json, services/events/package.json, packages/**/*
  console_check: any of: services/console/**/*
  console_test: any of: services/console/**/*
  console_build_docker: any of: services/console/**/*
  console_deploy: any of: services/console/**/*
  workspaces_test: any of: services/workspaces/*
  workspaces_build_docker: any of: services/workspaces/**/*
  workspaces_deploy: any of: services/workspaces/**/*
  runtime_test: any of: services/runtime/**/*
  runtime_build_docker: any of: services/runtime/**/*
  runtime_deploy: any of: services/runtime/**/*
  api-gateway_build_docker: any of: services/api-gateway/**/*
  api-gateway_deploy: any of: services/api-gateway/**/*
  events_test: any of: services/events/**/*
  events_build_docker: any of: services/events/**/*
  events_deploy: any of: services/events/**/*
  docs_build_static: any of: docs/**/*, specifications/*
  docs_deploy: any of: docs/**/*, specifications/*

Fix gateway config validator
  services/api-gateway/src/config/gatewayConfigValidator/index.ts
  specifications/swagger.yml
Due: api-gateway_build_docker, api-gateway_deploy, docs_build_static, docs_deploy

Fix runtime crash when executing a workspace with an unknown app
  services/runtime/src/services/workspaces/workspace.ts
Due: runtime_test, runtime_build_docker, runtime_deploy

Fix multipart/form-data fetch
  services/runtime/src/services/runtime/automations/instructions/fetch.ts
Due: runtime_test, runtime_build_docker, runtime_deploy

Do not set anonymous user ids as their 'user.email' variable anymore as this is not true & breaks email based authentication
  services/api-gateway/src/routes/identity.ts
  specifications/swagger.yml
Due: api-gateway_build_docker, api-gateway_deploy, docs_build_static, docs_deploy

Change card flex from style to tailwind custom css
  packages/blocks/lib/Blocks/Cards.tsx
  packages/blocks/lib/tw.ts
Due: backend_npm_install

Display app/workspace icon in events feed
  packages/sdk/lib/api.ts
  packages/types/index.d.ts
  services/console/components/EventsViewer/EventsViewer.tsx
  services/console/components/EventsViewer/SectionContent.tsx
  services/console/components/SourceDetails.tsx
Due: backend_npm_install, console_check, console_test, console_build_docker, console_deploy

Update gateway config with new usage API + disable by default events bulk insert as they induce too much overhead (env configurable)
  docs/docs/en/getstarted/configuration.md
  packages/types/index.d.ts
  services/api-gateway/gateway.config.yml
  services/events/config/storage.ts
  services/events/src/services/events/store/ElasticsearchStore.ts
Due: backend_npm_install, api-gateway_build_docker, api-gateway_deploy, events_test, events_build_docker, events_deploy, docs_build_static, docs_deploy

:bug: Prevent crashes on search by using includes prototype rather than match prototype.
  package-lock.json
  packages/design-system/lib/Components/CustomSelect.tsx
  services/console/components/AutomationBuilder/Panel/InstructionSelection.tsx
  services/console/components/PageBuilder/Panel/PageNewBlockForm.tsx
  services/console/views/AppsStore.tsx
Due: backend_npm_install, console_check, console_test, console_build_docker, console_deploy

account management UI
  packages/design-system/lib/Components/Button.tsx
  packages/design-system/styles/prismeai-theme.less
  packages/sdk/lib/api.ts
  services/console/components/Header.tsx
  services/console/components/Share/ShareWorkspace.tsx
  services/console/components/WorkspaceProvider/context.ts
  services/console/components/WorkspacesUsage/Provider.tsx
  services/console/components/WorkspacesUsage/context.ts
  services/console/components/WorkspacesUsage/index.ts
  services/console/icons/avatar.svgr
  services/console/icons/lightning.svg
  services/console/icons/stat.svg
  services/console/icons/workspace-simple.svgr
  services/console/pages/_app.tsx
  services/console/pages/account/index.ts
  services/console/pages/account/workspaces/[workspaceId].ts
  services/console/public/locales/en/user.json
  services/console/public/locales/en/workspaces.json
  services/console/public/locales/es/user.json
  services/console/public/locales/fr/user.json
  services/console/public/locales/fr/workspaces.json
  services/console/tailwind.config.js
  services/console/views/Account/AccountLayout.tsx
  services/console/views/Account/MyAccount.tsx
  services/console/views/Account/WorkspaceManagement.tsx
  specifications/swagger.yml
Due: backend_npm_install, console_check, console_test, console_build_docker, console_deploy, docs_build_static, docs_deploy

fix crash on logout with workspaceShare open
  services/console/components/Share/ShareWorkspacePopover.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Added page title to apps/automation/page
  services/console/views/Apps.tsx
  services/console/views/Automation.tsx
  services/console/views/Page.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Add link to sidebar tree view
  services/console/layouts/WorkspaceLayout/WorkspaceLayout.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Humanize events types
  services/console/components/EventsViewer/EventDetails.tsx
  services/console/components/EventsViewer/EventsViewer.test.tsx
  services/console/components/EventsViewer/EventsViewer.tsx
  services/console/components/EventsViewer/Labels.tsx
  services/console/components/EventsViewer/SectionContent.tsx
  services/console/components/WorkspaceProvider/Provider.tsx
  services/console/public/fonts/Montserrat/static/Montserrat-Black.ttf
  services/console/public/fonts/Montserrat/static/Montserrat-BlackItalic.ttf
  services/console/public/fonts/Montserrat/static/Montserrat-Bold.ttf
  services/console/public/fonts/Montserrat/static/Montserrat-BoldItalic.ttf
  services/console/public/fonts/Montserrat/static/Montserrat-ExtraBold.ttf
  services/console/public/fonts/Montserrat/static/Montserrat-ExtraBoldItalic.ttf
  services/console/public/fonts/Montserrat/static/Montserrat-ExtraLight.ttf
  services/console/public/fonts/Montserrat/static/Montserrat-ExtraLightItalic.ttf
  services/console/public/fonts/Montserrat/static/Montserrat-Italic.ttf
  services/console/public/fonts/Montserrat/static/Montserrat-Light.ttf
  services/console/public/fonts/Montserrat/static/Montserrat-LightItalic.ttf
  services/console/public/fonts/Montserrat/static/Montserrat-Medium.ttf
  services/console/public/fonts/Montserrat/static/Montserrat-MediumItalic.ttf
  services/console/public/fonts/Montserrat/static/Montserrat-Regular.ttf
  services/console/public/fonts/Montserrat/static/Montserrat-SemiBold.ttf
  services/console/public/fonts/Montserrat/static/Montserrat-SemiBoldItalic.ttf
  services/console/public/fonts/Montserrat/static/Montserrat-Thin.ttf
  services/console/public/fonts/Montserrat/static/Montserrat-ThinItalic.ttf
  services/console/public/locales/en/workspaces.json
  services/console/public/locales/es/workspaces.json
  services/console/public/locales/fr/workspaces.json
  services/console/styles/globals.css
Due: console_check, console_test, console_build_docker, console_deploy

Remove console log
  packages/design-system/lib/Components/SchemaForm/FieldArray.tsx
Due: backend_npm_install

Set X-Frame-Options header
  services/console/Dockerfile
  services/console/next.config.js
Due: console_check, console_test, console_build_docker, console_deploy

Columns metadata
  packages/blocks/lib/Blocks/DataTable.stories.tsx
  packages/blocks/lib/Blocks/DataTable.tsx
  packages/blocks/lib/Blocks/DataTable/EditableCell.tsx
  packages/blocks/lib/Blocks/DataTable/EditableContext.ts
  packages/blocks/lib/Blocks/DataTable/EditableRow.tsx
  packages/blocks/lib/Blocks/DataTable/index.tsx
  packages/blocks/lib/Blocks/DataTable/types.ts
  packages/blocks/lib/Blocks/RichText.test.tsx
  packages/blocks/lib/Blocks/__snapshots__/RichText.test.tsx.snap
Due: backend_npm_install

Fix language change
  packages/blocks/lib/Blocks/DataTable/index.tsx
  packages/blocks/lib/i18n.tsx
Due: backend_npm_install

TextArea default height is 3 rows, properly support rows props now.
  packages/design-system/lib/Components/SchemaForm/SchemaForm.stories.tsx
  packages/design-system/lib/Components/TextArea.tsx
Due: backend_npm_install

Fixed previously disabled tests
  services/console/__mocks__/@ant-design/icons.js
  services/console/__mocks__/@prisme.ai/design-system.js
  services/console/components/WorkspaceProvider/Provider.tsx
  services/console/components/WorkspaceProvider/WorkspaceProvider.test.tsx
  services/console/components/WorkspaceProvider/context.ts
  services/console/layouts/WorkspaceLayout/WorkspaceLayout.test.tsx
  services/console/layouts/WorkspaceLayout/__snapshots__/WorkspaceLayout.test.tsx.snap
Due: console_check, console_test, console_build_docker, console_deploy

Multiple code fixes for accountManagement
  package-lock.json
  packages/design-system/lib/Components/Button.tsx
  services/console/.env
  services/console/components/AppsProvider/Provider.tsx
  services/console/components/Header.tsx
  services/console/components/WorkspacesUsage/Provider.tsx
  services/console/components/WorkspacesUsage/context.ts
  services/console/public/locales/fr/user.json
  services/console/views/Account/AccountLayout.tsx
  services/console/views/Account/Components/BillingPlan.tsx
  services/console/views/Account/Components/DisabledButton.tsx
  services/console/views/Account/Components/RightSidebar.tsx
  services/console/views/Account/Components/Usages.tsx
  services/console/views/Account/WorkspaceManagement.tsx
Due: backend_npm_install, console_check, console_test, console_build_docker, console_deploy

added help/whatsnew
  services/console/components/Header.tsx
  services/console/components/HeaderWorkspace.tsx
  services/console/components/IFrameLoader.tsx
  services/console/public/locales/en/workspaces.json
  services/console/public/locales/fr/workspaces.json
  services/console/styles/globals.css
  services/console/views/Workspaces.tsx
Due: console_check, console_test, console_build_docker, console_deploy

cards accordion use richTextRenderer
  packages/blocks/lib/Blocks/Cards.tsx
  services/console/components/AppEditor.tsx
  services/console/components/IFrameLoader.tsx
Due: backend_npm_install, console_check, console_test, console_build_docker, console_deploy

Add and remove custom labels in Schema Form
  packages/design-system/lib/Components/Localized/useLocalizedText.ts
  packages/design-system/lib/Components/SchemaForm/FieldAdditionalProperties.tsx
  packages/design-system/lib/Components/SchemaForm/FieldArray.tsx
  packages/design-system/lib/Components/SchemaForm/SchemaForm.stories.tsx
  packages/design-system/lib/Components/SchemaForm/types.ts
Due: backend_npm_install

Clean code
  packages/blocks/lib/Blocks/DataTable/DataTable.tsx
  packages/blocks/lib/Blocks/DataTable/EditableCell.tsx
  packages/blocks/lib/Blocks/DataTable/RenderValue.tsx
  packages/blocks/lib/Blocks/DataTable/index.tsx
Due: backend_npm_install

DataTable columns schema form
  services/console/components/PageBuilder/Panel/EditSchema/DataTable.tsx
  services/console/public/locales/en/workspaces.json
  services/console/public/locales/es/workspaces.json
  services/console/public/locales/fr/workspaces.json
Due: console_check, console_test, console_build_docker, console_deploy

block layout scroll properly in firefox now
  packages/blocks/lib/Blocks/Layout/ContentContainer.tsx
  packages/blocks/lib/tw.ts
Due: backend_npm_install

Account wording
  services/console/public/locales/en/user.json
  services/console/public/locales/fr/user.json
Due: console_check, console_test, console_build_docker, console_deploy

made event feed workspace icon similar to workspaces list icon
  services/console/components/EventsViewer/SectionContent.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Updated event feed UI
  packages/design-system/lib/Components/Collapse.tsx
  packages/design-system/lib/Components/Feed.tsx
  packages/design-system/styles/prismeai-theme.less
  packages/design-system/tailwind.config.cjs
  services/console/components/EventsViewer/EventsViewer.tsx
  services/console/components/EventsViewer/SectionContent.tsx
Due: backend_npm_install, console_check, console_test, console_build_docker, console_deploy

Added spanish translation for account management
  services/console/public/locales/es/user.json
  services/console/public/locales/es/workspaces.json
Due: console_check, console_test, console_build_docker, console_deploy

made event feed workspace icon similar to workspaces list icon
  services/console/components/EventsViewer/EventsViewer.test.tsx
  services/console/components/EventsViewer/EventsViewer.tsx
  services/console/components/EventsViewer/SectionContent.tsx
  services/console/components/EventsViewer/__snapshots__/EventsViewer.test.tsx.snap
Due: console_check, console_test, console_build_docker, console_deploy

Enhance design
  packages/blocks/lib/Blocks/DataTable/DataTable.tsx
  packages/blocks/lib/Blocks/DataTable/EditableCell.tsx
Due: backend_npm_install

App related events
  services/console/components/EventsViewer/Labels.tsx
  services/console/components/EventsViewer/SectionContent.tsx
  services/console/public/locales/en/workspaces.json
  services/console/public/locales/es/workspaces.json
  services/console/public/locales/fr/workspaces.json
Due: console_check, console_test, console_build_docker, console_deploy

Fix datatable rendering
  packages/blocks/lib/Blocks/DataTable/DataTable.tsx
  packages/blocks/lib/Blocks/DataTable/RenderValue.tsx
Due: backend_npm_install

DataTable interpolate ${} format variables on client side
  package-lock.json
  package.json
  packages/blocks/lib/Blocks/DataTable.stories.tsx
  packages/blocks/lib/Blocks/DataTable/RenderValue.tsx
  packages/blocks/lib/index.ts
  packages/blocks/lib/interpolate.test.ts
  packages/blocks/lib/interpolate.ts
  packages/blocks/package.json
Due: backend_npm_install

Get apps events
  packages/types/index.d.ts
  packages/validation/instructions.json
  services/workspaces/src/services/apps/crud/apps.ts
  specifications/swagger.yml
Due: backend_npm_install, workspaces_build_docker, workspaces_deploy, docs_build_static, docs_deploy

Autocomplete text field
  packages/design-system/lib/Components/SchemaForm/FieldAutocomplete.tsx
  packages/design-system/lib/Components/SchemaForm/FieldText.tsx
  packages/design-system/lib/Components/SchemaForm/SchemaForm.stories.tsx
  packages/design-system/lib/Components/SchemaForm/SchemaForm.tsx
  packages/design-system/lib/Components/SchemaForm/context.ts
  packages/design-system/lib/Components/SchemaForm/types.ts
  services/console/styles/globals.css
Due: backend_npm_install, console_check, console_test, console_build_docker, console_deploy

Autocomplete events listened by apps and workspace
  packages/design-system/lib/Components/SchemaForm/FieldAutocomplete.tsx
  packages/types/index.d.ts
  services/console/components/AutomationBuilder/AutomationBuilder.tsx
  services/console/components/AutomationBuilder/Panel/InstructionValue.tsx
  services/console/components/SchemaForm/useSchema.tsx
  services/console/styles/globals.css
  specifications/swagger.yml
Due: backend_npm_install, console_check, console_test, console_build_docker, console_deploy, docs_build_static, docs_deploy

Autocomplete events emited by apps and workspace
  packages/design-system/lib/Components/SchemaForm/types.ts
  packages/types/index.d.ts
  services/console/components/AutomationBuilder/Panel/TriggerForm.tsx
  services/console/components/SchemaForm/useSchema.tsx
  specifications/swagger.yml
Due: backend_npm_install, console_check, console_test, console_build_docker, console_deploy, docs_build_static, docs_deploy

Tests
  services/console/components/AutomationBuilder/Panel/InstructionValue.tsx
  services/console/components/AutomationBuilder/Panel/TriggerForm.tsx
  services/console/components/SchemaForm/useSchema.test.tsx
  services/console/components/SchemaForm/useSchema.tsx
Due: console_check, console_test, console_build_docker, console_deploy
