Repository HP319193/prisme.ai: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend_npm_install, console_check, console_test, console_build_docker, console_deploy, workspaces_test, workspaces_build_docker, workspaces_deploy, runtime_test, runtime_build_docker, runtime_deploy, api-gateway_build_docker, api-gateway_deploy, events_test, events_build_docker, events_deploy, docs_build_static, docs_deploy

backend_npm_install:
  stage: dependencies
  image: docker:stable
  services:
  - docker:stable-dind
  script:
  ...

console_check:
  stage: test
  script:
  - "if ! [[ -d node_modules/ ]] ; then\n  BUILD_PACKAGES=0 npm ci\nfi\n"
  - npm run build:packages
  - npm run check:console
  needs: []
  before_script:
  - export DIRECTORY=services/$CONSOLE_DIRECTORY

console_test:
  stage: test
  script:
  - "if ! [[ -d node_modules/ ]] ; then\n  BUILD_PACKAGES=0 npm ci\nfi\n"
  - npm run build:packages
  - npm test -- $DIRECTORY
  coverage: /All files\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)/
  artifacts:
    paths:
    - coverage
  cache:
    key:
      files:
  ...

console_build_docker:
  stage: build_docker
  image: docker:stable
  services:
  - docker:stable-dind
  script:
  ...

console_deploy:
  stage: deploy
  tags:
  - internal-runner
  image:
    name: registry.gitlab.com/gogowego-devsecops/dev/prisme.ai-infra:latest
    entrypoint:
    - /bin/sh
    - -c
  script:
  ...

workspaces_test:
  stage: test
  script:
  - "if ! [[ -d node_modules/ ]] ; then\n  BUILD_PACKAGES=0 npm ci\nfi\n"
  - npm run build:packages
  - npm test -- $DIRECTORY
  coverage: /All files\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)/
  artifacts:
    paths:
    - coverage
  cache:
    key:
      files:
  ...

workspaces_build_docker:
  stage: build_docker
  image: docker:stable
  services:
  - docker:stable-dind
  script:
  ...

workspaces_deploy:
  stage: deploy
  tags:
  - internal-runner
  image:
    name: registry.gitlab.com/gogowego-devsecops/dev/prisme.ai-infra:latest
    entrypoint:
    - /bin/sh
    - -c
  script:
  ...

runtime_test:
  stage: test
  script:
  - "if ! [[ -d node_modules/ ]] ; then\n  BUILD_PACKAGES=0 npm ci\nfi\n"
  - npm run build:packages
  - npm test -- $DIRECTORY
  coverage: /All files\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)/
  artifacts:
    paths:
    - coverage
  cache:
    key:
      files:
  ...

runtime_build_docker:
  stage: build_docker
  image: docker:stable
  services:
  - docker:stable-dind
  script:
  ...

runtime_deploy:
  stage: deploy
  tags:
  - internal-runner
  image:
    name: registry.gitlab.com/gogowego-devsecops/dev/prisme.ai-infra:latest
    entrypoint:
    - /bin/sh
    - -c
  script:
  ...

api-gateway_build_docker:
  stage: build_docker
  image: docker:stable
  services:
  - docker:stable-dind
  script:
  ...

api-gateway_deploy:
  stage: deploy
  tags:
  - internal-runner
  image:
    name: registry.gitlab.com/gogowego-devsecops/dev/prisme.ai-infra:latest
    entrypoint:
    - /bin/sh
    - -c
  script:
  ...

events_test:
  stage: test
  script:
  - "if ! [[ -d node_modules/ ]] ; then\n  BUILD_PACKAGES=0 npm ci\nfi\n"
  - npm run build:packages
  - npm test -- $DIRECTORY
  coverage: /All files\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)/
  artifacts:
    paths:
    - coverage
  cache:
    key:
      files:
  ...

Schedule events for deletion on workspace deletion
  docs/docs/en/getstarted/configuration.md
  services/events/config/events.ts
  services/events/src/app.ts
  services/events/src/services/events/store/ElasticsearchStore.ts
  services/events/src/services/events/store/types.ts
  services/events/src/services/events/syncEventStoreWithEDA.ts
Due: events_test, events_build_docker, events_deploy, docs_build_static, docs_deploy

Fix broker package build
  packages/broker/lib/events/validator.ts
  services/events/Dockerfile
Due: backend_npm_install, events_test, events_build_docker, events_deploy

:rocket: Improving regex support by using a regex-parser. This allow to use regex flags, such as case insensitive and others...
  .gitignore
  package-lock.json
  services/runtime/deps/condition-eval/src/interpreter/ConditionalExpression.ts
  services/runtime/package.json
  services/runtime/src/utils/evaluate.test.ts
Due: backend_npm_install, runtime_test, runtime_build_docker, runtime_deploy

Fixed owner & editor events permissions as they couldnt ready any other event than emits
  services/events/src/permissions/config.ts
Due: events_test, events_build_docker, events_deploy

Limit maximum emitted events size (defaults to 50000)
  docs/docs/en/getstarted/configuration.md
  packages/broker/lib/events/eventsFactory.ts
  packages/broker/lib/events/validator.ts
  services/events/config/eda.ts
  services/events/src/eda/index.ts
  services/runtime/config/eda.ts
  services/runtime/src/eda/index.ts
  services/runtime/src/services/runtime/index.test.ts
Due: backend_npm_install, runtime_test, runtime_build_docker, runtime_deploy, events_test, events_build_docker, events_deploy, docs_build_static, docs_deploy

:rocket: Introducing schedules triggers
  docs/docs/en/architecture/technical/runtime/specifications.md
  docs/docs/en/workspaces/automations.md
  package-lock.json
  packages/types/index.d.ts
  services/console/public/locales/en/workspaces.json
  services/console/public/locales/fr/workspaces.json
  services/runtime/config/schedules.ts
  services/runtime/package.json
  services/runtime/src/app.ts
  services/runtime/src/eda/index.ts
  services/runtime/src/services/runtime/contexts.ts
  services/runtime/src/services/runtime/index.test.ts
  services/runtime/src/services/runtime/index.ts
  services/runtime/src/services/schedules/drivers/bullmq.ts
  services/runtime/src/services/schedules/drivers/index.ts
  services/runtime/src/services/schedules/drivers/types.ts
  services/runtime/src/services/schedules/index.ts
  services/runtime/src/services/schedules/scheduler.ts
  services/runtime/src/services/schedules/schedules.ts
  services/runtime/src/services/schedules/types.ts
  services/runtime/src/services/workspaces/workspace.ts
  services/workspaces/package.json
  services/workspaces/src/errors/index.ts
  services/workspaces/src/services/workspaces/crud/automations.ts
  specifications/swagger.yml
Due: backend_npm_install, console_check, console_test, console_build_docker, console_deploy, workspaces_test, workspaces_build_docker, workspaces_deploy, runtime_test, runtime_build_docker, runtime_deploy, docs_build_static, docs_deploy

By default, do not throw broker.send errors as they can make the runtime crash if not caught
  packages/broker/lib/broker.ts
  packages/broker/lib/events/eventsFactory.ts
  services/events/src/services/events/send.ts
  services/runtime/src/services/runtime/automations/instructions/emit.ts
  services/runtime/src/services/runtime/contexts.ts
Due: backend_npm_install, runtime_test, runtime_build_docker, runtime_deploy, events_test, events_build_docker, events_deploy

createUserTopic do not throw anymore when already exists since it makes calling automation crash for no reason
  services/runtime/src/services/runtime/automations/instructions/createUserTopic.ts
Due: runtime_test, runtime_build_docker, runtime_deploy

Added some native events to runtime triggers : PagesPermissions & Workspace versioning
  services/runtime/src/eda/index.ts
  services/runtime/src/services/runtime/index.ts
  services/workspaces/src/api/middlewares/validation.ts
Due: workspaces_build_docker, workspaces_deploy, runtime_test, runtime_build_docker, runtime_deploy

Added user email to *.permissions.deleted events
  packages/permissions/lib/api/initCollaboratorRoutes.ts
  packages/types/index.d.ts
  services/workspaces/src/api/app.ts
  specifications/swagger.yml
Due: backend_npm_install, workspaces_build_docker, workspaces_deploy, docs_build_static, docs_deploy

Update documentation for runtime supported native events
  docs/docs/en/workspaces/automations.md
Due: docs_build_static, docs_deploy

Fix workspace build
  services/workspaces/src/api/middlewares/validation.ts
Due: workspaces_build_docker, workspaces_deploy

:ambulance: Fix regexp with null value.
  services/runtime/deps/condition-eval/src/interpreter/ConditionalExpression.ts
  services/runtime/src/utils/evaluate.test.ts
Due: runtime_test, runtime_build_docker, runtime_deploy

When throwing errors from automations execution, include automation payload in error details
  services/runtime/src/services/runtime/automations/index.ts
Due: runtime_test, runtime_build_docker, runtime_deploy

:adhesive_bandage: Admin emails more strict.
  services/api-gateway/src/middlewares/traceability.ts
Due: api-gateway_build_docker, api-gateway_deploy

Now generate/update every DetailedPage files in realtime on receiving workspaces.pages.updated/created, workspaces.blocks.updated, workspaces.apps.configured and workspaces.configured
  docs/docs/en/getstarted/configuration.md
  packages/types/index.d.ts
  services/workspaces/src/api/middlewares/validation.ts
  services/workspaces/src/api/routes/pages.ts
  services/workspaces/src/app.ts
  services/workspaces/src/eda/index.ts
  services/workspaces/src/services/DSULStorage.ts
  services/workspaces/src/services/apps/index.ts
  services/workspaces/src/services/migrate/dsul-filesystem/index.ts
  services/workspaces/src/services/workspaces/crud/pages.ts
  services/workspaces/src/services/workspaces/crud/workspaces.ts
  services/workspaces/src/services/workspaces/index.ts
  services/workspaces/src/services/workspaces/syncDetailedPagesWithEDA.ts
  services/workspaces/src/services/workspaces/syncWorkspacesWithConfigContexts.ts
  specifications/swagger.yml
Due: backend_npm_install, workspaces_build_docker, workspaces_deploy, docs_build_static, docs_deploy

Migrated every DSUL resource to their filesystem format. Migrated API.
  packages/permissions/lib/accessManager.ts
  packages/types/index.d.ts
  services/runtime/src/services/workspaces/workspaces.ts
  services/workspaces/index.d.ts
  services/workspaces/src/api/app.ts
  services/workspaces/src/api/middlewares/validation.ts
  services/workspaces/src/api/routes/appInstances.ts
  services/workspaces/src/api/routes/apps.ts
  services/workspaces/src/api/routes/automations.ts
  services/workspaces/src/api/routes/index.ts
  services/workspaces/src/api/routes/migrate.ts
  services/workspaces/src/api/routes/pages.ts
  services/workspaces/src/api/routes/workspaces.ts
  services/workspaces/src/app.ts
  services/workspaces/src/permissions/index.ts
  services/workspaces/src/services/DSULStorage.test.ts
  services/workspaces/src/services/DSULStorage.ts
  services/workspaces/src/services/FileStorage.ts
  services/workspaces/src/services/apps/crud/apps.ts
  services/workspaces/src/services/apps/index.ts
  services/workspaces/src/services/migrate/dsul-filesystem/index.ts
  services/workspaces/src/services/migrate/index.ts
  services/workspaces/src/services/migrate/pages/index.ts
  services/workspaces/src/services/workspaces/crud/appInstances.ts
  services/workspaces/src/services/workspaces/crud/automations.ts
  services/workspaces/src/services/workspaces/crud/pages.ts
  services/workspaces/src/services/workspaces/crud/workspaces.ts
  services/workspaces/src/services/workspaces/index.ts
  services/workspaces/src/storage/drivers/filesystem.ts
  services/workspaces/src/storage/drivers/s3.ts
  services/workspaces/src/storage/index.ts
  services/workspaces/src/storage/types.ts
  services/workspaces/src/utils/extractEmits.ts
  services/workspaces/tsconfig.json
  specifications/swagger.yml
Due: backend_npm_install, workspaces_test, workspaces_build_docker, workspaces_deploy, runtime_test, runtime_build_docker, runtime_deploy, docs_build_static, docs_deploy

Improved & cleaned appInstances routes to add missing output data & remove uneeded output data
  packages/types/index.d.ts
  services/workspaces/src/api/routes/appInstances.ts
  services/workspaces/src/api/routes/apps.ts
  services/workspaces/src/api/routes/workspaces.ts
  services/workspaces/src/app.ts
  services/workspaces/src/services/DSULStorage.ts
  services/workspaces/src/services/apps/crud/apps.ts
  services/workspaces/src/services/migrate/dsul-filesystem/index.ts
  services/workspaces/src/services/workspaces/crud/appInstances.ts
  services/workspaces/src/services/workspaces/crud/pages.ts
  services/workspaces/src/services/workspaces/crud/workspaces.ts
  services/workspaces/src/services/workspaces/index.ts
  specifications/swagger.yml
Due: backend_npm_install, workspaces_build_docker, workspaces_deploy, docs_build_static, docs_deploy

Fixed workspace unit tests
  services/workspaces/src/api/routes/appInstances.ts
  services/workspaces/src/services/workspaces/crud/appInstances.test.ts
  services/workspaces/src/services/workspaces/crud/appInstances.ts
  services/workspaces/src/services/workspaces/crud/automations.test.ts
  services/workspaces/src/services/workspaces/crud/automations.ts
  services/workspaces/src/services/workspaces/crud/pages.ts
  services/workspaces/src/services/workspaces/crud/workspaces.test.ts
Due: workspaces_build_docker, workspaces_deploy

Also update DetailedPage.public on public permissions change & turn workspace updates into patch
  packages/types/index.d.ts
  services/workspaces/src/services/DSULStorage.ts
  services/workspaces/src/services/workspaces/crud/workspaces.test.ts
  services/workspaces/src/services/workspaces/crud/workspaces.ts
  services/workspaces/src/services/workspaces/syncDetailedPagesWithEDA.ts
  specifications/swagger.yml
Due: backend_npm_install, workspaces_build_docker, workspaces_deploy, docs_build_static, docs_deploy

Splitted DSULStorage into a directory & added unit tests to it
  services/workspaces/src/api/app.ts
  services/workspaces/src/api/routes/appInstances.ts
  services/workspaces/src/api/routes/apps.ts
  services/workspaces/src/api/routes/automations.ts
  services/workspaces/src/api/routes/index.ts
  services/workspaces/src/api/routes/migrate.ts
  services/workspaces/src/api/routes/pages.ts
  services/workspaces/src/api/routes/workspaces.ts
  services/workspaces/src/app.ts
  services/workspaces/src/services/apps/crud/apps.ts
  services/workspaces/src/services/dsulStorage/DSULStorage.test.ts
  services/workspaces/src/services/dsulStorage/DSULStorage.ts
  services/workspaces/src/services/dsulStorage/__mocks__/DSULStorage.ts
  services/workspaces/src/services/dsulStorage/__mocks__/index.ts
  services/workspaces/src/services/dsulStorage/getPath.test.ts
  services/workspaces/src/services/dsulStorage/getPath.ts
  services/workspaces/src/services/dsulStorage/index.ts
  services/workspaces/src/services/dsulStorage/types.ts
  services/workspaces/src/services/migrate/dsul-filesystem/index.ts
  services/workspaces/src/services/workspaces/crud/appInstances.test.ts
  services/workspaces/src/services/workspaces/crud/appInstances.ts
  services/workspaces/src/services/workspaces/crud/automations.test.ts
  services/workspaces/src/services/workspaces/crud/automations.ts
  services/workspaces/src/services/workspaces/crud/pages.test.ts
  services/workspaces/src/services/workspaces/crud/pages.ts
  services/workspaces/src/services/workspaces/crud/workspaces.test.ts
  services/workspaces/src/services/workspaces/crud/workspaces.ts
  services/workspaces/src/services/workspaces/syncDetailedPagesWithEDA.ts
  services/workspaces/src/services/workspaces/syncWorkspacesWithConfigContexts.ts
Due: workspaces_build_docker, workspaces_deploy

Added unit tests to initWorkspacesConfigSyncing
  services/workspaces/src/services/dsulStorage/DSULStorage.test.ts
  services/workspaces/src/services/workspaces/crud/automations.test.ts
  services/workspaces/src/services/workspaces/crud/workspaces.test.ts
  services/workspaces/src/services/workspaces/syncDetailedPagesWithEDA.test.ts
  services/workspaces/src/services/workspaces/syncWorkspacesWithConfigContexts.test.ts
  services/workspaces/src/utils/applyObjectUpdateOpLogs.test.ts
  services/workspaces/src/utils/applyObjectUpdateOpLogs.ts
Due: workspaces_build_docker, workspaces_deploy

Fix unit tests
  .gitlab-ci.yml
  packages/sdk/lib/api.ts
Due: backend_npm_install

New workspace duplication API
  packages/types/index.d.ts
  services/workspaces/src/api/routes/workspaces.ts
  services/workspaces/src/eda/index.ts
  services/workspaces/src/services/DSULStorage.ts
  services/workspaces/src/services/workspaces/crud/pages.ts
  services/workspaces/src/services/workspaces/crud/workspaces.ts
  services/workspaces/src/services/workspaces/syncDetailedPagesWithEDA.ts
  specifications/swagger.yml
Due: backend_npm_install, workspaces_build_docker, workspaces_deploy, docs_build_static, docs_deploy

DSUL Migration API : Silence errors due to non existing pages in databases + Fix workspaceId which was not sent within event sources, thus preventing DetailedPages generation
  packages/permissions/lib/accessManager.ts
  packages/permissions/lib/errors.ts
  services/workspaces/src/api/routes/pages.ts
  services/workspaces/src/services/migrate/dsul-filesystem/index.ts
  services/workspaces/src/services/workspaces/crud/appInstances.test.ts
  services/workspaces/src/services/workspaces/crud/appInstances.ts
  services/workspaces/src/services/workspaces/crud/automations.test.ts
  services/workspaces/src/services/workspaces/crud/automations.ts
  services/workspaces/src/services/workspaces/crud/pages.test.ts
  services/workspaces/src/services/workspaces/crud/pages.ts
  services/workspaces/src/services/workspaces/crud/workspaces.test.ts
  services/workspaces/src/services/workspaces/crud/workspaces.ts
  services/workspaces/src/services/workspaces/syncDetailedPagesWithEDA.test.ts
  services/workspaces/src/services/workspaces/syncDetailedPagesWithEDA.ts
Due: backend_npm_install, workspaces_build_docker, workspaces_deploy

Added unit tests to pages
  services/workspaces/src/services/DSULStorage.ts
  services/workspaces/src/services/workspaces/crud/appInstances.test.ts
  services/workspaces/src/services/workspaces/crud/automations.test.ts
  services/workspaces/src/services/workspaces/crud/pages.test.ts
  services/workspaces/src/services/workspaces/crud/pages.ts
Due: workspaces_build_docker, workspaces_deploy

Added tests to syncDetailedPagesWithEDA
  package-lock.json
  packages/broker/lib/__mocks__/broker.ts
  services/workspaces/package.json
  services/workspaces/src/app.ts
  services/workspaces/src/services/workspaces/crud/workspaces.ts
  services/workspaces/src/services/workspaces/index.ts
  services/workspaces/src/services/workspaces/syncDetailedPagesWithEDA.test.ts
  services/workspaces/src/services/workspaces/syncDetailedPagesWithEDA.ts
  services/workspaces/src/services/workspaces/syncWorkspacesWithConfigContexts.ts
Due: backend_npm_install, workspaces_test, workspaces_build_docker, workspaces_deploy

Fix crash when duplicating workspace with no automation or import
  services/workspaces/src/services/workspaces/crud/pages.ts
  services/workspaces/src/services/workspaces/crud/workspaces.ts
Due: workspaces_build_docker, workspaces_deploy

Fixed broker event validator which did not pass validation details + do not throw anymore on validation errors as it made the API crash when not caught
  services/workspaces/src/services/workspaces/crud/workspaces.ts
  services/workspaces/src/services/workspaces/syncDetailedPagesWithEDA.ts
Due: workspaces_build_docker, workspaces_deploy

DSUL Filesystem migrate API : Ignore errors due to non existing legacy DSUL
  services/workspaces/src/services/migrate/dsul-filesystem/index.ts
Due: workspaces_build_docker, workspaces_deploy

Workspace API now also generates runtime.yml file & keeps it updated on workspaces.* events. Fixed runtime DSUL loading & some unit tests
  packages/types/index.d.ts
  services/runtime/src/services/apps/apps.ts
  services/runtime/src/services/runtime/automations/index.test.ts
  services/runtime/src/services/runtime/contexts.ts
  services/runtime/src/services/workspaces/__mocks__/apps/basicApp/versions/current/runtime.yml
  services/runtime/src/services/workspaces/__mocks__/apps/nestedApp/versions/current/runtime.yml
  services/runtime/src/services/workspaces/__mocks__/workspaces/basic/versions/current/runtime.yml
  services/runtime/src/services/workspaces/__mocks__/workspaces/imports/versions/current/runtime.yml
  services/runtime/src/services/workspaces/__mocks__/workspaces/instructions/versions/current/runtime.yml
  services/runtime/src/services/workspaces/workspace.ts
  services/runtime/src/services/workspaces/workspaces.test.ts
  services/runtime/src/services/workspaces/workspaces.ts
  services/workspaces/src/app.ts
  services/workspaces/src/services/dsulStorage/getPath.test.ts
  services/workspaces/src/services/dsulStorage/getPath.ts
  services/workspaces/src/services/dsulStorage/types.ts
  services/workspaces/src/services/migrate/dsul-filesystem/index.ts
  services/workspaces/src/services/workspaces/index.ts
  services/workspaces/src/services/workspaces/syncRuntimeModelsWithEDA.ts
  specifications/swagger.yml
Due: backend_npm_install, workspaces_build_docker, workspaces_deploy, runtime_test, runtime_build_docker, runtime_deploy, docs_build_static, docs_deploy

Moved runtime.yml update from workspace to runtime API
  services/runtime/src/services/runtime/automations/index.test.ts
  services/runtime/src/services/runtime/index.test.ts
  services/runtime/src/services/workspaces/workspace.ts
  services/runtime/src/services/workspaces/workspaces.test.ts
  services/runtime/src/services/workspaces/workspaces.ts
  services/workspaces/src/app.ts
  services/workspaces/src/services/workspaces/index.ts
  services/workspaces/src/services/workspaces/syncRuntimeModelsWithEDA.ts
Due: workspaces_build_docker, workspaces_deploy, runtime_test, runtime_build_docker, runtime_deploy

Now return detailedAppInstances (without config) inside GET /v2/workspaces/{workspaceId} response + remove appInstance details from GET /v2/workspaces/{workspaceId}/apps/{slug}
  packages/types/index.d.ts
  services/workspaces/src/api/routes/appInstances.ts
  services/workspaces/src/api/routes/workspaces.ts
  services/workspaces/src/services/workspaces/crud/appInstances.test.ts
  services/workspaces/src/services/workspaces/crud/appInstances.ts
  specifications/swagger.yml
Due: backend_npm_install, workspaces_build_docker, workspaces_deploy, docs_build_static, docs_deploy

Fix unit tests & add a restriction to page apiKeys : only allow sending/reading events to/from emit topic
  services/workspaces/config/eda.ts
  services/workspaces/src/services/workspaces/crud/pages.test.ts
  services/workspaces/src/services/workspaces/crud/pages.ts
  services/workspaces/src/services/workspaces/syncDetailedPagesWithEDA.test.ts
Due: workspaces_build_docker, workspaces_deploy

Finally return every appInstances + appConfig on GET page (which should be fixed ASAP) and also return config schema on GET appInstance
  packages/types/index.d.ts
  services/workspaces/src/api/routes/appInstances.ts
  services/workspaces/src/services/workspaces/crud/appInstances.test.ts
  services/workspaces/src/services/workspaces/crud/appInstances.ts
  services/workspaces/src/services/workspaces/crud/pages.test.ts
  services/workspaces/src/services/workspaces/crud/pages.ts
  services/workspaces/src/services/workspaces/syncDetailedPagesWithEDA.test.ts
  services/workspaces/src/services/workspaces/syncWorkspacesWithConfigContexts.test.ts
  services/workspaces/src/services/workspaces/syncWorkspacesWithConfigContexts.ts
  specifications/swagger.yml
Due: backend_npm_install, workspaces_build_docker, workspaces_deploy, docs_build_static, docs_deploy

Remove apiKey from page manifest & keep it only in detailedPage file. We now also delete apiKeys when their page is deleted
  packages/types/index.d.ts
  services/workspaces/src/permissions/index.ts
  services/workspaces/src/services/migrate/dsul-filesystem/index.ts
  services/workspaces/src/services/workspaces/crud/pages.ts
  services/workspaces/src/services/workspaces/syncDetailedPagesWithEDA.ts
  specifications/swagger.yml
Due: backend_npm_install, workspaces_build_docker, workspaces_deploy, docs_build_static, docs_deploy

Automations
  packages/sdk/lib/api.ts
  packages/types/index.d.ts
  services/console/components/AutomationBuilder/AutomationBuilder.test.tsx
  services/console/components/AutomationBuilder/AutomationBuilder.tsx
  services/console/components/AutomationBuilder/Panel/InstructionForm.test.tsx
  services/console/components/AutomationBuilder/Panel/InstructionValue.test.tsx
  services/console/components/AutomationBuilder/Panel/InstructionValue.tsx
  services/console/components/AutomationBuilder/Panel/TriggerForm.test.tsx
  services/console/components/EventsViewer/Empty.test.tsx
  services/console/components/EventsViewer/__snapshots__/Empty.test.tsx.snap
  services/console/components/Highlight/Highlight.tsx
  services/console/components/PageBuilder/useBlocks.test.tsx
  services/console/components/SchemaForm/__snapshots__/useSchema.test.tsx.snap
  services/console/components/SchemaForm/useSchema.test.tsx
  services/console/layouts/EditDetails.tsx
  services/console/layouts/WorkspaceLayout/__snapshots__/WorkspaceLayout.test.tsx.snap
  services/console/layouts/WorkspaceLayout/context.tsx
  services/console/providers/Automation/AutomationProvider.test.tsx
  services/console/providers/Automation/AutomationProvider.tsx
  services/console/providers/Automation/__snapshots__/AutomationProvider.test.tsx.snap
  services/console/providers/Automation/index.ts
  services/console/providers/Page/PageProvider.tsx
  services/console/providers/Workspace/WorkspaceProvider.tsx
  services/console/providers/Workspaces/WorkspacesProvider.test.tsx
  services/console/views/Automation.test.tsx
  services/console/views/Automation.tsx
  services/console/views/Page/Page.tsx
Due: backend_npm_install, console_check, console_test, console_build_docker, console_deploy

Added app documentation page to GET appInstance
  services/workspaces/src/api/routes/pages.ts
  services/workspaces/src/services/workspaces/syncDetailedPagesWithEDA.ts
Due: workspaces_build_docker, workspaces_deploy

Added app documentation page to GET appInstance
  packages/types/index.d.ts
  services/workspaces/src/api/routes/appInstances.ts
  services/workspaces/src/services/apps/crud/apps.ts
  specifications/swagger.yml
Due: backend_npm_install, workspaces_build_docker, workspaces_deploy, docs_build_static, docs_deploy

Path conditions:
  backend_npm_install: any of: services/api-gateway/package.json, services/runtime/package.json, services/workspaces/package.json, services/events/package.json, packages/**/*
  console_check: any of: services/console/**/*
  console_test: any of: services/console/**/*
  console_build_docker: any of: services/console/**/*
  console_deploy: any of: services/console/**/*
  workspaces_test: any of: services/workspaces/*
  workspaces_build_docker: any of: services/workspaces/**/*
  workspaces_deploy: any of: services/workspaces/**/*
  runtime_test: any of: services/runtime/**/*
  runtime_build_docker: any of: services/runtime/**/*
  runtime_deploy: any of: services/runtime/**/*
  api-gateway_build_docker: any of: services/api-gateway/**/*
  api-gateway_deploy: any of: services/api-gateway/**/*
  events_test: any of: services/events/**/*
  events_build_docker: any of: services/events/**/*
  events_deploy: any of: services/events/**/*
  docs_build_static: any of: docs/**/*, specifications/*
  docs_deploy: any of: docs/**/*, specifications/*
