Repository HP319193/prisme.ai: changes, and which GitLab CI jobs are due for each by the changed paths.
All: npm_install, console_test, console_build_docker, console_deploy, workspaces_build_docker, workspaces_deploy, runtime_build_docker, runtime_deploy, api-gateway_build_docker, api-gateway_deploy, events_test, events_build_docker, events_deploy

Path conditions:
  npm_install: any of: package-lock.json, packages/**/*
  console_test: any of: services/console/**/*
  console_build_docker: any of: services/console/**/*
  console_deploy: any of: services/console/**/*
  workspaces_build_docker: any of: services/workspaces/**/*
  workspaces_deploy: any of: services/workspaces/**/*
  runtime_build_docker: any of: services/runtime/**/*
  runtime_deploy: any of: services/runtime/**/*
  api-gateway_build_docker: any of: services/api-gateway/**/*
  api-gateway_deploy: any of: services/api-gateway/**/*
  events_test: any of: services/events/**/*
  events_build_docker: any of: services/events/**/*
  events_deploy: any of: services/events/**/*

Custom instructions from apps
  services/console/components/AutomationBuilder/AutomationBuilder.tsx
  services/console/components/AutomationBuilder/Block.tsx
  services/console/components/AutomationBuilder/Panel/InstructionSelection.tsx
  services/console/views/Automation.tsx
Due: console_test, console_build_docker, console_deploy

Fix display of instructions descriptions
  packages/design-system/lib/Components/ListItem.tsx
  services/console/components/AutomationBuilder/Panel/InstructionSelection.tsx
  services/console/public/locales/fr/workspaces.json
Due: npm_install, console_test, console_build_docker, console_deploy

Fix display of custom instruction edition
  services/console/components/AutomationBuilder/AutomationBuilder.tsx
  services/console/components/AutomationBuilder/Panel/InstructionForm.tsx
  services/console/components/AutomationBuilder/Panel/InstructionSelection.tsx
Due: console_test, console_build_docker, console_deploy

Display description in instruction form
  services/console/components/AutomationBuilder/AutomationBuilder.tsx
  services/console/components/AutomationBuilder/Panel/InstructionValue.tsx
  services/console/components/SchemaForm/Form.tsx
  services/console/components/SchemaForm/types.ts
Due: console_test, console_build_docker, console_deploy

Get app instructions arguments
  packages/types/index.d.ts
  services/console/views/Automation.tsx
  services/workspaces/src/services/apps/crud/apps.ts
  specifications/swagger.yml
Due: npm_install, console_test, console_build_docker, console_deploy, workspaces_build_docker, workspaces_deploy

Display back link in instruction edition
  services/console/components/AutomationBuilder/Panel/InstructionForm.tsx
Due: console_test, console_build_docker, console_deploy

Fix tests
  services/console/__mocks__/@ant-design/icons.js
  services/console/components/AutomationBuilder/Panel/__snapshots__/InstructionValue.test.tsx.snap
Due: console_test, console_build_docker, console_deploy

Translations
  services/console/public/locales/en/workspaces.json
  services/console/public/locales/es/workspaces.json
  services/console/public/locales/fr/workspaces.json
Due: console_test, console_build_docker, console_deploy

Set current language to external Blocks
  services/console/components/Block.tsx
  services/console/next-i18next.config.js
Due: console_test, console_build_docker, console_deploy

Fix error in build mode
  services/console/components/Block.tsx
Due: console_test, console_build_docker, console_deploy

Display empty state for widgets list
  services/console/components/PageBuilder/Panel/WidgetForm.tsx
  services/console/public/locales/en/workspaces.json
  services/console/public/locales/es/workspaces.json
  services/console/public/locales/fr/workspaces.json
Due: console_test, console_build_docker, console_deploy

Can input slug when publishing workspace as an app
  services/console/components/HeaderWorkspace.tsx
  services/console/components/PublishModal.tsx
  services/console/public/locales/en/workspaces.json
  services/console/public/locales/es/workspaces.json
  services/console/public/locales/fr/workspaces.json
Due: console_test, console_build_docker, console_deploy

Fix error api translation on workspaces provider
  services/console/components/WorkspacesProvider/Provider.tsx
Due: console_test, console_build_docker, console_deploy

Improve errors event reporting
  packages/broker/lib/broker.ts
  packages/broker/lib/events/eventsFactory.ts
  packages/types/index.d.ts
  services/console/components/EventsViewer/EventDetails.tsx
  services/runtime/src/api/middlewares/errors.ts
  services/runtime/src/api/routes/webhooks.ts
  services/runtime/src/errors/index.ts
  services/runtime/src/services/runtime/automations/index.ts
  services/runtime/src/services/runtime/automations/instructions/fetch.ts
  services/runtime/src/services/runtime/automations/instructions/index.ts
  services/runtime/src/services/runtime/index.ts
  specifications/swagger.yml
Due: npm_install, console_test, console_build_docker, console_deploy, runtime_build_docker, runtime_deploy

Fix for app config api routes
  packages/sdk/lib/api.ts
Due: npm_install

fix toast for delete workspace i18n
  services/console/components/HeaderWorkspace.tsx
Due: console_test, console_build_docker, console_deploy

default slug for app publish is a valid slug name derived from workspace name
  services/console/components/PublishModal.tsx
  services/console/utils/regex.ts
Due: console_test, console_build_docker, console_deploy

Use notification from design-system instead of antd
  packages/design-system/lib/index.ts
  services/console/__mocks__/@prisme.ai/design-system.js
  services/console/components/AppsProvider/Provider.tsx
  services/console/components/AutomationBuilder/TriggerBlock.tsx
  services/console/components/HeaderWorkspace.tsx
  services/console/components/PermissionsProvider/Provider.tsx
  services/console/components/PublishModal.tsx
  services/console/components/Share/SharePage.tsx
  services/console/components/WorkspacesProvider/Provider.tsx
  services/console/layouts/WorkspaceLayout/WorkspaceLayout.test.tsx
  services/console/layouts/WorkspaceLayout/WorkspaceLayout.tsx
  services/console/utils/regex.ts
  services/console/views/Automation.test.tsx
  services/console/views/Automation.tsx
  services/console/views/Page.tsx
  services/console/views/Sign/In.tsx
  services/console/views/Sign/Up.tsx
  services/console/views/WorkspaceSource.tsx
  services/console/views/Workspaces.tsx
Due: npm_install, console_test, console_build_docker, console_deploy

Moved all antd imports as design-system imports
  packages/design-system/lib/index.ts
  services/console/__mocks__/@prisme.ai/design-system.js
  services/console/components/AutomationBuilder/Panel/InstructionSelection.tsx
  services/console/components/AutomationBuilder/Panel/TriggerForm.tsx
  services/console/components/PageBuilder/AddWidget.tsx
  services/console/components/PageBuilder/Widget.tsx
  services/console/components/SchemaForm/Field.tsx
  services/console/components/Share/SharePage.tsx
  services/console/components/Share/SharePopover.tsx
  services/console/layouts/Fieldset.tsx
  services/console/views/Workspaces.test.tsx
Due: npm_install, console_test, console_build_docker, console_deploy

Updated antd design to 4.19.1 for input 'status' props
  package-lock.json
  packages/design-system/package.json
Due: npm_install

Added error message about slug format before publishing
  services/console/components/PublishModal.tsx
  services/console/public/locales/en/workspaces.json
  services/console/public/locales/es/workspaces.json
  services/console/public/locales/fr/workspaces.json
Due: console_test, console_build_docker, console_deploy

app store install app with slug as default name, added regex to prevent incorrect slug
  services/console/components/WorkspacesProvider/Provider.tsx
Due: console_test, console_build_docker, console_deploy

Variable rename publishName to publishSlug
  services/console/components/PublishModal.tsx
Due: console_test, console_build_docker, console_deploy

Added expand/collapse sidebar button on top
  services/console/public/locales/en/workspaces.json
  services/console/public/locales/es/workspaces.json
  services/console/public/locales/fr/workspaces.json
  services/console/views/Workspace.tsx
Due: console_test, console_build_docker, console_deploy

Allow finding app by workspaceId
  packages/types/index.d.ts
  services/workspaces/src/api/routes/apps.ts
  services/workspaces/src/services/apps/crud/apps.ts
  specifications/swagger.yml
Due: npm_install, workspaces_build_docker, workspaces_deploy

Do not expose private automations from appInstances
  services/workspaces/src/services/apps/crud/apps.ts
Due: workspaces_build_docker, workspaces_deploy

Fix getApps 'query' parameter renamed to text
  packages/sdk/lib/api.ts
Due: npm_install

Fix test and useEffect array dependency for workspacesProvider
  services/console/components/WorkspacesProvider/Provider.test.tsx
  services/console/components/WorkspacesProvider/Provider.tsx
Due: console_test, console_build_docker, console_deploy

AppInstance config is now merged with origin app config to avoid repeating first-level config variables (i.e some API_URL that we want to keep its initial value)
  packages/types/index.d.ts
  services/runtime/src/services/workspaces/workspace.ts
  specifications/swagger.yml
Due: npm_install, runtime_build_docker, runtime_deploy

changed 'api' i18n to 'unknown' for errors
  services/console/components/AppsProvider/Provider.tsx
  services/console/components/PermissionsProvider/Provider.tsx
  services/console/components/PublishModal.tsx
  services/console/components/WorkspacesProvider/Provider.tsx
  services/console/public/locales/en/errors.json
  services/console/public/locales/es/errors.json
  services/console/public/locales/fr/errors.json
Due: console_test, console_build_docker, console_deploy

Remove appInstance.config.value field which is specific to workspace config
  packages/types/index.d.ts
  services/console/components/AppsProvider/context.ts
  services/runtime/src/eda/index.ts
  services/runtime/src/services/runtime/index.ts
  services/runtime/src/services/workspaces/workspace.ts
  services/workspaces/src/api/routes/appInstances.ts
  services/workspaces/src/services/workspaces/crud/appInstances.ts
  specifications/swagger.yml
Due: npm_install, console_test, console_build_docker, console_deploy, workspaces_build_docker, workspaces_deploy, runtime_build_docker, runtime_deploy

local dsul get updated on receiving events
  services/console/layouts/WorkspaceLayout/WorkspaceLayout.tsx
  services/console/utils/usePrevious.ts
  services/console/views/Automation.tsx
  services/console/views/WorkspaceSource.tsx
Due: console_test, console_build_docker, console_deploy

Close app store on app install
  services/console/views/AppsStore.tsx
Due: console_test, console_build_docker, console_deploy

Fix tests
  services/console/components/EventsViewer/EventsViewer.test.tsx
  services/console/components/EventsViewer/__snapshots__/EventsViewer.test.tsx.snap
  services/console/views/Workspace.test.tsx
  services/console/views/__snapshots__/Workspace.test.tsx.snap
Due: console_test, console_build_docker, console_deploy

delete app button
  packages/design-system/lib/Components/ListItem.tsx
  services/console/components/WorkspacesProvider/Provider.tsx
  services/console/public/locales/en/workspaces.json
  services/console/public/locales/es/workspaces.json
  services/console/public/locales/fr/workspaces.json
  services/console/views/AppsSidebarItem.tsx
Due: npm_install, console_test, console_build_docker, console_deploy

Fix get appInstance which returned initial app config instead of the instance's one
  services/workspaces/src/services/workspaces/crud/appInstances.ts
Due: workspaces_build_docker, workspaces_deploy

set Prisme.ai version to 6.1.0
  package.json
Due: none

Fix event feed blinking and N-1 event
  services/console/layouts/WorkspaceLayout/WorkspaceLayout.tsx
Due: console_test, console_build_docker, console_deploy

Fix for empty element wording
  services/console/components/WorkspacesProvider/Provider.tsx
  services/console/public/locales/en/workspaces.json
  services/console/public/locales/fr/workspaces.json
  services/console/views/AppsSidebar.tsx
  services/console/views/AutomationsSidebar.tsx
  services/console/views/PagesSidebar.tsx
Due: console_test, console_build_docker, console_deploy

Fix tests
  services/console/views/__snapshots__/Workspace.test.tsx.snap
  services/console/views/__snapshots__/Workspaces.test.tsx.snap
Due: console_test, console_build_docker, console_deploy
