Repository HP319193/prisme.ai: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend_npm_install, console_check, console_test, console_build_docker, console_deploy, workspaces_test, workspaces_build_docker, workspaces_deploy, runtime_test, runtime_build_docker, runtime_deploy, api-gateway_build_docker, api-gateway_deploy, events_test, events_build_docker, events_deploy, docs_build_static, docs_deploy

Path conditions:
  backend_npm_install: any of: services/api-gateway/package.json, services/runtime/package.json, services/workspaces/package.json, services/events/package.json, packages/**/*
  console_check: any of: services/console/**/*
  console_test: any of: services/console/**/*
  console_build_docker: any of: services/console/**/*
  console_deploy: any of: services/console/**/*
  workspaces_test: any of: services/workspaces/*
  workspaces_build_docker: any of: services/workspaces/**/*
  workspaces_deploy: any of: services/workspaces/**/*
  runtime_test: any of: services/runtime/**/*
  runtime_build_docker: any of: services/runtime/**/*
  runtime_deploy: any of: services/runtime/**/*
  api-gateway_build_docker: any of: services/api-gateway/**/*
  api-gateway_deploy: any of: services/api-gateway/**/*
  events_test: any of: services/events/**/*
  events_build_docker: any of: services/events/**/*
  events_deploy: any of: services/events/**/*
  docs_build_static: any of: docs/**/*, specifications/*
  docs_deploy: any of: docs/**/*, specifications/*

Doc
  docs/docs/en/workspaces/schemaform.md
Due: docs_build_static, docs_deploy

Refacto to be used in localized field
  packages/design-system/lib/Components/SchemaForm/FieldHTML.tsx
  packages/design-system/lib/Components/SchemaForm/FieldLocalizedText.tsx
  packages/design-system/lib/Components/SchemaForm/FieldText.tsx
  packages/design-system/lib/Components/SchemaForm/SchemaForm.tsx
  packages/design-system/lib/Components/SchemaForm/context.ts
  services/console/components/AutomationBuilder/Panel/schemaFormComponents.tsx
  services/console/components/PageBuilder/Panel/EditSchema/Form.tsx
  services/console/components/RichTextEditor/RichTextEditor.tsx
  services/console/components/RichTextEditor/index.ts
  services/console/components/RichTextEditor/index.tsx
  services/console/components/SchemaForm/FieldHTML.tsx
Due: backend_npm_install, console_check, console_test, console_build_docker, console_deploy

Implement html editor in schema form
  packages/design-system/lib/Components/SchemaForm/FieldNotImplemented.tsx
  packages/design-system/lib/Components/SchemaForm/FieldText.tsx
  packages/design-system/lib/Components/SchemaForm/context.ts
  packages/design-system/lib/Components/SchemaForm/types.ts
  services/console/components/AutomationBuilder/Panel/InstructionValue.tsx
  services/console/components/AutomationBuilder/Panel/schemaFormComponents.tsx
  services/console/components/SchemaForm/FieldHTML.tsx
Due: backend_npm_install, console_check, console_test, console_build_docker, console_deploy

Fix textarea container
  packages/design-system/lib/Components/SchemaForm/FieldTextTextArea.tsx
  packages/design-system/styles/schema-form.less
  packages/validation/instructions.json
Due: backend_npm_install

Fkix crash when reading empty app config
  services/console/components/SchemaForm/useSchema.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Detect if content has been produced by human or wysiwyg
  packages/design-system/lib/Components/Localized/LocalizedInput.tsx
  packages/design-system/lib/Components/SchemaForm/FieldLocalizedText.tsx
  packages/validation/instructions.json
  services/console/components/AutomationBuilder/Panel/InstructionValue.tsx
  services/console/components/RichTextEditor/RichTextEditor.tsx
  services/console/components/RichTextEditor/isWysiwygSupported.test.ts
  services/console/components/RichTextEditor/isWysiwygSupported.ts
  services/console/public/locales/en/workspaces.json
  services/console/public/locales/fr/workspaces.json
  services/console/styles/globals.css
Due: backend_npm_install, console_check, console_test, console_build_docker, console_deploy

Handle OTP enabling & disabling with secret / qrCode generation
  package-lock.json
  packages/types/index.d.ts
  services/api-gateway/package.json
  services/api-gateway/src/middlewares/authentication/init.ts
  services/api-gateway/src/routes/identity.ts
  services/api-gateway/src/services/identity/index.ts
  services/api-gateway/src/services/identity/mfa.ts
  services/api-gateway/src/services/identity/types.ts
  services/api-gateway/src/services/identity/users.ts
  services/api-gateway/src/services/identity/utils.ts
  services/api-gateway/src/storage/mongodb.ts
  services/api-gateway/src/storage/types.ts
  specifications/swagger.yml
Due: backend_npm_install, api-gateway_build_docker, api-gateway_deploy, docs_build_static, docs_deploy

Inject Schema form configured with HTML Editor in Pages
  packages/blocks/lib/Blocks/Form.tsx
  packages/blocks/lib/Provider/blocksContext.ts
  packages/blocks/lib/Provider/defaultComponents.tsx
  services/console/components/RichTextEditor/RichTextEditor.tsx
  services/console/pages/_app.tsx
  services/pages/components/BlocksProvider/BlocksProvider.tsx
  services/pages/components/BlocksProvider/SchemaForm.tsx
  services/pages/pages/_app.tsx
  services/pages/styles/globals.css
Due: backend_npm_install, console_check, console_test, console_build_docker, console_deploy

Display messages for permissions
  services/console/components/Activities/SectionContent.tsx
  services/console/public/locales/en/workspaces.json
  services/console/public/locales/fr/workspaces.json
Due: console_check, console_test, console_build_docker, console_deploy

Added MFA authentication API
  packages/types/index.d.ts
  services/api-gateway/src/express.d.ts
  services/api-gateway/src/middlewares/authentication/init.ts
  services/api-gateway/src/routes/identity.ts
  services/api-gateway/src/services/identity/index.ts
  services/api-gateway/src/services/identity/mfa.ts
  specifications/swagger.yml
Due: backend_npm_install, api-gateway_build_docker, api-gateway_deploy, docs_build_static, docs_deploy

Enforce MFA on every API & forwarding
  package-lock.json
  services/api-gateway/src/express.d.ts
  services/api-gateway/src/middlewares/authentication/isAuthenticated.ts
  services/api-gateway/src/policies/authentication.ts
  services/api-gateway/src/routes/identity.ts
  services/api-gateway/src/types/errors.ts
Due: api-gateway_build_docker, api-gateway_deploy

emit gateway.mfa.failed on failed MFA
  packages/types/index.d.ts
  services/api-gateway/src/eda/index.ts
  services/api-gateway/src/routes/identity.ts
  specifications/swagger.yml
Due: backend_npm_install, api-gateway_build_docker, api-gateway_deploy, docs_build_static, docs_deploy

:wrench: Fix endpoint not being up to date after changing an automation name.
  services/console/components/AutomationBuilder/AutomationBuilder.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Clean code
  package-lock.json
  services/console/components/RichTextEditor/RichTextEditor.tsx
  services/pages/package.json
Due: console_check, console_test, console_build_docker, console_deploy

Remove unused usePageBlocksConfigs
  services/console/components/Page/usePageBlocksConfigs.ts
Due: console_check, console_test, console_build_docker, console_deploy

Restored userTopics filter for blocks
  services/pages/components/Page/BlockLoader.tsx
Due: none

Back of lost classes
  packages/design-system/lib/Components/SchemaForm/SchemaForm.tsx
  services/console/components/Activities/Filters.tsx
Due: backend_npm_install, console_check, console_test, console_build_docker, console_deploy

Fix carousel arrows
  packages/blocks/lib/Blocks/Cards/Cards.stories.tsx
  packages/blocks/lib/Blocks/Cards/Cards.tsx
Due: backend_npm_install

Fix automation depth detection
  packages/broker/lib/events/eventsFactory.ts
  packages/types/index.d.ts
  services/runtime/src/api/middlewares/traceability.ts
  services/runtime/src/services/runtime/automations/index.test.ts
  services/runtime/src/services/runtime/automations/instructions/emit.ts
  services/runtime/src/services/runtime/contexts.ts
  services/runtime/src/services/runtime/index.ts
  services/runtime/src/services/workspaces/__mocks__/workspaces/instructions/versions/current/runtime.yml
  specifications/swagger.yml
Due: backend_npm_install, runtime_test, runtime_build_docker, runtime_deploy, docs_build_static, docs_deploy

:lipstick: Fix missing word in humanized automation messages.
  services/console/public/locales/en/workspaces.json
Due: console_check, console_test, console_build_docker, console_deploy

Allow uploads from pages apiKeys
  services/workspaces/src/services/workspaces/crud/pages.ts
Due: workspaces_build_docker, workspaces_deploy

Make Bulitin block render on server side
  package-lock.json
  package.json
  packages/blocks/lib/BlockLoader.tsx
  packages/blocks/lib/Blocks/DataTable/DataTable.tsx
  packages/blocks/lib/Blocks/RichText.stories.tsx
  packages/blocks/lib/Blocks/RichText.tsx
  packages/blocks/package.json
  services/pages/components/Page/BlockLoader.tsx
  services/pages/components/Page/PageProvider.tsx
  services/pages/components/Page/usePageEvents.ts
  services/pages/components/Page/usePageFetcher.ts
  services/pages/pages/_app.tsx
  services/pages/views/Page.tsx
Due: backend_npm_install

Init blocks with automation on server side
  services/pages/components/Page/PageProvider.tsx
  services/pages/components/Page/usePageEvents.ts
  services/pages/pages/[slug].ts
  services/pages/pages/_app.tsx
  services/pages/pages/index.ts
  services/pages/tsconfig.json
  services/pages/utils/getBlocksConfigFromServer.ts
Due: none

Fix accessing 403 pages
  services/pages/components/Page/usePageFetcher.ts
  services/pages/views/Page.tsx
Due: none

SSR pages
  services/console/components/UserProvider/Provider.tsx
  services/pages/pages/_app.tsx
  services/pages/views/Page.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Clean code
  packages/blocks/lib/Blocks/Buttons.tsx
  packages/blocks/lib/Blocks/Cards/Variants/Article.tsx
Due: backend_npm_install

Fix 404
  services/pages/public/favicon.png
  services/pages/views/404.tsx
Due: none

Block Hero
  packages/blocks/lib/Blocks/Hero/Hero.stories.tsx
  packages/blocks/lib/Blocks/Hero/Hero.tsx
  packages/blocks/lib/Blocks/Hero/index.ts
  packages/blocks/lib/Blocks/index.ts
  services/console/components/PageBuilder/Panel/EditSchema/Hero.tsx
  services/console/components/PageBuilder/Panel/EditSchema/getEditSchema.ts
  services/console/components/PageBuilder/Panel/PageNewBlockForm.tsx
  services/console/components/PageBuilder/useBlocks.ts
  services/console/public/images/blocks/preview-Hero.png
  services/console/public/locales/en/workspaces.json
  services/console/public/locales/fr/workspaces.json
Due: backend_npm_install, console_check, console_test, console_build_docker, console_deploy

Ability to add custom field as UiWidgets
  packages/design-system/lib/Components/SchemaForm/Field.tsx
  packages/design-system/lib/Components/SchemaForm/SchemaForm.stories.tsx
  packages/design-system/lib/Components/SchemaForm/SchemaForm.tsx
  packages/design-system/lib/Components/SchemaForm/context.ts
  packages/design-system/lib/Components/SchemaForm/types.ts
Due: backend_npm_install

On rollback event, runtime now reloads runtime model from storage
  services/runtime/src/services/workspaces/workspaces.ts
  services/workspaces/src/services/workspaces/crud/workspaces.ts
Due: workspaces_build_docker, workspaces_deploy, runtime_test, runtime_build_docker, runtime_deploy

Fix runtime model syncing on workspace duplication : no longer emit workspaces.created which used to override duplicated runtime model
  services/runtime/src/services/workspaces/workspaces.ts
  services/workspaces/src/services/workspaces/crud/workspaces.ts
Due: workspaces_build_docker, workspaces_deploy, runtime_test, runtime_build_docker, runtime_deploy

Block selector UiWidget
  packages/blocks/lib/utils/useExternalModule.ts
  packages/design-system/lib/Components/SchemaForm/FieldText.tsx
  packages/design-system/lib/Components/SchemaForm/context.ts
  packages/design-system/lib/Components/SchemaForm/index.ts
  packages/design-system/lib/Components/Select.tsx
  services/console/components/AutomationBuilder/Panel/InstructionValue.tsx
  services/console/components/AutomationBuilder/Panel/OutputForm.tsx
  services/console/components/FieldContainerWithRaw.tsx
  services/console/components/PageBuilder/Panel/EditSchema/Hero.tsx
  services/console/components/PageBuilder/Panel/Settings.tsx
  services/console/components/SchemaForm/BlockSelector.tsx
  services/console/components/SchemaForm/schemaFormComponents.tsx
  services/console/public/locales/fr/workspaces.json
  services/console/styles/globals.css
Due: backend_npm_install, console_check, console_test, console_build_docker, console_deploy

Fix tests
  services/console/__mocks__/@ant-design/icons.js
  services/console/__mocks__/@prisme.ai/design-system.js
  services/console/components/AutomationBuilder/AutomationBuilder.test.tsx
  services/console/components/AutomationBuilder/Panel/InstructionForm.test.tsx
  services/console/components/AutomationBuilder/Panel/InstructionValue.test.tsx
  services/console/components/AutomationBuilder/Panel/OutputForm.test.tsx
  services/console/components/PageBuilder/useBlocks.test.tsx
  services/console/components/SchemaForm/BlockSelector.test.tsx
  services/console/components/SchemaForm/__snapshots__/BlockSelector.test.tsx.snap
Due: console_check, console_test, console_build_docker, console_deploy

Fix loading page client side on server error
  services/console/components/UserProvider/Provider.tsx
  services/pages/components/Page/usePageFetcher.ts
Due: console_check, console_test, console_build_docker, console_deploy

Fix typing
  packages/design-system/lib/Components/SchemaForm/SchemaForm.tsx
Due: backend_npm_install

Fix S3 file duplication & workspace duplication synchronization with runtime
  services/workspaces/src/storage/drivers/s3.ts
Due: workspaces_build_docker, workspaces_deploy

Replace gitlab-ci.yml 'only' with 'rules' keyword to allow for more finegrained & optimized pipelines (do not run duplicate pipelines, deploy feature previews only from manual triggers)
  .gitlab-ci.yml
  services/api-gateway/Dockerfile
  services/console/Dockerfile
  services/events/Dockerfile
  services/runtime/Dockerfile
  services/workspaces/Dockerfile
Due: console_check, console_test, console_build_docker, console_deploy, workspaces_test, workspaces_build_docker, workspaces_deploy, runtime_test, runtime_build_docker, runtime_deploy, api-gateway_build_docker, api-gateway_deploy, events_test, events_build_docker, events_deploy

Add a labels fields to workspaces + automations + pages + imports + apps. Automatically define published App labels from the source workspace. Allow searching by labels with workspaces & apps API
  packages/types/index.d.ts
  services/workspaces/src/permissions/index.ts
  services/workspaces/src/services/DSULStorage/DSULStorage.ts
  services/workspaces/src/services/apps/crud/apps.ts
  services/workspaces/src/services/workspaces/crud/pages.ts
  services/workspaces/src/services/workspaces/crud/workspaces.ts
  specifications/swagger.yml
Due: backend_npm_install, workspaces_build_docker, workspaces_deploy, docs_build_static, docs_deploy

Exclude workspaces with 'suggestions' label from home page
  services/console/providers/Workspaces/WorkspacesProvider.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Events search API : Allow searching for multiple types with a comma-separated list + allow wildcard use inside field query
  services/events/src/services/events/store/ElasticsearchStore.ts
Due: events_test, events_build_docker, events_deploy
