Repository HP319193/prisme.ai: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend_npm_install, console_check, console_test, console_build_docker, console_deploy, workspaces_test, workspaces_build_docker, workspaces_deploy, runtime_test, runtime_build_docker, runtime_deploy, api-gateway_build_docker, api-gateway_deploy, events_test, events_build_docker, events_deploy, docs_build_static, docs_deploy

Path conditions:
  backend_npm_install: any of: services/api-gateway/package.json, services/runtime/package.json, services/workspaces/package.json, services/events/package.json, packages/**/*
  console_check: any of: services/console/**/*
  console_test: any of: services/console/**/*
  console_build_docker: any of: services/console/**/*
  console_deploy: any of: services/console/**/*
  workspaces_test: any of: services/workspaces/*
  workspaces_build_docker: any of: services/workspaces/**/*
  workspaces_deploy: any of: services/workspaces/**/*
  runtime_test: any of: services/runtime/**/*
  runtime_build_docker: any of: services/runtime/**/*
  runtime_deploy: any of: services/runtime/**/*
  api-gateway_build_docker: any of: services/api-gateway/**/*
  api-gateway_deploy: any of: services/api-gateway/**/*
  events_test: any of: services/events/**/*
  events_build_docker: any of: services/events/**/*
  events_deploy: any of: services/events/**/*
  docs_build_static: any of: docs/**/*, specifications/*
  docs_deploy: any of: docs/**/*, specifications/*

Fix pages, api gateway & console build
  package-lock.json
  services/api-gateway/package.json
  services/api-gateway/src/services/identity/users.ts
  services/console/Dockerfile
  services/pages/Dockerfile
Due: backend_npm_install, console_check, console_test, console_build_docker, console_deploy, api-gateway_build_docker, api-gateway_deploy

Page ask for token on load, console give the token
  package-lock.json
  services/console/components/PagePreview.tsx
  services/console/components/UserProvider/Provider.tsx
  services/pages/views/Page.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Deploy
  docker-compose.yml
  package-lock.json
  package.json
  packages/blocks/lib/BlockLoader.tsx
  scripts/start-dev.ts
  services/console/components/AutomationBuilder/AutomationBuilder.test.tsx
  services/pages/.gitignore
  services/pages/.gitlab-ci.yml
  services/pages/.sentryclirc
  services/pages/Dockerfile
  services/pages/README.md
  services/pages/_babelrc
  services/pages/docker-compose.yml
  services/pages/external.d.ts
  services/pages/next-env.d.ts
  services/pages/package-lock.json
  services/pages/package.json
  services/pages/pages/_app.tsx
  services/pages/public/favicon.ico
  services/pages/public/vercel.svg
  services/pages/tsconfig.json
Due: backend_npm_install, console_check, console_test, console_build_docker, console_deploy

BlockLoader provided by Page able to load a Block only by its slug
  packages/blocks/lib/Blocks/Layout/Content.test.tsx
  packages/blocks/lib/Blocks/Layout/Content.tsx
  packages/blocks/lib/Blocks/Layout/Head.test.tsx
  packages/blocks/lib/Blocks/Layout/Head.tsx
  packages/blocks/lib/Blocks/Layout/__snapshots__/Content.test.tsx.snap
  packages/blocks/lib/Blocks/Layout/__snapshots__/Head.test.tsx.snap
  packages/blocks/lib/Provider/BlocksProvider.tsx
  packages/blocks/lib/Provider/blocksContext.ts
  packages/blocks/lib/Provider/types.ts
  packages/blocks/lib/index.ts
  packages/types/index.d.ts
  services/console/__mocks__/@ant-design/icons.js
  services/console/components/Share/SharePage.tsx
  services/pages/components/Page/BlockLoader.test.tsx
  services/pages/components/Page/BlockLoader.tsx
  services/pages/components/Page/Page.test.tsx
  services/pages/components/Page/Page.tsx
  services/pages/components/Page/PageBlock.tsx
  services/pages/components/Page/PageProvider.tsx
  services/pages/components/Page/__snapshots__/BlockLoader.test.tsx.snap
  services/pages/components/Page/__snapshots__/Page.test.tsx.snap
  services/pages/components/Page/context.ts
  services/pages/components/Page/usePageEvents.test.tsx
  services/pages/components/Page/usePageEvents.ts
  services/pages/components/Page/usePageFetcher.ts
  services/pages/pages/_app.tsx
  services/pages/views/Page.tsx
  services/workspaces/src/services/workspaces/crud/pages.ts
  specifications/swagger.yml
Due: backend_npm_install, console_check, console_test, console_build_docker, console_deploy, workspaces_build_docker, workspaces_deploy, docs_build_static, docs_deploy

Fix crash when a node does not have a child
  services/console/components/AutomationBuilder/flow.ts
Due: console_check, console_test, console_build_docker, console_deploy

Fix crash when do list is not an array
  services/console/components/SchemaForm/useSchema.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Search instructions name and description
  services/console/components/AutomationBuilder/Panel/InstructionSelection.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Start front script
  package.json
Due: none

Update page selector
  services/console/components/PagePreview.tsx
  services/console/components/SchemaForm/useSchema.tsx
  services/console/pages/pages/[pageSlug].ts
  services/console/utils/urls.ts
  services/console/views/PublicPage.tsx
Due: console_check, console_test, console_build_docker, console_deploy

DataTable manual pagination
  packages/blocks/lib/Blocks/DataTable.stories.tsx
  packages/blocks/lib/Blocks/DataTable/DataTable.tsx
Due: backend_npm_install

Remove useless code
  services/console/pages/index.ts
  services/console/views/Index.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Fix tests
  services/console/components/SchemaForm/__snapshots__/useSchema.test.tsx.snap
  services/console/components/SchemaForm/useSchema.test.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Fix adding instruction without changing its settings
  services/console/components/AutomationBuilder/Panel/InstructionForm.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Fix pagination when filtering items
  packages/design-system/lib/Components/LayoutSelection.stories.tsx
  packages/design-system/lib/Components/LayoutSelection.tsx
Due: backend_npm_install

Redesign Power by button
  services/console/components/PageBuilder/PageBuilder.tsx
  services/console/components/PoweredBy.tsx
  services/console/public/favicon.png
  services/console/public/locales/en/common.json
  services/console/public/locales/es/common.json
  services/console/public/locales/fr/common.json
  services/pages/components/Page/Page.tsx
  services/pages/tailwind.config.js
Due: console_check, console_test, console_build_docker, console_deploy

Fix pages starter
  services/pages/Dockerfile
Due: none

Should fix pages start
  services/pages/docker/start.sh
Due: none

Give block name in props
  packages/blocks/lib/BlockLoader.tsx
  scripts/start-dev.ts
Due: backend_npm_install

Remove padding on datatable
  packages/blocks/lib/Blocks/DataTable/DataTable.tsx
Due: backend_npm_install

Display header nav settings as column
  services/console/components/PageBuilder/Panel/EditSchema/Header.tsx
Due: console_check, console_test, console_build_docker, console_deploy

SchemaForm onChange fire when value is emptied
  packages/blocks/lib/Blocks/Form.stories.tsx
  packages/design-system/lib/Components/SchemaForm/SchemaForm.tsx
Due: backend_npm_install

Fix pages services with docker
  services/pages/Dockerfile
  services/pages/docker/start.js
  services/pages/docker/start.sh
Due: none

Attempt to fix wait instruction which seems to break after some time, by reordering the broker.on & broker.send calls
  services/runtime/src/services/runtime/automations/instructions/wait.ts
Due: runtime_test, runtime_build_docker, runtime_deploy

Fix start all platform on local dev mode
  services/pages/docker-compose.yml
Due: none

Load page in preview only when slug is set
  services/console/components/PagePreview.tsx
  services/console/views/Page/RightButtons.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Fix empty link make crash Pages
  packages/blocks/lib/Blocks/Header.tsx
  services/console/pages/_app.tsx
  services/pages/pages/_app.tsx
Due: backend_npm_install, console_check, console_test, console_build_docker, console_deploy

Add pagination configuration in Datatable schema
  services/console/components/PageBuilder/Panel/EditSchema/DataTable.tsx
  services/console/public/locales/en/workspaces.json
  services/console/public/locales/es/workspaces.json
  services/console/public/locales/fr/workspaces.json
Due: console_check, console_test, console_build_docker, console_deploy

As a new attempt to fix wait instruction instability, the broker package now regularly re-syncs the time offset with the remote redis
  packages/broker/lib/drivers/index.ts
  packages/broker/lib/drivers/redis/clientPool.ts
  packages/broker/lib/drivers/redis/index.ts
  services/runtime/Dockerfile
Due: backend_npm_install, runtime_test, runtime_build_docker, runtime_deploy

Improve broker timeOffset synchronization (update it on each sent event)
  packages/broker/lib/drivers/redis/index.ts
  services/runtime/Dockerfile
Due: backend_npm_install, runtime_test, runtime_build_docker, runtime_deploy

Change help and whats news pages urls
  services/console/components/HeaderWorkspace.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Add appInstances to page object when updating preview
  services/console/components/PagePreview.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Add ability to set a custom file upload on upload field
  packages/design-system/lib/Components/SchemaForm/FieldTextUpload.tsx
  packages/design-system/lib/Components/SchemaForm/SchemaForm.stories.tsx
  packages/design-system/lib/Components/SchemaForm/SchemaForm.tsx
  packages/design-system/lib/Components/SchemaForm/context.ts
Due: backend_npm_install

Fix types
  package.json
  packages/blocks/lib/Provider/blocksContext.ts
  services/pages/components/BlocksProvider/BlocksProvider.tsx
Due: backend_npm_install

Tests
  jest.config.js
  packages/sdk/lib/api.test.ts
  packages/sdk/lib/api.ts
  services/console/__mocks__/@ant-design/icons.js
  services/console/components/AutomationBuilder/Block.test.tsx
  services/console/components/PagesProvider/PagesProvider.test.tsx
  services/console/components/PagesProvider/PagesProvider.tsx
  services/pages/components/BlocksProvider/BlocksProvider.test.tsx
  services/pages/components/BlocksProvider/DownIcon.test.tsx
  services/pages/components/BlocksProvider/Loading.test.tsx
  services/pages/components/BlocksProvider/__snapshots__/DownIcon.test.tsx.snap
  services/pages/components/BlocksProvider/__snapshots__/Loading.test.tsx.snap
  services/pages/components/BlocksProvider/__snapshots__/getPreview.test.tsx.snap
  services/pages/components/BlocksProvider/getPreview.test.tsx
Due: backend_npm_install, console_check, console_test, console_build_docker, console_deploy

Upload forms files on workspace file storage
  packages/blocks/lib/Blocks/Form.tsx
  packages/blocks/lib/Provider/BlocksProvider.tsx
  packages/blocks/lib/Provider/blocksContext.ts
  packages/blocks/lib/Provider/context.ts
  packages/design-system/lib/Components/SchemaForm/FieldTextUpload.tsx
  packages/design-system/lib/Components/SchemaForm/context.ts
  packages/sdk/lib/api.ts
  services/console/components/PagesProvider/PagesProvider.tsx
  services/console/views/Page/Page.tsx
  services/pages/components/BlocksProvider/BlocksProvider.tsx
  services/pages/components/BlocksProvider/DownIcon.tsx
  services/pages/components/BlocksProvider/Link.tsx
  services/pages/components/BlocksProvider/Loading.tsx
  services/pages/components/BlocksProvider/getPreview.tsx
  services/pages/components/BlocksProvider/index.ts
  services/pages/components/Workspace.tsx
  services/pages/package.json
  services/pages/pages/_app.tsx
Due: backend_npm_install, console_check, console_test, console_build_docker, console_deploy

Back of setAppConfig function
  services/pages/components/Page/BlockLoader.tsx
Due: none

Fix adding Block from renamed App instances
  services/console/components/PageBuilder/PageBuilder.tsx
  services/console/components/PageBuilder/useBlocks.ts
Due: console_check, console_test, console_build_docker, console_deploy
