Repository HP319193/prisme.ai: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend_npm_install, console_check, console_test, console_build_docker, console_deploy, workspaces_test, workspaces_build_docker, workspaces_deploy, runtime_test, runtime_build_docker, runtime_deploy, api-gateway_build_docker, api-gateway_deploy, events_test, events_build_docker, events_deploy, docs_build_static, docs_deploy

Path conditions:
  backend_npm_install: any of: services/api-gateway/package.json, services/runtime/package.json, services/workspaces/package.json, services/events/package.json, packages/**/*
  console_check: any of: services/console/**/*
  console_test: any of: services/console/**/*
  console_build_docker: any of: services/console/**/*
  console_deploy: any of: services/console/**/*
  workspaces_test: any of: services/workspaces/*
  workspaces_build_docker: any of: services/workspaces/**/*
  workspaces_deploy: any of: services/workspaces/**/*
  runtime_test: any of: services/runtime/**/*
  runtime_build_docker: any of: services/runtime/**/*
  runtime_deploy: any of: services/runtime/**/*
  api-gateway_build_docker: any of: services/api-gateway/**/*
  api-gateway_deploy: any of: services/api-gateway/**/*
  events_test: any of: services/events/**/*
  events_build_docker: any of: services/events/**/*
  events_deploy: any of: services/events/**/*
  docs_build_static: any of: docs/**/*, specifications/*
  docs_deploy: any of: docs/**/*, specifications/*

Put current user object in api instance
  packages/sdk/lib/api.ts
Due: backend_npm_install

Fix crash in events API
  services/events/src/utils/extractObjectsByPath.ts
Due: events_test, events_build_docker, events_deploy

Ability to set HTML as header nav button content
  packages/blocks/lib/Blocks/Header.tsx
Due: backend_npm_install

Better display of header
  packages/blocks/lib/Blocks/Layout/Head.tsx
Due: backend_npm_install

Updated Layout selection with some enhancements
  packages/design-system/lib/Components/LayoutSelection.tsx
  packages/design-system/lib/Components/ListItem.tsx
  packages/types/index.d.ts
Due: backend_npm_install

:bug: Hide form if it's schema is not defined and the user is accessing it from a presentation mode.
  packages/blocks/lib/Blocks/Form.tsx
Due: backend_npm_install

Fix crash in json path parsing method
  packages/permissions/lib/utils/extractObjectsByPath.ts
Due: backend_npm_install

Joining user topics now automatically updates already connected websockets permissions
  packages/permissions/lib/accessManager.ts
  services/events/src/services/events/Subscriptions.ts
Due: backend_npm_install, events_test, events_build_docker, events_deploy

Fix api not being sent to blocks in pagebuilder and sidebar
  services/console/components/PageBuilder/PageBlock.tsx
  services/console/views/AppsSidebarItem.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Fixed websockets permissions live update on topic join
  packages/permissions/lib/accessManager.ts
  packages/permissions/lib/permissions.ts
  services/events/src/api/routes/websockets.ts
Due: backend_npm_install, events_test, events_build_docker, events_deploy

Expose sessionId inside session context
  docs/docs/en/workspaces/automations.md
  services/runtime/src/services/runtime/contexts.ts
Due: runtime_test, runtime_build_docker, runtime_deploy, docs_build_static, docs_deploy

Fix conditional bangs which evaluated to the full remaining expression instead of the single closest unary expression
  services/runtime/deps/condition-eval/grammar.ne
  services/runtime/deps/condition-eval/src/grammar.js
  services/runtime/deps/condition-eval/src/interpreter/NegationExpression.ts
  services/runtime/src/utils/evaluate.test.ts
Due: runtime_test, runtime_build_docker, runtime_deploy

Fixed runtime unit tests
  services/runtime/src/services/runtime/automations/index.test.ts
Due: runtime_test, runtime_build_docker, runtime_deploy

Allow sending arrays to webhooks
  services/runtime/Dockerfile
  specifications/swagger.yml
Due: runtime_test, runtime_build_docker, runtime_deploy, docs_build_static, docs_deploy

ResizeObserver Polyfill for old browsers
  package-lock.json
  packages/blocks/lib/Blocks/Layout/Layout.tsx
  packages/blocks/package.json
Due: backend_npm_install

Forbid publishing apps without photo/description
  services/workspaces/src/services/apps/crud/apps.ts
Due: workspaces_build_docker, workspaces_deploy

force workspaces rebuild
  services/workspaces/Dockerfile
  services/workspaces/src/app.ts
Due: workspaces_test, workspaces_build_docker, workspaces_deploy

Repeat : Added current iteration index inside an variable
  services/runtime/src/services/runtime/automations/index.test.ts
  services/runtime/src/services/runtime/automations/instructions/repeat.ts
  services/runtime/src/services/workspaces/__mocks__/workspaces/instructions/current.yml
Due: runtime_test, runtime_build_docker, runtime_deploy

update doc
  docs/docs/en/workspaces/instructions.md
Due: docs_build_static, docs_deploy

Setting user.id also updates source.userId / source.sessionId in emitted events
  services/runtime/src/services/runtime/automations/index.test.ts
  services/runtime/src/services/runtime/automations/instructions/emit.ts
  services/runtime/src/services/runtime/automations/instructions/index.ts
  services/runtime/src/services/runtime/contexts.ts
  services/runtime/src/services/runtime/index.test.ts
  services/runtime/src/services/workspaces/__mocks__/workspaces/instructions/current.yml
Due: runtime_test, runtime_build_docker, runtime_deploy

Add the error code to the page
  services/console/pages/pages/[pageSlug].ts
Due: console_check, console_test, console_build_docker, console_deploy

Throw an explicit runtime error when current instruction has an undefined/null payload
  services/runtime/src/errors/index.ts
  services/runtime/src/services/runtime/automations/instructions/index.ts
  services/runtime/src/services/runtime/contexts.ts
Due: runtime_test, runtime_build_docker, runtime_deploy

Put api and events in window global scope of public page
  services/console/views/PublicPage.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Don't fire change event if form is pristine
  packages/design-system/lib/Components/SchemaForm/SchemaForm.tsx
Due: backend_npm_install

Split workspaceLayout logic to WorkspaceProvider
  services/console/components/AutomationBuilder/AutomationBuilder.test.tsx
  services/console/components/AutomationBuilder/AutomationBuilder.tsx
  services/console/components/AutomationBuilder/Panel/InstructionValue.tsx
  services/console/components/AutomationBuilder/TriggerBlock.tsx
  services/console/components/EventsViewer/Empty.tsx
  services/console/components/EventsViewer/EventsViewer.test.tsx
  services/console/components/EventsViewer/EventsViewer.tsx
  services/console/components/EventsViewer/FilterEventsPopover.tsx
  services/console/components/HeaderWorkspace.tsx
  services/console/components/PageBuilder/PageBlock.tsx
  services/console/components/PageBuilder/PageBlocks.tsx
  services/console/components/PageBuilder/Panel/EditSchema/Development.tsx
  services/console/components/PageBuilder/Panel/Settings.tsx
  services/console/components/PublishModal.tsx
  services/console/components/Share/ShareWorkspace.tsx
  services/console/components/Share/ShareWorkspacePopover.tsx
  services/console/components/WorkspaceProvider/Provider.tsx
  services/console/components/WorkspaceProvider/context.ts
  services/console/components/WorkspaceProvider/index.ts
  services/console/layouts/WorkspaceLayout/WorkspaceLayout.tsx
  services/console/layouts/WorkspaceLayout/context.tsx
  services/console/layouts/WorkspaceLayout/index.tsx
  services/console/utils/useAppConfig.tsx
  services/console/views/AppsSidebar.tsx
  services/console/views/AppsStore.tsx
  services/console/views/Automation.test.tsx
  services/console/views/Automation.tsx
  services/console/views/AutomationSidebar.test.tsx
  services/console/views/AutomationsSidebar.tsx
  services/console/views/Page.tsx
  services/console/views/PagesSidebar.tsx
  services/console/views/Workspace.tsx
  services/console/views/WorkspaceSource.test.tsx
  services/console/views/WorkspaceSource.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Move sidebar to the left
  services/console/components/AutomationBuilder/Panel/InstructionValue.tsx
  services/console/components/EventsViewer/EventsViewer.tsx
  services/console/layouts/WorkspaceLayout/WorkspaceLayout.tsx
  services/console/views/AppsSidebar.tsx
  services/console/views/Automation.tsx
  services/console/views/Workspace.tsx
Due: console_check, console_test, console_build_docker, console_deploy

WORKING COMMIT fix test and build (some test commented!)
  services/console/components/AutomationBuilder/AutomationBuilder.test.tsx
  services/console/components/EventsViewer/EventsViewer.test.tsx
  services/console/components/PageBuilder/Panel/Settings.tsx
  services/console/components/WorkspaceProvider/WorkspaceProvider.test.tsx
  services/console/layouts/WorkspaceLayout/WorkspaceLayout.test.tsx
  services/console/layouts/WorkspaceLayout/__snapshots__/WorkspaceLayout.test.tsx.snap
  services/console/views/Automation.test.tsx
  services/console/views/AutomationSidebar.test.tsx
  services/console/views/WorkspaceSource.test.tsx
  services/console/views/WorkspaceSource.tsx
  services/console/views/__snapshots__/Automation.test.tsx.snap
  services/console/views/__snapshots__/Workspace.test.tsx.snap
Due: console_check, console_test, console_build_docker, console_deploy

Added Searchable Tree component
  packages/design-system/lib/Components/Tree.stories.tsx
  packages/design-system/lib/Components/Tree.tsx
  packages/design-system/lib/index.ts
  packages/design-system/tailwind.config.cjs
Due: backend_npm_install

working commit can switch page/automation from tree view
  packages/design-system/lib/Components/Tree.tsx
  packages/types/index.d.ts
  services/console/.env
  services/console/components/AppsProvider/context.ts
  services/console/layouts/WorkspaceLayout/WorkspaceLayout.tsx
Due: backend_npm_install, console_check, console_test, console_build_docker, console_deploy

working commit can add automations
  packages/design-system/lib/Components/Tree.stories.tsx
  packages/design-system/lib/Components/Tree.tsx
  packages/design-system/styles/prismeai-theme.less
  services/console/layouts/WorkspaceLayout/WorkspaceLayout.tsx
Due: backend_npm_install, console_check, console_test, console_build_docker, console_deploy

working commit can add pages
  services/console/layouts/WorkspaceLayout/WorkspaceLayout.tsx
Due: console_check, console_test, console_build_docker, console_deploy

fix two pages appearing on creation instead of one
  services/console/components/PagesProvider/PagesProvider.tsx
Due: console_check, console_test, console_build_docker, console_deploy

fix activity feed grow
  services/console/layouts/WorkspaceLayout/WorkspaceLayout.tsx
Due: console_check, console_test, console_build_docker, console_deploy

fix instruction set crash when parent var equals undefined or null
  services/runtime/src/services/runtime/contexts.ts
Due: runtime_test, runtime_build_docker, runtime_deploy

Made tree search performant
  packages/design-system/lib/Components/Tree.tsx
Due: backend_npm_install

Added apps navigation
  packages/design-system/lib/Components/PageHeader.tsx
  services/console/layouts/WorkspaceLayout/WorkspaceLayout.tsx
  services/console/pages/workspaces/[id]/apps/[appId]/index.tsx
  services/console/views/Apps.tsx
  services/console/views/AppsSidebar.tsx
  services/console/views/AppsSidebarItem.tsx
  services/console/views/Automation.tsx
  services/console/views/Page.tsx
  services/console/views/WorkspaceSource.tsx
Due: backend_npm_install, console_check, console_test, console_build_docker, console_deploy

added onDelete to Tree elements and alwaysShown
  packages/design-system/lib/Components/Tree.stories.tsx
  packages/design-system/lib/Components/Tree.tsx
Due: backend_npm_install

enhanced Apps view
  services/console/layouts/WorkspaceLayout/WorkspaceLayout.tsx
  services/console/views/Apps.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Added app edition, fixed other content edition
  packages/sdk/lib/api.ts
  packages/types/index.d.ts
  services/console/components/AppsProvider/Provider.tsx
  services/console/components/AppsProvider/context.ts
  services/console/components/PageBuilder/context.ts
  services/console/views/Apps.tsx
  services/console/views/Automation.tsx
  services/console/views/Page.tsx
  specifications/swagger.yml
Due: backend_npm_install, console_check, console_test, console_build_docker, console_deploy, docs_build_static, docs_deploy

Fix appEditor load config
  services/console/components/AppEditor.tsx
  services/console/components/Page/PageBlock.tsx
  services/console/components/PageBuilder/PageBlock.tsx
  services/console/components/WorkspaceProvider/Provider.tsx
  services/console/components/WorkspacesProvider/Provider.tsx
  services/console/layouts/WorkspaceLayout/WorkspaceLayout.tsx
  services/console/utils/generateNewName.ts
  services/console/utils/useAppConfig.tsx
  services/console/views/Apps.tsx
Due: console_check, console_test, console_build_docker, console_deploy
