Repository HP319193/prisme.ai: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend_npm_install, console_check, console_test, console_build_docker, console_deploy, workspaces_test, workspaces_build_docker, workspaces_deploy, runtime_test, runtime_build_docker, runtime_deploy, api-gateway_build_docker, api-gateway_deploy, events_test, events_build_docker, events_deploy, docs_build_static, docs_deploy

Path conditions:
  backend_npm_install: any of: services/api-gateway/package.json, services/runtime/package.json, services/workspaces/package.json, services/events/package.json, packages/**/*
  console_check: any of: services/console/**/*
  console_test: any of: services/console/**/*
  console_build_docker: any of: services/console/**/*
  console_deploy: any of: services/console/**/*
  workspaces_test: any of: services/workspaces/*
  workspaces_build_docker: any of: services/workspaces/**/*
  workspaces_deploy: any of: services/workspaces/**/*
  runtime_test: any of: services/runtime/**/*
  runtime_build_docker: any of: services/runtime/**/*
  runtime_deploy: any of: services/runtime/**/*
  api-gateway_build_docker: any of: services/api-gateway/**/*
  api-gateway_deploy: any of: services/api-gateway/**/*
  events_test: any of: services/events/**/*
  events_build_docker: any of: services/events/**/*
  events_deploy: any of: services/events/**/*
  docs_build_static: any of: docs/**/*, specifications/*
  docs_deploy: any of: docs/**/*, specifications/*

Avoid closing block edit panel when clicking any button
  services/console/components/PageBuilder/PageBuilder.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Fix crash
  services/console/views/Page.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Fix syncing pb between workspaces and workspace providers
  services/console/layouts/WorkspaceLayout/WorkspaceLayout.tsx
  services/console/views/Automation.tsx
  services/console/views/AutomationsSidebar.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Fix tests
  services/console/layouts/WorkspaceLayout/WorkspaceLayout.test.tsx
  services/console/layouts/WorkspaceLayout/__snapshots__/WorkspaceLayout.test.tsx.snap
Due: console_check, console_test, console_build_docker, console_deploy

added an alias tag to docker builds for tagged prod versions having their 'latest' tag referred as 'prod'
  .gitlab-ci.yml
Due: none

?
  services/console/layouts/WorkspaceLayout/WorkspaceLayout.test.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Do not hide 'request too large' errors from http clients
  services/events/src/api/middlewares/errors.ts
  services/runtime/src/api/middlewares/errors.ts
  services/workspaces/src/api/middlewares/errors.ts
Due: workspaces_build_docker, workspaces_deploy, runtime_test, runtime_build_docker, runtime_deploy, events_test, events_build_docker, events_deploy

Schema form color ui:widget
  package-lock.json
  package.json
  packages/design-system/lib/Components/SchemaForm/FieldText.tsx
  packages/design-system/lib/Components/SchemaForm/FieldTextColor.tsx
  packages/design-system/lib/Components/SchemaForm/SchemaForm.stories.tsx
  packages/design-system/lib/Components/SchemaForm/types.ts
  packages/design-system/package.json
Due: backend_npm_install

Default value in schema form
  packages/design-system/lib/Components/SchemaForm/Field.tsx
  packages/design-system/lib/Components/SchemaForm/SchemaForm.stories.tsx
  packages/design-system/lib/Components/SchemaForm/types.ts
Due: backend_npm_install

Give setup schema to page builder when its loaded
  services/console/components/Block.tsx
  services/console/components/PageBuilder/PageBlock.tsx
  services/console/components/PageBuilder/PageBuilder.tsx
  services/console/components/PageBuilder/context.ts
Due: console_check, console_test, console_build_docker, console_deploy

Send block config with init event
  services/console/components/Blocks/useBlocksConfigs.ts
Due: console_check, console_test, console_build_docker, console_deploy

revert "Events websocket now don't return events from authenticated user"
  services/events/src/services/events/Subscriptions.ts
Due: events_test, events_build_docker, events_deploy

Recall old config values inside workspaces.configured and workspaces.apps.configured events
  packages/types/index.d.ts
  services/workspaces/src/services/workspaces/crud/appInstances.ts
  services/workspaces/src/services/workspaces/crud/workspaces.ts
  specifications/swagger.yml
Due: backend_npm_install, workspaces_build_docker, workspaces_deploy, docs_build_static, docs_deploy

Pass workspaces.deleted event to appinstances
  services/runtime/src/services/runtime/index.ts
Due: runtime_test, runtime_build_docker, runtime_deploy

Detect client language and redirect to the correct path
  services/console/next-i18next.config.js
  services/console/public/locales/default
Due: console_check, console_test, console_build_docker, console_deploy

Sync workspace with EDA
  services/console/components/PagesProvider/PagesProvider.tsx
  services/console/components/PagesProvider/context.ts
  services/console/layouts/WorkspaceLayout/WorkspaceLayout.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Implemented secrets redacting for secret arguments / config fields shown in runtime native events (like runtime.automations.executed)
  packages/broker/lib/__mocks__/broker.ts
  packages/broker/lib/broker.ts
  packages/types/index.d.ts
  services/runtime/src/services/runtime/automations/index.test.ts
  services/runtime/src/services/runtime/automations/index.ts
  services/runtime/src/services/runtime/contexts.ts
  services/runtime/src/services/runtime/index.ts
  services/runtime/src/services/workspaces/__mocks__/workspaces/instructions/current.yml
  services/runtime/src/services/workspaces/workspace.ts
  services/runtime/src/utils/index.ts
  services/runtime/src/utils/secrets.test.ts
  services/runtime/src/utils/secrets.ts
  specifications/swagger.yml
Due: backend_npm_install, runtime_test, runtime_build_docker, runtime_deploy, docs_build_static, docs_deploy

Prevent private automations from being called from parent workspaces
  docs/docs/en/workspaces/apps.md
  services/runtime/src/services/runtime/index.test.ts
  services/runtime/src/services/workspaces/__mocks__/apps/basicApp/current.yml
  services/runtime/src/services/workspaces/__mocks__/workspaces/imports/current.yml
  services/runtime/src/services/workspaces/workspace.ts
Due: runtime_test, runtime_build_docker, runtime_deploy, docs_build_static, docs_deploy

Next need null instead of undefined
  services/console/pages/pages/[pageSlug].ts
  services/console/views/PublicPage.tsx
Due: console_check, console_test, console_build_docker, console_deploy

force workspaces rebuild to update swagger
  services/workspaces/Dockerfile
  services/workspaces/src/app.ts
Due: workspaces_test, workspaces_build_docker, workspaces_deploy

Allow api keys to grant events access with custom source/payload filters (i.e source.sessionId: "${user.sessionId}")
  packages/permissions/lib/rulesBuilder.ts
  packages/permissions/lib/types.ts
  packages/types/index.d.ts
  services/events/src/api/middlewares/accessManager.ts
  services/events/src/api/routes/websockets.ts
  services/events/src/permissions/config.ts
  services/events/src/services/events/Subscriptions.ts
  services/events/src/services/events/send.ts
  services/workspaces/src/api/middlewares/accessManager.ts
  services/workspaces/src/api/routes/pages.ts
  services/workspaces/src/permissions/index.ts
  specifications/swagger.yml
Due: backend_npm_install, workspaces_build_docker, workspaces_deploy, events_test, events_build_docker, events_deploy, docs_build_static, docs_deploy

Fix runtime tsc
  services/runtime/Dockerfile
  services/runtime/src/api/routes/webhooks.ts
Due: runtime_test, runtime_build_docker, runtime_deploy

fix tsc
  packages/permissions/lib/types.ts
  services/events/Dockerfile
  services/workspaces/Dockerfile
Due: backend_npm_install, workspaces_test, workspaces_build_docker, workspaces_deploy, events_test, events_build_docker, events_deploy

Display full icon on Workspace and App listings
  services/console/views/AppsStore.tsx
  services/console/views/Workspaces.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Display app icon on apps sidebar
  services/console/views/AppsSidebarItem.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Block package init
  packages/blocks/index.ts
  packages/blocks/lib/index.ts
  packages/blocks/package.json
  packages/blocks/tsconfig.json
  packages/design-system/.storybook/main.js
Due: backend_npm_install

Block Provider
  packages/blocks/lib/Provider/Block.tsx
  packages/blocks/lib/Provider/Provider.stories.tsx
  packages/blocks/lib/Provider/context.ts
  packages/blocks/lib/Provider/index.ts
  packages/blocks/lib/Provider/types.ts
  packages/blocks/lib/index.ts
Due: backend_npm_install

Added next-transpile-module to prevent need to rebuild local libs
  package-lock.json
  services/console/package.json
Due: console_check, console_test, console_build_docker, console_deploy

Moved localizedInput to design-system
  packages/design-system/lib/Components/Localized/LocalizedInput.stories.tsx
  packages/design-system/lib/Components/Localized/LocalizedInput.tsx
  packages/design-system/lib/Components/Localized/useLocalizedText.ts
  packages/design-system/lib/index.ts
  services/console/components/AutomationBuilder/AutomationBuilder.tsx
  services/console/components/EventsViewer/EventsViewer.tsx
  services/console/components/HeaderWorkspace.tsx
  services/console/components/PageBuilder/PageBlock.tsx
  services/console/components/PageBuilder/PageBlocks.tsx
  services/console/components/PageBuilder/Panel/PageEditBlockForm.tsx
  services/console/components/PageBuilder/Panel/PageNewBlockForm.tsx
  services/console/components/PageBuilder/Panel/Settings.tsx
  services/console/components/PublishModal.tsx
  services/console/components/SchemaForm/useSchema.tsx
  services/console/components/WorkspacesProvider/Provider.tsx
  services/console/layouts/EditDetails.tsx
  services/console/layouts/WorkspaceLayout/WorkspaceLayout.tsx
  services/console/utils/useLocalizedTextConsole.test.tsx
  services/console/utils/useLocalizedTextConsole.ts
  services/console/views/AppsStore.tsx
  services/console/views/Automation.tsx
  services/console/views/AutomationsSidebar.tsx
  services/console/views/Page.tsx
  services/console/views/PagesSidebar.tsx
  services/console/views/PublicPage.tsx
  services/console/views/Workspaces.tsx
Due: backend_npm_install, console_check, console_test, console_build_docker, console_deploy

useLocalizedTextBlock
  packages/blocks/lib/Blocks/Cards.tsx
  packages/blocks/lib/Blocks/Development.tsx
  packages/blocks/lib/Blocks/Form.tsx
  packages/blocks/lib/useLocalizedTextBlock.ts
Due: backend_npm_install

Cards and Form blocks update
  package-lock.json
  packages/blocks/lib/BlockLoader.tsx
  packages/blocks/lib/Blocks/Cards.tsx
  packages/blocks/lib/Blocks/DataTable.tsx
  packages/blocks/lib/Blocks/Development.tsx
  packages/blocks/lib/Blocks/Form.tsx
  packages/blocks/lib/Blocks/Header.tsx
  packages/blocks/lib/Blocks/index.ts
  packages/blocks/lib/tw.ts
  packages/blocks/package.json
  services/console/components/Blocks/EditSchema/Cards.tsx
  services/console/components/Blocks/EditSchema/DataTable.tsx
  services/console/components/Blocks/EditSchema/Development.tsx
  services/console/components/Blocks/EditSchema/Form.tsx
  services/console/components/Blocks/EditSchema/Header.tsx
  services/console/components/Blocks/EditSchema/getEditSchema.ts
  services/console/components/Blocks/builtinBlocks.ts
  services/console/components/PageBuilder/PageBlocks.tsx
  services/console/components/PageBuilder/PageBuilder.tsx
  services/console/components/PageBuilder/Panel/PageEditBlockForm.tsx
  services/console/components/PageBuilder/Panel/Settings.tsx
  services/console/components/PageBuilder/context.ts
  services/console/views/AppsSidebarItem.tsx
Due: backend_npm_install, console_check, console_test, console_build_docker, console_deploy

Externals sent via blocksProvider
  packages/blocks/lib/BlockLoader.stories.tsx
  packages/blocks/lib/BlockLoader.tsx
  packages/blocks/lib/Blocks/Cards.tsx
  packages/blocks/lib/Blocks/DataTable.tsx
  packages/blocks/lib/Blocks/Development.tsx
  packages/blocks/lib/Blocks/Form.stories.tsx
  packages/blocks/lib/Blocks/Form.tsx
  packages/blocks/lib/Blocks/Header.tsx
  packages/blocks/lib/Provider/BlocksProvider.tsx
  packages/blocks/lib/Provider/blocksContext.ts
  packages/blocks/lib/Provider/index.ts
  packages/blocks/lib/index.ts
  services/console/components/Blocks/builtinBlocks.ts
  services/console/components/PageBuilder/PageBlockProvider.tsx
  services/console/components/PageBuilder/Panel/Settings.tsx
  services/console/pages/_app.tsx
  services/console/views/PublicPage.tsx
Due: backend_npm_install, console_check, console_test, console_build_docker, console_deploy

pkg/blocks make the relation builtinBlock name -> React Component
  packages/blocks/lib/BlockLoader.stories.tsx
  packages/blocks/lib/BlockLoader.tsx
  packages/blocks/lib/Blocks/Development.tsx
  packages/blocks/lib/Blocks/Header.tsx
  packages/blocks/lib/Blocks/builtinBlocksList.ts
  packages/blocks/lib/Blocks/index.ts
  packages/blocks/lib/Provider/Provider.stories.tsx
  services/console/components/Blocks/EditSchema/Form.tsx
  services/console/components/Blocks/builtinBlocks.ts
  services/console/components/PageBuilder/PageBlock.tsx
  services/console/components/PageBuilder/PageBlocks.tsx
  services/console/components/PageBuilder/PageBuilder.tsx
  services/console/components/PageBuilder/Panel/PageEditBlockForm.tsx
  services/console/components/PageBuilder/Panel/PageNewBlockForm.tsx
  services/console/components/PageBuilder/Panel/Settings.tsx
  services/console/components/PageBuilder/context.ts
  services/console/components/PageBuilder/useBlockConfig.tsx
  services/console/pages/_app.tsx
  services/console/views/AppsSidebarItem.tsx
  services/console/views/PublicPage.tsx
Due: backend_npm_install, console_check, console_test, console_build_docker, console_deploy

UseBlockAppConfig and UseBlockPageConfig for blocks logics
  packages/blocks/lib/BlockLoader.tsx
  packages/blocks/lib/Blocks/Header.tsx
  packages/blocks/lib/Blocks/index.ts
  packages/blocks/lib/Provider/Block.tsx
  services/console/components/Blocks/PublicPageBlock.tsx
  services/console/components/Blocks/useBlockAppConfig.tsx
  services/console/components/Blocks/usePublicBlocksConfigs.ts
  services/console/components/PageBuilder/PageBlock.tsx
  services/console/components/PageBuilder/PageBuilder.tsx
  services/console/components/PageBuilder/Panel/PageEditBlockForm.tsx
  services/console/components/PageBuilder/Panel/PageNewBlockForm.tsx
  services/console/components/PageBuilder/useBlockConfig.tsx
  services/console/components/PageBuilder/useBlockPageConfig.tsx
  services/console/views/AppsSidebarItem.tsx
  services/console/views/PublicPage.tsx
Due: backend_npm_install, console_check, console_test, console_build_docker, console_deploy

Cleaned BlockLoader comments
  packages/blocks/lib/BlockLoader.tsx
Due: backend_npm_install

Cleaned PageBlock comments
  services/console/components/PageBuilder/PageBlock.tsx
Due: console_check, console_test, console_build_docker, console_deploy

block use their own i18n
  packages/blocks/lib/Blocks/Cards.tsx
  packages/blocks/lib/Blocks/DataTable.tsx
  packages/blocks/lib/Blocks/Development.tsx
  packages/blocks/lib/Blocks/Form.tsx
  packages/blocks/lib/Blocks/Header.tsx
  packages/blocks/lib/i18n.ts
  packages/blocks/lib/i18n.tsx
  services/console/public/locales/en/pages.json
  services/console/public/locales/es/pages.json
  services/console/public/locales/fr/pages.json
Due: backend_npm_install, console_check, console_test, console_build_docker, console_deploy

Fix crash on cards if wrong config is sent from automation/eventt
  packages/blocks/lib/Blocks/Cards.tsx
Due: backend_npm_install

update Form submit button
  packages/blocks/lib/Blocks/Form.tsx
Due: backend_npm_install
