Repository HP319193/prisme.ai: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend_npm_install, console_check, console_test, console_build_docker, console_deploy, workspaces_test, workspaces_build_docker, workspaces_deploy, runtime_test, runtime_build_docker, runtime_deploy, api-gateway_build_docker, api-gateway_deploy, events_test, events_build_docker, events_deploy, docs_build_static, docs_deploy

Path conditions:
  backend_npm_install: any of: services/api-gateway/package.json, services/runtime/package.json, services/workspaces/package.json, services/events/package.json, packages/**/*
  console_check: any of: services/console/**/*
  console_test: any of: services/console/**/*
  console_build_docker: any of: services/console/**/*
  console_deploy: any of: services/console/**/*
  workspaces_test: any of: services/workspaces/*
  workspaces_build_docker: any of: services/workspaces/**/*
  workspaces_deploy: any of: services/workspaces/**/*
  runtime_test: any of: services/runtime/**/*
  runtime_build_docker: any of: services/runtime/**/*
  runtime_deploy: any of: services/runtime/**/*
  api-gateway_build_docker: any of: services/api-gateway/**/*
  api-gateway_deploy: any of: services/api-gateway/**/*
  events_test: any of: services/events/**/*
  events_build_docker: any of: services/events/**/*
  events_deploy: any of: services/events/**/*
  docs_build_static: any of: docs/**/*, specifications/*
  docs_deploy: any of: docs/**/*, specifications/*

:lipstick: fix gogowego-devsecops/dev/prisme.ai-bugs#884
  services/console/components/AutomationBuilder/Block.tsx
Due: console_check, console_test, console_build_docker, console_deploy

2nd fix on condition inside gitlab ci
  .gitlab-ci.yml
Due: none

Fixed condition inside gitlab ci
  .gitlab-ci.yml
Due: none

Fix interpolation stringifying null values
  services/runtime/src/utils/interpolate.ts
Due: runtime_test, runtime_build_docker, runtime_deploy

Should fix page socket reinit
  services/console/components/Blocks/Header.tsx
  services/console/components/Blocks/useBlocksConfigs.ts
Due: console_check, console_test, console_build_docker, console_deploy

Remove select display type
  services/console/components/SchemaFormBuilder/SchemaFormBuilder.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Fix value type for enum
  services/console/components/SchemaFormBuilder/SchemaFormBuilder.tsx
Due: console_check, console_test, console_build_docker, console_deploy

:lipstick: Use confirm modal as intended, fixes gogowego-devsecops/dev/prisme.ai-bugs#907
  services/console/layouts/EditDetails.tsx
  services/console/views/WorkspaceSource.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Fix body test in loadPerformanceTesting.js
  .gitlab-ci.yml
  scripts/loadPerformanceTesting.js
Due: none

Generate a sessionId alongside each session token, & injects it in responses & forwarded requests
  packages/types/index.d.ts
  services/api-gateway/src/config/system.ts
  services/api-gateway/src/express.d.ts
  services/api-gateway/src/middlewares/traceability.ts
  services/api-gateway/src/routes/identity.ts
  specifications/swagger.yml
Due: backend_npm_install, api-gateway_build_docker, api-gateway_deploy, docs_build_static, docs_deploy

propagate sessionId to subsequent events
  packages/broker/lib/broker.ts
  packages/broker/lib/events/eventsFactory.ts
  packages/types/index.d.ts
  services/api-gateway/src/middlewares/traceability.ts
  services/console/components/EventsViewer/EventDetails.tsx
  services/events/config/api.ts
  services/events/src/api/middlewares/traceability.ts
  services/runtime/config/api.ts
  services/runtime/src/api/middlewares/traceability.ts
  services/template/config/api.ts
  services/template/src/api/middlewares/traceability.ts
  services/workspaces/config/api.ts
  services/workspaces/src/api/middlewares/traceability.ts
  specifications/swagger.yml
Due: backend_npm_install, console_check, console_test, console_build_docker, console_deploy, workspaces_build_docker, workspaces_deploy, runtime_test, runtime_build_docker, runtime_deploy, api-gateway_build_docker, api-gateway_deploy, events_test, events_build_docker, events_deploy, docs_build_static, docs_deploy

Stop propagating event.source.userId in cascading events. Events websocket now don't return events from authenticated user
  packages/broker/lib/broker.ts
  services/events/src/services/events/Subscriptions.ts
Due: backend_npm_install, events_test, events_build_docker, events_deploy

prismeai-events websockets now use redis adapter to support horizontal scaling
  docs/docs/en/getstarted/configuration.md
  package-lock.json
  services/events/config/eda.ts
  services/events/package.json
  services/events/src/api/routes/websockets.ts
Due: backend_npm_install, events_test, events_build_docker, events_deploy, docs_build_static, docs_deploy

Emit gateway.signup.succeeded event on signup
  packages/types/index.d.ts
  services/api-gateway/src/eda/index.ts
  services/api-gateway/src/routes/identity.ts
  specifications/swagger.yml
Due: backend_npm_install, api-gateway_build_docker, api-gateway_deploy, docs_build_static, docs_deploy

Renamed x-prismeai-session-token to x-prismeai-token to avoid confusion with x-prismeai-session-id header
  packages/broker/openapi/events.yml
  packages/sdk/lib/events.test.ts
  packages/sdk/lib/events.ts
  packages/sdk/lib/fetcher.test.ts
  packages/sdk/lib/fetcher.ts
  services/api-gateway/src/config/system.ts
  specifications/swagger.yml
Due: backend_npm_install, api-gateway_build_docker, api-gateway_deploy, docs_build_static, docs_deploy

Fixed page sharing events
  packages/permissions/lib/api/initCollaboratorRoutes.ts
  services/workspaces/src/api/app.ts
Due: backend_npm_install, workspaces_build_docker, workspaces_deploy

Added runtime.fetch.failed event
  docs/docs/en/workspaces/automations.md
  docs/docs/en/workspaces/instructions.md
  packages/types/index.d.ts
  services/runtime/src/eda/index.ts
  services/runtime/src/services/runtime/automations/instructions/fetch.ts
  services/runtime/src/services/runtime/automations/instructions/index.ts
  specifications/swagger.yml
Due: backend_npm_install, runtime_test, runtime_build_docker, runtime_deploy, docs_build_static, docs_deploy

Don't crash if page contains no primitive data
  services/console/components/PagePreview.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Development block create a new BlockProvider
  services/console/components/Blocks/Development.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Add source.sessionId to events sent through websockets
  services/api-gateway/Dockerfile
  services/console/Dockerfile
  services/events/src/api/routes/websockets.ts
  services/runtime/Dockerfile
  services/workspaces/Dockerfile
Due: console_check, console_test, console_build_docker, console_deploy, workspaces_test, workspaces_build_docker, workspaces_deploy, runtime_test, runtime_build_docker, runtime_deploy, api-gateway_build_docker, api-gateway_deploy, events_test, events_build_docker, events_deploy

Use a socket filtered on sessionId on pages
  packages/sdk/lib/api.ts
  packages/sdk/lib/events.ts
  packages/sdk/lib/fetcher.ts
  services/console/components/Blocks/useBlocksConfigs.ts
  services/console/components/PageBuilder/PageBlockProvider.tsx
  services/console/components/PageBuilder/PageBuilder.tsx
  services/console/components/PageBuilder/context.ts
Due: backend_npm_install, console_check, console_test, console_build_docker, console_deploy

Fix event opened in feed
  packages/design-system/lib/Components/Collapse.tsx
  packages/design-system/lib/Components/Feed.tsx
  services/console/components/EventsViewer/EventsViewer.tsx
Due: backend_npm_install, console_check, console_test, console_build_docker, console_deploy

Fix app sidebar width
  services/console/views/AppsSidebar.tsx
  services/console/views/__snapshots__/AppsSidebar.test.tsx.snap
Due: console_check, console_test, console_build_docker, console_deploy

Allow configuring socket.io session cookie maxAge from env vars
  docs/docs/en/getstarted/configuration.md
  services/events/config/eda.ts
  services/events/src/api/routes/websockets.ts
Due: events_test, events_build_docker, events_deploy, docs_build_static, docs_deploy

Pass session cookie on socket.io client connection
  packages/sdk/lib/events.ts
Due: backend_npm_install

rebuild console with socketio withCredentials: true
  services/console/Dockerfile
Due: console_check, console_test, console_build_docker, console_deploy

Add missing localized:string|number|boolean types to typedarguments type
  packages/types/index.d.ts
  services/runtime/Dockerfile
  services/workspaces/Dockerfile
  specifications/swagger.yml
Due: backend_npm_install, workspaces_test, workspaces_build_docker, workspaces_deploy, runtime_test, runtime_build_docker, runtime_deploy, docs_build_static, docs_deploy

Fixed /me route which returned empty 200 responses with unauthenticated users, breaking console signup page
  services/api-gateway/src/middlewares/authentication/isAuthenticated.ts
  services/api-gateway/src/policies/authentication.ts
Due: api-gateway_build_docker, api-gateway_deploy

new fix on /me route which crashed under some circumstances, as express next() method is not supposed to be called with anything else than an error
  services/api-gateway/src/middlewares/authentication/isAuthenticated.ts
Due: api-gateway_build_docker, api-gateway_deploy

Load stories from console
  __mocks__/next-i18next.js
  packages/design-system/.storybook/main.js
  services/console/components/SchemaFormBuilder/SchemaFormBuilder.stories.tsx
Due: backend_npm_install, console_check, console_test, console_build_docker, console_deploy

This workaround does not work and seems to be useless
  services/console/views/Automation.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Add keyboard meta+s on page
  services/console/views/Page.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Fix éditing enums
  __mocks_sb__/next-i18next.js
  packages/design-system/.storybook/main.js
  services/console/components/SchemaFormBuilder/Enum.tsx
Due: backend_npm_install, console_check, console_test, console_build_docker, console_deploy

Do not mutate instruction schema
  services/console/components/AutomationBuilder/AutomationBuilder.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Add Private setting in Automation builder
  services/console/public/locales/en/workspaces.json
  services/console/public/locales/es/workspaces.json
  services/console/public/locales/fr/workspaces.json
  services/console/views/Automation.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Fix Object type initial value
  packages/design-system/lib/Components/SchemaForm/FieldAdditionalProperties.tsx
Due: backend_npm_install

Fix access to protected pages
  services/console/pages/pages/[pageSlug].ts
  services/console/views/PublicPage.tsx
Due: console_check, console_test, console_build_docker, console_deploy

:bug: Do not display an error if there is an Authorization error while fetching me.
  services/console/components/UserProvider/Provider.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Give events to development mode Block
  services/console/components/Blocks/Development.tsx
Due: console_check, console_test, console_build_docker, console_deploy

:fire: Delete setError in /me as the user should not be aware.
  services/console/components/UserProvider/Provider.tsx
Due: console_check, console_test, console_build_docker, console_deploy
