Repository HP319193/prisme.ai: changes, and which GitLab CI jobs are due for each by the changed paths.
All: console_test, console_build_docker, console_deploy, workspaces_build_docker, workspaces_deploy

.gitlab-ci.yml:

image: node:16

cache:
  untracked: true
  key: "$CI_BUILD_REF_NAME"
  paths:
    - node_modules/

variables:
  DOCKER_DRIVER: overlay2
  GIT_DEPTH: "1"
  CONTAINER_BASE_IMAGE: registry.gitlab.com/$CI_PROJECT_PATH

  CONSOLE_DIRECTORY: "console"
  CONSOLE_IMAGE_NAME: "prisme.ai-console"
  CONSOLE_K8S_NAME: "prismeai-console"

  WORKSPACES_DIRECTORY: "workspaces"
  WORKSPACES_IMAGE_NAME: "prisme.ai-workspaces"
  WORKSPACES_K8S_NAME: "prismeai-workspaces"

stages:
  - dependencies
  - test
  - build_docker
  - deploy

sast:
  stage: test
include:
  - template: Security/SAST.gitlab-ci.yml

npm_install:
  stage: dependencies
  script:
    - "npm ci"

#### Parent jobs

.npm_test:
  interruptible: true
  stage: test
  script:
    - npm test $SERVICE_NAME
  coverage: '/All files\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)/'
  artifacts:
    paths:
      - coverage

.build_docker:
  interruptible: true # Stop this job if a new one has been triggered by the same branch
  stage: build_docker
  only:
    # - tags
    - main
    - master
  image: docker:stable
  services:
    - docker:stable-dind
  script:
    - cp -r ../../specifications/ . # Include current swagger file in docker image as it is required for HTTP request validations
    - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN registry.gitlab.com
    - docker pull $IMAGE_NAME:latest || true
    - docker build --cache-from $IMAGE_NAME:latest -t $IMAGE_NAME:latest .
    # - docker push $IMAGE_NAME:$CI_COMMIT_TAG
    - docker push $IMAGE_NAME:latest

.deploy_k8s:
  stage: deploy
  only:
    # - tags
    - main
    - master
  cache: []
  tags:
    - internal-runner
  image:
    name: lachlanevenson/k8s-kubectl:latest
    entrypoint: ["/bin/bash", "-c"]
  script:
    - kubectl -n core rollout restart deploy/${K8S_NAME}
    # - kubectl -n core set image deploy/${K8S_NAME} ${K8S_NAME}=$IMAGE_NAME:$CI_COMMIT_TAG --record
    - kubectl -n core rollout status deploy/${K8S_NAME}

## Console jobs
console_test:
  extends: .npm_test
  only:
    changes:
      - "services/console/*"
  before_script:
    - export SERVICE_NAME=$CONSOLE_DIRECTORY

console_build_docker:
  extends: .build_docker
  interruptible: true # Stop this job if a new one has been triggered by the same branch
  stage: build_docker
  image: docker:stable
  services:
    - docker:stable-dind
  only:
    refs:
      # - tags
      - main
      - master
    changes:
      - "services/console/*"
  before_script:
    - cd services/$CONSOLE_DIRECTORY
    - export DOCKER_HOST=tcp://docker:2375
    - export IMAGE_NAME=$CONTAINER_BASE_IMAGE/$CONSOLE_IMAGE_NAME

console_deploy:
  extends: .deploy_k8s
  only:
    refs:
      # - tags
      - main
      - master
    changes:
      - "services/console/*"
  before_script:
    - export KUBECONFIG=$KUBECONFIG
    - export IMAGE_NAME=$CONTAINER_BASE_IMAGE/$CONSOLE_IMAGE_NAME
    - export K8S_NAME=$CONSOLE_K8S_NAME


## Workspaces jobs
# workspaces_test:
#   extends: .npm_test
#   only:
#     changes:
#       - "services/workspaces/*"
#   before_script:
#     - export SERVICE_NAME=$WORKSPACES_DIRECTORY

workspaces_build_docker:
  extends: .build_docker
  interruptible: true # Stop this job if a new one has been triggered by the same branch
  stage: build_docker
  image: docker:stable
  services:
    - docker:stable-dind
  only:
    refs:
      # - tags
      - main
      - master
    changes:
      - "services/workspaces/*"
  before_script:
    - cd services/$WORKSPACES_DIRECTORY
    - export DOCKER_HOST=tcp://docker:2375
    - export IMAGE_NAME=$CONTAINER_BASE_IMAGE/$WORKSPACES_IMAGE_NAME

workspaces_deploy:
  extends: .deploy_k8s
  only:
    refs:
      # - tags
      - main
      - master
    changes:
      - "services/workspaces/*"
  before_script:
    - export KUBECONFIG=$KUBECONFIG
    - export IMAGE_NAME=$CONTAINER_BASE_IMAGE/$WORKSPACES_IMAGE_NAME
    - export K8S_NAME=$WORKSPACES_K8S_NAME

regenerate package-lock.json
  services/workspaces/package-lock.json
Due: workspaces_build_docker, workspaces_deploy

Fix crash when requesting gateway without being authenticated
  services/api-gateway/src/middlewares/traceability.ts
Due: none

Allow workspaces pushing custom app events
  package-lock.json
  services/workspaces/src/eda/index.ts
Due: none

Fix console docker build which did not take env vars into account on runtime because of a missing config file
  services/console/Dockerfile
Due: console_test, console_build_docker, console_deploy

Changed console fetch header to application/json
  services/console/api/fetcher.ts
Due: none

Console: Changed "email" to "username"
  services/console/api/api.test.ts
  services/console/api/api.ts
  services/console/api/fetcher.test.ts
  services/console/components/UserProvider/Provider.test.tsx
  services/console/components/UserProvider/Provider.tsx
  services/console/components/UserProvider/context.ts
  services/console/pages/api/login.ts
  services/console/views/Sign/In.test.tsx
  services/console/views/Sign/In.tsx
  services/console/views/Sign/__snapshots__/In.test.tsx.snap
Due: none

Changed API_HOST to hardcoded EDA in next config
  services/console/next.config.js
Due: console_test, console_build_docker, console_deploy

Logout
  services/console/api/api.ts
  services/console/components/Header.test.tsx
  services/console/components/Header.tsx
  services/console/components/UserProvider/Provider.test.tsx
  services/console/components/UserProvider/Provider.tsx
  services/console/components/__snapshots__/Header.test.tsx.snap
  services/console/layouts/Main.test.tsx
  services/console/layouts/Main.tsx
  services/console/layouts/WorkspaceLayout/__snapshots__/WorkspaceLayout.test.tsx.snap
  services/console/layouts/__snapshots__/Main.test.tsx.snap
  services/console/views/Workspaces.test.tsx
  services/console/views/__snapshots__/Workspaces.test.tsx.snap
Due: none

Webhook endpoint return workflows output & basic errors
  package-lock.json
  packages/types/index.d.ts
  services/runtime/package.json
  services/runtime/src/api/app.ts
  services/runtime/src/api/middlewares/errors.ts
  services/runtime/src/api/routes/index.ts
  services/runtime/src/api/routes/webhooks.ts
  services/runtime/src/app.ts
  services/runtime/src/eda/index.ts
  services/runtime/src/services/runtime/index.ts
  services/runtime/src/services/runtime/processEvent.ts
  services/runtime/src/services/runtime/workflows/index.ts
  services/runtime/src/services/workspaces/workspace.ts
  specifications/swagger.yml
Due: none

fix package-lock
  package-lock.json
  services/runtime/package-lock.json
Due: none

Automations crud
  README.md
  package-lock.json
  packages/types/index.d.ts
  services/runtime/src/eda/index.ts
  services/runtime/src/services/workspaces/workspace.ts
  services/runtime/src/services/workspaces/workspaces.ts
  services/workspaces/package-lock.json
  services/workspaces/package.json
  services/workspaces/src/api/routes/automations.ts
  services/workspaces/src/api/routes/index.ts
  services/workspaces/src/eda/index.ts
  services/workspaces/src/services/workspaces/DSULStorage.ts
  services/workspaces/src/services/workspaces/crud.ts
  services/workspaces/src/services/workspaces/crud/automations.ts
  services/workspaces/src/services/workspaces/crud/workspaces.ts
  services/workspaces/src/services/workspaces/index.ts
  services/workspaces/src/storage/drivers/filesystem.ts
  services/workspaces/src/storage/drivers/s3.ts
  services/workspaces/src/storage/types.ts
  specifications/swagger.yml
Due: workspaces_build_docker, workspaces_deploy

Added broker package. Now builds all docker images from repository's root in order to reuse local packages instead of downloading them (which would require publishing them before each deploy)
  .dockerignore
  .gitignore
  .gitlab-ci.yml
  package-lock.json
  packages/broker/index.ts
  packages/broker/lib/broker.test.ts
  packages/broker/lib/broker.ts
  packages/broker/lib/drivers/index.ts
  packages/broker/lib/drivers/redis/clientPool.ts
  packages/broker/lib/drivers/redis/index.ts
  packages/broker/lib/errors.ts
  packages/broker/lib/events/eventsFactory.ts
  packages/broker/lib/events/index.ts
  packages/broker/lib/events/validator.ts
  packages/broker/lib/utils.ts
  packages/broker/openapi/events.yml
  packages/broker/package-lock.json
  packages/broker/package.json
  packages/broker/tsconfig.json
  services/api-gateway/Dockerfile
  services/runtime/Dockerfile
  services/workspaces/Dockerfile
Due: workspaces_build_docker, workspaces_deploy

Feature/sentry
  package-lock.json
  services/console/.env
  services/console/README.md
  services/console/next.config.js
  services/console/package.json
  services/console/pages/_app.tsx
  services/console/utils/Sentry.ts
  specifications/swagger.yml
Due: console_test, console_build_docker, console_deploy

Fix runtime env
  services/console/api/api.ts
  services/console/next.config.js
  services/console/utils/Sentry.ts
  services/console/utils/urls.ts
Due: console_test, console_build_docker, console_deploy

Fix gateway build (move cors to normal dependencies)
  package-lock.json
  services/api-gateway/gateway.config.yml
  services/api-gateway/package-lock.json
  services/api-gateway/package.json
Due: none

Fix env var on runtime
  .jest/setEnvVars.js
  services/console/.env
  services/console/next.config.js
  services/console/utils/urls.ts
Due: console_test, console_build_docker, console_deploy

disable helmet contentSecurityPolicy
  services/api-gateway/src/index.ts
Due: none

Fix logging update route + non-blocking redis broker.on()
  package-lock.json
  packages/broker/lib/drivers/redis/clientPool.ts
  packages/broker/lib/drivers/redis/index.ts
  packages/types/index.d.ts
  services/runtime/src/services/sys/logging.ts
  services/workspaces/src/services/sys/logging.ts
  specifications/swagger.yml
Due: none

Force build runtime with latest @prisme.ai/broker version
  package-lock.json
  packages/broker/package.json
  services/runtime/package.json
Due: none

fix broker package entry point
  package-lock.json
  package.json
  packages/broker/package.json
  services/runtime/package.json
Due: none

keep locally built packages inside prod docker images
  services/api-gateway/Dockerfile
  services/runtime/Dockerfile
  services/workspaces/Dockerfile
Due: workspaces_build_docker, workspaces_deploy

Automation array console
  docker-compose.dev.yml
  package-lock.json
  services/console/.env
  services/console/.jest/setEnvVars.js
  services/console/api/api.test.ts
  services/console/api/api.ts
  services/console/api/fetcher.test.ts
  services/console/api/fetcher.ts
  services/console/components/WorkspacesProvider/Provider.test.tsx
  services/console/components/WorkspacesProvider/Provider.tsx
  services/console/components/WorkspacesProvider/context.ts
  services/console/jest.config.js
  services/console/layouts/AutomationLayout/AutomationLayout.test.tsx
  services/console/layouts/AutomationLayout/AutomationLayout.tsx
  services/console/layouts/AutomationLayout/__snapshots__/AutomationLayout.test.tsx.snap
  services/console/layouts/AutomationLayout/context.ts
  services/console/layouts/Main.test.tsx
  services/console/layouts/WorkspaceLayout/WorkspaceLayout.test.tsx
  services/console/layouts/WorkspaceLayout/WorkspaceLayout.tsx
  services/console/layouts/__snapshots__/Main.test.tsx.snap
  services/console/package.json
  services/console/pages/workspaces/[id]/automations/[automationId]/design.tsx
  services/console/pages/workspaces/[id]/automations/[automationId]/index.tsx
  services/console/pages/workspaces/[id]/automations/[automationId]/manifest.tsx
  services/console/public/locales/en/workspaces.json
  services/console/public/locales/es/workspaces.json
  services/console/public/locales/fr/workspaces.json
  services/console/views/Automation.test.tsx
  services/console/views/Automation.tsx
  services/console/views/AutomationManifest.test.tsx
  services/console/views/AutomationManifest.tsx
  services/console/views/AutomationSidebar.test.tsx
  services/console/views/AutomationsSidebar.tsx
  services/console/views/__snapshots__/AutomationSidebar.test.tsx.snap
  services/workspaces/package.json
  services/workspaces/src/services/workspaces/crud/automations.ts
  services/workspaces/src/services/workspaces/crud/workspaces.ts
Due: console_test, console_build_docker, console_deploy, workspaces_build_docker, workspaces_deploy

Optimize docker images build with a shared "node_modules" base image & deploy feature/ branches on auto generated environments
  .gitlab-ci.yml
  dependencies.dockerfile
  docker-compose.dev.yml
  package-lock.json
  package.json
  packages/validation/package.json
  services/api-gateway/Dockerfile
  services/api-gateway/src/config/gateway.ts
  services/console/Dockerfile
  services/console/package-lock.json
  services/console/package.json
  services/runtime/Dockerfile
  services/runtime/package-lock.json
  services/runtime/package.json
  services/workspaces/Dockerfile
  services/workspaces/package-lock.json
  services/workspaces/package.json
  services/workspaces/src/app.ts
  services/workspaces/src/errors/handlers.ts
Due: console_test, console_build_docker, console_deploy, workspaces_build_docker, workspaces_deploy

NPM audit fix vulnerability https://github.com/advisories/GHSA-74fj-2j2h-c42q
  package-lock.json
Due: none

If/else/elseif could be a single conditions instruction
  specifications/swagger.yml
Due: none

:loud_sound: Added a log on Internal Error of runtime.
  services/runtime/src/services/runtime/index.ts
Due: none

Fix prisme.ai-events startup (redis client connect() method were called twice)
  packages/broker/lib/drivers/redis/clientPool.ts
  services/events/Dockerfile
Due: none

Added README.md to npm packages
  packages/types/README.md
  packages/types/package.json
  packages/validation/README.md
  packages/validation/package.json
  services/console/README.md
  services/runtime/README.md
  services/workspaces/README.md
Due: console_test, console_build_docker, console_deploy, workspaces_build_docker, workspaces_deploy

Feature/variable interpolation
  services/runtime/src/services/runtime/contexts.ts
  services/runtime/src/services/runtime/workflows/index.ts
  services/runtime/src/utils/index.ts
  services/runtime/src/utils/interpolate.test.ts
  services/runtime/src/utils/interpolate.ts
Due: none

Fix high risk audit fix Uncaught Exception in engine.io -...
  package-lock.json
Due: none

Fetch & local variables set/retrieval (instructions output + payloads)
  .gitlab-ci.yml
  package-lock.json
  packages/broker/lib/drivers/index.ts
  packages/broker/lib/drivers/redis/clientPool.ts
  packages/types/index.d.ts
  services/api-gateway/gateway.config.yml
  services/api-gateway/src/config/eda.ts
  services/api-gateway/src/eda/index.ts
  services/console/Dockerfile
  services/console/views/AutomationSidebar.test.tsx
  services/console/views/AutomationsSidebar.tsx
  services/console/views/WorkspaceSource.test.tsx
  services/events/config/eda.ts
  services/events/src/eda/index.ts
  services/events/src/utils/BatchExecStream.test.ts
  services/events/src/utils/BatchExecStream.ts
  services/runtime/Dockerfile
  services/runtime/config/eda.ts
  services/runtime/package.json
  services/runtime/src/eda/index.ts
  services/runtime/src/errors/index.ts
  services/runtime/src/services/runtime/automations/index.ts
  services/runtime/src/services/runtime/automations/instructions/emit.ts
  services/runtime/src/services/runtime/automations/instructions/fetch.ts
  services/runtime/src/services/runtime/automations/instructions/index.ts
  services/runtime/src/services/runtime/contexts.ts
  services/runtime/src/services/runtime/index.ts
  services/runtime/src/services/workspaces/workspace.ts
  services/template/config/eda.ts
  services/template/src/eda/index.ts
  services/workspaces/Dockerfile
  services/workspaces/config/eda.ts
  services/workspaces/src/eda/index.ts
  specifications/swagger.yml
Due: console_test, console_build_docker, console_deploy, workspaces_build_docker, workspaces_deploy

first permissions package version
  .jest/setEnvVars.js
  packages/permissions/examples/abac.ts
  packages/permissions/examples/abacWithRoles.ts
  packages/permissions/examples/accessManagement.ts
  packages/permissions/examples/index.ts
  packages/permissions/examples/roles.ts
  packages/permissions/index.ts
  packages/permissions/lib/accessManager.test.ts
  packages/permissions/lib/accessManager.ts
  packages/permissions/lib/errors.ts
  packages/permissions/lib/permissions.test.ts
  packages/permissions/lib/permissions.ts
  packages/permissions/lib/rulesBuilder.ts
  packages/permissions/lib/schemas.ts
  packages/permissions/lib/types.ts
  packages/permissions/package.json
  packages/permissions/tsconfig.json
Due: none

Allow permissions persistence layer to use an external id on creation & fetch
  packages/permissions/lib/accessManager.ts
  packages/permissions/lib/errors.ts
  packages/permissions/lib/schemas.ts
  packages/permissions/package.json
Due: none

Started to configure @prisme.ai/permissions accross microservices. Added workspaces & automations CRUD authorization
  package-lock.json
  packages/permissions/lib/accessManager.ts
  services/api-gateway/package.json
  services/api-gateway/src/config/storage.ts
  services/events/config/events.ts
  services/events/config/index.ts
  services/events/config/storage.ts
  services/events/package.json
  services/events/src/api/middlewares/errors.ts
  services/runtime/config/storage.ts
  services/runtime/package.json
  services/runtime/src/api/middlewares/errors.ts
  services/workspaces/config/storage.ts
  services/workspaces/package.json
  services/workspaces/src/api/app.ts
  services/workspaces/src/api/express.d.ts
  services/workspaces/src/api/middlewares/accessManager.ts
  services/workspaces/src/api/middlewares/errors.ts
  services/workspaces/src/api/routes/automations.ts
  services/workspaces/src/api/routes/workspaces.ts
  services/workspaces/src/app.ts
  services/workspaces/src/permissions/config.ts
  services/workspaces/src/permissions/index.ts
  services/workspaces/src/services/workspaces/crud/workspaces.ts
  services/workspaces/src/services/workspaces/index.ts
Due: workspaces_build_docker, workspaces_deploy

Made permissions persistance schema optional for some use cases like events which hasnt any metadata we want mongoose to save
  packages/permissions/lib/accessManager.test.ts
  packages/permissions/lib/accessManager.ts
  packages/permissions/lib/rulesBuilder.ts
Due: none

Added events reading & creating authorization
  docker-compose.dev.yml
  packages/permissions/lib/accessManager.ts
  services/events/src/api/app.ts
  services/events/src/api/express.d.ts
  services/events/src/api/middlewares/accessManager.ts
  services/events/src/api/routes/events.ts
  services/events/src/api/routes/index.ts
  services/events/src/app.ts
  services/events/src/permissions/config.ts
  services/events/src/permissions/index.ts
  services/events/src/services/events/Subscriptions.ts
Due: none
