Repository HP319193/prisme.ai: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend_npm_install, console_check, console_test, console_build_docker, console_deploy, workspaces_test, workspaces_build_docker, workspaces_deploy, runtime_test, runtime_build_docker, runtime_deploy, api-gateway_build_docker, api-gateway_deploy, events_test, events_build_docker, events_deploy, docs_build_static, docs_deploy

backend_npm_install:
  stage: dependencies
  image: docker:stable
  services:
  - docker:stable-dind
  script:
  ...

console_check:
  stage: test
  script:
  - "if ! [[ -d node_modules/ ]] ; then\n  BUILD_PACKAGES=0 npm ci\nfi\n"
  - npm run build:packages
  - npm run check:console
  needs: []
  before_script:
  - export DIRECTORY=services/$CONSOLE_DIRECTORY

console_test:
  stage: test
  script:
  - "if ! [[ -d node_modules/ ]] ; then\n  BUILD_PACKAGES=0 npm ci\nfi\n"
  - npm run build:packages
  - npm test -- $DIRECTORY
  coverage: /All files\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)/
  artifacts:
    paths:
    - coverage
  cache:
    key:
      files:
  ...

console_build_docker:
  stage: build_docker
  image: docker:stable
  services:
  - docker:stable-dind
  script:
  ...

console_deploy:
  stage: deploy
  tags:
  - internal-runner
  image:
    name: registry.gitlab.com/gogowego-devsecops/dev/prisme.ai-infra:latest
    entrypoint:
    - /bin/sh
    - -c
  script:
  ...

workspaces_test:
  stage: test
  script:
  - "if ! [[ -d node_modules/ ]] ; then\n  BUILD_PACKAGES=0 npm ci\nfi\n"
  - npm run build:packages
  - npm test -- $DIRECTORY
  coverage: /All files\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)/
  artifacts:
    paths:
    - coverage
  cache:
    key:
      files:
  ...

workspaces_build_docker:
  stage: build_docker
  image: docker:stable
  services:
  - docker:stable-dind
  script:
  ...

workspaces_deploy:
  stage: deploy
  tags:
  - internal-runner
  image:
    name: registry.gitlab.com/gogowego-devsecops/dev/prisme.ai-infra:latest
    entrypoint:
    - /bin/sh
    - -c
  script:
  ...

runtime_test:
  stage: test
  script:
  - "if ! [[ -d node_modules/ ]] ; then\n  BUILD_PACKAGES=0 npm ci\nfi\n"
  - npm run build:packages
  - npm test -- $DIRECTORY
  coverage: /All files\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)/
  artifacts:
    paths:
    - coverage
  cache:
    key:
      files:
  ...

runtime_build_docker:
  stage: build_docker
  image: docker:stable
  services:
  - docker:stable-dind
  script:
  ...

runtime_deploy:
  stage: deploy
  tags:
  - internal-runner
  image:
    name: registry.gitlab.com/gogowego-devsecops/dev/prisme.ai-infra:latest
    entrypoint:
    - /bin/sh
    - -c
  script:
  ...

api-gateway_build_docker:
  stage: build_docker
  image: docker:stable
  services:
  - docker:stable-dind
  script:
  ...

api-gateway_deploy:
  stage: deploy
  tags:
  - internal-runner
  image:
    name: registry.gitlab.com/gogowego-devsecops/dev/prisme.ai-infra:latest
    entrypoint:
    - /bin/sh
    - -c
  script:
  ...

events_test:
  stage: test
  script:
  - "if ! [[ -d node_modules/ ]] ; then\n  BUILD_PACKAGES=0 npm ci\nfi\n"
  - npm run build:packages
  - npm test -- $DIRECTORY
  coverage: /All files\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)/
  artifacts:
    paths:
    - coverage
  cache:
    key:
      files:
  ...

Fix loading workspace Blocks
  services/console/components/PagePreview.tsx
  services/pages/components/Page/BlockLoader.tsx
  services/workspaces/src/services/workspaces/crud/pages.ts
Due: console_check, console_test, console_build_docker, console_deploy, workspaces_build_docker, workspaces_deploy

Fix displaying items in layout selection
  packages/design-system/lib/Components/LayoutSelection.tsx
  services/console/components/PagePreview.tsx
Due: backend_npm_install, console_check, console_test, console_build_docker, console_deploy

Fix losing appConfig on save
  services/pages/components/Page/BlockLoader.tsx
Due: none

Fix crash with nameless blocks
  services/pages/components/Page/BlockLoader.tsx
Due: none

Fix block edit title
  services/console/components/PageBuilder/PageBuilder.tsx
  services/console/public/locales/en/workspaces.json
  services/console/public/locales/es/workspaces.json
  services/console/public/locales/fr/workspaces.json
Due: console_check, console_test, console_build_docker, console_deploy

Fix tests
  services/console/components/PageBuilder/useBlocks.test.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Fix infinite loop on block update triggering block init
  services/pages/components/Page/BlockLoader.tsx
Due: none

Fix fetcher hanging when used on SSR for large requests
  packages/sdk/lib/fetcher.ts
Due: backend_npm_install

:globe_with_meridians: Localize App schemas.
  services/console/components/AppEditor.tsx
Due: console_check, console_test, console_build_docker, console_deploy

:bug: Dumb fix to events not being set as read if another event is already opened in the feed.
  services/console/components/EventsViewer/EventsViewer.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Fix init blocks in Layout
  packages/blocks/lib/Blocks/Layout/Content.tsx
Due: backend_npm_install

Don't cloning response may fix some problems
  packages/sdk/lib/fetcher.ts
Due: backend_npm_install

:fire: Delete leftover code.
  packages/sdk/lib/fetcher.ts
Due: backend_npm_install

Refacto help popovers
  services/console/.env
  services/console/components/HeaderWorkspace.tsx
  services/console/next.config.js
  services/console/views/HeaderPopovers.tsx
  services/console/views/Workspaces.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Load component from name
  packages/blocks/lib/BlockLoader.tsx
  packages/blocks/lib/Blocks/Cards/Cards.tsx
  packages/blocks/lib/Blocks/DataTable/DataTable.tsx
  packages/blocks/lib/Blocks/Form.tsx
  packages/blocks/lib/Blocks/Header.tsx
  packages/blocks/lib/Blocks/Layout/Layout.tsx
  packages/blocks/lib/Blocks/RichText.tsx
  packages/blocks/lib/i18n.tsx
  services/console/components/PageBuilder/BlockPreview.tsx
  services/console/components/PageBuilder/ExternalSchemaLoader.tsx
  services/console/components/PageBuilder/PageBlocks.tsx
  services/console/components/PageBuilder/PageBuilder.tsx
  services/console/components/PageBuilder/context.ts
  services/console/utils/useBlockComponent.ts
Due: backend_npm_install, console_check, console_test, console_build_docker, console_deploy

Display Block preview component
  packages/blocks/lib/BlockLoader.tsx
  services/console/components/PageBuilder/BlockPreview.tsx
  services/console/components/PageBuilder/PageBlocks.tsx
  services/console/utils/useBlockComponent.ts
Due: backend_npm_install, console_check, console_test, console_build_docker, console_deploy

Builtin Blocks Previews
  packages/blocks/lib/Blocks/Cards/Cards.stories.tsx
  packages/blocks/lib/Blocks/Cards/Cards.tsx
  packages/blocks/lib/Blocks/Form.tsx
  packages/blocks/lib/Blocks/PreviewInStory.tsx
  packages/blocks/lib/Blocks/RichText.stories.tsx
  packages/blocks/lib/Blocks/RichText.tsx
  packages/design-system/.storybook/style.css
  services/console/components/PageBuilder/PageBlocks.tsx
Due: backend_npm_install, console_check, console_test, console_build_docker, console_deploy

Clean debug
  services/console/components/PageBuilder/BlockPreview.tsx
Due: console_check, console_test, console_build_docker, console_deploy

PoweredBy displayed on bottom of Page only
  services/console/components/PageBuilder/PageBuilder.tsx
  services/console/components/PoweredBy.tsx
  services/pages/components/Page/Page.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Fix throwing error when cards is not set
  packages/blocks/lib/Blocks/Cards/Cards.tsx
Due: backend_npm_install

:rocket: Add super-admin with all access on workspaces and events
  services/api-gateway/src/config/system.ts
  services/api-gateway/src/middlewares/traceability.ts
  services/api-gateway/src/types/permissions.ts
  services/events/config/api.ts
  services/events/src/api/middlewares/accessManager.ts
  services/events/src/permissions/config.ts
  services/events/src/permissions/index.ts
  services/workspaces/config/api.ts
  services/workspaces/src/api/middlewares/accessManager.ts
Due: workspaces_build_docker, workspaces_deploy, api-gateway_build_docker, api-gateway_deploy, events_test, events_build_docker, events_deploy

Fix auto upload files
  services/pages/views/Page.tsx
Due: none

Workspaces Home
  services/console/components/Workspaces/CardButton.tsx
  services/console/components/Workspaces/WorkspaceCardButton.tsx
  services/console/components/Workspaces/WorkspaceMenu.tsx
  services/console/next.config.js
  services/console/public/locales/fr/workspaces.json
  services/console/styles/globals.css
  services/console/tailwind.config.js
  services/console/views/Workspaces.test.tsx
  services/console/views/Workspaces.tsx
  services/console/views/__snapshots__/Workspaces.test.tsx.snap
  services/pages/docker/start.js
Due: console_check, console_test, console_build_docker, console_deploy

Redesign workspace navigation
  package-lock.json
  package.json
  services/console/__mocks__/antd.js
  services/console/components/EventsViewer/EventsViewer.tsx
  services/console/icons/automation.svgr
  services/console/icons/chevron.svgr
  services/console/icons/home-outlined.svgr
  services/console/icons/home.svgr
  services/console/layouts/WorkspaceLayout/AutomationIcon.tsx
  services/console/layouts/WorkspaceLayout/Navigation.tsx
  services/console/layouts/WorkspaceLayout/PageIcon.tsx
  services/console/layouts/WorkspaceLayout/SearchInput.tsx
  services/console/layouts/WorkspaceLayout/WorkspaceLayout.tsx
  services/console/layouts/WorkspaceLayout/__snapshots__/WorkspaceLayout.test.tsx.snap
  services/console/utils/strings.test.ts
  services/console/utils/strings.ts
  services/console/views/Apps.tsx
  services/console/views/Automation.test.tsx
  services/console/views/Automation.tsx
  services/console/views/Page/Page.tsx
Due: console_check, console_test, console_build_docker, console_deploy

App documentation
  packages/types/index.d.ts
  services/console/components/IFrameLoader.tsx
  services/console/components/SourceDetails.tsx
  services/console/public/locales/fr/workspaces.json
  services/console/views/Apps.tsx
  services/workspaces/src/services/apps/crud/apps.ts
  specifications/swagger.yml
Due: backend_npm_install, console_check, console_test, console_build_docker, console_deploy, workspaces_build_docker, workspaces_deploy, docs_build_static, docs_deploy

Reorder workspace navigation
  services/console/layouts/WorkspaceLayout/Navigation.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Empty page
  services/console/components/PageBuilder/EmptyPage.test.tsx
  services/console/components/PageBuilder/EmptyPage.tsx
  services/console/components/PageBuilder/PageBuilder.tsx
  services/console/components/PageBuilder/__snapshots__/EmptyPage.test.tsx.snap
  services/console/components/PageBuilder/context.ts
  services/console/public/locales/fr/workspaces.json
Due: console_check, console_test, console_build_docker, console_deploy

Empty workspace
  services/console/components/EventsViewer/Empty.test.tsx
  services/console/components/EventsViewer/Empty.tsx
  services/console/components/EventsViewer/EventsViewer.tsx
  services/console/components/EventsViewer/__snapshots__/Empty.test.tsx.snap
  services/console/components/EventsViewer/__snapshots__/EventsViewer.test.tsx.snap
  services/console/components/PageBuilder/EmptyPage.tsx
  services/console/components/SuggestionButton.test.tsx
  services/console/components/SuggestionButton.tsx
  services/console/components/__snapshots__/SuggestionButton.test.tsx.snap
  services/console/layouts/WorkspaceLayout/WorkspaceLayout.tsx
  services/console/layouts/WorkspaceLayout/context.tsx
  services/console/public/locales/fr/workspaces.json
  services/console/views/__snapshots__/Workspace.test.tsx.snap
Due: console_check, console_test, console_build_docker, console_deploy

Refonte sub headers
  services/console/__mocks__/@ant-design/icons.js
  services/console/components/AutomationBuilder/EditableTitle.tsx
  services/console/components/HorizontalSeparatedNav.tsx
  services/console/icons/copy.svgr
  services/console/layouts/EditDetails.tsx
  services/console/public/locales/fr/common.json
  services/console/public/locales/fr/workspaces.json
  services/console/styles/globals.css
  services/console/tailwind.config.js
  services/console/views/Apps.tsx
  services/console/views/Automation.tsx
  services/console/views/Page/Page.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Refacto Page view
  services/console/components/PagesProvider/PagesProvider.tsx
  services/console/components/__snapshots__/Panel.test.tsx.snap
  services/console/views/Page/CSSEditor.tsx
  services/console/views/Page/Page.tsx
  services/console/views/Page/PageRenderer.tsx
  services/console/views/Page/RightButtons.tsx
  services/console/views/Page/cleanValue.ts
Due: console_check, console_test, console_build_docker, console_deploy

Right panel
  packages/design-system/lib/Components/Layout.tsx
  services/console/components/PageBuilder/PageBuilder.tsx
  services/console/components/PageBuilder/Panel/PageNewBlockForm.tsx
  services/console/components/PageBuilder/Panel/Settings.tsx
  services/console/components/PageBuilder/useBlocks.ts
  services/console/components/Panel.tsx
  services/console/styles/globals.css
  services/console/tailwind.config.js
Due: backend_npm_install, console_check, console_test, console_build_docker, console_deploy

Remove dead code
  services/console/views/Workspaces.tsx
  services/console/views/__snapshots__/Workspaces.test.tsx.snap
Due: console_check, console_test, console_build_docker, console_deploy

Translations
  services/console/public/locales/en/workspaces.json
  services/console/public/locales/es/workspaces.json
  services/console/public/locales/fr/workspaces.json
Due: console_check, console_test, console_build_docker, console_deploy

Add Radio ui:widget for Enums
  packages/design-system/lib/Components/SchemaForm/Enum.tsx
  packages/design-system/lib/Components/SchemaForm/FieldRadio.tsx
  packages/design-system/lib/Components/SchemaForm/FieldSelect.tsx
  packages/design-system/lib/Components/SchemaForm/SchemaForm.stories.tsx
  packages/design-system/lib/Components/SchemaForm/SchemaForm.test.tsx
  packages/design-system/lib/Components/SchemaForm/SchemaForm.tsx
  packages/design-system/lib/Components/SchemaForm/__snapshots__/SchemaForm.test.tsx.snap
  packages/design-system/lib/Components/SchemaForm/context.ts
  packages/design-system/lib/Components/SchemaForm/types.ts
  packages/design-system/lib/Components/Select.tsx
Due: backend_npm_install

Add duplicate in Automation
  services/console/public/locales/en/workspaces.json
  services/console/public/locales/es/workspaces.json
  services/console/public/locales/fr/workspaces.json
  services/console/views/Automation.tsx
  services/console/views/Page/PageRenderer.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Right sidebar for Automation
  services/console/components/AutomationBuilder/AutomationBuilder.tsx
  services/console/components/AutomationBuilder/Panel/InstructionForm.tsx
  services/console/components/AutomationBuilder/Panel/InstructionSelection.tsx
  services/console/components/AutomationBuilder/Panel/__snapshots__/InstructionForm.test.tsx.snap
  services/console/components/AutomationBuilder/Panel/__snapshots__/InstructionSelection.test.tsx.snap
Due: console_check, console_test, console_build_docker, console_deploy

Remove useless div
  services/console/components/PoweredBy.tsx
  services/pages/components/Page/Page.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Duplicate workspace suggestion
  services/console/views/Workspaces.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Retouches on sign* pages
  services/console/components/ForgotForm.tsx
  services/console/components/LinkInTrans.tsx
  services/console/components/ResetForm.tsx
  services/console/components/SignLayout.tsx
  services/console/components/SigninForm.tsx
  services/console/components/ValidateForm.tsx
  services/console/public/locales/en/sign.json
  services/console/public/locales/es/sign.json
  services/console/public/locales/fr/sign.json
  services/console/styles/globals.css
  services/console/tailwind.config.js
  services/console/views/Sign/Up.tsx
  services/console/views/Sign/__snapshots__/In.test.tsx.snap
Due: console_check, console_test, console_build_docker, console_deploy

Font size
  services/console/components/Header.tsx
  services/console/components/HeaderWorkspace.tsx
  services/console/views/Apps.tsx
  services/console/views/Automation.tsx
  services/console/views/HeaderPopovers.tsx
  services/console/views/Page/PageRenderer.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Path conditions:
  backend_npm_install: any of: services/api-gateway/package.json, services/runtime/package.json, services/workspaces/package.json, services/events/package.json, packages/**/*
  console_check: any of: services/console/**/*
  console_test: any of: services/console/**/*
  console_build_docker: any of: services/console/**/*
  console_deploy: any of: services/console/**/*
  workspaces_test: any of: services/workspaces/*
  workspaces_build_docker: any of: services/workspaces/**/*
  workspaces_deploy: any of: services/workspaces/**/*
  runtime_test: any of: services/runtime/**/*
  runtime_build_docker: any of: services/runtime/**/*
  runtime_deploy: any of: services/runtime/**/*
  api-gateway_build_docker: any of: services/api-gateway/**/*
  api-gateway_deploy: any of: services/api-gateway/**/*
  events_test: any of: services/events/**/*
  events_build_docker: any of: services/events/**/*
  events_deploy: any of: services/events/**/*
  docs_build_static: any of: docs/**/*, specifications/*
  docs_deploy: any of: docs/**/*, specifications/*
