Repository HP319193/prisme.ai: changes, and which GitLab CI jobs are due for each by the changed paths.
All: npm_install, console_test, console_build_docker, console_deploy, workspaces_build_docker, workspaces_deploy, runtime_build_docker, runtime_deploy, api-gateway_build_docker, api-gateway_deploy, events_test, events_build_docker, events_deploy

npm_install:
  stage: dependencies
  image: docker:stable
  services:
  - docker:stable-dind
  script:
  ...

console_test:
  interruptible: true
  stage: test
  script:
  - "if ! [[ -d node_modules/ ]] ; then\n  BUILD_PACKAGES=0 npm ci\nfi\n"
  - npm run build:packages
  - npm test --prefix $DIRECTORY
  coverage: /All files\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)/
  artifacts:
    paths:
    - coverage
  cache:
  ...

console_build_docker:
  interruptible: true
  stage: build_docker
  image: docker:stable
  services:
  - docker:stable-dind
  script:
  ...

console_deploy:
  stage: deploy
  tags:
  - internal-runner
  image:
    name: registry.gitlab.com/gogowego-devsecops/dev/prisme.ai-infra:latest
    entrypoint:
    - /bin/sh
    - -c
  script:
  ...

workspaces_build_docker:
  interruptible: true
  stage: build_docker
  image: docker:stable
  services:
  - docker:stable-dind
  script:
  ...

workspaces_deploy:
  stage: deploy
  tags:
  - internal-runner
  image:
    name: registry.gitlab.com/gogowego-devsecops/dev/prisme.ai-infra:latest
    entrypoint:
    - /bin/sh
    - -c
  script:
  ...

runtime_build_docker:
  interruptible: true
  stage: build_docker
  image: docker:stable
  services:
  - docker:stable-dind
  script:
  ...

runtime_deploy:
  stage: deploy
  tags:
  - internal-runner
  image:
    name: registry.gitlab.com/gogowego-devsecops/dev/prisme.ai-infra:latest
    entrypoint:
    - /bin/sh
    - -c
  script:
  ...

api-gateway_build_docker:
  interruptible: true
  stage: build_docker
  image: docker:stable
  services:
  - docker:stable-dind
  script:
  ...

api-gateway_deploy:
  stage: deploy
  tags:
  - internal-runner
  image:
    name: registry.gitlab.com/gogowego-devsecops/dev/prisme.ai-infra:latest
    entrypoint:
    - /bin/sh
    - -c
  script:
  ...

events_test:
  interruptible: true
  stage: test
  script:
  - "if ! [[ -d node_modules/ ]] ; then\n  BUILD_PACKAGES=0 npm ci\nfi\n"
  - npm run build:packages
  - npm test --prefix $DIRECTORY
  coverage: /All files\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)/
  artifacts:
    paths:
    - coverage
  cache:
  ...

events_build_docker:
  interruptible: true
  stage: build_docker
  image: docker:stable
  services:
  - docker:stable-dind
  script:
  ...

events_deploy:
  stage: deploy
  tags:
  - internal-runner
  image:
    name: registry.gitlab.com/gogowego-devsecops/dev/prisme.ai-infra:latest
    entrypoint:
    - /bin/sh
    - -c
  script:
  ...

Useless
  services/console/views/Sign/In.test.tsx
Due: console_test, console_build_docker, console_deploy

Removed leftover test in workspaces
  services/console/views/Workspaces.tsx
Due: console_test, console_build_docker, console_deploy

Revert "Text CI without blockin In.test.tsx"
  services/console/views/Sign/In.test.tsx
Due: console_test, console_build_docker, console_deploy

Added basic TagEditable
  packages/design-system/lib/Components/TagEditable.stories.tsx
  packages/design-system/lib/Components/TagEditable.tsx
  packages/design-system/lib/index.ts
Due: npm_install

Added package-lock for design-system
  packages/design-system/package-lock.json
Due: npm_install

Updated test snapshot
  services/console/components/AutomationBuilder/Panel/__snapshots__/OutputForm.test.tsx.snap
Due: console_test, console_build_docker, console_deploy

Fix leaving source
  services/console/views/WorkspaceSource.tsx
Due: console_test, console_build_docker, console_deploy

Fixed signin field render
  services/console/layouts/Field.tsx
  services/console/views/Sign/In.tsx
Due: console_test, console_build_docker, console_deploy

Updated trigger edition
  services/console/components/AutomationBuilder/AutomationBuilder.tsx
  services/console/components/AutomationBuilder/Panel/TriggerForm.tsx
  services/console/components/SchemaForm/Field.tsx
Due: console_test, console_build_docker, console_deploy

Remove deprecated deps
  package-lock.json
  services/console/package.json
Due: npm_install, console_test, console_build_docker, console_deploy

Added packages/design-system to dependencies image
  dependencies.dockerfile
Due: none

fixed button type password
  packages/design-system/lib/Components/Input.tsx
Due: npm_install

Enhanced TriggerForm to use design-system components (only TagEditable for now)
  packages/design-system/lib/Components/Input.stories.tsx
  packages/design-system/lib/Components/Input.tsx
  packages/design-system/lib/Components/TagEditable.tsx
  services/console/components/AutomationBuilder/Panel/TriggerForm.tsx
  services/console/views/Sign/In.tsx
  services/console/views/Sign/Up.tsx
Due: npm_install, console_test, console_build_docker, console_deploy

Enhanced workspace selection layout
  packages/design-system/styles/prismeai-theme.less
  services/console/public/locales/en/workspaces.json
  services/console/public/locales/es/workspaces.json
  services/console/public/locales/fr/workspaces.json
  services/console/views/Workspaces.tsx
Due: npm_install, console_test, console_build_docker, console_deploy

Updated wording for save in graph
  services/console/components/AutomationBuilder/Panel/ConditionForm.tsx
  services/console/components/AutomationBuilder/Panel/InstructionSelection.tsx
  services/console/components/AutomationBuilder/Panel/TriggerForm.tsx
  services/console/components/SchemaForm/Form.tsx
  services/console/public/locales/en/workspaces.json
  services/console/public/locales/es/workspaces.json
  services/console/public/locales/fr/workspaces.json
Due: console_test, console_build_docker, console_deploy

new automation is empty
  services/console/views/AutomationsSidebar.tsx
Due: console_test, console_build_docker, console_deploy

package.json console use proper design-system
  package-lock.json
  packages/design-system/package.json
  services/console/package.json
Due: npm_install, console_test, console_build_docker, console_deploy

Output is not stringified anymore
  services/console/components/AutomationBuilder/Panel/OutputForm.tsx
Due: console_test, console_build_docker, console_deploy

Fix build in conditionForm
  services/console/components/AutomationBuilder/Panel/ConditionForm.tsx
Due: console_test, console_build_docker, console_deploy

fix sign In test on CI (second try)
  services/console/views/Sign/In.test.tsx
Due: console_test, console_build_docker, console_deploy

Removed interuptible jobs for console
  .gitlab-ci.yml
Due: none

Fixed wrong SidePanel imports
  services/console/components/AutomationBuilder/Panel/Panel.tsx
  services/console/layouts/SidePanel.tsx
  services/console/views/Workspace.tsx
Due: console_test, console_build_docker, console_deploy

eventDetail test fixed
  services/console/components/EventsViewer/EventDetails.test.tsx
Due: console_test, console_build_docker, console_deploy

Save source code
  packages/design-system/lib/Components/PageHeader.tsx
  services/console/layouts/WorkspaceLayout/WorkspaceLayout.tsx
  services/console/layouts/WorkspaceLayout/context.ts
  services/console/public/locales/fr/workspaces.json
  services/console/views/WorkspaceSource.test.tsx
  services/console/views/WorkspaceSource.tsx
Due: npm_install, console_test, console_build_docker, console_deploy

Fix sidebar list and scroll
  services/console/components/AutomationBuilder/Panel/InstructionSelection.tsx
  services/console/components/AutomationBuilder/Panel/Panel.tsx
Due: console_test, console_build_docker, console_deploy

Redirect on /signin
  services/console/pages/_middleware.ts
Due: console_test, console_build_docker, console_deploy

Fix lazy load
  services/console/components/CodeEditor/lazy.ts
Due: console_test, console_build_docker, console_deploy

Remove debug
  services/console/components/AutomationBuilder/flow.ts
  services/console/views/Sign/In.test.tsx
Due: console_test, console_build_docker, console_deploy

Fix automations refresh
  services/console/views/AutomationsSidebar.tsx
Due: console_test, console_build_docker, console_deploy

Slight update on workspaces, removed share on header
  packages/design-system/lib/Components/Text.tsx
  services/console/components/Header.tsx
  services/console/components/HeaderWorkspace.tsx
  services/console/views/Workspaces.tsx
Due: npm_install, console_test, console_build_docker, console_deploy

Restored .babelrc on console
  services/console/.babelrc
Due: console_test, console_build_docker, console_deploy

Fixed build
  services/console/__mocks__/@prisme.ai/design-system.js
  services/console/components/AutomationBuilder/Panel/OutputForm.tsx
  services/console/components/AutomationBuilder/Panel/__snapshots__/TriggerForm.test.tsx.snap
  services/console/views/Sign/LoginPage.tsx
Due: console_test, console_build_docker, console_deploy

wording: URL, Save > Add
  services/console/public/locales/en/workspaces.json
  services/console/public/locales/es/workspaces.json
  services/console/public/locales/fr/workspaces.json
Due: console_test, console_build_docker, console_deploy

Fix some test on console
  services/console/components/EventsViewer/EventDetails.tsx
  services/console/views/Workspaces.tsx
  services/console/views/__snapshots__/Workspaces.test.tsx.snap
Due: console_test, console_build_docker, console_deploy

Should fix deploy
  services/console/.babelrc
  services/console/Dockerfile
Due: console_test, console_build_docker, console_deploy

Fixed workspace test, updated EventDetail test
  .jest/setEnvVars.js
  services/console/__mocks__/@prisme.ai/design-system.js
  services/console/components/EventsViewer/EventDetails.test.tsx
  services/console/components/EventsViewer/EventDetails.tsx
  services/console/components/EventsViewer/__snapshots__/EventDetails.test.tsx.snap
  services/console/views/Workspaces.tsx
  services/console/views/__snapshots__/Workspaces.test.tsx.snap
Due: console_test, console_build_docker, console_deploy

fix sign In test
  services/console/views/Sign/In.test.tsx
Due: console_test, console_build_docker, console_deploy

Fix tests
  services/console/__mocks__/@ant-design/icons.js
  services/console/__mocks__/@prisme.ai/design-system.js
  services/console/__mocks__/react-i18next.js
  services/console/components/AutomationBuilder/AutomationBuilder.test.tsx
  services/console/components/AutomationBuilder/Panel/InstructionForm.test.tsx
  services/console/components/AutomationBuilder/Panel/InstructionSelection.test.tsx
  services/console/components/AutomationBuilder/Panel/Panel.test.tsx
  services/console/components/AutomationBuilder/Panel/__snapshots__/Panel.test.tsx.snap
  services/console/components/EventsViewer/__snapshots__/EventsViewer.test.tsx.snap
  services/console/components/__snapshots__/Loading.test.tsx.snap
  services/console/layouts/WorkspaceLayout/WorkspaceLayout.test.tsx
  services/console/layouts/WorkspaceLayout/WorkspaceLayout.tsx
  services/console/layouts/WorkspaceLayout/__snapshots__/WorkspaceLayout.test.tsx.snap
  services/console/layouts/__snapshots__/Main.test.tsx.snap
  services/console/views/Automation.test.tsx
  services/console/views/Automation.tsx
  services/console/views/AutomationSidebar.test.tsx
  services/console/views/Sign/In.test.tsx
  services/console/views/Sign/In.tsx
  services/console/views/Sign/__snapshots__/In.test.tsx.snap
  services/console/views/Workspace.test.tsx
  services/console/views/Workspace.tsx
  services/console/views/Workspaces.test.tsx
  services/console/views/__snapshots__/Automation.test.tsx.snap
  services/console/views/__snapshots__/AutomationSidebar.test.tsx.snap
  services/console/views/__snapshots__/Home.test.tsx.snap
  services/console/views/__snapshots__/Workspace.test.tsx.snap
  services/console/views/__snapshots__/Workspaces.test.tsx.snap
Due: console_test, console_build_docker, console_deploy

Updated test snapshot and fix build
  services/console/components/__snapshots__/EditableTitle.test.tsx.snap
  services/console/views/Sign/Up.tsx
Due: console_test, console_build_docker, console_deploy

Updated tests
  services/console/components/AutomationBuilder/Panel/__snapshots__/ConditionForm.test.tsx.snap
  services/console/components/AutomationBuilder/Panel/__snapshots__/InstructionSelection.test.tsx.snap
  services/console/components/AutomationBuilder/Panel/__snapshots__/InstructionValue.test.tsx.snap
  services/console/components/AutomationBuilder/Panel/__snapshots__/Panel.test.tsx.snap
  services/console/components/AutomationBuilder/Panel/__snapshots__/TriggerForm.test.tsx.snap
  services/console/components/SchemaForm/__snapshots__/Form.test.tsx.snap
  services/console/views/Workspaces.test.tsx
  services/console/views/Workspaces.tsx
  services/console/views/__snapshots__/Workspace.test.tsx.snap
  services/console/views/__snapshots__/Workspaces.test.tsx.snap
Due: console_test, console_build_docker, console_deploy

Path conditions:
  npm_install: any of: package-lock.json, packages/**/*
  console_test: any of: services/console/**/*
  console_build_docker: any of: services/console/**/*
  console_deploy: any of: services/console/**/*
  workspaces_build_docker: any of: services/workspaces/**/*
  workspaces_deploy: any of: services/workspaces/**/*
  runtime_build_docker: any of: services/runtime/**/*
  runtime_deploy: any of: services/runtime/**/*
  api-gateway_build_docker: any of: services/api-gateway/**/*
  api-gateway_deploy: any of: services/api-gateway/**/*
  events_test: any of: services/events/**/*
  events_build_docker: any of: services/events/**/*
  events_deploy: any of: services/events/**/*
