Repository HP319193/prisme.ai: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend_npm_install, console_check, console_test, console_build_docker, console_deploy, workspaces_test, workspaces_build_docker, workspaces_deploy, runtime_test, runtime_build_docker, runtime_deploy, api-gateway_build_docker, api-gateway_deploy, events_test, events_build_docker, events_deploy, docs_build_static, docs_deploy

Path conditions:
  backend_npm_install: any of: services/api-gateway/package.json, services/runtime/package.json, services/workspaces/package.json, services/events/package.json, packages/**/*
  console_check: any of: services/console/**/*
  console_test: any of: services/console/**/*
  console_build_docker: any of: services/console/**/*
  console_deploy: any of: services/console/**/*
  workspaces_test: any of: services/workspaces/*
  workspaces_build_docker: any of: services/workspaces/**/*
  workspaces_deploy: any of: services/workspaces/**/*
  runtime_test: any of: services/runtime/**/*
  runtime_build_docker: any of: services/runtime/**/*
  runtime_deploy: any of: services/runtime/**/*
  api-gateway_build_docker: any of: services/api-gateway/**/*
  api-gateway_deploy: any of: services/api-gateway/**/*
  events_test: any of: services/events/**/*
  events_build_docker: any of: services/events/**/*
  events_deploy: any of: services/events/**/*
  docs_build_static: any of: docs/**/*, specifications/*
  docs_deploy: any of: docs/**/*, specifications/*

When saving a DSUL file, do not wait for folder index files saving
  services/workspaces/src/services/DSULStorage/DSULStorage.ts
Due: workspaces_build_docker, workspaces_deploy

When saving files on S3, try to get the object right after request completion to make sure the object has been fully propagated & is available to reads
  services/workspaces/src/storage/drivers/s3.ts
Due: workspaces_build_docker, workspaces_deploy

When runtime receives a workspaces.* update event but the model no longer exists, automatically recreates it so we can manually rebuild it
  services/runtime/src/services/workspaces/workspaces.ts
Due: runtime_test, runtime_build_docker, runtime_deploy

Display app config if no doc is available
  services/console/views/AppInstance.tsx
  services/console/views/__snapshots__/AppInstance.test.tsx.snap
Due: console_check, console_test, console_build_docker, console_deploy

On DSUL migration, do not emit workspaces.automations.created & workspaces.apps.installed events as they produce noise & existing apps config could be reset
  services/workspaces/src/services/workspaces/crud/appInstances.ts
  services/workspaces/src/services/workspaces/crud/automations.ts
Due: workspaces_build_docker, workspaces_deploy

Fix detailedPage.appInstances[*].config field name to 'appConfig' as expected by prismeai-pages
  services/workspaces/src/services/workspaces/crud/pages.test.ts
  services/workspaces/src/services/workspaces/crud/pages.ts
  services/workspaces/src/services/workspaces/syncDetailedPagesWithEDA.test.ts
Due: workspaces_build_docker, workspaces_deploy

Updated pages CRUD APIs to receive pageSlug instead of pageId
  packages/types/index.d.ts
  services/workspaces/src/api/routes/pages.ts
  services/workspaces/src/services/migrate/dsul-filesystem/index.ts
  services/workspaces/src/services/workspaces/crud/pages.test.ts
  services/workspaces/src/services/workspaces/crud/pages.ts
  services/workspaces/src/services/workspaces/syncDetailedPagesWithEDA.test.ts
  services/workspaces/src/services/workspaces/syncDetailedPagesWithEDA.ts
  specifications/swagger.yml
Due: backend_npm_install, workspaces_build_docker, workspaces_deploy, docs_build_static, docs_deploy

Display page even its 404
  services/console/components/PagePreview.tsx
  services/pages/components/Page/usePageFetcher.ts
  services/pages/pages/_error.ts
  services/pages/views/404.tsx
  services/pages/views/Page.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Update page api
  packages/sdk/lib/api.ts
  services/console/providers/Page/PageProvider.test.tsx
  services/console/providers/Page/PageProvider.tsx
  services/console/views/Page/Page.tsx
Due: backend_npm_install, console_check, console_test, console_build_docker, console_deploy

Fix display custom blocks config
  services/console/components/PageBuilder/Panel/PageEditBlockForm.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Fix custom block settings display
  services/console/components/PageBuilder/Panel/PageEditBlockForm.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Improved user typings in api-gateway & introduced MFA related types & APIs
  packages/types/index.d.ts
  services/api-gateway/src/middlewares/authentication/init.ts
  services/api-gateway/src/routes/identity.ts
  services/api-gateway/src/services/identity/index.ts
  services/api-gateway/src/services/identity/users.ts
  services/api-gateway/src/storage/index.ts
  services/api-gateway/src/storage/types.ts
  specifications/swagger.yml
Due: backend_npm_install, api-gateway_build_docker, api-gateway_deploy, docs_build_static, docs_deploy

Run script tags in RichText blocks
  packages/blocks/lib/BlockLoader.tsx
  packages/blocks/lib/Blocks/RichText.stories.tsx
  packages/blocks/lib/Blocks/RichText.tsx
  services/console/components/PageBuilder/Panel/EditSchema/RichText.tsx
  services/console/public/locales/en/workspaces.json
  services/console/public/locales/fr/workspaces.json
Due: backend_npm_install, console_check, console_test, console_build_docker, console_deploy

Fix tests
  packages/sdk/lib/api.test.ts
  packages/sdk/lib/events.test.ts
  packages/sdk/lib/fetcher.test.ts
Due: backend_npm_install

Chosing radio widget display enum editor
  packages/design-system/lib/Components/SchemaForm/FieldRadio.tsx
  services/console/components/SchemaFormBuilder/SchemaFormBuilder.tsx
Due: backend_npm_install, console_check, console_test, console_build_docker, console_deploy

Fix crash when reading schema form
  packages/design-system/lib/Components/SchemaForm/utils.ts
Due: backend_npm_install

Fix double init on custom Blocks
  services/console/components/Page/usePageBlocksConfigs.ts
Due: console_check, console_test, console_build_docker, console_deploy

Fix refresh Panel form in Automation builder
  services/console/components/AutomationBuilder/AutomationBuilder.test.tsx
  services/console/components/AutomationBuilder/AutomationBuilder.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Better search in instructions list
  services/console/components/AutomationBuilder/AutomationBuilder.tsx
  services/console/components/AutomationBuilder/Panel/InstructionSelection.test.tsx
  services/console/components/AutomationBuilder/Panel/InstructionSelection.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Fix saving a Page with a new slug
  packages/sdk/lib/api.ts
  services/console/providers/Page/PageProvider.test.tsx
  services/console/providers/Page/PageProvider.tsx
Due: backend_npm_install, console_check, console_test, console_build_docker, console_deploy

Display page preview with current language in console
  services/console/components/PagePreview.tsx
  services/console/utils/urls.test.ts
  services/console/utils/urls.ts
Due: console_check, console_test, console_build_docker, console_deploy

Build styles
  packages/design-system/package.json
Due: backend_npm_install

Forms in App Instance
  packages/design-system/lib/Components/SchemaForm/SchemaForm.tsx
  packages/design-system/styles/schema-form.less
  services/console/components/AppEditor.tsx
  services/console/views/AppInstance.tsx
Due: backend_npm_install, console_check, console_test, console_build_docker, console_deploy

Refacto Schema Form rendering
  packages/design-system/lib/Components/DatePicker.tsx
  packages/design-system/lib/Components/SchemaForm/Enum.tsx
  packages/design-system/lib/Components/SchemaForm/Field.tsx
  packages/design-system/lib/Components/SchemaForm/FieldAdditionalProperties.tsx
  packages/design-system/lib/Components/SchemaForm/FieldAny.tsx
  packages/design-system/lib/Components/SchemaForm/FieldArray.tsx
  packages/design-system/lib/Components/SchemaForm/FieldAutocomplete.tsx
  packages/design-system/lib/Components/SchemaForm/FieldBoolean.tsx
  packages/design-system/lib/Components/SchemaForm/FieldContainer.tsx
  packages/design-system/lib/Components/SchemaForm/FieldDate.tsx
  packages/design-system/lib/Components/SchemaForm/FieldLocalizedBoolean.tsx
  packages/design-system/lib/Components/SchemaForm/FieldLocalizedText.tsx
  packages/design-system/lib/Components/SchemaForm/FieldObject.tsx
  packages/design-system/lib/Components/SchemaForm/FieldRadio.tsx
  packages/design-system/lib/Components/SchemaForm/FieldSelect.tsx
  packages/design-system/lib/Components/SchemaForm/FieldText.tsx
  packages/design-system/lib/Components/SchemaForm/FieldTextColor.tsx
  packages/design-system/lib/Components/SchemaForm/FieldTextTextArea.tsx
  packages/design-system/lib/Components/SchemaForm/FieldTextUpload.tsx
  packages/design-system/lib/Components/SchemaForm/InfoBubble.tsx
  packages/design-system/lib/Components/SchemaForm/Label.tsx
  packages/design-system/lib/Components/SchemaForm/LayoutBasic.tsx
  packages/design-system/lib/Components/SchemaForm/LayoutGrid.tsx
  packages/design-system/lib/Components/SchemaForm/OneOf.tsx
  packages/design-system/lib/Components/SchemaForm/SchemaForm.stories.tsx
  packages/design-system/lib/Components/SchemaForm/SchemaForm.tsx
  packages/design-system/lib/Components/SchemaForm/context.ts
  packages/design-system/lib/Components/SchemaForm/index.ts
  packages/design-system/lib/Components/SchemaForm/types.ts
  packages/design-system/lib/Components/Select.tsx
  packages/design-system/styles/schema-form.less
  services/console/styles/globals.css
  services/console/tailwind.config.js
Due: backend_npm_install, console_check, console_test, console_build_docker, console_deploy

Forms in Pages
  services/pages/pages/_app.tsx
  services/pages/styles/globals.css
Due: none

Forms in Automations
  packages/design-system/lib/Components/SchemaForm/FieldAdditionalProperties.tsx
  packages/design-system/lib/Components/SchemaForm/index.ts
  packages/design-system/lib/Components/SchemaForm/utils.ts
  packages/design-system/lib/index.ts
  packages/design-system/styles/schema-form.less
  services/console/components/AutomationBuilder/Panel/InstructionForm.tsx
  services/console/components/AutomationBuilder/Panel/schemaFormComponents.tsx
  services/console/components/FieldContainerWithRaw.tsx
  services/console/components/SchemaFormBuilder/Properties.tsx
  services/console/styles/globals.css
Due: backend_npm_install, console_check, console_test, console_build_docker, console_deploy

Update tests
  packages/design-system/lib/Components/SchemaForm/__snapshots__/SchemaForm.test.tsx.snap
  services/console/__mocks__/@ant-design/icons.js
  services/console/__mocks__/antd.js
  services/console/components/AutomationBuilder/Panel/__snapshots__/InstructionForm.test.tsx.snap
  services/console/components/SchemaFormBuilder/SchemaFormBuilder.test.tsx
  services/console/components/SchemaFormBuilder/SchemaFormBuilder.tsx
  services/console/components/SchemaFormBuilder/__snapshots__/SchemaFormBuilder.test.tsx.snap
  services/console/views/__snapshots__/AppInstance.test.tsx.snap
Due: backend_npm_install, console_check, console_test, console_build_docker, console_deploy

Forms in Console
  packages/design-system/lib/Components/Localized/LocalizedInput.tsx
  packages/design-system/lib/Components/SchemaForm/FieldAdditionalProperties.tsx
  packages/design-system/lib/Components/SchemaForm/FieldObject.tsx
  packages/design-system/lib/Components/SchemaForm/OneOf.tsx
  packages/design-system/lib/Components/SchemaForm/SchemaForm.stories.tsx
  packages/design-system/lib/Components/SchemaForm/context.ts
  packages/design-system/styles/schema-form.less
  services/console/__mocks__/@prisme.ai/design-system.js
  services/console/components/PageBuilder/Panel/EditSchema/Buttons.tsx
  services/console/components/PageBuilder/Panel/EditSchema/DataTable.tsx
  services/console/components/PageBuilder/Panel/EditSchema/Form.tsx
  services/console/components/PageBuilder/Panel/EditSchema/Header.tsx
  services/console/components/PageBuilder/Panel/Settings.tsx
  services/console/components/SchemaFormBuilder/ArgumentsEditor.tsx
  services/console/components/SchemaFormBuilder/Enum.tsx
  services/console/components/SchemaFormBuilder/Properties.tsx
  services/console/components/SchemaFormBuilder/SchemaFormBuilder.tsx
  services/console/pages/_app.tsx
  services/console/public/locales/fr/workspaces.json
  services/console/styles/globals.css
  services/console/views/Page/CSSEditor.tsx
Due: backend_npm_install, console_check, console_test, console_build_docker, console_deploy

When auto generating an already used automation slug upon creation, increment it until available
  services/workspaces/src/services/workspaces/crud/automations.ts
Due: workspaces_build_docker, workspaces_deploy

Fix infinite loop if trying to create an automation with a name longer than 20 chars & already used
  services/workspaces/src/services/workspaces/crud/automations.ts
Due: workspaces_build_docker, workspaces_deploy

Translations
  services/console/components/AutomationBuilder/AutomationBuilder.tsx
  services/console/components/SchemaForm/useSchema.tsx
  services/console/public/locales/en/workspaces.json
  services/console/public/locales/fr/workspaces.json
Due: console_check, console_test, console_build_docker, console_deploy

Fix padding in trigger form
  services/console/components/AutomationBuilder/Panel/TriggerForm.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Fix padding in output form
  services/console/components/AutomationBuilder/Panel/OutputForm.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Fix object k/v separator display
  services/console/styles/globals.css
Due: console_check, console_test, console_build_docker, console_deploy

Select did lost its value
  packages/design-system/lib/Components/SchemaForm/FieldSelect.tsx
Due: backend_npm_install

Fix setting language to Blocks
  packages/blocks/lib/BlockLoader.tsx
Due: backend_npm_install

Return automation slug on GET automation
  packages/types/index.d.ts
  services/workspaces/src/services/workspaces/crud/automations.ts
  specifications/swagger.yml
Due: backend_npm_install, workspaces_build_docker, workspaces_deploy, docs_build_static, docs_deploy

Forgot to update tests
  services/console/components/AutomationBuilder/Panel/__snapshots__/OutputForm.test.tsx.snap
  services/console/components/AutomationBuilder/Panel/__snapshots__/TriggerForm.test.tsx.snap
Due: console_check, console_test, console_build_docker, console_deploy

Fix init and update Blocks
  packages/blocks/lib/BlockLoader.tsx
  services/pages/components/Page/BlockLoader.tsx
  services/pages/components/Page/Page.tsx
  services/pages/components/Page/usePageEvents.ts
Due: backend_npm_install

Rich Text Editor in Rich Text Block
  package-lock.json
  package.json
  packages/design-system/lib/Components/Localized/LocalizedInput.tsx
  packages/design-system/lib/Components/SchemaForm/types.ts
  services/console/components/PageBuilder/Panel/EditSchema/RichText.tsx
  services/console/components/RichTextEditor/RichTextEditor.tsx
  services/console/components/RichTextEditor/index.ts
  services/console/package.json
  services/console/public/images/code.png
  services/console/public/locales/fr/workspaces.json
  services/console/styles/globals.css
Due: backend_npm_install, console_check, console_test, console_build_docker, console_deploy
