Repository HP319193/prisme.ai: changes, and which GitLab CI jobs are due for each by the changed paths.
All: npm_install, console_test, console_build_docker, console_deploy, workspaces_build_docker, workspaces_deploy, runtime_build_docker, runtime_deploy, api-gateway_build_docker, api-gateway_deploy, events_test, events_build_docker, events_deploy

npm_install:
  stage: dependencies
  image: docker:stable
  services:
  - docker:stable-dind
  script:
  ...

console_test:
  interruptible: true
  stage: test
  script:
  - "if ! [[ -d node_modules/ ]] ; then\n  BUILD_PACKAGES=0 npm ci\nfi\n"
  - npm run build:packages
  - npm test --prefix $DIRECTORY
  coverage: /All files\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)/
  artifacts:
    paths:
    - coverage
  cache:
  ...

console_build_docker:
  interruptible: true
  stage: build_docker
  image: docker:stable
  services:
  - docker:stable-dind
  script:
  ...

console_deploy:
  stage: deploy
  tags:
  - internal-runner
  image:
    name: registry.gitlab.com/gogowego-devsecops/dev/prisme.ai-infra:latest
    entrypoint:
    - /bin/sh
    - -c
  script:
  ...

workspaces_build_docker:
  interruptible: true
  stage: build_docker
  image: docker:stable
  services:
  - docker:stable-dind
  script:
  ...

workspaces_deploy:
  stage: deploy
  tags:
  - internal-runner
  image:
    name: registry.gitlab.com/gogowego-devsecops/dev/prisme.ai-infra:latest
    entrypoint:
    - /bin/sh
    - -c
  script:
  ...

runtime_build_docker:
  interruptible: true
  stage: build_docker
  image: docker:stable
  services:
  - docker:stable-dind
  script:
  ...

runtime_deploy:
  stage: deploy
  tags:
  - internal-runner
  image:
    name: registry.gitlab.com/gogowego-devsecops/dev/prisme.ai-infra:latest
    entrypoint:
    - /bin/sh
    - -c
  script:
  ...

api-gateway_build_docker:
  interruptible: true
  stage: build_docker
  image: docker:stable
  services:
  - docker:stable-dind
  script:
  ...

api-gateway_deploy:
  stage: deploy
  tags:
  - internal-runner
  image:
    name: registry.gitlab.com/gogowego-devsecops/dev/prisme.ai-infra:latest
    entrypoint:
    - /bin/sh
    - -c
  script:
  ...

events_test:
  interruptible: true
  stage: test
  script:
  - "if ! [[ -d node_modules/ ]] ; then\n  BUILD_PACKAGES=0 npm ci\nfi\n"
  - npm run build:packages
  - npm test --prefix $DIRECTORY
  coverage: /All files\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)/
  artifacts:
    paths:
    - coverage
  cache:
  ...

events_build_docker:
  interruptible: true
  stage: build_docker
  image: docker:stable
  services:
  - docker:stable-dind
  script:
  ...

events_deploy:
  stage: deploy
  tags:
  - internal-runner
  image:
    name: registry.gitlab.com/gogowego-devsecops/dev/prisme.ai-infra:latest
    entrypoint:
    - /bin/sh
    - -c
  script:
  ...

small doc update
  docs/docs/en/workspaces/automations.md
  docs/docs/en/workspaces/instructions.md
Due: none

Wait instruction
  packages/broker/lib/broker.ts
  packages/broker/lib/drivers/index.ts
  packages/broker/lib/drivers/redis/index.ts
  packages/types/index.d.ts
  services/console/Dockerfile
  services/runtime/config/runtime.ts
  services/runtime/src/api/routes/webhooks.ts
  services/runtime/src/eda/index.ts
  services/runtime/src/services/runtime/automations/index.ts
  services/runtime/src/services/runtime/automations/instructions/index.ts
  services/runtime/src/services/runtime/automations/instructions/wait.ts
  services/runtime/src/services/runtime/contexts.ts
  services/runtime/src/services/runtime/index.ts
  services/runtime/src/services/workspaces/workspace.ts
  services/runtime/src/utils/index.ts
  services/runtime/src/utils/jsonPathMatches.test.ts
  services/runtime/src/utils/jsonPathMatches.ts
  services/workspaces/Dockerfile
  specifications/swagger.yml
Due: npm_install, console_test, console_build_docker, console_deploy, workspaces_build_docker, workspaces_deploy, runtime_build_docker, runtime_deploy

reset MAXIMUM_SUCCESSIVE_CALLS to its usual value : 20
  services/runtime/config/runtime.ts
Due: runtime_build_docker, runtime_deploy

Fix runtime crash
  services/runtime/src/services/runtime/automations/index.ts
  services/runtime/src/services/runtime/automations/instructions/conditions.ts
Due: runtime_build_docker, runtime_deploy

Allow filtering events including one of candidate values. Added source.appInstanceDepth to allow filtering on app depth
  packages/broker/lib/events/eventsFactory.ts
  services/events/src/services/events/Subscriptions.ts
  services/events/src/services/events/store/ElasticsearchStore.ts
  services/runtime/src/services/runtime/automations/index.ts
  services/runtime/src/services/runtime/index.ts
  specifications/swagger.yml
Due: npm_install, runtime_build_docker, runtime_deploy, events_test, events_build_docker, events_deploy

set default value of 0 to source.appInstanceDepth
  services/runtime/src/services/runtime/automations/index.ts
  services/runtime/src/services/runtime/index.ts
Due: runtime_build_docker, runtime_deploy

Forbid dots inside slug names as it is internally used for splitting appInstances.
  packages/broker/lib/events/eventsFactory.ts
  packages/types/index.d.ts
  services/console/utils/regex.ts
  services/runtime/deps/condition-eval/src/grammar.js
  services/workspaces/config/workspaces.ts
Due: npm_install, console_test, console_build_docker, console_deploy, workspaces_build_docker, workspaces_deploy, runtime_build_docker, runtime_deploy

Allow dot inside event names
  packages/broker/lib/events/eventsFactory.ts
  services/runtime/Dockerfile
Due: npm_install, runtime_build_docker, runtime_deploy

rebuild workspaces
  services/workspaces/Dockerfile
Due: workspaces_build_docker, workspaces_deploy

Allow sending events from websocket
  packages/permissions/lib/accessManager.ts
  services/events/src/api/routes/events.ts
  services/events/src/api/routes/websockets.ts
  services/events/src/services/events/Subscriptions.ts
  services/events/src/services/events/index.ts
  services/events/src/services/events/send.ts
  services/events/src/services/index.ts
Due: npm_install, events_test, events_build_docker, events_deploy

Allow updating websocket filters with a ws message
  services/events/src/api/routes/websockets.ts
Due: events_test, events_build_docker, events_deploy

Allow services building concurrently without waiting for previous stage to be completed by all services. Console builds do not wait anymore for backend_npm_install job
  .gitlab-ci.yml
  packages/permissions/package.json
  services/api-gateway/Dockerfile
  services/console/Dockerfile
  services/events/Dockerfile
  services/runtime/Dockerfile
  services/workspaces/Dockerfile
Due: npm_install, console_test, console_build_docker, console_deploy, workspaces_build_docker, workspaces_deploy, runtime_build_docker, runtime_deploy, api-gateway_build_docker, api-gateway_deploy, events_test, events_build_docker, events_deploy

Allow updating websocket filters with a ws message
  services/events/src/api/routes/websockets.ts
  services/events/src/services/events/Subscriptions.test.ts
  services/events/src/services/events/Subscriptions.ts
Due: events_test, events_build_docker, events_deploy

:wrench: Allows to change the scope of the break instruction.
  packages/types/index.d.ts
  services/runtime/src/services/runtime/automations/index.ts
  services/runtime/src/services/runtime/index.ts
  specifications/swagger.yml
Due: npm_install, runtime_build_docker, runtime_deploy

Still emit runtime.automations.executed event if breaking 'all' parents, & do not break root automation to allow webhooks receiving final output
  services/runtime/src/services/runtime/automations/index.ts
  services/runtime/src/services/runtime/automations/instructions/index.ts
  services/runtime/src/services/runtime/index.ts
Due: runtime_build_docker, runtime_deploy

update break doc
  docs/docs/en/workspaces/instructions.md
Due: none

Allow set to automatically appends items to arrays
  docs/docs/en/workspaces/instructions.md
  services/runtime/src/services/runtime/contexts.ts
Due: runtime_build_docker, runtime_deploy

Do not reinstiate run context anymore on ctx.child, allowing calling automations to receive updated run context from their called automations.
  services/runtime/src/services/runtime/contexts.ts
  services/runtime/src/services/workspaces/workspace.ts
Due: runtime_build_docker, runtime_deploy

Added duration field to runtime.automations.executed events
  packages/types/index.d.ts
  services/runtime/src/services/runtime/automations/index.ts
  specifications/swagger.yml
Due: npm_install, runtime_build_docker, runtime_deploy

added in operator to conditions
  services/runtime/deps/condition-eval/grammar.ne
  services/runtime/deps/condition-eval/src/grammar.js
  services/runtime/deps/condition-eval/src/interpreter/ConditionalExpression.ts
  services/runtime/src/utils/evaluate.test.ts
Due: runtime_build_docker, runtime_deploy

added in operator to conditions
  docs/docs/en/workspaces/conditions.md
Due: none

Fixed conditions with operator names inside variables names or raw strings
  services/runtime/deps/condition-eval/grammar.ne
  services/runtime/deps/condition-eval/src/grammar.js
  services/runtime/src/utils/evaluate.test.ts
Due: runtime_build_docker, runtime_deploy

Fix in operator with an undefined right operand
  services/runtime/deps/condition-eval/src/interpreter/ConditionalExpression.ts
  services/runtime/src/utils/evaluate.test.ts
Due: runtime_build_docker, runtime_deploy

Layout selection Add on top
  packages/design-system/lib/Components/LayoutSelection.tsx
Due: npm_install

LayoutSelection added SearchInput
  packages/design-system/lib/Components/LayoutSelection.tsx
Due: npm_install

Force light blue text on layoutselection
  packages/design-system/lib/Components/LayoutSelection.tsx
  packages/design-system/tailwind.config.cjs
Due: npm_install

Allow switching of current user/session context by setting user.id variable
  services/runtime/src/services/runtime/contexts.ts
Due: runtime_build_docker, runtime_deploy

When switching user/session contexts, also update broker.parentSource.userId so event-triggered automations also retrieve proper user/session contexts
  services/runtime/src/services/runtime/contexts.ts
  services/runtime/src/services/runtime/index.ts
Due: runtime_build_docker, runtime_deploy

Remmove tailwind safelist, was unnecessary
  packages/design-system/tailwind.config.cjs
Due: npm_install

Implemented date operator inside conditions
  services/runtime/deps/condition-eval/grammar.ne
  services/runtime/deps/condition-eval/src/grammar.js
  services/runtime/deps/condition-eval/src/interpreter/ConditionalExpression.ts
  services/runtime/deps/condition-eval/src/interpreter/DateExpression.ts
  services/runtime/src/utils/evaluate.test.ts
Due: runtime_build_docker, runtime_deploy

Added doc on conditions date operator
  docs/docs/en/workspaces/conditions.md
  services/runtime/deps/condition-eval/grammar.ne
  services/runtime/deps/condition-eval/src/grammar.js
  services/runtime/deps/condition-eval/src/interpreter/DateExpression.ts
  services/runtime/src/utils/evaluate.test.ts
Due: runtime_build_docker, runtime_deploy

Allow using {{config}} variable inside workspace & appInstance config
  services/runtime/src/services/workspaces/workspace.ts
Due: runtime_build_docker, runtime_deploy

Update docs for config variable inside config
  docs/docs/en/workspaces/index.md
Due: none

Improved in operator to handle comma-separated lists
  services/runtime/deps/condition-eval/src/interpreter/ConditionalExpression.ts
  services/runtime/src/utils/evaluate.test.ts
Due: runtime_build_docker, runtime_deploy

in operator: handle numbers inside comma-separated lists
  docs/docs/en/workspaces/conditions.md
  services/runtime/deps/condition-eval/src/interpreter/ConditionalExpression.ts
  services/runtime/src/utils/evaluate.test.ts
Due: runtime_build_docker, runtime_deploy

Fix passing config variables to nested appInstance config
  services/runtime/src/services/workspaces/workspace.ts
Due: runtime_build_docker, runtime_deploy

Added run.date variable
  docs/docs/en/workspaces/automations.md
  services/runtime/src/services/runtime/contexts.ts
Due: runtime_build_docker, runtime_deploy

Styled header, empty sidebar elements
  packages/design-system/lib/Components/Dropdown.tsx
  services/console/components/Header.tsx
  services/console/components/HeaderWorkspace.tsx
  services/console/tailwind.config.js
  services/console/views/AppsSidebar.tsx
  services/console/views/AutomationsSidebar.tsx
  services/console/views/PagesSidebar.tsx
Due: npm_install, console_test, console_build_docker, console_deploy

working commit
  packages/design-system/lib/Components/FeedHeader.stories.tsx
  packages/design-system/lib/Components/FeedHeader.tsx
  packages/design-system/lib/Components/SidePanel.stories.tsx
  packages/design-system/lib/Components/SidePanel.tsx
  packages/design-system/lib/index.ts
  packages/design-system/lib/mockData.tsx
  packages/validation/instructions.json
  services/console/components/EventsViewer/EventsViewer.tsx
  services/console/components/HeaderWorkspace.tsx
  services/console/layouts/EditDetails.tsx
  services/console/views/Workspace.tsx
Due: npm_install, console_test, console_build_docker, console_deploy

Restored Montserrat font, adapted workspace home sidepanel and feed header
  packages/design-system/lib/Components/MenuTab.tsx
  packages/design-system/lib/Components/SidePanel.tsx
  packages/design-system/styles/prismeai-theme.less
  services/console/components/EventsViewer/EventsViewer.tsx
  services/console/styles/globals.css
  services/console/views/Workspace.tsx
Due: npm_install, console_test, console_build_docker, console_deploy

Path conditions:
  npm_install: any of: package-lock.json, packages/**/*
  console_test: any of: services/console/**/*
  console_build_docker: any of: services/console/**/*
  console_deploy: any of: services/console/**/*
  workspaces_build_docker: any of: services/workspaces/**/*
  workspaces_deploy: any of: services/workspaces/**/*
  runtime_build_docker: any of: services/runtime/**/*
  runtime_deploy: any of: services/runtime/**/*
  api-gateway_build_docker: any of: services/api-gateway/**/*
  api-gateway_deploy: any of: services/api-gateway/**/*
  events_test: any of: services/events/**/*
  events_build_docker: any of: services/events/**/*
  events_deploy: any of: services/events/**/*
