Repository HP319193/prisme.ai: changes, and which GitLab CI jobs are due for each by the changed paths.
All: npm_install, console_test, console_build_docker, console_deploy, workspaces_build_docker, workspaces_deploy, runtime_build_docker, runtime_deploy, api-gateway_build_docker, api-gateway_deploy, events_test, events_build_docker, events_deploy

Path conditions:
  npm_install: any of: package-lock.json, packages/**/*
  console_test: any of: services/console/**/*
  console_build_docker: any of: services/console/**/*
  console_deploy: any of: services/console/**/*
  workspaces_build_docker: any of: services/workspaces/**/*
  workspaces_deploy: any of: services/workspaces/**/*
  runtime_build_docker: any of: services/runtime/**/*
  runtime_deploy: any of: services/runtime/**/*
  api-gateway_build_docker: any of: services/api-gateway/**/*
  api-gateway_deploy: any of: services/api-gateway/**/*
  events_test: any of: services/events/**/*
  events_build_docker: any of: services/events/**/*
  events_deploy: any of: services/events/**/*

Fix graph
  services/console/components/AutomationBuilder/AutomationBuilder.tsx
  services/console/components/AutomationBuilder/__snapshots__/flow.test.ts.snap
  services/console/components/AutomationBuilder/flow.ts
Due: console_test, console_build_docker, console_deploy

Text CI without blockin In.test.tsx
  services/console/views/Sign/In.test.tsx
Due: console_test, console_build_docker, console_deploy

Display errors on sign in / up
  services/console/views/Sign/In.test.tsx
  services/console/views/Sign/In.tsx
  services/console/views/Sign/Up.tsx
Due: console_test, console_build_docker, console_deploy

Fix automationSidebar test
  services/console/views/AutomationSidebar.test.tsx
Due: console_test, console_build_docker, console_deploy

Removed unused Design-system components
  packages/design-system/lib/Groups/AutomationsList.stories.tsx
  packages/design-system/lib/Groups/AutomationsList.tsx
  packages/design-system/lib/Groups/DualHeader.stories.tsx
  packages/design-system/lib/Groups/DualHeader.tsx
  packages/design-system/lib/Groups/GraphSidePanel.stories.tsx
  packages/design-system/lib/Groups/GraphSidePanel.tsx
  packages/design-system/lib/Groups/Header.stories.tsx
  packages/design-system/lib/Groups/Header.tsx
  packages/design-system/lib/Groups/InstructionsList.stories.tsx
  packages/design-system/lib/Groups/InstructionsList.tsx
  packages/design-system/lib/Groups/LoginForm.stories.tsx
  packages/design-system/lib/Groups/LoginForm.tsx
  packages/design-system/lib/Groups/SidePanel.stories.tsx
  packages/design-system/lib/Groups/SidePanel.tsx
  packages/design-system/lib/Groups/WorkspaceFeed.stories.tsx
  packages/design-system/lib/Groups/WorkspaceFeed.tsx
  packages/design-system/lib/Pages/WorkspaceHome.stories.tsx
  packages/design-system/lib/Pages/WorkspaceHome.tsx
  packages/design-system/lib/index.ts
  services/console/components/HeaderWorkspace.tsx
  services/console/views/Sign/Up.tsx
Due: npm_install, console_test, console_build_docker, console_deploy

Clean tests
  services/console/__mocks__/antd.js
  services/console/components/AutomationBuilder/Trigger.test.tsx
  services/console/components/EventsViewer/__snapshots__/EventsViewer.test.tsx.snap
  services/console/components/__snapshots__/Loading.test.tsx.snap
  services/console/layouts/CardsContainer.test.tsx
  services/console/layouts/CardsContainer.tsx
  services/console/layouts/FullScreen.test.tsx
  services/console/layouts/FullScreen.tsx
  services/console/layouts/Main.test.tsx
  services/console/layouts/Main.tsx
  services/console/layouts/WorkspaceLayout/WorkspaceLayout.test.tsx
  services/console/layouts/WorkspaceLayout/WorkspaceLayout.tsx
  services/console/layouts/WorkspaceLayout/__snapshots__/WorkspaceLayout.test.tsx.snap
  services/console/layouts/__snapshots__/CardsContainer.test.tsx.snap
  services/console/layouts/__snapshots__/FullScreen.test.tsx.snap
  services/console/layouts/__snapshots__/Main.test.tsx.snap
  services/console/views/Automation.test.tsx
  services/console/views/Home.tsx
  services/console/views/Sign/Up.tsx
  services/console/views/Workspaces.tsx
  services/console/views/__snapshots__/Workspace.test.tsx.snap
  services/console/views/__snapshots__/Workspaces.test.tsx.snap
Due: console_test, console_build_docker, console_deploy

Updated input display for instructions
  services/console/components/SchemaForm/Field.tsx
  services/console/layouts/Field.tsx
  services/console/layouts/Fieldset.tsx
Due: console_test, console_build_docker, console_deploy

Fix link icon in code editor
  services/console/public/images/link.png
  services/console/styles/globals.css
Due: console_test, console_build_docker, console_deploy

Replace toaster for antd
  services/console/components/AutomationBuilder/Trigger.test.tsx
  services/console/components/AutomationBuilder/Trigger.tsx
  services/console/layouts/Toaster.test.tsx
  services/console/layouts/Toaster.tsx
  services/console/layouts/WorkspaceLayout/WorkspaceLayout.test.tsx
  services/console/layouts/WorkspaceLayout/WorkspaceLayout.tsx
  services/console/layouts/__snapshots__/Toaster.test.tsx.snap
  services/console/pages/_app.tsx
  services/console/views/Automation.tsx
  services/console/views/WorkspaceSource.test.tsx
  services/console/views/WorkspaceSource.tsx
Due: console_test, console_build_docker, console_deploy

Fix tests
  services/console/__mocks__/antd.js
  services/console/components/AutomationBuilder/Panel/__snapshots__/ConditionForm.test.tsx.snap
  services/console/components/AutomationBuilder/Panel/__snapshots__/InstructionValue.test.tsx.snap
  services/console/components/AutomationBuilder/Panel/__snapshots__/OutputForm.test.tsx.snap
  services/console/components/AutomationBuilder/Panel/__snapshots__/Panel.test.tsx.snap
  services/console/components/AutomationBuilder/Panel/__snapshots__/TriggerForm.test.tsx.snap
  services/console/components/SchemaForm/__snapshots__/Form.test.tsx.snap
  services/console/layouts/__snapshots__/Field.test.tsx.snap
  services/console/layouts/__snapshots__/Fieldset.test.tsx.snap
  services/console/views/Sign/__snapshots__/In.test.tsx.snap
Due: console_test, console_build_docker, console_deploy

Cleaner way to manager socket connections
  services/console/api/events.test.ts
  services/console/api/events.ts
  services/console/components/AutomationBuilder/__snapshots__/flow.test.ts.snap
  services/console/components/AutomationBuilder/flow.ts
  services/console/layouts/WorkspaceLayout/WorkspaceLayout.tsx
Due: console_test, console_build_docker, console_deploy

Fix saving source
  services/console/views/WorkspaceSource.tsx
Due: console_test, console_build_docker, console_deploy

Configure lint
  services/console/.eslintrc.json
  services/console/package-lock.json
  services/console/package.json
Due: console_test, console_build_docker, console_deploy

Changed Set value to object
  specifications/swagger.yml
Due: none

Apply 1 suggestion(s) to 1 file(s)
  docs/docs/en/architecture/technical/runtime/automations.md
Due: none

npm start ask for service to start
  dependencies.dockerfile
  docker-compose.dev.yml
  package-lock.json
  package.json
  scripts/start-dev.ts
  services/api-gateway/docker-compose.yml
  services/console/docker-compose.yml
  services/events/docker-compose.yml
  services/events/package.json
  services/runtime/docker-compose.yml
  services/runtime/package.json
  services/workspaces/docker-compose.yml
Due: npm_install, console_test, console_build_docker, console_deploy, workspaces_build_docker, workspaces_deploy, runtime_build_docker, runtime_deploy, api-gateway_build_docker, api-gateway_deploy, events_test, events_build_docker, events_deploy

WIP
  .gitignore
  scripts/start-dev.ts
  services/api-gateway/docker-compose.yml
  services/workspaces/docker-compose.yml
Due: workspaces_build_docker, workspaces_deploy, api-gateway_build_docker, api-gateway_deploy

WIP
  package.json
  scripts/start-dev.ts
  services/events/docker-compose.yml
  services/runtime/docker-compose.yml
  services/workspaces/docker-compose.yml
Due: workspaces_build_docker, workspaces_deploy, runtime_build_docker, runtime_deploy, events_test, events_build_docker, events_deploy

Fix npm start init prompt, events service now waits for ES to be ready before starting & added missing specifications/ symlinks
  data/elasticsearch01.yml
  dependencies.dockerfile
  package-lock.json
  scripts/start-dev.ts
  services/console/docker-compose.yml
  services/events/config/api.ts
  services/events/docker-compose.yml
  services/runtime/config/api.ts
  services/runtime/specifications
  services/workspaces/config/api.ts
  services/workspaces/specifications
Due: npm_install, console_test, console_build_docker, console_deploy, workspaces_build_docker, workspaces_deploy, runtime_build_docker, runtime_deploy, events_test, events_build_docker, events_deploy

Fix working with only api-gateway in dev start
  scripts/start-dev.ts
Due: none

Fix dev start for gateway, workspaces & runtime
  scripts/start-dev.ts
  services/api-gateway/gateway.config.yml
  services/api-gateway/src/config/gateway.ts
  services/runtime/config/storage.ts
  services/workspaces/config/storage.ts
Due: workspaces_build_docker, workspaces_deploy, runtime_build_docker, runtime_deploy, api-gateway_build_docker, api-gateway_deploy

Fixed some env var default values & npm install which failed since last rebase
  docs/docs/en/getstarted/configuration.md
  package-lock.json
  package.json
  scripts/start-dev.ts
  services/api-gateway/docker-compose.yml
  services/api-gateway/local.env
  services/api-gateway/src/config/storage.ts
  services/api-gateway/src/index.ts
  services/events/config/storage.ts
  services/events/local.env
  services/events/src/api/routes/websockets.ts
  services/events/src/services/events/Subscriptions.ts
  services/events/src/services/events/store/ElasticsearchStore.ts
Due: npm_install, api-gateway_build_docker, api-gateway_deploy, events_test, events_build_docker, events_deploy

Make start-dev.ts script wait for elastic healthyness before starting local services
  scripts/start-dev.ts
  services/events/src/services/events/store/ElasticsearchStore.ts
Due: events_test, events_build_docker, events_deploy

Rewrite without static services names
  scripts/start-dev.ts
Due: none

Missed deps
  services/console/components/EventsViewer/Empty.tsx
  services/console/components/HeaderWorkspace.tsx
Due: console_test, console_build_docker, console_deploy

Stop running npm_install for console build only as it now downloaws its dependencies itself
  .dockerignore
  .gitignore
  .gitlab-ci.yml
Due: none

Fixed swagger path for swagger ui build
  .gitlab-ci.yml
  docs/public/api/swagger.yml
Due: none

Added API link to docs navbar
  docs/mkdocs.yml
  specifications/swagger.yml
Due: none

Added full docker-compose.yml & documentation for starting pyramide with this docker-compose
  .gitignore
  docker-compose.yml
  docs/docs/en/getstarted/index.md
  scripts/start-dev.ts
Due: none

Added restart: on-failure policy to docker-compose files
  docker-compose.yml
  services/api-gateway/docker-compose.yml
  services/console/docker-compose.yml
  services/events/docker-compose.yml
  services/runtime/docker-compose.yml
  services/workspaces/docker-compose.yml
Due: console_test, console_build_docker, console_deploy, workspaces_build_docker, workspaces_deploy, runtime_build_docker, runtime_deploy, api-gateway_build_docker, api-gateway_deploy, events_test, events_build_docker, events_deploy

Allow passing session token with x-prismeai-session-token header
  docs/docs/en/getstarted/index.md
  package-lock.json
  package.json
  patches/express-session+1.17.2.patch
  scripts/start-dev.ts
  services/api-gateway/src/config/gateway.ts
  services/api-gateway/src/config/system.ts
  services/api-gateway/src/middlewares/authentication/init.ts
  services/api-gateway/src/routes/identity.ts
  services/api-gateway/src/services/identity/users.ts
  specifications/swagger.yml
Due: npm_install, api-gateway_build_docker, api-gateway_deploy

Added patches/ folder to dependencies docker image
  dependencies.dockerfile
  services/api-gateway/Dockerfile
  services/api-gateway/package.json
Due: api-gateway_build_docker, api-gateway_deploy

Attempt to build console on docker
  .dockerignore
  .gitignore
  package-lock.json
  package.json
  services/console/Dockerfile
  services/console/_babelrc
  services/console/components/CodeEditor/CodeEditor.tsx
  services/console/package.json
  services/console/pages/_app.tsx
Due: npm_install, console_test, console_build_docker, console_deploy

fix build move plugin to postcss.config
  services/console/Dockerfile
  services/console/_babelrc
  services/console/postcss.config.js
Due: console_test, console_build_docker, console_deploy

Leverage docker layers cache to avoid npm ci again when updating non source files
  services/console/Dockerfile
Due: console_test, console_build_docker, console_deploy

Moving forward to a better docker build ...
  package.json
  services/console/Dockerfile
  services/console/styles/globals.css
Due: console_test, console_build_docker, console_deploy

Finally fix console build
  package-lock.json
  package.json
Due: npm_install

force rebuilding console
  services/console/Dockerfile
Due: console_test, console_build_docker, console_deploy
