Repository HP319193/prisme.ai: changes, and which GitLab CI jobs are due for each by the changed paths.
All: npm_install, console_test, console_build_docker, console_deploy, workspaces_build_docker, workspaces_deploy, runtime_build_docker, runtime_deploy, api-gateway_build_docker, api-gateway_deploy, events_test, events_build_docker, events_deploy

Path conditions:
  npm_install: any of: package-lock.json, packages/**/*
  console_test: any of: services/console/**/*
  console_build_docker: any of: services/console/**/*
  console_deploy: any of: services/console/**/*
  workspaces_build_docker: any of: services/workspaces/**/*
  workspaces_deploy: any of: services/workspaces/**/*
  runtime_build_docker: any of: services/runtime/**/*
  runtime_deploy: any of: services/runtime/**/*
  api-gateway_build_docker: any of: services/api-gateway/**/*
  api-gateway_deploy: any of: services/api-gateway/**/*
  events_test: any of: services/events/**/*
  events_build_docker: any of: services/events/**/*
  events_deploy: any of: services/events/**/*

Apps documentation & more workspace doc
  docs/docs/en/apps/index.md
  docs/docs/en/workspaces/automations.md
  docs/docs/en/workspaces/index.md
  docs/theme/assets/images/apps/configschema.png
  docs/theme/assets/images/workspaces/automation_arguments.png
  docs/theme/assets/images/workspaces/complex_arguments.png
  docs/theme/assets/images/workspaces/page.png
Due: none

clean docs TODO
  docs/docs/en/workspaces/automations.md
Due: none

Event triggers now can access event payload / source via payload & source variables (instead of spreading them in klocal context)
  services/runtime/src/services/runtime/index.ts
Due: runtime_build_docker, runtime_deploy

more small doc fixes
  docs/docs/en/workspaces/automations.md
  docs/docs/en/workspaces/index.md
  docs/mkdocs.yml
Due: none

Save on automation name change
  services/console/views/Automation.tsx
Due: console_test, console_build_docker, console_deploy

Remove dead code
  services/console/views/AppsSidebar.tsx
Due: console_test, console_build_docker, console_deploy

When renaming automation, create new slug
  package-lock.json
  packages/sdk/lib/api.ts
  services/console/components/WorkspacesProvider/Provider.tsx
  services/console/components/WorkspacesProvider/context.ts
  services/console/layouts/WorkspaceLayout/WorkspaceLayout.tsx
  services/console/layouts/WorkspaceLayout/context.ts
  services/console/package.json
  services/console/utils/strings.ts
  services/console/views/Automation.tsx
Due: npm_install, console_test, console_build_docker, console_deploy

Reorganized docs
  docs/docs/en/getstarted/configuration.md
  docs/docs/en/workspaces/apps.md
  docs/docs/en/workspaces/automations.md
  docs/docs/en/workspaces/index.md
  docs/docs/en/workspaces/pages.md
  docs/i18n/en.yml
  docs/mkdocs.yml
Due: none

Tests
  packages/sdk/lib/types.ts
  services/console/components/WorkspacesProvider/Provider.test.tsx
  services/console/layouts/WorkspaceLayout/WorkspaceLayout.test.tsx
  services/console/layouts/WorkspaceLayout/WorkspaceLayout.tsx
  services/console/views/Automation.test.tsx
  services/console/views/Automation.tsx
  services/console/views/__snapshots__/AppsSidebar.test.tsx.snap
Due: npm_install, console_test, console_build_docker, console_deploy

Force rebuilding workspaces & add X-Forwarded-* headers to api gateway proxied requests
  docs/docs/en/getstarted/configuration.md
  services/api-gateway/src/config/system.ts
  services/api-gateway/src/policies/proxy.ts
  services/workspaces/Dockerfile
Due: workspaces_build_docker, workspaces_deploy, api-gateway_build_docker, api-gateway_deploy

Fix test
  services/console/components/AutomationBuilder/Panel/InstructionForm.test.tsx
Due: console_test, console_build_docker, console_deploy

Given apps DSUL URL, workspaces now can automatically install / update native apps on startup
  package-lock.json
  services/workspaces/package.json
  services/workspaces/src/app.ts
  services/workspaces/src/permissions/config.ts
  services/workspaces/src/permissions/index.ts
  services/workspaces/src/services/apps/index.ts
  services/workspaces/src/utils/getObjectsDifferences.ts
Due: npm_install, workspaces_build_docker, workspaces_deploy

Refacto was too quick
  services/console/components/EventsViewer/Empty.tsx
  services/console/views/AutomationSidebar.test.tsx
  services/console/views/AutomationsSidebar.tsx
Due: console_test, console_build_docker, console_deploy

Fix updating apps photo/description
  services/workspaces/src/services/apps/index.ts
Due: workspaces_build_docker, workspaces_deploy

Fix build
  services/console/components/PageBuilder/PageBuilder.tsx
  services/console/views/AppsSidebar.tsx
Due: console_test, console_build_docker, console_deploy

Fix displaying raw json inputs for native instructions
  packages/types/index.d.ts
  packages/validation/instructions.json
  specifications/swagger.yml
Due: npm_install

fix console build
  package-lock.json
  services/console/package.json
Due: npm_install, console_test, console_build_docker, console_deploy

Fix infinite loop
  services/console/views/AppsSidebar.tsx
Due: console_test, console_build_docker, console_deploy

Block context
  packages/design-system/lib/Components/Block.tsx
  packages/design-system/lib/index.ts
  services/console/components/Block.tsx
  services/console/components/PageBuilder/Widget.tsx
  services/console/views/AppsSidebarItem.tsx
Due: npm_install, console_test, console_build_docker, console_deploy

Fix changing instruction edition form
  services/console/components/AutomationBuilder/Panel/InstructionForm.test.tsx
  services/console/components/AutomationBuilder/Panel/InstructionForm.tsx
Due: console_test, console_build_docker, console_deploy

Workspaces now wait an arbitrary chosen 20 seconds before installing apps from remote API to make sure they could have been started
  services/workspaces/src/app.ts
Due: workspaces_build_docker, workspaces_deploy

Fix contexts persistance which were overidden as soon as the first automations called another one (first automation finished after second one & overwrote what the second one set)
  services/runtime/src/services/runtime/automations/index.ts
  services/runtime/src/services/runtime/automations/instructions/index.ts
  services/runtime/src/services/runtime/contexts.ts
Due: runtime_build_docker, runtime_deploy

remove outdated private field from emit instruction
  packages/types/index.d.ts
  packages/validation/instructions.json
  specifications/swagger.yml
Due: npm_install

Fix events names which where not always in plural
  docs/docs/en/architecture/technical/runtime/specifications.md
  docs/docs/en/architecture/technical/workspaces/specifications.md
  docs/docs/en/workspaces/apps.md
  docs/docs/en/workspaces/automations.md
  packages/broker/lib/broker.test.ts
  packages/broker/openapi/events.yml
  packages/types/index.d.ts
  services/events/src/eda/index.ts
  services/runtime/src/eda/index.ts
  services/template/src/eda/index.ts
  services/workspaces/src/eda/index.ts
  services/workspaces/src/services/workspaces/crud/appInstances.test.ts
  services/workspaces/src/services/workspaces/crud/automations.test.ts
  services/workspaces/src/services/workspaces/crud/workspaces.test.ts
  specifications/swagger.yml
Due: npm_install, workspaces_build_docker, workspaces_deploy, runtime_build_docker, runtime_deploy, events_test, events_build_docker, events_deploy

Emit events on permissions share/deletion
  packages/permissions/lib/api/initCollaboratorRoutes.ts
  services/workspaces/src/api/app.ts
  services/workspaces/src/eda/index.ts
  services/workspaces/src/permissions/middleware.ts
Due: npm_install, workspaces_build_docker, workspaces_deploy

update architecture iamge
  docs/theme/assets/images/architecture/microservices.png
Due: none

run simple runtime load performance test
  .gitlab-ci.yml
  scripts/loadPerformanceTesting.js
Due: none

Allow configuring load performance target webhook through env vars
  .gitlab-ci.yml
  scripts/loadPerformanceTesting.js
Due: none

fix load testing workspace & automation
  scripts/loadPerformanceTesting.js
Due: none

Fix initial error on first time a workspace is loaded on dashboard
  services/events/src/services/events/store/ElasticsearchStore.ts
Due: events_test, events_build_docker, events_deploy

fix events build
  services/events/src/services/events/store/ElasticsearchStore.ts
Due: events_test, events_build_docker, events_deploy

Fixed an unstable event unit test
  services/events/src/utils/BatchExecStream.test.ts
Due: events_test, events_build_docker, events_deploy

Localized Input is now available
  package-lock.json
  packages/design-system/lib/Components/CustomSelect.stories.tsx
  packages/design-system/lib/Components/CustomSelect.tsx
  packages/design-system/lib/Components/Input.tsx
  packages/design-system/lib/Components/LocalizedInput.stories.tsx
  packages/design-system/lib/Components/LocalizedInput.tsx
  packages/design-system/lib/Components/Select.tsx
  packages/design-system/lib/Components/TextArea.tsx
  packages/design-system/lib/index.ts
  packages/design-system/package.json
  services/console/components/SchemaForm/Field.tsx
  services/console/components/SchemaForm/Form.tsx
  services/console/layouts/UnderPanel.tsx
  services/console/views/Automation.tsx
Due: npm_install, console_test, console_build_docker, console_deploy

Implemented events search query parameters to websocket route + added a 'text' search query, currently limited to websocket route
  packages/types/index.d.ts
  services/events/src/api/routes/events.ts
  services/events/src/api/routes/websockets.ts
  services/events/src/services/events/Subscriptions.ts
  services/events/src/services/events/store/ElasticsearchStore.ts
  services/events/src/utils/extractObjectsByPath.ts
  services/events/src/utils/index.ts
  specifications/swagger.yml
Due: npm_install, events_test, events_build_docker, events_deploy

ui:options.localizedText display a LocalizedInput
  packages/design-system/lib/Components/Popover.tsx
  packages/types/index.d.ts
  services/console/components/AutomationBuilder/AutomationBuilder.tsx
  services/console/components/PublishModal.tsx
  services/console/components/SchemaForm/Field.tsx
  services/console/components/SchemaForm/Form.tsx
  services/console/components/SchemaForm/InputWrapper.tsx
  services/console/components/SchemaForm/types.ts
  services/console/components/WorkspacesProvider/Provider.tsx
  services/console/layouts/EditDetails.tsx
  services/console/layouts/Field.tsx
  services/console/layouts/UnderPanel.tsx
  services/console/layouts/WorkspaceLayout/WorkspaceLayout.test.tsx
  services/console/layouts/WorkspaceLayout/WorkspaceLayout.tsx
  services/console/layouts/__snapshots__/Field.test.tsx.snap
  services/console/public/locales/fr/workspaces.json
  services/console/utils/regex.ts
  services/console/views/AppsStore.tsx
  services/console/views/Automation.tsx
  services/console/views/AutomationsSidebar.tsx
  services/console/views/Page.tsx
  specifications/swagger.yml
Due: npm_install, console_test, console_build_docker, console_deploy

Added full text search to GET /events
  services/events/src/services/events/store/ElasticsearchStore.ts
Due: events_test, events_build_docker, events_deploy

Tests
  services/console/__mocks__/@ant-design/icons.js
  services/console/__mocks__/@prisme.ai/design-system.js
  services/console/components/SchemaForm/InputWrapper.tsx
  services/console/layouts/EditDetails.tsx
  services/console/views/Automation.test.tsx
  services/console/views/Automation.tsx
Due: console_test, console_build_docker, console_deploy

Added a GET /events/values route allowing to retrieve distinct values for a list of fields
  packages/permissions/lib/accessManager.ts
  packages/types/index.d.ts
  services/events/src/api/routes/events.ts
  services/events/src/errors/index.ts
  services/events/src/permissions/config.ts
  services/events/src/permissions/index.ts
  services/events/src/services/events/store/ElasticsearchStore.ts
  services/events/src/services/events/store/types.ts
  specifications/swagger.yml
Due: npm_install, events_test, events_build_docker, events_deploy

try fixing event build
  packages/types/index.d.ts
  services/events/src/api/routes/events.ts
Due: npm_install, events_test, events_build_docker, events_deploy

Fix conditions instructions that were all interpolated even before the first one was executed (thus loosing every variables)
  services/runtime/src/services/runtime/automations/index.ts
Due: runtime_build_docker, runtime_deploy
