Repository HP319193/prisme.ai: changes, and which GitLab CI jobs are due for each by the changed paths.
All: npm_install, console_test, console_build_docker, console_deploy, workspaces_build_docker, workspaces_deploy, runtime_build_docker, runtime_deploy, api-gateway_build_docker, api-gateway_deploy, events_test, events_build_docker, events_deploy

npm_install:
  stage: dependencies
  image: docker:stable
  services:
  - docker:stable-dind
  script:
  ...

console_test:
  interruptible: true
  stage: test
  script:
  - "if ! [[ -d node_modules/ ]] ; then\n  BUILD_PACKAGES=0 npm ci\nfi\n"
  - npm run build:packages
  - npm test --prefix $DIRECTORY
  coverage: /All files\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)/
  artifacts:
    paths:
    - coverage
  cache:
  ...

console_build_docker:
  interruptible: true
  stage: build_docker
  image: docker:stable
  services:
  - docker:stable-dind
  script:
  ...

console_deploy:
  stage: deploy
  tags:
  - internal-runner
  image:
    name: registry.gitlab.com/gogowego-devsecops/dev/prisme.ai-infra:latest
    entrypoint:
    - /bin/sh
    - -c
  script:
  ...

workspaces_build_docker:
  interruptible: true
  stage: build_docker
  image: docker:stable
  services:
  - docker:stable-dind
  script:
  ...

workspaces_deploy:
  stage: deploy
  tags:
  - internal-runner
  image:
    name: registry.gitlab.com/gogowego-devsecops/dev/prisme.ai-infra:latest
    entrypoint:
    - /bin/sh
    - -c
  script:
  ...

runtime_build_docker:
  interruptible: true
  stage: build_docker
  image: docker:stable
  services:
  - docker:stable-dind
  script:
  ...

runtime_deploy:
  stage: deploy
  tags:
  - internal-runner
  image:
    name: registry.gitlab.com/gogowego-devsecops/dev/prisme.ai-infra:latest
    entrypoint:
    - /bin/sh
    - -c
  script:
  ...

api-gateway_build_docker:
  interruptible: true
  stage: build_docker
  image: docker:stable
  services:
  - docker:stable-dind
  script:
  ...

api-gateway_deploy:
  stage: deploy
  tags:
  - internal-runner
  image:
    name: registry.gitlab.com/gogowego-devsecops/dev/prisme.ai-infra:latest
    entrypoint:
    - /bin/sh
    - -c
  script:
  ...

events_test:
  interruptible: true
  stage: test
  script:
  - "if ! [[ -d node_modules/ ]] ; then\n  BUILD_PACKAGES=0 npm ci\nfi\n"
  - npm run build:packages
  - npm test --prefix $DIRECTORY
  coverage: /All files\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)/
  artifacts:
    paths:
    - coverage
  cache:
  ...

events_build_docker:
  interruptible: true
  stage: build_docker
  image: docker:stable
  services:
  - docker:stable-dind
  script:
  ...

events_deploy:
  stage: deploy
  tags:
  - internal-runner
  image:
    name: registry.gitlab.com/gogowego-devsecops/dev/prisme.ai-infra:latest
    entrypoint:
    - /bin/sh
    - -c
  script:
  ...

Changed viewed opacity on feed only on title
  services/console/components/EventsViewer/EventsViewer.tsx
Due: console_test, console_build_docker, console_deploy

Signup pages removed icon and changed wording
  services/console/public/locales/en/sign.json
  services/console/public/locales/fr/sign.json
  services/console/views/Sign/In.tsx
  services/console/views/Sign/Up.tsx
Due: console_test, console_build_docker, console_deploy

Made empty icon and text gray
  services/console/views/AppsSidebar.tsx
  services/console/views/AutomationsSidebar.tsx
  services/console/views/PagesSidebar.tsx
Due: console_test, console_build_docker, console_deploy

Fix test
  services/console/views/__snapshots__/AppsSidebar.test.tsx.snap
  services/console/views/__snapshots__/PagesSidebar.test.tsx.snap
  services/console/views/__snapshots__/Workspace.test.tsx.snap
Due: console_test, console_build_docker, console_deploy

updated instructions.json
  packages/validation/instructions.json
Due: npm_install

Increased searchinput height
  packages/design-system/lib/Components/Input.tsx
  packages/design-system/styles/prismeai-theme.less
Due: npm_install

Fix conditions
  services/console/components/AutomationBuilder/flow.ts
Due: console_test, console_build_docker, console_deploy

Fixed graph form scroll for tiny screens
  services/console/components/AutomationBuilder/Panel/InstructionForm.tsx
  services/console/components/AutomationBuilder/Panel/OutputForm.tsx
  services/console/components/AutomationBuilder/Panel/TriggerForm.tsx
Due: console_test, console_build_docker, console_deploy

Slight UI adjustments
  services/console/components/AutomationBuilder/Panel/ConditionForm.tsx
  services/console/components/AutomationBuilder/Panel/InstructionValue.tsx
  services/console/components/AutomationBuilder/Panel/OutputForm.tsx
  services/console/components/AutomationBuilder/Panel/TriggerForm.tsx
  services/console/components/SchemaForm/Form.tsx
  services/console/layouts/Fieldset.tsx
  services/console/public/locales/fr/workspaces.json
Due: console_test, console_build_docker, console_deploy

update test snapshot
  services/console/components/AutomationBuilder/Panel/__snapshots__/ConditionForm.test.tsx.snap
  services/console/components/AutomationBuilder/Panel/__snapshots__/InstructionForm.test.tsx.snap
  services/console/components/AutomationBuilder/Panel/__snapshots__/InstructionValue.test.tsx.snap
  services/console/components/AutomationBuilder/Panel/__snapshots__/OutputForm.test.tsx.snap
  services/console/components/AutomationBuilder/Panel/__snapshots__/TriggerForm.test.tsx.snap
  services/console/layouts/__snapshots__/Fieldset.test.tsx.snap
Due: console_test, console_build_docker, console_deploy

fix backend dependencies image build
  dependencies.dockerfile
Due: none

fix backend dependencies image build
  docs/mkdocs.yml
  services/api-gateway/Dockerfile
Due: api-gateway_build_docker, api-gateway_deploy

rebuild api-gateway dependencies
  docs/mkdocs.yml
  services/api-gateway/Dockerfile
  services/api-gateway/package.json
Due: api-gateway_build_docker, api-gateway_deploy

Fix build dependancies build
  dependencies.dockerfile
  package.json
Due: none

Change start wording
  scripts/start-dev.ts
Due: none

fix backend dependencies build
  dependencies.dockerfile
  services/api-gateway/package.json
Due: api-gateway_build_docker, api-gateway_deploy

Added password validation regexp
  docs/docs/en/getstarted/configuration.md
  services/api-gateway/package.json
  services/api-gateway/src/config/system.ts
  services/api-gateway/src/services/identity/users.ts
  services/api-gateway/src/types/errors.ts
  services/console/public/locales/en/sign.json
  services/console/public/locales/es/sign.json
  services/console/public/locales/fr/sign.json
Due: console_test, console_build_docker, console_deploy, api-gateway_build_docker, api-gateway_deploy

rebased on main to fix gtw build
  services/api-gateway/package.json
  services/console/Dockerfile
Due: console_test, console_build_docker, console_deploy, api-gateway_build_docker, api-gateway_deploy

Use node:16-alpine as runtime base image for console in order to optimize its size from 600 to 100MB
  services/console/Dockerfile
Due: console_test, console_build_docker, console_deploy

Added basic test for createWorkspace
  services/workspaces/src/services/workspaces/crud/workspaces.test.ts
Due: workspaces_build_docker, workspaces_deploy

Documented more automations & instructions
  docs/docs/en/architecture/index.md
  docs/docs/en/architecture/technical/apiGateway/specifications.md
  docs/docs/en/architecture/technical/events/specifications.md
  docs/docs/en/architecture/technical/runtime/automations.md
  docs/docs/en/architecture/technical/runtime/specifications.md
  docs/docs/en/architecture/technical/workspaces/specifications.md
  docs/docs/en/getstarted/permissions.md
  docs/docs/en/workspaces/automations.md
  docs/docs/en/workspaces/conditions.md
  docs/docs/en/workspaces/instructions.md
  docs/i18n/en.yml
  docs/mkdocs.yml
  docs/theme/assets/images/workspaces/interpolation_brackets.png
Due: none

Automation deletion
  services/console/components/Header.tsx
  services/console/public/locales/en/workspaces.json
  services/console/public/locales/es/workspaces.json
  services/console/public/locales/fr/workspaces.json
  services/console/views/Automation.tsx
  services/workspaces/src/api/routes/automations.ts
Due: console_test, console_build_docker, console_deploy, workspaces_build_docker, workspaces_deploy

Delete workspace
  services/console/api/api.ts
  services/console/components/HeaderWorkspace.tsx
  services/console/components/WorkspacesProvider/Provider.tsx
  services/console/components/WorkspacesProvider/context.ts
  services/console/public/locales/en/workspaces.json
  services/console/public/locales/es/workspaces.json
  services/console/public/locales/fr/workspaces.json
Due: console_test, console_build_docker, console_deploy

Display error message when failing to save workspace
  services/console/layouts/WorkspaceLayout/WorkspaceLayout.test.tsx
  services/console/layouts/WorkspaceLayout/WorkspaceLayout.tsx
  services/console/public/locales/en/workspaces.json
  services/console/public/locales/es/workspaces.json
  services/console/public/locales/fr/workspaces.json
Due: console_test, console_build_docker, console_deploy

Display source from everywhere (no more dedicated route)
  services/console/__mocks__/@ant-design/icons.js
  services/console/components/HeaderWorkspace.tsx
  services/console/layouts/WorkspaceLayout/WorkspaceLayout.test.tsx
  services/console/layouts/WorkspaceLayout/WorkspaceLayout.tsx
  services/console/layouts/WorkspaceLayout/__snapshots__/WorkspaceLayout.test.tsx.snap
  services/console/layouts/WorkspaceLayout/context.ts
  services/console/pages/workspaces/[id]/source.tsx
  services/console/views/Automation.test.tsx
  services/console/views/Workspace.test.tsx
  services/console/views/Workspace.tsx
  services/console/views/WorkspaceSource.tsx
  services/console/views/Workspaces.tsx
  services/console/views/__snapshots__/Workspace.test.tsx.snap
Due: console_test, console_build_docker, console_deploy

Auto deploy fix branches
  .gitlab-ci.yml
Due: none

Fix edit condition
  services/console/components/AutomationBuilder/__snapshots__/flow.test.ts.snap
  services/console/components/AutomationBuilder/flow.ts
Due: console_test, console_build_docker, console_deploy

Added public sharing (works with every policy/role)
  packages/permissions/lib/accessManager.test.ts
  packages/permissions/lib/accessManager.ts
  packages/permissions/lib/api/initCollaboratorRoutes.ts
  packages/permissions/lib/permissions.test.ts
  packages/permissions/lib/permissions.ts
  packages/permissions/lib/rulesBuilder.ts
  packages/types/index.d.ts
  services/console/docker-compose.yml
  specifications/swagger.yml
Due: npm_install, console_test, console_build_docker, console_deploy

Code lost on a conflicted rebase
  services/console/components/HeaderWorkspace.tsx
Due: console_test, console_build_docker, console_deploy

Fix connect to websocket
  services/console/layouts/WorkspaceLayout/WorkspaceLayout.tsx
Due: console_test, console_build_docker, console_deploy

Fixed automation name in its delete prompt
  services/console/public/locales/en/workspaces.json
Due: console_test, console_build_docker, console_deploy

Allow triggering an automation by event without userId
  services/runtime/src/services/runtime/index.ts
Due: runtime_build_docker, runtime_deploy

Implemented apps CRUD
  packages/permissions/index.ts
  packages/types/index.d.ts
  services/workspaces/config/storage.ts
  services/workspaces/src/api/routes/apps.ts
  services/workspaces/src/api/routes/automations.ts
  services/workspaces/src/api/routes/index.ts
  services/workspaces/src/api/routes/workspaces.ts
  services/workspaces/src/eda/index.ts
  services/workspaces/src/permissions/config.ts
  services/workspaces/src/permissions/index.ts
  services/workspaces/src/services/DSULStorage.ts
  services/workspaces/src/services/apps/crud/apps.ts
  services/workspaces/src/services/apps/index.ts
  services/workspaces/src/services/index.ts
  services/workspaces/src/services/workspaces/DSULStorage.ts
  services/workspaces/src/services/workspaces/crud/automations.ts
  services/workspaces/src/services/workspaces/crud/workspaces.ts
  services/workspaces/src/storage/drivers/filesystem.ts
  services/workspaces/src/storage/index.ts
  specifications/swagger.yml
Due: npm_install, workspaces_build_docker, workspaces_deploy

Fix adding a custom instruction
  services/console/components/AutomationBuilder/Panel/InstructionForm.test.tsx
  services/console/components/AutomationBuilder/Panel/InstructionForm.tsx
Due: console_test, console_build_docker, console_deploy

Decorrelate app id from workspaceId
  packages/permissions/lib/accessManager.ts
  services/workspaces/src/services/apps/crud/apps.ts
Due: npm_install, workspaces_build_docker, workspaces_deploy

Add GPLv3 license
  LICENSE
Due: none

Fixed runtime which nows picks up workspaces in the new sub directory
  services/runtime/src/services/workspaces/workspaces.ts
Due: runtime_build_docker, runtime_deploy

Implemented page & limit parameters on accessManager to allow both workspaces & apps pagination. Added keyword based app search
  docker-compose.yml
  packages/permissions/lib/accessManager.ts
  packages/types/index.d.ts
  services/workspaces/src/api/routes/apps.ts
  services/workspaces/src/api/routes/workspaces.ts
  services/workspaces/src/permissions/index.ts
  services/workspaces/src/services/apps/crud/apps.ts
  specifications/swagger.yml
Due: npm_install, workspaces_build_docker, workspaces_deploy

small doc update
  docs/docs/en/getstarted/permissions.md
Due: none

Path conditions:
  npm_install: any of: package-lock.json, packages/**/*
  console_test: any of: services/console/**/*
  console_build_docker: any of: services/console/**/*
  console_deploy: any of: services/console/**/*
  workspaces_build_docker: any of: services/workspaces/**/*
  workspaces_deploy: any of: services/workspaces/**/*
  runtime_build_docker: any of: services/runtime/**/*
  runtime_deploy: any of: services/runtime/**/*
  api-gateway_build_docker: any of: services/api-gateway/**/*
  api-gateway_deploy: any of: services/api-gateway/**/*
  events_test: any of: services/events/**/*
  events_build_docker: any of: services/events/**/*
  events_deploy: any of: services/events/**/*
