Repository HP319193/prisme.ai: changes, and which GitLab CI jobs are due for each by the changed paths.
All: npm_install, console_test, console_build_docker, console_deploy, workspaces_build_docker, workspaces_deploy, runtime_build_docker, runtime_deploy, api-gateway_build_docker, api-gateway_deploy, events_test, events_build_docker, events_deploy

Path conditions:
  npm_install: any of: package-lock.json, packages/**/*
  console_test: any of: services/console/**/*
  console_build_docker: any of: services/console/**/*
  console_deploy: any of: services/console/**/*
  workspaces_build_docker: any of: services/workspaces/**/*
  workspaces_deploy: any of: services/workspaces/**/*
  runtime_build_docker: any of: services/runtime/**/*
  runtime_deploy: any of: services/runtime/**/*
  api-gateway_build_docker: any of: services/api-gateway/**/*
  api-gateway_deploy: any of: services/api-gateway/**/*
  events_test: any of: services/events/**/*
  events_build_docker: any of: services/events/**/*
  events_deploy: any of: services/events/**/*

Now remove collaborators field if authenticated user hasn't 'manage_collaborators' permissions. Allow the withdrawal of every perms & role a user have
  packages/permissions/index.ts
  packages/permissions/lib/accessManager.test.ts
  packages/permissions/lib/accessManager.ts
  packages/permissions/lib/errors.ts
  packages/permissions/lib/permissions.ts
  packages/permissions/lib/schemas.ts
Due: npm_install

Implemented subjects sharing API routes inside @prisme.ai/permissions. Added workspaces sharing routes to workspace microservice
  docker-compose.dev.yml
  package-lock.json
  packages/permissions/index.ts
  packages/permissions/lib/accessManager.test.ts
  packages/permissions/lib/accessManager.ts
  packages/permissions/lib/api/express.d.ts
  packages/permissions/lib/api/fetchCollaboratorContacts.ts
  packages/permissions/lib/api/index.ts
  packages/permissions/lib/api/initCollaboratorRoutes.ts
  packages/permissions/lib/errors.ts
  packages/permissions/lib/permissions.test.ts
  packages/permissions/lib/permissions.ts
  packages/permissions/lib/types.ts
  packages/permissions/tsconfig.json
  packages/types/index.d.ts
  services/api-gateway/src/config/system.ts
  services/api-gateway/src/middlewares/authentication/isAuthenticated.ts
  services/api-gateway/src/middlewares/errorHandler.ts
  services/api-gateway/src/routes/identity.ts
  services/api-gateway/src/routes/index.ts
  services/api-gateway/src/services/identity/index.ts
  services/api-gateway/src/services/identity/users.ts
  services/api-gateway/src/types/errors.ts
  services/events/src/api/middlewares/errors.ts
  services/events/src/permissions/config.ts
  services/events/src/permissions/index.ts
  services/runtime/src/api/middlewares/errors.ts
  services/workspaces/config/api.ts
  services/workspaces/package.json
  services/workspaces/src/api/app.ts
  services/workspaces/src/api/middlewares/errors.ts
  services/workspaces/src/permissions/config.ts
  services/workspaces/src/permissions/index.ts
  specifications/swagger.yml
Due: npm_install, workspaces_build_docker, workspaces_deploy, runtime_build_docker, runtime_deploy, api-gateway_build_docker, api-gateway_deploy, events_test, events_build_docker, events_deploy

Fixed event unit tests
  services/events/src/services/events/Subscriptions.test.ts
  services/events/src/services/events/Subscriptions.ts
Due: events_test, events_build_docker, events_deploy

:rocket: Adding conditions support within the runtime microservice.
  package-lock.json
  package.json
  services/runtime/deps/condition-eval/grammar.ne
  services/runtime/deps/condition-eval/index.ts
  services/runtime/deps/condition-eval/src/Constant.ts
  services/runtime/deps/condition-eval/src/Evaluatable.ts
  services/runtime/deps/condition-eval/src/grammar.js
  services/runtime/deps/condition-eval/src/index.ts
  services/runtime/deps/condition-eval/src/interpreter/BooleanConstant.ts
  services/runtime/deps/condition-eval/src/interpreter/ConditionalExpression.ts
  services/runtime/deps/condition-eval/src/interpreter/NegationExpression.ts
  services/runtime/deps/condition-eval/src/interpreter/NullConstant.ts
  services/runtime/deps/condition-eval/src/interpreter/NumberConstant.ts
  services/runtime/deps/condition-eval/src/interpreter/StringConstant.ts
  services/runtime/deps/condition-eval/src/interpreter/Variable.ts
  services/runtime/deps/condition-eval/src/utils.ts
  services/runtime/package-lock.json
  services/runtime/package.json
  services/runtime/src/services/runtime/automations/index.ts
  services/runtime/src/services/runtime/automations/instructions/conditions.ts
  services/runtime/src/services/runtime/automations/instructions/index.ts
  services/runtime/src/utils/evaluate.test.ts
  services/runtime/src/utils/evaluate.ts
Due: npm_install, runtime_build_docker, runtime_deploy

Added a Role generic parameter to permissions classes & objects in order to fix ts build
  docker-compose.dev.yml
  package-lock.json
  packages/permissions/lib/accessManager.test.ts
  packages/permissions/lib/accessManager.ts
  packages/permissions/lib/api/express.d.ts
  packages/permissions/lib/api/fetchCollaboratorContacts.ts
  packages/permissions/lib/api/initCollaboratorRoutes.ts
  packages/permissions/lib/permissions.test.ts
  packages/permissions/lib/permissions.ts
  packages/permissions/lib/rulesBuilder.ts
  packages/permissions/lib/types.ts
  packages/permissions/package.json
  packages/permissions/tsconfig.json
  services/api-gateway/Dockerfile
  services/api-gateway/package.json
  services/events/Dockerfile
  services/events/package.json
  services/events/src/permissions/config.ts
  services/events/src/permissions/index.ts
  services/runtime/Dockerfile
  services/workspaces/src/api/app.ts
  services/workspaces/src/permissions/config.ts
  services/workspaces/src/permissions/index.ts
Due: npm_install, workspaces_build_docker, workspaces_deploy, runtime_build_docker, runtime_deploy, api-gateway_build_docker, api-gateway_deploy, events_test, events_build_docker, events_deploy

:ambulance: Revert weird change on version number. Also changed how grammar.js was required.
  package.json
  services/runtime/deps/condition-eval/src/index.ts
  services/runtime/tsconfig.json
Due: runtime_build_docker, runtime_deploy

:ambulance: Use import statement rather than require. This allow docker to build the condition-eval dep.
  services/runtime/deps/condition-eval/src/Constant.ts
  services/runtime/deps/condition-eval/src/Evaluatable.ts
  services/runtime/deps/condition-eval/src/index.ts
  services/runtime/deps/condition-eval/src/interpreter/ConditionalExpression.ts
  services/runtime/deps/condition-eval/src/interpreter/NegationExpression.ts
  services/runtime/deps/condition-eval/src/interpreter/Variable.ts
  services/runtime/deps/condition-eval/src/utils.ts
Due: runtime_build_docker, runtime_deploy

Run accessManager.test.ts with a mock mongodb
  .gitlab-ci.yml
  package-lock.json
  packages/permissions/index.ts
  packages/permissions/lib/accessManager.test.ts
  packages/permissions/lib/api/initCollaboratorRoutes.ts
  packages/permissions/package.json
Due: npm_install

:ambulance: Added support for underscore in variable name.
  services/runtime/deps/condition-eval/grammar.ne
  services/runtime/deps/condition-eval/src/grammar.js
  services/runtime/src/utils/evaluate.test.ts
Due: runtime_build_docker, runtime_deploy

:fire: Delete useless console.log. Also improved grammar for explicit strings in conditions
  services/runtime/deps/condition-eval/grammar.ne
  services/runtime/deps/condition-eval/src/grammar.js
  services/runtime/deps/condition-eval/src/interpreter/Variable.ts
  services/runtime/src/utils/evaluate.test.ts
Due: runtime_build_docker, runtime_deploy

slight change on sharing routes
  package-lock.json
  packages/permissions/lib/api/initCollaboratorRoutes.ts
  packages/permissions/lib/permissions.ts
  specifications/swagger.yml
Due: npm_install

:goal_net: Added explicit error for invalid condition syntax on execution.
  package-lock.json
  services/runtime/src/errors/index.ts
  services/runtime/src/utils/evaluate.ts
Due: npm_install, runtime_build_docker, runtime_deploy

Fix reading instructions schemas
  packages/validation/instructions.json
  services/console/components/AutomationBuilder/AutomationBuilder.tsx
  services/console/public/locales/en/workspaces.json
  services/console/public/locales/es/workspaces.json
Due: npm_install, console_test, console_build_docker, console_deploy

Truncate var value
  services/console/components/AutomationBuilder/AutomationBuilder.test.tsx
  services/console/components/AutomationBuilder/Block.tsx
  services/console/utils/strings.test.ts
  services/console/utils/strings.ts
Due: console_test, console_build_docker, console_deploy

Stabilise test
  services/console/views/WorkspaceSource.test.tsx
Due: console_test, console_build_docker, console_deploy

Fix automation builder panel content
  services/console/components/AutomationBuilder/AutomationBuilder.tsx
Due: console_test, console_build_docker, console_deploy

basic set & delete
  services/runtime/config/runtime.ts
  services/runtime/src/services/runtime/automations/instructions/deleteInstruction.ts
  services/runtime/src/services/runtime/automations/instructions/index.ts
  services/runtime/src/services/runtime/automations/instructions/set.ts
  services/runtime/src/services/runtime/contexts.ts
Due: runtime_build_docker, runtime_deploy

Fix condition display
  services/console/components/AutomationBuilder/ConditionEdge.tsx
Due: console_test, console_build_docker, console_deploy

Fix accidentally showing right sidebar
  services/console/components/AutomationBuilder/__snapshots__/ConditionEdge.test.tsx.snap
  services/console/layouts/Main.tsx
  services/console/layouts/WorkspaceLayout/__snapshots__/WorkspaceLayout.test.tsx.snap
  services/console/layouts/__snapshots__/Main.test.tsx.snap
  services/console/views/__snapshots__/Workspaces.test.tsx.snap
Due: console_test, console_build_docker, console_deploy

Fix save in editor
  services/console/components/CodeEditor/CodeEditor.test.tsx
  services/console/components/CodeEditor/CodeEditor.tsx
Due: console_test, console_build_docker, console_deploy

Hide workspace ID from editor
  services/console/views/WorkspaceSource.tsx
Due: console_test, console_build_docker, console_deploy

Hide automations slug from editor
  services/console/views/WorkspaceSource.tsx
Due: console_test, console_build_docker, console_deploy

Bigger sidebar
  services/console/components/AutomationBuilder/Panel/Panel.tsx
  services/console/layouts/Field.tsx
Due: console_test, console_build_docker, console_deploy

Fix reading object in code editor
  services/console/components/AutomationBuilder/Panel/__snapshots__/ConditionForm.test.tsx.snap
  services/console/components/AutomationBuilder/Panel/__snapshots__/InstructionValue.test.tsx.snap
  services/console/components/AutomationBuilder/Panel/__snapshots__/TriggerForm.test.tsx.snap
  services/console/components/CodeEditor/Inline.tsx
  services/console/components/SchemaForm/Form.test.tsx
  services/console/components/SchemaForm/Form.tsx
  services/console/components/SchemaForm/__snapshots__/Form.test.tsx.snap
  services/console/layouts/__snapshots__/Field.test.tsx.snap
  services/console/views/Sign/__snapshots__/In.test.tsx.snap
Due: console_test, console_build_docker, console_deploy

Fix instruction selection display
  services/console/components/AutomationBuilder/Panel/InstructionSelection.tsx
  services/console/components/AutomationBuilder/Panel/__snapshots__/InstructionForm.test.tsx.snap
  services/console/components/AutomationBuilder/Panel/__snapshots__/InstructionSelection.test.tsx.snap
Due: console_test, console_build_docker, console_deploy

On save error, display a message and do not break app
  services/console/views/Automation.tsx
Due: console_test, console_build_docker, console_deploy

Set events as "read"
  services/console/components/EventsViewer/EventsViewer.test.tsx
  services/console/components/EventsViewer/EventsViewer.tsx
  services/console/components/EventsViewer/__snapshots__/EventsViewer.test.tsx.snap
  services/console/layouts/WorkspaceLayout/WorkspaceLayout.test.tsx
  services/console/layouts/WorkspaceLayout/WorkspaceLayout.tsx
  services/console/layouts/WorkspaceLayout/context.ts
Due: console_test, console_build_docker, console_deploy

Fix adding an empty instruction
  services/console/components/AutomationBuilder/Panel/InstructionForm.test.tsx
  services/console/components/AutomationBuilder/Panel/InstructionForm.tsx
Due: console_test, console_build_docker, console_deploy

Don't share .next folder with docker container
  docker-compose.dev.yml
Due: none

Useless file
  test.mjs
Due: none

Updated some docs wordings
  docs/docs/en/about.md
  docs/docs/en/contributing/Security.md
  docs/docs/en/contributing/Technical/console/Specifications.md
  docs/docs/en/contributing/Technical/events/Specifications.md
  docs/docs/en/contributing/Technical/runtime/Specifications.md
  docs/docs/en/contributing/Technical/workspaces/Specifications.md
  docs/docs/en/contributing/index.md
  docs/docs/en/index.md
  docs/i18n/en.yml
  docs/mkdocs.yml
Due: none

Merged Prisme.ai wiki content in docs
  docs/build.sh
  docs/docs/en/contributing/Architecture.md
  docs/docs/en/contributing/Security.md
  docs/docs/en/contributing/Technical/apiGateway/Specifications.md
  docs/docs/en/contributing/Technical/console/Specifications.md
  docs/docs/en/contributing/Technical/events/Specifications.md
  docs/docs/en/contributing/Technical/runtime/Specifications.md
  docs/docs/en/contributing/Technical/workspaces/Specifications.md
  docs/docs/en/contributing/functionnalRequirements.md
  docs/i18n/en.yml
  docs/img/microservices.png
  docs/mkdocs.yml
  docs/theme/stylesheets/extra.css
Due: none

docs Menu tweaks
  docs/docs/en/about.md
  docs/docs/en/contributing/index.md
  docs/docs/en/index.md
  docs/i18n/en.yml
  docs/i18n/fr.yml
  docs/mkdocs.yml
  docs/package.json
Due: none

Slight update on docs's readme
  docs/README.md
Due: none

Updated docs's CSS
  docs/theme/overrides/home.html
  docs/theme/overrides/main.html
  docs/theme/partials/header.html
  docs/theme/stylesheets/extra.css
Due: none

:rocket: Updated gitlab-ci to automatically deploy mkdocs.
  .gitlab-ci.yml
  docs/docs/en/about.md
  docs/docs/en/index.md
  docs/docs/fr/index.md
  docs/i18n/en.yml
  docs/mkdocs.yml
Due: none

:fire: Deleted useless gitlab-ci, also made documentation self-deploy once merged to main
  .gitlab-ci.yml
  docs/.gitlab-ci.yml
Due: none
