Repository HP319193/prisme.ai: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend_npm_install, console_check, console_test, console_build_docker, console_deploy, workspaces_test, workspaces_build_docker, workspaces_deploy, runtime_test, runtime_build_docker, runtime_deploy, api-gateway_build_docker, api-gateway_deploy, events_test, events_build_docker, events_deploy, docs_build_static, docs_deploy

Path conditions:
  backend_npm_install: any of: services/api-gateway/package.json, services/runtime/package.json, services/workspaces/package.json, services/events/package.json, packages/**/*
  console_check: any of: services/console/**/*
  console_test: any of: services/console/**/*
  console_build_docker: any of: services/console/**/*
  console_deploy: any of: services/console/**/*
  workspaces_test: any of: services/workspaces/*
  workspaces_build_docker: any of: services/workspaces/**/*
  workspaces_deploy: any of: services/workspaces/**/*
  runtime_test: any of: services/runtime/**/*
  runtime_build_docker: any of: services/runtime/**/*
  runtime_deploy: any of: services/runtime/**/*
  api-gateway_build_docker: any of: services/api-gateway/**/*
  api-gateway_deploy: any of: services/api-gateway/**/*
  events_test: any of: services/events/**/*
  events_build_docker: any of: services/events/**/*
  events_deploy: any of: services/events/**/*
  docs_build_static: any of: docs/**/*, specifications/*
  docs_deploy: any of: docs/**/*, specifications/*

Ability to empty a value from a select in page settings
  services/console/components/SchemaForm/useSchema.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Added missing package typings
  package-lock.json
  services/runtime/Dockerfile
  services/runtime/package.json
  services/runtime/src/services/runtime/index.ts
  services/runtime/src/utils/lru-cache.d.ts
  services/runtime/tsconfig.json
Due: backend_npm_install, runtime_test, runtime_build_docker, runtime_deploy

Merge common properties and oneOf in schema form
  packages/design-system/lib/Components/SchemaForm/OneOf.tsx
  packages/design-system/lib/Components/SchemaForm/SchemaForm.stories.tsx
Due: backend_npm_install

Merge values when switching oneOf
  packages/design-system/lib/Components/SchemaForm/OneOf.tsx
  packages/design-system/lib/Components/SchemaForm/SchemaForm.stories.tsx
Due: backend_npm_install

Fix render
  packages/design-system/lib/Components/SchemaForm/FieldArray.tsx
Due: backend_npm_install

Nested oneOf
  packages/design-system/lib/Components/SchemaForm/OneOf.tsx
  packages/design-system/lib/Components/SchemaForm/SchemaForm.stories.tsx
Due: backend_npm_install

Fix events build which did not include preprocessingRules.json
  services/events/tsconfig.json
Due: events_test, events_build_docker, events_deploy

Allow giving query string to fetch instruction with a query object
  docs/docs/en/workspaces/instructions.md
  packages/types/index.d.ts
  services/runtime/src/services/runtime/automations/instructions/fetch.ts
  specifications/swagger.yml
Due: backend_npm_install, runtime_test, runtime_build_docker, runtime_deploy, docs_build_static, docs_deploy

Fetch instruction now supports multipart/form-data requests
  docs/docs/en/workspaces/instructions.md
  package-lock.json
  packages/types/index.d.ts
  services/runtime/package.json
  services/runtime/src/services/runtime/automations/instructions/fetch.ts
  services/workspaces/src/api/app.ts
  specifications/swagger.yml
Due: backend_npm_install, workspaces_build_docker, workspaces_deploy, runtime_test, runtime_build_docker, runtime_deploy, docs_build_static, docs_deploy

Force workspaces/runtime rebuild ..
  docs/docs/en/workspaces/instructions.md
  package.json
  services/runtime/Dockerfile
  services/workspaces/Dockerfile
  services/workspaces/src/app.ts
Due: workspaces_test, workspaces_build_docker, workspaces_deploy, runtime_test, runtime_build_docker, runtime_deploy, docs_build_static, docs_deploy

2nd time forcing workspaces/runtime rebuild, this time with backend deps rebuild as well
  package-lock.json
  services/runtime/Dockerfile
  services/runtime/package-lock.json
  services/runtime/package.json
  services/workspaces/Dockerfile
  services/workspaces/src/app.ts
Due: backend_npm_install, workspaces_test, workspaces_build_docker, workspaces_deploy, runtime_test, runtime_build_docker, runtime_deploy

Add contentType optional field to fetch multipart
  docs/docs/en/workspaces/instructions.md
  packages/types/index.d.ts
  specifications/swagger.yml
Due: backend_npm_install, docs_build_static, docs_deploy

Cards show next/prev arrows even if it is the last message sent
  packages/blocks/lib/Blocks/Cards.tsx
Due: backend_npm_install

Bump Prisme.ai version to 6.3.0
  package.json
Due: none

Update some leftover tests
  packages/design-system/lib/Components/SchemaForm/__snapshots__/SchemaForm.test.tsx.snap
  packages/validation/instructions.json
  services/console/views/__snapshots__/Workspaces.test.tsx.snap
Due: backend_npm_install, console_check, console_test, console_build_docker, console_deploy

Fix form render
  packages/blocks/lib/Blocks/Form.tsx
  services/console/components/SchemaForm/__snapshots__/useSchema.test.tsx.snap
  services/console/components/SchemaForm/useSchema.test.tsx
Due: backend_npm_install, console_check, console_test, console_build_docker, console_deploy

Cards uses rich text block and link to pages
  packages/blocks/lib/Blocks/Cards.tsx
  packages/blocks/lib/Blocks/RichText.tsx
  services/console/components/PageBuilder/Panel/EditSchema/Cards.tsx
  services/console/pages/_app.tsx
  services/console/public/locales/en/workspaces.json
  services/console/public/locales/es/workspaces.json
  services/console/public/locales/fr/workspaces.json
Due: backend_npm_install, console_check, console_test, console_build_docker, console_deploy

Update test snapshot for console
  services/console/views/__snapshots__/Workspaces.test.tsx.snap
Due: console_check, console_test, console_build_docker, console_deploy

Generate and consume page ApiKey
  packages/design-system/lib/Components/SchemaForm/types.ts
  packages/sdk/lib/api.test.ts
  packages/sdk/lib/api.ts
  packages/sdk/lib/events.test.ts
  packages/sdk/lib/events.ts
  packages/sdk/lib/fetcher.test.ts
  packages/sdk/lib/fetcher.ts
  packages/types/index.d.ts
  packages/validation/instructions.json
  services/console/components/Page/usePageBlocksConfigs.ts
  services/console/components/PageBuilder/PageBuilder.tsx
  services/console/components/PageBuilder/extractEvents.test.ts
  services/console/components/PageBuilder/extractEvents.ts
  services/console/components/PagesProvider/PagesProvider.tsx
  services/console/components/PagesProvider/context.ts
  services/console/views/Page.tsx
  services/console/views/PublicPage.tsx
  services/workspaces/src/permissions/index.ts
  specifications/swagger.yml
Due: backend_npm_install, console_check, console_test, console_build_docker, console_deploy, workspaces_build_docker, workspaces_deploy, docs_build_static, docs_deploy

Avoid null event
  services/console/components/PageBuilder/extractEvents.ts
Due: console_check, console_test, console_build_docker, console_deploy

force rebuild workspaces with new swagger
  services/workspaces/Dockerfile
  services/workspaces/src/app.ts
Due: workspaces_test, workspaces_build_docker, workspaces_deploy

force rebuilding workspaces with updated swagger
  package-lock.json
  services/workspaces/Dockerfile
  services/workspaces/package-lock.json
Due: workspaces_test, workspaces_build_docker, workspaces_deploy

force rebuilding workspaces with updated swagger 2
  packages/broker/package-lock.json
  services/workspaces/Dockerfile
  services/workspaces/package-lock.json
  services/workspaces/package.json
Due: backend_npm_install, workspaces_test, workspaces_build_docker, workspaces_deploy

Cards link open in new tab
  packages/blocks/lib/Blocks/Cards.tsx
  services/console/pages/_app.tsx
Due: backend_npm_install, console_check, console_test, console_build_docker, console_deploy

catch permissions error when sending events from websocket to avoid API crash
  services/events/src/api/routes/websockets.ts
Due: events_test, events_build_docker, events_deploy

Detailed error on event sending from websocket
  services/events/src/api/routes/websockets.ts
Due: events_test, events_build_docker, events_deploy

Init events when navigating to another page
  services/console/components/Page/usePageBlocksConfigs.ts
Due: console_check, console_test, console_build_docker, console_deploy

Fix links in Header Block
  packages/blocks/lib/Blocks/Header.tsx
  packages/blocks/lib/i18n.tsx
  services/console/components/PageBuilder/Panel/EditSchema/Header.tsx
  services/console/pages/_app.tsx
Due: backend_npm_install, console_check, console_test, console_build_docker, console_deploy

Added BEM classnames to blocks
  packages/blocks/lib/Blocks/Cards.tsx
  packages/blocks/lib/Blocks/DataTable.tsx
  packages/blocks/lib/Blocks/Form.tsx
  packages/blocks/lib/Blocks/Header.tsx
  packages/blocks/lib/Blocks/Internal/BlockTitle.tsx
  packages/blocks/lib/Blocks/RichText.tsx
  packages/blocks/lib/Blocks/__snapshots__/RichText.test.tsx.snap
Due: backend_npm_install

Update swagger.yml to allow reserver characters in events API query string as express-openapi-validator raises error although characters are encoded
  .gitlab-ci.yml
  services/events/Dockerfile
  specifications/swagger.yml
Due: events_test, events_build_docker, events_deploy, docs_build_static, docs_deploy

Add an option disableErrors to fetch instruction to allow disabling error events
  services/runtime/src/services/runtime/automations/instructions/fetch.ts
Due: runtime_test, runtime_build_docker, runtime_deploy

Add user.email & user.authData to runtime user context
  docs/docs/en/workspaces/automations.md
  packages/types/index.d.ts
  services/api-gateway/src/routes/identity.ts
  services/runtime/src/services/runtime/automations/index.test.ts
  services/runtime/src/services/runtime/contexts.ts
  services/runtime/src/services/runtime/index.test.ts
  services/runtime/src/services/runtime/index.ts
  specifications/swagger.yml
Due: backend_npm_install, runtime_test, runtime_build_docker, runtime_deploy, api-gateway_build_docker, api-gateway_deploy, docs_build_static, docs_deploy

Improve runtime variable names parsing : allow using special characters as :, /, [, ] ... as long as they are quote-protected
  .gitignore
  services/runtime/src/utils/parseVariableName.ts
Due: runtime_test, runtime_build_docker, runtime_deploy

Fix condition
  services/runtime/src/utils/parseVariableName.ts
Due: runtime_test, runtime_build_docker, runtime_deploy

Setup snap-* in twind for blocks package
  packages/blocks/lib/Blocks/Cards.stories.tsx
  packages/blocks/lib/Blocks/Cards.tsx
  packages/blocks/lib/Blocks/DataTable.tsx
  packages/blocks/lib/Blocks/Development.tsx
  packages/blocks/lib/Blocks/Form.tsx
  packages/blocks/lib/Blocks/Header.tsx
  packages/blocks/lib/tw.ts
  packages/validation/instructions.json
Due: backend_npm_install

Reset updateOn events after navigating another page
  services/console/components/Page/usePageBlocksConfigs.ts
Due: console_check, console_test, console_build_docker, console_deploy

Fix typo
  packages/blocks/lib/Blocks/Form.tsx
Due: backend_npm_install

Fix cards edit
  services/console/components/PageBuilder/Panel/EditSchema/Cards.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Temporary whitelist all events in generated api keys for blocks in order for them to work until the final solution implementation
  services/console/components/PagesProvider/PagesProvider.tsx
Due: console_check, console_test, console_build_docker, console_deploy
