Repository HP319193/prisme.ai: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend_npm_install, console_check, console_test, console_build_docker, console_deploy, workspaces_test, workspaces_build_docker, workspaces_deploy, runtime_test, runtime_build_docker, runtime_deploy, api-gateway_build_docker, api-gateway_deploy, events_test, events_build_docker, events_deploy, docs_build_static, docs_deploy

Path conditions:
  backend_npm_install: any of: services/api-gateway/package.json, services/runtime/package.json, services/workspaces/package.json, services/events/package.json, packages/**/*
  console_check: any of: services/console/**/*
  console_test: any of: services/console/**/*
  console_build_docker: any of: services/console/**/*
  console_deploy: any of: services/console/**/*
  workspaces_test: any of: services/workspaces/*
  workspaces_build_docker: any of: services/workspaces/**/*
  workspaces_deploy: any of: services/workspaces/**/*
  runtime_test: any of: services/runtime/**/*
  runtime_build_docker: any of: services/runtime/**/*
  runtime_deploy: any of: services/runtime/**/*
  api-gateway_build_docker: any of: services/api-gateway/**/*
  api-gateway_deploy: any of: services/api-gateway/**/*
  events_test: any of: services/events/**/*
  events_build_docker: any of: services/events/**/*
  events_deploy: any of: services/events/**/*
  docs_build_static: any of: docs/**/*, specifications/*
  docs_deploy: any of: docs/**/*, specifications/*

Fix ugly render with long labels in firefox
  services/console/layouts/WorkspaceLayout/Navigation.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Add missing translations
  services/console/public/locales/en/workspaces.json
  services/console/public/locales/es/workspaces.json
Due: console_check, console_test, console_build_docker, console_deploy

Fit graph builder view at a max zoom value
  services/console/components/AutomationBuilder/AutomationBuilder.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Sidebar retractable
  services/console/layouts/WorkspaceLayout/Navigation.tsx
  services/console/layouts/WorkspaceLayout/WorkspaceLayout.tsx
  services/console/layouts/WorkspaceLayout/__snapshots__/WorkspaceLayout.test.tsx.snap
  services/console/public/locales/en/workspaces.json
  services/console/public/locales/es/workspaces.json
  services/console/public/locales/fr/workspaces.json
Due: console_check, console_test, console_build_docker, console_deploy

Live edit title
  packages/design-system/lib/index.ts
  packages/design-system/lib/utils/useContentEditable.tsx
  services/console/components/AutomationBuilder/EditableTitle.tsx
  services/console/views/Apps.tsx
  services/console/views/Automation.tsx
  services/console/views/Page/Page.tsx
Due: backend_npm_install, console_check, console_test, console_build_docker, console_deploy

Display selected value in Custom Select (and so in LocalizedInput)
  packages/design-system/lib/Components/CustomSelect.tsx
Due: backend_npm_install

Display links labels on icons on small sidebar
  services/console/layouts/WorkspaceLayout/Navigation.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Updated some public page styles for better custom colors support
  package-lock.json
  packages/blocks/lib/Blocks/Internal/BlockTitle.tsx
  packages/blocks/lib/Blocks/Layout/ContentContainer.tsx
  packages/design-system/styles/prismeai-theme.less
  services/console/components/PagesProvider/PagesProvider.tsx
Due: backend_npm_install, console_check, console_test, console_build_docker, console_deploy

Fix display selected page link
  services/console/layouts/WorkspaceLayout/Navigation.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Upgrade nextjs
  package-lock.json
  services/console/components/EventsViewer/__snapshots__/EventsViewer.test.tsx.snap
  services/console/next-i18next.config.js
  services/console/package-lock.json
  services/console/package.json
  services/console/views/Errors/__snapshots__/404.test.tsx.snap
  services/console/views/__snapshots__/Workspaces.test.tsx.snap
Due: console_check, console_test, console_build_docker, console_deploy

Added documentation to runtime sessions
  docs/docs/en/architecture/authentication_access_control.md
  docs/docs/en/getstarted/configuration.md
  docs/docs/en/workspaces/automations.md
Due: docs_build_static, docs_deploy

Page builder final design
  services/console/components/PageBuilder/AddBlock.tsx
  services/console/components/PageBuilder/EditBlock.tsx
  services/console/components/PageBuilder/PageBlock.tsx
  services/console/components/PageBuilder/PageBlocks.tsx
  services/console/components/PageBuilder/PageBuilder.tsx
  services/console/package-lock.json
Due: console_check, console_test, console_build_docker, console_deploy

Add a CGU checkbox in signup form
  services/console/public/locales/en/sign.json
  services/console/public/locales/es/sign.json
  services/console/public/locales/fr/sign.json
  services/console/tailwind.config.js
  services/console/views/Sign/Up.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Set montserrat as default font in blocks
  services/console/styles/globals.css
Due: console_check, console_test, console_build_docker, console_deploy

Remove truncate on cards and replace it by max-height block
  packages/blocks/lib/Blocks/Cards/Truncated.tsx
  packages/blocks/lib/Blocks/Cards/Variants/Article.tsx
  packages/blocks/lib/Blocks/Cards/Variants/Short.tsx
  packages/blocks/lib/Blocks/Cards/Variants/Square.tsx
Due: backend_npm_install

Forbid access to anonymous console to the console
  services/console/components/UserProvider/Provider.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Move sessions LRU & expiresIn update code to Cache class
  services/runtime/src/cache/index.ts
  services/runtime/src/services/runtime/automations/index.test.ts
  services/runtime/src/services/runtime/contexts.ts
  services/runtime/src/services/runtime/index.ts
Due: runtime_test, runtime_build_docker, runtime_deploy

Added session switching by setting session.id
  docs/docs/en/workspaces/automations.md
  services/runtime/src/cache/__mocks__/cache.ts
  services/runtime/src/services/runtime/automations/index.test.ts
  services/runtime/src/services/runtime/contexts.ts
  services/runtime/src/services/workspaces/__mocks__/workspaces/instructions/current.yml
Due: runtime_test, runtime_build_docker, runtime_deploy, docs_build_static, docs_deploy

Do not set anymore source.userId on emitted events as it is sent from the workspace and not the user
  services/runtime/src/services/runtime/automations/instructions/emit.ts
Due: runtime_test, runtime_build_docker, runtime_deploy

Fix retrieving user context from an automation triggered by event & with an unauthenticated session
  services/runtime/src/services/runtime/index.ts
Due: runtime_test, runtime_build_docker, runtime_deploy

Fix runtime.automations.executed events which had wrong source.userId field when current session were previously switched by setting user.id/session.id
  services/runtime/src/services/runtime/contexts.ts
Due: runtime_test, runtime_build_docker, runtime_deploy

Fix runtime unit tests with latest event related fixes
  services/runtime/src/services/runtime/index.test.ts
Due: runtime_test, runtime_build_docker, runtime_deploy

Last fix to runtime unit tests with latest event related fixes
  services/runtime/src/services/runtime/automations/index.test.ts
  services/runtime/src/services/workspaces/__mocks__/workspaces/instructions/current.yml
Due: runtime_test, runtime_build_docker, runtime_deploy

Fix local sets that were also mutated in input payload showed by runtime.automations.executed event
  services/runtime/src/services/runtime/contexts.ts
Due: runtime_test, runtime_build_docker, runtime_deploy

Implemented workspace versioning: new version, version listing, auto old version cleaning, manual version deletion & rollback
  packages/types/index.d.ts
  services/workspaces/config/workspaces.ts
  services/workspaces/src/api/routes/workspaces.ts
  services/workspaces/src/eda/index.ts
  services/workspaces/src/errors/index.ts
  services/workspaces/src/permissions/index.ts
  services/workspaces/src/services/DSULStorage.ts
  services/workspaces/src/services/apps/crud/apps.ts
  services/workspaces/src/services/workspaces/crud/workspaces.ts
  specifications/swagger.yml
Due: backend_npm_install, workspaces_build_docker, workspaces_deploy, docs_build_static, docs_deploy

Gateway API now always overwrites any existing correlation id header in production mode, as it could give access to private run context variables
  services/api-gateway/src/config/system.ts
  services/api-gateway/src/middlewares/traceability.ts
Due: api-gateway_build_docker, api-gateway_deploy

Refactored app versions to use same version object as workspaces + allow publishing an app version from a specific workspace version
  packages/types/index.d.ts
  services/console/components/PublishModal.tsx
  services/workspaces/config/workspaces.ts
  services/workspaces/src/api/routes/apps.ts
  services/workspaces/src/services/apps/crud/apps.ts
  services/workspaces/src/services/apps/index.ts
  services/workspaces/src/services/workspaces/crud/workspaces.ts
  services/workspaces/src/utils/prepareNewDSULVersion.ts
  specifications/swagger.yml
Due: backend_npm_install, console_check, console_test, console_build_docker, console_deploy, workspaces_build_docker, workspaces_deploy, docs_build_static, docs_deploy

BlockTitle responsive, default style for blocklayout
  packages/blocks/lib/Blocks/Internal/BlockTitle.tsx
  services/console/components/PagesProvider/PagesProvider.tsx
Due: backend_npm_install, console_check, console_test, console_build_docker, console_deploy

Fix empty card description shown as undefined
  packages/blocks/lib/Blocks/Cards/Variants/Article.tsx
  packages/blocks/lib/Blocks/Cards/Variants/Classic.tsx
  packages/blocks/lib/Blocks/Cards/Variants/Short.tsx
  packages/blocks/lib/Blocks/Cards/Variants/Square.tsx
  packages/blocks/lib/Blocks/RichText.tsx
Due: backend_npm_install

On workspace.slug update, keep child pages updated
  services/workspaces/src/services/workspaces/crud/pages.ts
  services/workspaces/src/services/workspaces/crud/workspaces.ts
Due: workspaces_build_docker, workspaces_deploy

Allow smooth imports of pages to DSUL on the first simple save
  packages/types/index.d.ts
  services/workspaces/Dockerfile
  services/workspaces/src/services/workspaces/crud/pages.ts
  specifications/swagger.yml
Due: backend_npm_install, workspaces_test, workspaces_build_docker, workspaces_deploy, docs_build_static, docs_deploy

Exclude pages permissions route from openapi validation as it can't distinguish from /v2/pages/:workspaceSlug/:pageSlug :(
  services/workspaces/Dockerfile
  services/workspaces/src/api/app.ts
Due: workspaces_test, workspaces_build_docker, workspaces_deploy

:bug: Do not call Mongo if no workspaceId is provided on deleteUnlinkedPages.
  services/workspaces/src/services/workspaces/crud/pages.ts
Due: workspaces_build_docker, workspaces_deploy

:bug: Fix crash on delete Page event validation
  packages/types/index.d.ts
  services/workspaces/Dockerfile
  specifications/swagger.yml
Due: backend_npm_install, workspaces_test, workspaces_build_docker, workspaces_deploy, docs_build_static, docs_deploy

:bug: Fix ts error.
  services/workspaces/src/services/workspaces/crud/pages.ts
Due: workspaces_build_docker, workspaces_deploy

Centered button text in cards
  packages/blocks/lib/Blocks/Cards/Variants/Actions.tsx
Due: backend_npm_install

Put module loader in a hook util
  packages/blocks/lib/BlockLoader.tsx
  packages/blocks/lib/index.ts
  packages/blocks/lib/utils/useExternalModule.ts
  packages/design-system/styles/prismeai-theme.less
  services/console/components/PageBuilder/ExternalSchemaLoader.tsx
  services/console/components/PageBuilder/PageBlocks.tsx
  services/console/pages/_app.tsx
  services/console/utils/externals.ts
Due: backend_npm_install, console_check, console_test, console_build_docker, console_deploy

:bug: More elegant fix for required blocks property.
  packages/types/index.d.ts
  services/console/Dockerfile
  services/workspaces/Dockerfile
  specifications/swagger.yml
Due: backend_npm_install, console_check, console_test, console_build_docker, console_deploy, workspaces_test, workspaces_build_docker, workspaces_deploy, docs_build_static, docs_deploy

Should not have been set
  packages/design-system/styles/prismeai-theme.less
Due: backend_npm_install

fix app publishing
  services/workspaces/Dockerfile
  services/workspaces/src/app.ts
  specifications/swagger.yml
Due: workspaces_test, workspaces_build_docker, workspaces_deploy, docs_build_static, docs_deploy
