Repository HP319193/prisme.ai: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend_npm_install, console_check, console_test, console_build_docker, console_deploy, workspaces_test, workspaces_build_docker, workspaces_deploy, runtime_test, runtime_build_docker, runtime_deploy, api-gateway_build_docker, api-gateway_deploy, events_test, events_build_docker, events_deploy, docs_build_static, docs_deploy

backend_npm_install:
  stage: dependencies
  image: docker:stable
  services:
  - docker:stable-dind
  script:
  ...

console_check:
  stage: test
  script:
  - "if ! [[ -d node_modules/ ]] ; then\n  BUILD_PACKAGES=0 npm ci\nfi\n"
  - npm run build:packages
  - npm run check:console
  needs: []
  before_script:
  - export DIRECTORY=services/$CONSOLE_DIRECTORY

console_test:
  stage: test
  script:
  - "if ! [[ -d node_modules/ ]] ; then\n  BUILD_PACKAGES=0 npm ci\nfi\n"
  - npm run build:packages
  - npm test -- $DIRECTORY
  coverage: /All files\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)/
  artifacts:
    paths:
    - coverage
  cache:
    key:
      files:
  ...

console_build_docker:
  stage: build_docker
  image: docker:stable
  services:
  - docker:stable-dind
  script:
  ...

console_deploy:
  stage: deploy
  tags:
  - internal-runner
  image:
    name: registry.gitlab.com/gogowego-devsecops/dev/prisme.ai-infra:latest
    entrypoint:
    - /bin/sh
    - -c
  script:
  ...

workspaces_test:
  stage: test
  script:
  - "if ! [[ -d node_modules/ ]] ; then\n  BUILD_PACKAGES=0 npm ci\nfi\n"
  - npm run build:packages
  - npm test -- $DIRECTORY
  coverage: /All files\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)/
  artifacts:
    paths:
    - coverage
  cache:
    key:
      files:
  ...

workspaces_build_docker:
  stage: build_docker
  image: docker:stable
  services:
  - docker:stable-dind
  script:
  ...

workspaces_deploy:
  stage: deploy
  tags:
  - internal-runner
  image:
    name: registry.gitlab.com/gogowego-devsecops/dev/prisme.ai-infra:latest
    entrypoint:
    - /bin/sh
    - -c
  script:
  ...

runtime_test:
  stage: test
  script:
  - "if ! [[ -d node_modules/ ]] ; then\n  BUILD_PACKAGES=0 npm ci\nfi\n"
  - npm run build:packages
  - npm test -- $DIRECTORY
  coverage: /All files\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)/
  artifacts:
    paths:
    - coverage
  cache:
    key:
      files:
  ...

runtime_build_docker:
  stage: build_docker
  image: docker:stable
  services:
  - docker:stable-dind
  script:
  ...

runtime_deploy:
  stage: deploy
  tags:
  - internal-runner
  image:
    name: registry.gitlab.com/gogowego-devsecops/dev/prisme.ai-infra:latest
    entrypoint:
    - /bin/sh
    - -c
  script:
  ...

api-gateway_build_docker:
  stage: build_docker
  image: docker:stable
  services:
  - docker:stable-dind
  script:
  ...

api-gateway_deploy:
  stage: deploy
  tags:
  - internal-runner
  image:
    name: registry.gitlab.com/gogowego-devsecops/dev/prisme.ai-infra:latest
    entrypoint:
    - /bin/sh
    - -c
  script:
  ...

events_test:
  stage: test
  script:
  - "if ! [[ -d node_modules/ ]] ; then\n  BUILD_PACKAGES=0 npm ci\nfi\n"
  - npm run build:packages
  - npm test -- $DIRECTORY
  coverage: /All files\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)/
  artifacts:
    paths:
    - coverage
  cache:
    key:
      files:
  ...

Fix import
  packages/blocks/lib/Blocks/Cards/index.ts
Due: backend_npm_install

Add type option to set instruction
  docs/docs/en/workspaces/instructions.md
  packages/types/index.d.ts
  services/runtime/src/services/runtime/automations/index.test.ts
  services/runtime/src/services/runtime/automations/instructions/set.ts
  services/runtime/src/services/runtime/contexts.ts
  services/runtime/src/services/workspaces/__mocks__/workspaces/instructions/current.yml
  specifications/swagger.yml
Due: backend_npm_install, runtime_test, runtime_build_docker, runtime_deploy, docs_build_static, docs_deploy

Refactos
  packages/blocks/lib/BlockLoader.tsx
  packages/blocks/lib/Blocks/Cards/CardButton.tsx
  packages/blocks/lib/Blocks/Cards/Cards.tsx
  packages/blocks/lib/Blocks/Cards/CarouselNavigation.tsx
  packages/blocks/lib/Blocks/Cards/Variants/Actions.tsx
  packages/blocks/lib/Blocks/Cards/Variants/Article.tsx
  packages/blocks/lib/Blocks/Cards/Variants/Classic.tsx
  packages/blocks/lib/Blocks/Cards/Variants/Short.tsx
  packages/blocks/lib/Blocks/Cards/Variants/Square.tsx
  packages/blocks/lib/Blocks/Cards/types.ts
  packages/blocks/lib/styles.css
Due: backend_npm_install

Display page in preview mode by default
  services/console/components/PagePreview.tsx
  services/console/components/Share/SharePage.tsx
  services/console/utils/urls.test.ts
  services/console/utils/urls.ts
  services/console/views/Page.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Live update page preview
  package-lock.json
  package.json
  packages/design-system/lib/Components/Popover.tsx
  packages/design-system/package.json
  services/console/components/Header.tsx
  services/console/components/Page/usePageBlocksConfigs.ts
  services/console/components/PagePreview.tsx
  services/console/components/PublishModal.tsx
  services/console/layouts/EditDetails.tsx
  services/console/public/locales/fr/workspaces.json
  services/console/utils/urls.ts
  services/console/views/AppsStore.tsx
  services/console/views/Automation.tsx
  services/console/views/Page.tsx
  services/console/views/PublicPage.tsx
Due: backend_npm_install, console_check, console_test, console_build_docker, console_deploy

Back of the short card translucid background
  packages/blocks/lib/Blocks/Cards/Variants/Short.tsx
Due: backend_npm_install

Actions Card
  packages/blocks/lib/Blocks/Cards/CardButton.tsx
  packages/blocks/lib/Blocks/Cards/Cards.stories.tsx
  packages/blocks/lib/Blocks/Cards/Variants/Actions.tsx
  packages/blocks/lib/Blocks/Cards/types.ts
Due: backend_npm_install

Fix workspace config update on runtime.contexts.updated event
  services/workspaces/src/utils/applyObjectUpdateOpLogs.ts
Due: workspaces_build_docker, workspaces_deploy

Force rebuild workspaces
  services/workspaces/Dockerfile
  services/workspaces/src/app.ts
Due: workspaces_test, workspaces_build_docker, workspaces_deploy

Fix deps versions
  package.json
  packages/blocks/package.json
  packages/design-system/package.json
Due: backend_npm_install

Fix antd version
  package-lock.json
Due: none

Fix losing additional properties value
  packages/design-system/lib/Components/SchemaForm/FieldObject.tsx
Due: backend_npm_install

Disabled field
  packages/design-system/lib/Components/SchemaForm/FieldAdditionalProperties.tsx
  packages/design-system/lib/Components/SchemaForm/FieldArray.tsx
  packages/design-system/lib/Components/SchemaForm/FieldBoolean.tsx
  packages/design-system/lib/Components/SchemaForm/FieldText.tsx
  packages/design-system/lib/Components/SchemaForm/LayoutBasic.tsx
  packages/design-system/lib/Components/SchemaForm/LayoutGrid.tsx
  packages/design-system/lib/Components/SchemaForm/SchemaForm.stories.tsx
  packages/design-system/lib/Components/SchemaForm/types.ts
Due: backend_npm_install

Translate automation schema
  services/console/components/AutomationBuilder/Panel/InstructionValue.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Added placeholder for schemaformbuilder text input
  packages/design-system/lib/Components/SchemaForm/FieldText.tsx
  services/console/components/SchemaFormBuilder/SchemaFormBuilder.tsx
  services/console/public/locales/en/workspaces.json
  services/console/public/locales/fr/workspaces.json
Due: backend_npm_install, console_check, console_test, console_build_docker, console_deploy

fix failed pipelines
  packages/validation/instructions.json
Due: backend_npm_install

Fix edit block emptying other fields
  services/console/components/PageBuilder/Panel/PageEditBlockForm.tsx
  services/console/components/PageBuilder/Panel/Settings.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Fixed conditions : handle single = operator & fix exists/not-exists operators chained with &&/||
  services/runtime/deps/condition-eval/grammar.ne
  services/runtime/deps/condition-eval/src/grammar.js
  services/runtime/deps/condition-eval/src/interpreter/ConditionalExpression.ts
  services/runtime/src/services/workspaces/__mocks__/workspaces/instructions/current.yml
  services/runtime/src/utils/evaluate.test.ts
Due: runtime_test, runtime_build_docker, runtime_deploy

Fix delete instruction on an entire context variable (i.e delete session) which made runtime crash on each webhook call until next reboot
  services/runtime/src/cache/redis.ts
Due: runtime_test, runtime_build_docker, runtime_deploy

Propagate source.userId in every runtime.automations.executed events
  services/runtime/src/services/runtime/automations/index.ts
Due: runtime_test, runtime_build_docker, runtime_deploy

Added users counter to workspace usage API
  packages/types/index.d.ts
  services/events/src/services/events/store/ElasticsearchStore.ts
  specifications/swagger.yml
Due: backend_npm_install, events_test, events_build_docker, events_deploy, docs_build_static, docs_deploy

Fix wording
  package-lock.json
  services/console/public/locales/en/workspaces.json
  services/console/public/locales/fr/workspaces.json
Due: console_check, console_test, console_build_docker, console_deploy

Truncate workspace name in header, events feed, workspaces home
  services/console/components/EventsViewer/SectionContent.tsx
  services/console/components/HeaderWorkspace.tsx
  services/console/views/Workspaces.tsx
  services/console/views/__snapshots__/Workspaces.test.tsx.snap
Due: console_check, console_test, console_build_docker, console_deploy

Deduplicate events on server
  services/workspaces/src/services/apps/crud/extractEvents.ts
Due: workspaces_build_docker, workspaces_deploy

Enhanced card navigation style and fix card image edition
  packages/blocks/lib/Blocks/Cards/Cards.stories.tsx
  packages/blocks/lib/Blocks/Cards/Cards.tsx
  packages/blocks/lib/Blocks/Cards/Variants/Actions.tsx
  packages/blocks/lib/Blocks/Cards/Variants/Article.tsx
  packages/blocks/lib/Blocks/Cards/Variants/Classic.tsx
  packages/blocks/lib/Blocks/Cards/Variants/Short.tsx
  packages/blocks/lib/Blocks/Cards/Variants/Square.tsx
  packages/blocks/lib/Blocks/Internal/BlockTitle.tsx
Due: backend_npm_install

enhanced caroussel navigation
  packages/blocks/lib/Blocks/Cards/Cards.tsx
  packages/blocks/lib/Blocks/Cards/CarouselNavigation.tsx
  packages/blocks/lib/Blocks/Cards/Variants/Actions.tsx
  packages/blocks/lib/Blocks/Cards/Variants/Article.tsx
  packages/blocks/lib/Blocks/Cards/Variants/Classic.tsx
  packages/blocks/lib/Blocks/Cards/Variants/Short.tsx
  packages/blocks/lib/Blocks/Cards/Variants/Square.tsx
Due: backend_npm_install

pagebuilder center column move to left when editing
  services/console/components/PageBuilder/PageBlocks.tsx
  services/console/components/PageBuilder/PageBuilder.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Removed caroussel scrollbar, fixed blockTitle size
  packages/blocks/lib/Blocks/Cards/Cards.tsx
  packages/blocks/lib/Blocks/Internal/BlockTitle.tsx
  packages/blocks/lib/tw.ts
Due: backend_npm_install

Enhanced page style
  packages/blocks/lib/Blocks/Header.tsx
  services/console/components/PagesProvider/PagesProvider.tsx
Due: backend_npm_install, console_check, console_test, console_build_docker, console_deploy

Fixed missing space on workspace name
  services/console/components/HeaderWorkspace.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Enhanced Header
  packages/blocks/lib/Blocks/Header-style.css
  packages/blocks/lib/Blocks/Header.tsx
  packages/design-system/lib/Components/Menu.tsx
Due: backend_npm_install

Added variant for actions cards, some css variable
  packages/blocks/lib/Blocks/Cards/CardButton.tsx
  packages/blocks/lib/Blocks/Cards/Cards.tsx
  packages/blocks/lib/Blocks/Cards/Variants/Actions.tsx
  packages/blocks/lib/Blocks/Cards/types.ts
  packages/blocks/lib/tw.ts
  services/console/components/PageBuilder/Panel/EditSchema/Cards.tsx
  services/console/components/PagesProvider/PagesProvider.tsx
Due: backend_npm_install, console_check, console_test, console_build_docker, console_deploy

Update tests
  services/console/components/SchemaFormBuilder/__snapshots__/SchemaFormBuilder.test.tsx.snap
Due: console_check, console_test, console_build_docker, console_deploy

Cleaning some code
  services/console/components/AutomationBuilder/Panel/InstructionValue.tsx
  services/console/components/PageBuilder/Panel/Settings.tsx
  services/console/components/SchemaForm/useSchema.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Remove unused css file
  packages/blocks/lib/Blocks/Header-style.css
  packages/blocks/lib/Blocks/Header.tsx
Due: backend_npm_install

Use a textarea to edit conditions
  services/console/components/AutomationBuilder/Panel/ConditionForm.tsx
  services/console/components/AutomationBuilder/Panel/InstructionValue.tsx
  services/console/components/SchemaFormBuilder/__snapshots__/SchemaFormBuilder.test.tsx.snap
  services/console/components/WorkspaceProvider/Provider.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Fix page i18n
  services/console/public/locales/en/workspaces.json
Due: console_check, console_test, console_build_docker, console_deploy

Fix display 404 on workspace home
  services/console/components/AppsProvider/Provider.tsx
  services/console/components/WorkspaceProvider/Provider.tsx
  services/console/components/WorkspacesProvider/Provider.tsx
  services/console/layouts/WorkspaceLayout/WorkspaceLayout.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Fix warning when leaving app config
  services/console/components/AppEditor.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Made cards clickable
  packages/blocks/lib/Blocks/Cards/ActionOrLink.tsx
  packages/blocks/lib/Blocks/Cards/Cards.stories.tsx
  packages/blocks/lib/Blocks/Cards/Cards.tsx
  packages/blocks/lib/Blocks/Cards/Variants/Article.tsx
  packages/blocks/lib/Blocks/Cards/Variants/Short.tsx
  packages/blocks/lib/Blocks/Cards/Variants/Square.tsx
  packages/blocks/lib/Blocks/Cards/types.ts
  packages/blocks/lib/tw.ts
  services/console/components/PageBuilder/Panel/EditSchema/Cards.tsx
  services/console/components/PageBuilder/Panel/EditSchema/CardsVariant/actions.tsx
  services/console/components/PageBuilder/Panel/EditSchema/CardsVariant/article.tsx
  services/console/components/PageBuilder/Panel/EditSchema/CardsVariant/classic.tsx
  services/console/components/PageBuilder/Panel/EditSchema/CardsVariant/eventOrLink.tsx
  services/console/components/PageBuilder/Panel/EditSchema/CardsVariant/short.tsx
  services/console/components/PageBuilder/Panel/EditSchema/CardsVariant/square.tsx
  services/console/components/PagesProvider/PagesProvider.tsx
  services/console/public/locales/en/workspaces.json
  services/console/public/locales/fr/workspaces.json
Due: backend_npm_install, console_check, console_test, console_build_docker, console_deploy

Path conditions:
  backend_npm_install: any of: services/api-gateway/package.json, services/runtime/package.json, services/workspaces/package.json, services/events/package.json, packages/**/*
  console_check: any of: services/console/**/*
  console_test: any of: services/console/**/*
  console_build_docker: any of: services/console/**/*
  console_deploy: any of: services/console/**/*
  workspaces_test: any of: services/workspaces/*
  workspaces_build_docker: any of: services/workspaces/**/*
  workspaces_deploy: any of: services/workspaces/**/*
  runtime_test: any of: services/runtime/**/*
  runtime_build_docker: any of: services/runtime/**/*
  runtime_deploy: any of: services/runtime/**/*
  api-gateway_build_docker: any of: services/api-gateway/**/*
  api-gateway_deploy: any of: services/api-gateway/**/*
  events_test: any of: services/events/**/*
  events_build_docker: any of: services/events/**/*
  events_deploy: any of: services/events/**/*
  docs_build_static: any of: docs/**/*, specifications/*
  docs_deploy: any of: docs/**/*, specifications/*
