Repository HP319193/prisme.ai: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend_npm_install, console_check, console_test, console_build_docker, console_deploy, workspaces_test, workspaces_build_docker, workspaces_deploy, runtime_test, runtime_build_docker, runtime_deploy, api-gateway_build_docker, api-gateway_deploy, events_test, events_build_docker, events_deploy, docs_build_static, docs_deploy

backend_npm_install:
  stage: dependencies
  image: docker:stable
  services:
  - docker:stable-dind
  script:
  ...

console_check:
  stage: test
  script:
  - "if ! [[ -d node_modules/ ]] ; then\n  BUILD_PACKAGES=0 npm ci\nfi\n"
  - npm run build:packages
  - npm run check:console
  needs: []
  before_script:
  - export DIRECTORY=services/$CONSOLE_DIRECTORY

console_test:
  stage: test
  script:
  - "if ! [[ -d node_modules/ ]] ; then\n  BUILD_PACKAGES=0 npm ci\nfi\n"
  - npm run build:packages
  - npm test -- $DIRECTORY
  coverage: /All files\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)/
  artifacts:
    paths:
    - coverage
  cache:
    key:
      files:
  ...

console_build_docker:
  stage: build_docker
  image: docker:stable
  services:
  - docker:stable-dind
  script:
  ...

console_deploy:
  stage: deploy
  tags:
  - internal-runner
  image:
    name: registry.gitlab.com/gogowego-devsecops/dev/prisme.ai-infra:latest
    entrypoint:
    - /bin/sh
    - -c
  script:
  ...

workspaces_test:
  stage: test
  script:
  - "if ! [[ -d node_modules/ ]] ; then\n  BUILD_PACKAGES=0 npm ci\nfi\n"
  - npm run build:packages
  - npm test -- $DIRECTORY
  coverage: /All files\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)/
  artifacts:
    paths:
    - coverage
  cache:
    key:
      files:
  ...

workspaces_build_docker:
  stage: build_docker
  image: docker:stable
  services:
  - docker:stable-dind
  script:
  ...

workspaces_deploy:
  stage: deploy
  tags:
  - internal-runner
  image:
    name: registry.gitlab.com/gogowego-devsecops/dev/prisme.ai-infra:latest
    entrypoint:
    - /bin/sh
    - -c
  script:
  ...

runtime_test:
  stage: test
  script:
  - "if ! [[ -d node_modules/ ]] ; then\n  BUILD_PACKAGES=0 npm ci\nfi\n"
  - npm run build:packages
  - npm test -- $DIRECTORY
  coverage: /All files\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)/
  artifacts:
    paths:
    - coverage
  cache:
    key:
      files:
  ...

runtime_build_docker:
  stage: build_docker
  image: docker:stable
  services:
  - docker:stable-dind
  script:
  ...

runtime_deploy:
  stage: deploy
  tags:
  - internal-runner
  image:
    name: registry.gitlab.com/gogowego-devsecops/dev/prisme.ai-infra:latest
    entrypoint:
    - /bin/sh
    - -c
  script:
  ...

api-gateway_build_docker:
  stage: build_docker
  image: docker:stable
  services:
  - docker:stable-dind
  script:
  ...

api-gateway_deploy:
  stage: deploy
  tags:
  - internal-runner
  image:
    name: registry.gitlab.com/gogowego-devsecops/dev/prisme.ai-infra:latest
    entrypoint:
    - /bin/sh
    - -c
  script:
  ...

events_test:
  stage: test
  script:
  - "if ! [[ -d node_modules/ ]] ; then\n  BUILD_PACKAGES=0 npm ci\nfi\n"
  - npm run build:packages
  - npm test -- $DIRECTORY
  coverage: /All files\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)/
  artifacts:
    paths:
    - coverage
  cache:
    key:
      files:
  ...

Removed unused inlineCode height calculation
  services/console/components/CodeEditor/Inline.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Return workspace config if instruction is not from an app
  services/console/components/AutomationBuilder/Panel/InstructionValue.tsx
  services/console/components/PageBuilder/PageBlockProvider.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Fix page change socket listenning
  services/console/components/Blocks/useBlocksConfigs.ts
Due: console_check, console_test, console_build_docker, console_deploy

Block Development
  package.json
  packages/design-system/lib/Components/Block/index.ts
  packages/design-system/lib/Components/Block/types.ts
  packages/design-system/package.json
  packages/sdk/package.json
  services/console/components/Block.tsx
  services/console/components/Blocks/Development.tsx
  services/console/components/Blocks/index.ts
  services/console/components/PageBuilder/Panel/PageNewBlockForm.tsx
  services/console/public/locales/en/workspaces.json
  services/console/public/locales/es/workspaces.json
  services/console/public/locales/fr/workspaces.json
Due: backend_npm_install, console_check, console_test, console_build_docker, console_deploy

Updated signin redirect to occur only for anonymous users on proper pages
  services/console/components/UserProvider/Provider.tsx
  services/console/pages/_middleware.ts
  services/console/views/Home.tsx
  services/console/views/__snapshots__/Home.test.tsx.snap
Due: console_check, console_test, console_build_docker, console_deploy

Appconfig in app sidebar
  services/console/views/AppsSidebarItem.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Give the socket to the Block on console Pages
  packages/design-system/lib/Components/Block/Block.tsx
  services/console/components/PageBuilder/PageBlockProvider.tsx
  services/console/layouts/WorkspaceLayout/WorkspaceLayout.test.tsx
  services/console/layouts/WorkspaceLayout/WorkspaceLayout.tsx
  services/console/layouts/WorkspaceLayout/context.ts
Due: backend_npm_install, console_check, console_test, console_build_docker, console_deploy

Revert "Merge branch 'bugfixes/events-pages' into 'main'"
  packages/design-system/lib/Components/Block/Block.tsx
  services/console/components/PageBuilder/PageBlockProvider.tsx
  services/console/layouts/WorkspaceLayout/WorkspaceLayout.test.tsx
  services/console/layouts/WorkspaceLayout/WorkspaceLayout.tsx
  services/console/layouts/WorkspaceLayout/context.ts
Due: backend_npm_install, console_check, console_test, console_build_docker, console_deploy

Revert "Revert "Merge branch 'bugfixes/events-pages' into 'main'""
  packages/design-system/lib/Components/Block/Block.tsx
  services/console/components/PageBuilder/PageBlockProvider.tsx
  services/console/layouts/WorkspaceLayout/WorkspaceLayout.test.tsx
  services/console/layouts/WorkspaceLayout/WorkspaceLayout.tsx
  services/console/layouts/WorkspaceLayout/context.ts
Due: backend_npm_install, console_check, console_test, console_build_docker, console_deploy

Fix events socket from console
  services/console/layouts/WorkspaceLayout/WorkspaceLayout.tsx
  services/console/layouts/WorkspaceLayout/context.ts
Due: console_check, console_test, console_build_docker, console_deploy

Fix loading Block as ES modules
  services/console/components/Block.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Fix memory leak
  services/console/layouts/WorkspaceLayout/WorkspaceLayout.test.tsx
  services/console/layouts/WorkspaceLayout/WorkspaceLayout.tsx
Due: console_check, console_test, console_build_docker, console_deploy

:pencil2: Right spelling of event in french.
  services/console/public/locales/fr/workspaces.json
Due: console_check, console_test, console_build_docker, console_deploy

Fix crash when datatable receive no string values
  services/console/components/Blocks/DataTable.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Fix crashing when auth fails
  services/console/components/UserProvider/Provider.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Hide collapse if key is not set
  services/console/components/SchemaFormBuilder/Properties.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Enlarge your panel
  services/console/components/PageBuilder/PageBuilder.tsx
  services/console/components/Panel.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Rearrange property types
  packages/design-system/lib/Components/SchemaForm/Description.tsx
  packages/design-system/lib/Components/SchemaForm/types.ts
  packages/types/index.d.ts
  services/console/components/SchemaFormBuilder/SchemaFormBuilder.tsx
  services/console/public/locales/fr/workspaces.json
  specifications/swagger.yml
Due: backend_npm_install, console_check, console_test, console_build_docker, console_deploy, docs_build_static, docs_deploy

Enum and labels
  packages/design-system/lib/Components/SchemaForm/Enum.tsx
  packages/design-system/lib/Components/SchemaForm/FieldTextUpload.tsx
  services/console/components/Blocks/Form.tsx
  services/console/components/SchemaFormBuilder/Enum.tsx
  services/console/components/SchemaFormBuilder/SchemaFormBuilder.tsx
Due: backend_npm_install, console_check, console_test, console_build_docker, console_deploy

Enum displayed as a ui widget
  packages/design-system/lib/Components/SchemaForm/types.ts
  services/console/__mocks__/@prisme.ai/design-system.js
  services/console/components/Blocks/Form.tsx
  services/console/components/PageBuilder/Panel/PageNewBlockForm.tsx
  services/console/components/Panel.tsx
  services/console/components/SchemaFormBuilder/Enum.tsx
  services/console/components/SchemaFormBuilder/Properties.tsx
  services/console/components/SchemaFormBuilder/SchemaFormBuilder.test.tsx
  services/console/components/SchemaFormBuilder/SchemaFormBuilder.tsx
  services/console/components/SchemaFormBuilder/__snapshots__/SchemaFormBuilder.test.tsx.snap
  services/console/components/__snapshots__/Panel.test.tsx.snap
  services/console/public/locales/en/workspaces.json
  services/console/public/locales/es/workspaces.json
  services/console/public/locales/fr/workspaces.json
Due: backend_npm_install, console_check, console_test, console_build_docker, console_deploy

Auth anonymous user on page
  packages/sdk/lib/api.ts
  packages/sdk/lib/events.ts
  services/console/components/Blocks/useBlocksConfigs.ts
  services/console/components/UserProvider/Provider.test.tsx
  services/console/components/UserProvider/Provider.tsx
  services/console/pages/_app.tsx
  services/console/views/PublicPage.tsx
Due: backend_npm_install, console_check, console_test, console_build_docker, console_deploy

updated types.ts to include select and package-lock
  package-lock.json
  packages/design-system/lib/Components/SchemaForm/types.ts
Due: backend_npm_install

:ambulance: Fixes crash in useBlocksConfigs if an user is not defined.
  services/console/components/Blocks/useBlocksConfigs.ts
Due: console_check, console_test, console_build_docker, console_deploy

Fixed /sys/healthcheck which ocasionally still returned a debugging error :X
  services/events/src/services/sys/healthcheck.ts
  services/template/src/services/sys/healthcheck.ts
  services/workspaces/src/services/sys/healthcheck.ts
Due: workspaces_build_docker, workspaces_deploy, events_test, events_build_docker, events_deploy

force rebuild events & workspaces
  services/events/Dockerfile
  services/workspaces/Dockerfile
Due: workspaces_test, workspaces_build_docker, workspaces_deploy, events_test, events_build_docker, events_deploy

try bugfixing wait instruction which awaits for runtime.waits.fulfilled too late, maybe because of these await keywords
  services/runtime/Dockerfile
  services/runtime/src/services/runtime/automations/instructions/wait.ts
Due: runtime_test, runtime_build_docker, runtime_deploy

Fixed runtime unit tests
  packages/broker/lib/__mocks__/broker.ts
  services/runtime/Dockerfile
  services/runtime/src/services/runtime/index.test.ts
Due: backend_npm_install, runtime_test, runtime_build_docker, runtime_deploy

:globe_with_meridians: Fix english translations of Form Widget config panel.
  services/console/public/locales/en/workspaces.json
Due: console_check, console_test, console_build_docker, console_deploy

Added prod env deploy pipelines
  .gitlab-ci.yml
Due: none

try trying to deploy prod workspaces with a custom tag + rebuild node modules
  .gitlab-ci.yml
  packages/broker/package.json
  services/workspaces/Dockerfile
Due: backend_npm_install, workspaces_test, workspaces_build_docker, workspaces_deploy

Re-enable every jobs
  .gitlab-ci.yml
  packages/broker/package.json
Due: backend_npm_install

Do not run prod deploy on prod branch push (only with tags)
  .gitlab-ci.yml
  services/console/Dockerfile
  services/workspaces/Dockerfile
Due: console_check, console_test, console_build_docker, console_deploy, workspaces_test, workspaces_build_docker, workspaces_deploy

Fixed condition inside gitlab ci
  .gitlab-ci.yml
Due: none

2nd fix on condition inside gitlab ci
  .gitlab-ci.yml
Due: none

:goal_net: Make the NoUser error silent. Improves Wrong password message.
  services/console/components/UserProvider/Provider.tsx
  services/console/public/locales/en/sign.json
  services/console/public/locales/es/sign.json
  services/console/public/locales/fr/sign.json
Due: console_check, console_test, console_build_docker, console_deploy

:bug: Fix events URL being misformatted.
  packages/sdk/lib/events.test.ts
  packages/sdk/lib/events.ts
Due: backend_npm_install

:lipstick: fix gogowego-devsecops/dev/prisme.ai-bugs#884
  services/console/components/AutomationBuilder/Block.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Path conditions:
  backend_npm_install: any of: services/api-gateway/package.json, services/runtime/package.json, services/workspaces/package.json, services/events/package.json, packages/**/*
  console_check: any of: services/console/**/*
  console_test: any of: services/console/**/*
  console_build_docker: any of: services/console/**/*
  console_deploy: any of: services/console/**/*
  workspaces_test: any of: services/workspaces/*
  workspaces_build_docker: any of: services/workspaces/**/*
  workspaces_deploy: any of: services/workspaces/**/*
  runtime_test: any of: services/runtime/**/*
  runtime_build_docker: any of: services/runtime/**/*
  runtime_deploy: any of: services/runtime/**/*
  api-gateway_build_docker: any of: services/api-gateway/**/*
  api-gateway_deploy: any of: services/api-gateway/**/*
  events_test: any of: services/events/**/*
  events_build_docker: any of: services/events/**/*
  events_deploy: any of: services/events/**/*
  docs_build_static: any of: docs/**/*, specifications/*
  docs_deploy: any of: docs/**/*, specifications/*
