Repository HP319193/prisme.ai: changes, and which GitLab CI jobs are due for each by the changed paths.
All: npm_install, console_test, console_build_docker, console_deploy, workspaces_build_docker, workspaces_deploy, runtime_build_docker, runtime_deploy, api-gateway_build_docker, api-gateway_deploy, events_test, events_build_docker, events_deploy

Path conditions:
  npm_install: any of: package-lock.json, packages/**/*
  console_test: any of: services/console/**/*
  console_build_docker: any of: services/console/**/*
  console_deploy: any of: services/console/**/*
  workspaces_build_docker: any of: services/workspaces/**/*
  workspaces_deploy: any of: services/workspaces/**/*
  runtime_build_docker: any of: services/runtime/**/*
  runtime_deploy: any of: services/runtime/**/*
  api-gateway_build_docker: any of: services/api-gateway/**/*
  api-gateway_deploy: any of: services/api-gateway/**/*
  events_test: any of: services/events/**/*
  events_build_docker: any of: services/events/**/*
  events_deploy: any of: services/events/**/*

:fire: Deleted useless files. Also fixed microservices schema and properly renamed files into camelcase specification.
  docs/docs/en/contributing/Architecture.md
  docs/docs/en/contributing/architecture.md
  docs/docs/en/contributing/security.md
  docs/docs/en/contributing/technical/apiGateway/specifications.md
  docs/docs/en/contributing/technical/console/specifications.md
  docs/docs/en/contributing/technical/events/specifications.md
  docs/docs/en/contributing/technical/runtime/specifications.md
  docs/docs/en/contributing/technical/workspaces/specifications.md
  docs/package.json
  docs/theme/assets/images/architecture/microservices.png
  package.json
Due: none

Fixed documentation deploy
  .gitlab-ci.yml
  docs/docs/fr/index.md
Due: none

Allow any kind of content type to be passed as webhook request body
  services/runtime/Dockerfile
  specifications/swagger.yml
Due: runtime_build_docker, runtime_deploy

force rebuilding deps for runtime (specifications swagger not up to date)
  package-lock.json
  services/runtime/Dockerfile
Due: npm_install, runtime_build_docker, runtime_deploy

Fix instruction default value
  services/console/components/AutomationBuilder/Panel/InstructionForm.test.tsx
  services/console/components/AutomationBuilder/Panel/InstructionForm.tsx
  services/console/components/SchemaForm/types.ts
Due: console_test, console_build_docker, console_deploy

Implemented dynamic role management. Added api key specific unit tests to show future api key implementation based on these custom roles
  packages/permissions/examples/abacWithRoles.ts
  packages/permissions/examples/accessManagement.ts
  packages/permissions/examples/apiKeys.ts
  packages/permissions/examples/index.ts
  packages/permissions/examples/roles.ts
  packages/permissions/lib/accessManager.test.ts
  packages/permissions/lib/accessManager.ts
  packages/permissions/lib/errors.ts
  packages/permissions/lib/permissions.test.ts
  packages/permissions/lib/permissions.ts
  packages/permissions/lib/schemas.ts
  packages/permissions/lib/types.ts
Due: npm_install

Added api key routes generation to @prisme.ai/permissions & added role-based but api-key specific methods to AccessManager
  packages/permissions/examples/apiKeys.ts
  packages/permissions/lib/accessManager.test.ts
  packages/permissions/lib/accessManager.ts
  packages/permissions/lib/api/index.ts
  packages/permissions/lib/api/initApiKeysRoutes.ts
  packages/permissions/lib/api/initCollaboratorRoutes.ts
  packages/permissions/lib/api/utils.ts
  packages/permissions/lib/schemas.ts
  packages/permissions/lib/types.ts
  packages/types/index.d.ts
  services/api-gateway/src/permissions/config.ts
  services/api-gateway/src/permissions/index.ts
  services/workspaces/src/api/app.ts
  specifications/swagger.yml
Due: npm_install, workspaces_build_docker, workspaces_deploy, api-gateway_build_docker, api-gateway_deploy

Implemented apikey-based events access control
  package-lock.json
  packages/permissions/examples/apiKeys.ts
  packages/permissions/lib/accessManager.test.ts
  packages/permissions/lib/accessManager.ts
  packages/permissions/lib/api/initApiKeysRoutes.ts
  packages/permissions/lib/api/utils.ts
  packages/permissions/lib/schemas.ts
  packages/permissions/package.json
  packages/types/index.d.ts
  services/api-gateway/src/permissions/config.ts
  services/api-gateway/src/permissions/index.ts
  services/events/config/api.ts
  services/events/src/api/middlewares/accessManager.ts
  services/events/src/api/routes/websockets.ts
  services/events/src/app.ts
  services/events/src/permissions/config.ts
  services/events/src/permissions/index.ts
  services/events/src/services/events/Subscriptions.test.ts
  services/events/src/services/events/Subscriptions.ts
  services/workspaces/src/api/middlewares/accessManager.ts
  specifications/swagger.yml
Due: npm_install, workspaces_build_docker, workspaces_deploy, api-gateway_build_docker, api-gateway_deploy, events_test, events_build_docker, events_deploy

Renamed admin & collaborator roles to owner & editor
  packages/permissions/examples/abac.ts
  packages/permissions/examples/abacWithRoles.ts
  packages/permissions/examples/accessManagement.ts
  packages/permissions/examples/apiKeys.ts
  packages/permissions/examples/roles.ts
  packages/permissions/lib/permissions.ts
  packages/permissions/lib/types.ts
  packages/types/index.d.ts
  services/events/src/permissions/config.ts
  services/workspaces/src/permissions/config.ts
  specifications/swagger.yml
Due: npm_install, workspaces_build_docker, workspaces_deploy, events_test, events_build_docker, events_deploy

Renamed subject.collaborators field to permissions, et renamed old collaborators.permissions to policies
  packages/permissions/lib/accessManager.test.ts
  packages/permissions/lib/accessManager.ts
  packages/permissions/lib/api/fetchUsers.ts
  packages/permissions/lib/api/initApiKeysRoutes.ts
  packages/permissions/lib/api/initCollaboratorRoutes.ts
  packages/permissions/lib/errors.ts
  packages/permissions/lib/permissions.test.ts
  packages/permissions/lib/permissions.ts
  packages/permissions/lib/rulesBuilder.ts
  packages/permissions/lib/schemas.ts
  packages/permissions/lib/types.ts
  packages/types/index.d.ts
  specifications/swagger.yml
Due: npm_install

Allow executing webhook without being authenticated (no user id header & no user context persistance)
  services/runtime/src/services/runtime/contexts.ts
  services/runtime/src/services/runtime/index.ts
Due: runtime_build_docker, runtime_deploy

Fix runtime.automation.executed event's payload subfield which could be updated by the automation & thus be different from the real initial payload
  services/runtime/src/services/runtime/contexts.ts
Due: runtime_build_docker, runtime_deploy

Improved set / delete instructions to support bracket notation : some.nested['dope'][bracket][42]
  services/runtime/src/services/runtime/contexts.ts
Due: runtime_build_docker, runtime_deploy

fix runtime.webhook.triggered event to not include request informations twice
  packages/types/index.d.ts
  services/runtime/src/api/routes/webhooks.ts
  services/runtime/src/services/runtime/index.ts
  specifications/swagger.yml
Due: npm_install, runtime_build_docker, runtime_deploy

Added break instruction
  services/runtime/src/services/runtime/automations/index.ts
  services/runtime/src/services/runtime/automations/instructions/index.ts
Due: runtime_build_docker, runtime_deploy

remove hardcoded output
  services/runtime/src/services/runtime/automations/index.ts
Due: runtime_build_docker, runtime_deploy

Fix instructions values display
  services/console/components/AutomationBuilder/Block.tsx
Due: console_test, console_build_docker, console_deploy

Add nested interpolation & variable bracket support
  services/runtime/src/services/runtime/contexts.ts
  services/runtime/src/utils/interpolate.test.ts
  services/runtime/src/utils/interpolate.ts
  services/runtime/src/utils/parseVariableName.ts
Due: runtime_build_docker, runtime_deploy

Fix runtime condition eval that unexpectedly raised when given expressions were whitespace terminated
  services/runtime/deps/condition-eval/src/index.ts
Due: runtime_build_docker, runtime_deploy

:wrench: Added support for regex() keyword in conditions.
  services/runtime/deps/condition-eval/grammar.ne
  services/runtime/deps/condition-eval/src/grammar.js
  services/runtime/deps/condition-eval/src/interpreter/ConditionalExpression.ts
  services/runtime/src/utils/evaluate.test.ts
Due: runtime_build_docker, runtime_deploy

:sparkles: Added support for not matches and regex() can be writtent in lower or uppercase.
  services/runtime/deps/condition-eval/grammar.ne
  services/runtime/deps/condition-eval/src/grammar.js
  services/runtime/deps/condition-eval/src/interpreter/ConditionalExpression.ts
  services/runtime/src/utils/evaluate.test.ts
Due: runtime_build_docker, runtime_deploy

Added repeat instruction
  packages/types/index.d.ts
  services/runtime/src/services/runtime/automations/index.ts
  services/runtime/src/services/runtime/automations/instructions/index.ts
  services/runtime/src/services/runtime/automations/instructions/repeat.ts
  services/runtime/src/services/runtime/contexts.ts
  services/runtime/src/utils/interpolate.ts
  specifications/swagger.yml
Due: npm_install, runtime_build_docker, runtime_deploy

:fire: Remonve unecessary console.log
  services/runtime/deps/condition-eval/src/interpreter/ConditionalExpression.ts
Due: runtime_build_docker, runtime_deploy

Fix truncate function
  services/console/utils/strings.test.ts
  services/console/utils/strings.ts
Due: console_test, console_build_docker, console_deploy

Repeat.then is now renamed to repeat.do
  packages/validation/instructions.json
  services/console/components/AutomationBuilder/Block.test.tsx
  services/console/components/AutomationBuilder/__snapshots__/flow.test.ts.snap
  services/console/components/AutomationBuilder/flow.test.ts
  services/console/components/AutomationBuilder/flow.ts
  services/console/utils/i18nextFormatters.ts
  services/runtime/src/services/runtime/automations/index.ts
Due: npm_install, console_test, console_build_docker, console_deploy, runtime_build_docker, runtime_deploy

:rocket: Added support for string variables in regex.
  services/runtime/deps/condition-eval/grammar.ne
  services/runtime/deps/condition-eval/src/grammar.js
  services/runtime/deps/condition-eval/src/interpreter/ConditionalExpression.ts
  services/runtime/deps/condition-eval/src/utils.ts
  services/runtime/src/utils/evaluate.test.ts
Due: runtime_build_docker, runtime_deploy

Fixed unit tests
  services/console/components/AutomationBuilder/__snapshots__/flow.test.ts.snap
  services/console/components/AutomationBuilder/flow.test.ts
Due: console_test, console_build_docker, console_deploy

Update docs : architecture schema, technical stack, emitted events, remove TODOs
  docs/docs/en/contributing/technical/apiGateway/specifications.md
  docs/docs/en/contributing/technical/console/specifications.md
  docs/docs/en/contributing/technical/events/specifications.md
  docs/docs/en/contributing/technical/runtime/specifications.md
  docs/docs/en/contributing/technical/workspaces/specifications.md
  docs/theme/assets/images/architecture/microservices.png
  packages/types/index.d.ts
  services/runtime/src/eda/index.ts
  specifications/swagger.yml
Due: npm_install, runtime_build_docker, runtime_deploy

Added a page on permissions & roles
  docs/docs/en/contributing/architecture.md
  docs/docs/en/contributing/index.md
  docs/docs/en/contributing/permissions.md
  docs/i18n/en.yml
  docs/mkdocs.yml
Due: none

Added basic explanations on automations execution & their contexts
  docs/docs/en/contributing/technical/runtime/automations.md
  docs/i18n/en.yml
  docs/mkdocs.yml
Due: none

reorganized docs paged & added a configuration section
  docs/docs/en/getstarted/configuration.md
  docs/docs/en/getstarted/index.md
  docs/docs/en/getstarted/permissions.md
  docs/i18n/en.yml
  docs/mkdocs.yml
  docs/serve.sh
Due: none

More on Authentication & Autorization
  docs/docs/en/architecture/authentication_access_control.md
  docs/docs/en/architecture/index.md
  docs/docs/en/architecture/technical/apiGateway/specifications.md
  docs/docs/en/architecture/technical/console/specifications.md
  docs/docs/en/architecture/technical/events/specifications.md
  docs/docs/en/architecture/technical/runtime/automations.md
  docs/docs/en/architecture/technical/runtime/specifications.md
  docs/docs/en/architecture/technical/workspaces/specifications.md
  docs/docs/en/getstarted/permissions.md
  docs/i18n/en.yml
  docs/mkdocs.yml
  docs/serve.sh
Due: none

Added performance test results to prisme.ai-runtime specs
  docs/docs/en/architecture/technical/runtime/specifications.md
  docs/theme/assets/images/performance/runtime_100VU_1vCore.png
  docs/theme/assets/images/performance/runtime_100VU_2vCore.png
Due: none

Update console dependencies doc
  docs/docs/en/architecture/technical/console/specifications.md
Due: none

Updated runtime peformance/scalability
  docs/docs/en/architecture/technical/runtime/specifications.md
  docs/docs/en/getstarted/index.md
Due: none

Fixed workspacefeed padding
  services/console/components/DesignSystem/Groups/WorkspaceFeed.tsx
Due: console_test, console_build_docker, console_deploy

Created basics components for workspace home
  services/console/components/DesignSystem/Pages/FeedHeader.tsx
  services/console/components/DesignSystem/Pages/SidePanel.tsx
  services/console/components/DesignSystem/Pages/SidePanelAutomation.tsx
  services/console/components/DesignSystem/Pages/WorkspaceFeed.tsx
  services/console/components/DesignSystem/Pages/WorkspaceHome.tsx
Due: console_test, console_build_docker, console_deploy

Dropdown story
  services/console/components/DesignSystem/Dropdown.tsx
  services/console/stories/Dropdown.stories.tsx
  services/console/styles/prismeai-theme.less
Due: console_test, console_build_docker, console_deploy

Added tailwind to project and storybook
  package-lock.json
  package.json
  services/console/.storybook/main.js
  services/console/.storybook/preview.js
  services/console/postcss.config.js
  services/console/styles/globals.css
  services/console/tailwind.config.js
Due: npm_install, console_test, console_build_docker, console_deploy
