Repository HP319193/prisme.ai: changes, and which GitLab CI jobs are due for each by the changed paths.
All: npm_install, console_test, console_build_docker, console_deploy, workspaces_build_docker, workspaces_deploy, runtime_build_docker, runtime_deploy, api-gateway_build_docker, api-gateway_deploy, events_test, events_build_docker, events_deploy

Path conditions:
  npm_install: any of: package-lock.json, packages/**/*
  console_test: any of: services/console/**/*
  console_build_docker: any of: services/console/**/*
  console_deploy: any of: services/console/**/*
  workspaces_build_docker: any of: services/workspaces/**/*
  workspaces_deploy: any of: services/workspaces/**/*
  runtime_build_docker: any of: services/runtime/**/*
  runtime_deploy: any of: services/runtime/**/*
  api-gateway_build_docker: any of: services/api-gateway/**/*
  api-gateway_deploy: any of: services/api-gateway/**/*
  events_test: any of: services/events/**/*
  events_build_docker: any of: services/events/**/*
  events_deploy: any of: services/events/**/*

Update translations
  services/console/public/locales/en/workspaces.json
  services/console/public/locales/es/workspaces.json
Due: console_test, console_build_docker, console_deploy

Revert buttons order
  services/console/components/SchemaForm/Form.tsx
  services/console/layouts/EditDetails.tsx
Due: console_test, console_build_docker, console_deploy

Fix saving page
  services/console/views/Page.tsx
Due: console_test, console_build_docker, console_deploy

Fix filter available languages
  packages/design-system/lib/Components/CustomSelect.tsx
  packages/design-system/lib/Components/LocalizedInput.tsx
Due: npm_install

Fix workspaces build & force console rebuild/deploy
  packages/types/index.d.ts
  services/console/Dockerfile
  services/workspaces/src/services/workspaces/crud/automations.ts
  specifications/swagger.yml
Due: npm_install, console_test, console_build_docker, console_deploy, workspaces_build_docker, workspaces_deploy

Layout for object types properties
  services/console/components/AutomationBuilder/Panel/__snapshots__/ConditionForm.test.tsx.snap
  services/console/components/AutomationBuilder/Panel/__snapshots__/InstructionValue.test.tsx.snap
  services/console/components/SchemaForm/Field.tsx
  services/console/components/SchemaForm/Form.tsx
  services/console/components/SchemaForm/Layout.tsx
  services/console/components/SchemaForm/LayoutColumns.tsx
  services/console/components/SchemaForm/__snapshots__/Form.test.tsx.snap
  services/console/views/Automation.tsx
Due: console_test, console_build_docker, console_deploy

Arguments editor
  packages/design-system/lib/Components/Input.tsx
  packages/design-system/lib/Components/LocalizedInput.tsx
  services/console/components/SchemaForm/Field.tsx
  services/console/components/SchemaForm/Form.tsx
  services/console/components/SchemaForm/InputWrapper.tsx
  services/console/components/SchemaForm/types.ts
  services/console/components/SchemaFormBuilder/ArgumentsEditor.tsx
  services/console/components/SchemaFormBuilder/Properties.tsx
  services/console/components/SchemaFormBuilder/SchemaFormBuilder.tsx
  services/console/components/SchemaFormBuilder/index.ts
  services/console/layouts/EditDetails.tsx
  services/console/public/locales/fr/workspaces.json
  services/console/views/Automation.tsx
Due: npm_install, console_test, console_build_docker, console_deploy

Tests
  services/console/__mocks__/@prisme.ai/design-system.js
  services/console/components/AutomationBuilder/Panel/__snapshots__/InstructionValue.test.tsx.snap
  services/console/components/SchemaForm/__snapshots__/Form.test.tsx.snap
  services/console/components/SchemaFormBuilder/SchemaFormBuilder.test.tsx
  services/console/components/SchemaFormBuilder/SchemaFormBuilder.tsx
  services/console/components/SchemaFormBuilder/__snapshots__/SchemaFormBuilder.test.tsx.snap
  services/console/public/locales/fr/workspaces.json
Due: console_test, console_build_docker, console_deploy

Don't save arguments without name
  services/console/views/Automation.tsx
Due: console_test, console_build_docker, console_deploy

Fix collapse title behavior
  packages/design-system/lib/Components/Collapse.tsx
  services/console/components/SchemaFormBuilder/Properties.tsx
  services/console/styles/globals.css
Due: npm_install, console_test, console_build_docker, console_deploy

Empty search field after selected a language
  packages/design-system/lib/Components/CustomSelect.tsx
  services/console/components/SchemaFormBuilder/__snapshots__/SchemaFormBuilder.test.tsx.snap
Due: npm_install, console_test, console_build_docker, console_deploy

Fix translating LocalizedInput
  packages/design-system/lib/Components/LocalizedInput.tsx
  services/console/components/LocalizedInput.tsx
  services/console/components/SchemaForm/InputWrapper.tsx
  services/console/components/SchemaFormBuilder/SchemaFormBuilder.tsx
Due: npm_install, console_test, console_build_docker, console_deploy

Input description
  services/console/components/SchemaFormBuilder/ArgumentsEditor.tsx
  services/console/public/locales/en/workspaces.json
  services/console/public/locales/es/workspaces.json
  services/console/public/locales/fr/workspaces.json
Due: console_test, console_build_docker, console_deploy

Fix columns
  services/console/components/SchemaForm/LayoutColumns.tsx
  services/console/views/Automation.tsx
Due: console_test, console_build_docker, console_deploy

Refacto workspace popover
  packages/design-system/lib/Components/Dropdown.tsx
  packages/design-system/lib/Components/Popover.stories.tsx
  packages/design-system/lib/Components/Popover.tsx
  services/console/components/AutomationBuilder/Panel/__snapshots__/ConditionForm.test.tsx.snap
  services/console/components/AutomationBuilder/Panel/__snapshots__/InstructionValue.test.tsx.snap
  services/console/components/Header.tsx
  services/console/components/HeaderWorkspace.tsx
  services/console/components/PhotoPickr.tsx
  services/console/components/SchemaForm/Field.tsx
  services/console/components/SchemaForm/LayoutColumns.tsx
  services/console/components/SchemaForm/__snapshots__/Form.test.tsx.snap
  services/console/layouts/EditDetails.tsx
  services/console/public/locales/fr/workspaces.json
Due: npm_install, console_test, console_build_docker, console_deploy

Callback on error when saving automation details
  packages/sdk/lib/types.ts
  services/console/components/SchemaForm/Form.tsx
  services/console/layouts/EditDetails.tsx
  services/console/public/locales/en/workspaces.json
  services/console/public/locales/es/workspaces.json
  services/console/public/locales/fr/workspaces.json
  services/console/views/Automation.tsx
  services/workspaces/src/services/workspaces/crud/automations.ts
Due: npm_install, console_test, console_build_docker, console_deploy, workspaces_build_docker, workspaces_deploy

Fix set instruction which kept same object instance as provided (thus allowing undesired mutation to happen on target variable)
  services/runtime/src/services/runtime/automations/instructions/deleteInstruction.ts
  services/runtime/src/services/runtime/automations/instructions/set.ts
  services/runtime/src/services/runtime/contexts.ts
Due: runtime_build_docker, runtime_deploy

Emit runtime.contexts.updated when executing set instruction on config context
  services/runtime/src/services/runtime/automations/index.ts
  services/runtime/src/services/runtime/automations/instructions/index.ts
  services/runtime/src/services/runtime/contexts.ts
  services/runtime/src/services/runtime/index.ts
Due: runtime_build_docker, runtime_deploy

Now update workpace or appInstance config when config context is updated by an emit instruction
  packages/broker/lib/broker.ts
  packages/broker/lib/events/eventsFactory.ts
  services/runtime/src/services/runtime/contexts.ts
  services/workspaces/src/app.ts
  services/workspaces/src/eda/index.ts
  services/workspaces/src/permissions/index.ts
  services/workspaces/src/services/apps/index.ts
  services/workspaces/src/services/workspaces/crud/workspaces.ts
  services/workspaces/src/services/workspaces/index.ts
Due: npm_install, workspaces_build_docker, workspaces_deploy, runtime_build_docker, runtime_deploy

Added LayoutSelection for apps
  package-lock.json
  packages/design-system/lib/Components/LayoutSelection.stories.tsx
  packages/design-system/lib/Components/LayoutSelection.tsx
  packages/design-system/lib/Components/ListItem.tsx
  packages/design-system/lib/index.ts
Due: npm_install

Made layoutSelection responsive
  packages/design-system/lib/Components/LayoutSelection.stories.tsx
  packages/design-system/lib/Components/LayoutSelection.tsx
Due: npm_install

Avoid reloading app config everytime
  services/console/components/WorkspacesProvider/Provider.tsx
  services/console/views/AppsSidebarItem.tsx
Due: console_test, console_build_docker, console_deploy

Updated LayoutSelection for responsive
  packages/design-system/lib/Components/LayoutSelection.tsx
Due: npm_install

Auto-leave a workspace
  services/console/components/PermissionsProvider/Provider.tsx
  services/console/components/Share/ShareWorkspacePopover.tsx
  services/console/components/WorkspacesProvider/Provider.tsx
  services/console/components/WorkspacesProvider/context.ts
  services/console/public/locales/en/workspaces.json
  services/console/public/locales/es/workspaces.json
  services/console/public/locales/fr/workspaces.json
Due: console_test, console_build_docker, console_deploy

Display message when trying to give permission to not existing users
  services/console/components/PermissionsProvider/Provider.tsx
  services/console/components/Share/ShareWorkspacePopover.tsx
  services/console/public/locales/en/errors.json
  services/console/public/locales/en/workspaces.json
  services/console/public/locales/es/errors.json
  services/console/public/locales/es/workspaces.json
  services/console/public/locales/fr/errors.json
  services/console/public/locales/fr/workspaces.json
Due: console_test, console_build_docker, console_deploy

Add a add button option
  packages/design-system/lib/Components/LayoutSelection.tsx
Due: npm_install

Display public page with an authorized token
  packages/sdk/lib/api.ts
  packages/types/index.d.ts
  services/console/components/Block.tsx
  services/console/components/PermissionsProvider/Provider.tsx
  services/console/pages/page/[workspaceId]/[pageId].ts
  services/console/views/Page.tsx
  services/console/views/PublicPage.tsx
  services/workspaces/src/api/routes/pages.ts
  services/workspaces/src/permissions/index.ts
  specifications/swagger.yml
Due: npm_install, console_test, console_build_docker, console_deploy, workspaces_build_docker, workspaces_deploy

Save workspace slug
  packages/types/index.d.ts
  services/console/layouts/WorkspaceLayout/WorkspaceLayout.test.tsx
  services/console/layouts/WorkspaceLayout/WorkspaceLayout.tsx
  services/console/layouts/WorkspaceLayout/context.ts
  services/console/views/Workspace.tsx
  services/console/views/WorkspaceSource.tsx
  services/workspaces/src/permissions/index.ts
  services/workspaces/src/services/workspaces/crud/workspaces.ts
  specifications/swagger.yml
Due: npm_install, console_test, console_build_docker, console_deploy, workspaces_build_docker, workspaces_deploy

WIP
  packages/permissions/lib/accessManager.ts
  services/console/utils/debug.ts
  services/console/views/Workspace.tsx
  services/workspaces/src/services/workspaces/crud/pages.ts
  services/workspaces/src/services/workspaces/crud/workspaces.ts
Due: npm_install, console_test, console_build_docker, console_deploy, workspaces_build_docker, workspaces_deploy

Allowing fetching page details either by id or slug with the same api
  services/workspaces/src/api/routes/pages.ts
Due: workspaces_build_docker, workspaces_deploy

Always pull roles from related objects to fix GET permissions on a public object which returned empty results as we did not consider needing further role since this object was readable
  packages/permissions/lib/accessManager.ts
  packages/permissions/lib/schemas.ts
Due: npm_install

Added GET /v2/pages/:pageSlug route
  packages/permissions/lib/accessManager.ts
  packages/permissions/lib/api/initCollaboratorRoutes.ts
  packages/types/index.d.ts
  scripts/start-dev.ts
  services/api-gateway/gateway.config.yml
  services/api-gateway/src/middlewares/authentication/isAuthenticated.ts
  services/api-gateway/src/policies/authentication.ts
  services/workspaces/src/api/routes/index.ts
  services/workspaces/src/api/routes/pages.ts
  services/workspaces/src/services/workspaces/crud/pages.ts
  specifications/swagger.yml
Due: npm_install, workspaces_build_docker, workspaces_deploy, api-gateway_build_docker, api-gateway_deploy

Prevent acessManager from fetching twice a related object role in the same child instance
  packages/permissions/lib/accessManager.ts
Due: npm_install

Removed workspace slugs & fixed tests tsc
  packages/types/index.d.ts
  services/workspaces/src/permissions/index.ts
  services/workspaces/src/services/workspaces/crud/workspaces.test.ts
  services/workspaces/src/services/workspaces/crud/workspaces.ts
  specifications/swagger.yml
Due: npm_install, workspaces_build_docker, workspaces_deploy

2nd Fix on permissions swagger
  specifications/swagger.yml
Due: none

Avoid sharing with yourself
  services/console/components/Share/SharePage.tsx
  services/console/public/locales/en/workspaces.json
  services/console/public/locales/es/workspaces.json
  services/console/public/locales/fr/workspaces.json
Due: console_test, console_build_docker, console_deploy

Fixed Page swagger
  specifications/swagger.yml
Due: none

Default page host on current host
  services/console/components/Share/SharePage.tsx
Due: console_test, console_build_docker, console_deploy

Update page url
  services/console/components/Share/SharePage.tsx
  services/console/views/Page.tsx
Due: console_test, console_build_docker, console_deploy

Now Automatically pull permissions from parent objects (auto fetch workspace when getting a page)
  packages/permissions/lib/accessManager.test.ts
  packages/permissions/lib/accessManager.ts
  packages/types/index.d.ts
  specifications/swagger.yml
Due: npm_install
