Repository HP319193/prisme.ai: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend_npm_install, console_check, console_test, console_build_docker, console_deploy, workspaces_test, workspaces_build_docker, workspaces_deploy, runtime_test, runtime_build_docker, runtime_deploy, api-gateway_build_docker, api-gateway_deploy, events_test, events_build_docker, events_deploy, docs_build_static, docs_deploy

backend_npm_install:
  stage: dependencies
  image: docker:stable
  services:
  - docker:stable-dind
  script:
  ...

console_check:
  stage: test
  script:
  - "if ! [[ -d node_modules/ ]] ; then\n  BUILD_PACKAGES=0 npm ci\nfi\n"
  - npm run build:packages
  - npm run check:console
  needs: []
  before_script:
  - export DIRECTORY=services/$CONSOLE_DIRECTORY

console_test:
  stage: test
  script:
  - "if ! [[ -d node_modules/ ]] ; then\n  BUILD_PACKAGES=0 npm ci\nfi\n"
  - npm run build:packages
  - npm test -- $DIRECTORY
  coverage: /All files\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)/
  artifacts:
    paths:
    - coverage
  cache:
    key:
      files:
  ...

console_build_docker:
  stage: build_docker
  image: docker:stable
  services:
  - docker:stable-dind
  script:
  ...

console_deploy:
  stage: deploy
  tags:
  - internal-runner
  image:
    name: registry.gitlab.com/gogowego-devsecops/dev/prisme.ai-infra:latest
    entrypoint:
    - /bin/sh
    - -c
  script:
  ...

workspaces_test:
  stage: test
  script:
  - "if ! [[ -d node_modules/ ]] ; then\n  BUILD_PACKAGES=0 npm ci\nfi\n"
  - npm run build:packages
  - npm test -- $DIRECTORY
  coverage: /All files\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)/
  artifacts:
    paths:
    - coverage
  cache:
    key:
      files:
  ...

workspaces_build_docker:
  stage: build_docker
  image: docker:stable
  services:
  - docker:stable-dind
  script:
  ...

workspaces_deploy:
  stage: deploy
  tags:
  - internal-runner
  image:
    name: registry.gitlab.com/gogowego-devsecops/dev/prisme.ai-infra:latest
    entrypoint:
    - /bin/sh
    - -c
  script:
  ...

runtime_test:
  stage: test
  script:
  - "if ! [[ -d node_modules/ ]] ; then\n  BUILD_PACKAGES=0 npm ci\nfi\n"
  - npm run build:packages
  - npm test -- $DIRECTORY
  coverage: /All files\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)/
  artifacts:
    paths:
    - coverage
  cache:
    key:
      files:
  ...

runtime_build_docker:
  stage: build_docker
  image: docker:stable
  services:
  - docker:stable-dind
  script:
  ...

runtime_deploy:
  stage: deploy
  tags:
  - internal-runner
  image:
    name: registry.gitlab.com/gogowego-devsecops/dev/prisme.ai-infra:latest
    entrypoint:
    - /bin/sh
    - -c
  script:
  ...

api-gateway_build_docker:
  stage: build_docker
  image: docker:stable
  services:
  - docker:stable-dind
  script:
  ...

api-gateway_deploy:
  stage: deploy
  tags:
  - internal-runner
  image:
    name: registry.gitlab.com/gogowego-devsecops/dev/prisme.ai-infra:latest
    entrypoint:
    - /bin/sh
    - -c
  script:
  ...

events_test:
  stage: test
  script:
  - "if ! [[ -d node_modules/ ]] ; then\n  BUILD_PACKAGES=0 npm ci\nfi\n"
  - npm run build:packages
  - npm test -- $DIRECTORY
  coverage: /All files\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)/
  artifacts:
    paths:
    - coverage
  cache:
    key:
      files:
  ...

Add 4 preset event filters
  services/console/components/Activities/presetFilters.ts
  services/console/public/locales/en/workspaces.json
  services/console/public/locales/fr/workspaces.json
Due: console_check, console_test, console_build_docker, console_deploy

Fix backend deps build with new gitlab-ci rules
  .gitlab-ci.yml
  services/events/Dockerfile
Due: events_test, events_build_docker, events_deploy

Load external module schema
  packages/blocks/lib/index.ts
  services/console/components/SchemaForm/BlockSelector.tsx
Due: backend_npm_install, console_check, console_test, console_build_docker, console_deploy

Fix datatable schema form for actions
  packages/blocks/lib/Blocks/DataTable/DataTable.tsx
  packages/blocks/lib/Blocks/DataTable/RenderValue.tsx
  packages/blocks/lib/Blocks/DataTable/types.ts
  services/console/components/PageBuilder/Panel/EditSchema/DataTable.tsx
  services/console/components/PageBuilder/Panel/EditSchema/eventOrLink.tsx
  services/console/public/locales/en/workspaces.json
  services/console/public/locales/fr/workspaces.json
Due: backend_npm_install, console_check, console_test, console_build_docker, console_deploy

Activities is stoped by default. Ability to start real time loading and reload last events.
  services/console/__mocks__/@ant-design/icons.js
  services/console/components/Activities/Activities.tsx
  services/console/components/Activities/__snapshots__/Activities.test.tsx.snap
  services/console/providers/Events/EventsProvider.test.tsx
  services/console/providers/Events/EventsProvider.tsx
  services/console/providers/Events/eventsContextValue.mock.ts
  services/console/public/locales/fr/workspaces.json
Due: console_check, console_test, console_build_docker, console_deploy

Fix pages tests
  services/pages/components/Page/BlockLoader.test.tsx
  services/pages/components/Page/usePageEvents.test.tsx
Due: none

Fix crash when previewing a Cards Block with a localized title
  packages/blocks/lib/Blocks/Cards/Cards.tsx
Due: backend_npm_install

Re-activate pages tests
  .gitlab-ci.yml
Due: none

On creation, add owner.id to workspace/page permissions
  .gitlab-ci.yml
  packages/permissions/lib/accessManager.ts
Due: backend_npm_install

Fix datatable values display
  packages/blocks/lib/Blocks/DataTable/DataTable.tsx
Due: backend_npm_install

Form is able to set values from server and avoid flooding submit
  packages/blocks/lib/Blocks/Form.stories.tsx
  packages/blocks/lib/Blocks/Form.tsx
  services/console/components/PageBuilder/Panel/EditSchema/Form.tsx
  services/console/public/locales/fr/workspaces.json
Due: backend_npm_install, console_check, console_test, console_build_docker, console_deploy

Fix emptying fields in Page builder forms
  services/console/components/PageBuilder/Panel/Settings.tsx
  services/console/utils/objects.test.ts
  services/console/utils/objects.ts
Due: console_check, console_test, console_build_docker, console_deploy

Fix app name udpated
  services/console/components/PublishModal.tsx
  services/console/styles/globals.css
Due: console_check, console_test, console_build_docker, console_deploy

Display app slug instead of name in Store
  services/console/views/AppsStore/AppsStore.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Compute autocomplete emits from appInstances
  packages/types/index.d.ts
  services/workspaces/src/services/apps/crud/apps.ts
  services/workspaces/src/services/workspaces/crud/appInstances.test.ts
  services/workspaces/src/services/workspaces/crud/appInstances.ts
  services/workspaces/src/services/workspaces/crud/automations.test.ts
  services/workspaces/src/utils/extractEvents.ts
  specifications/swagger.yml
Due: backend_npm_install, workspaces_build_docker, workspaces_deploy, docs_build_static, docs_deploy

Missing translations
  services/console/public/locales/en/workspaces.json
Due: console_check, console_test, console_build_docker, console_deploy

Command to check if english translations are sync with fr
  package.json
  scripts/checkTranslations.ts
Due: none

:bug: Allow to localize a tag from Buttons block.
  packages/blocks/lib/Blocks/Buttons.tsx
Due: backend_npm_install

Check translations in ci
  .gitlab-ci.yml
  package.json
Due: none

Fix cleaning arrays
  services/console/utils/objects.test.ts
  services/console/utils/objects.ts
Due: console_check, console_test, console_build_docker, console_deploy

Settings must be shallow merged
  packages/blocks/lib/Blocks/Form.tsx
  services/console/components/PageBuilder/Panel/Settings.tsx
  services/console/utils/objects.test.ts
  services/console/utils/objects.ts
Due: backend_npm_install, console_check, console_test, console_build_docker, console_deploy

Fix reset form
  packages/blocks/lib/Blocks/Form.tsx
Due: backend_npm_install

Quick fix automatic add of unknown role 'owner' to objects other than workspace
  services/workspaces/Dockerfile
  services/workspaces/src/permissions/config.ts
Due: workspaces_test, workspaces_build_docker, workspaces_deploy

Fix reseting automation in Block settings
  services/console/components/PageBuilder/Panel/Settings.tsx
  services/console/utils/objects.test.ts
  services/console/utils/objects.ts
Due: console_check, console_test, console_build_docker, console_deploy

Fix saving block settings
  services/console/components/PageBuilder/Panel/Settings.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Fix navigation between pages
  services/pages/components/Page/usePageFetcher.ts
Due: none

Save current workspace page url as absolute instead of canonical
  services/console/components/SchemaForm/useSchema.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Fix telling page it's in preview mode
  services/pages/views/Page.tsx
Due: none

Fix tests
  services/console/components/SchemaForm/useSchema.test.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Fix update imports events autocompletes list
  services/console/components/SchemaForm/useSchema.tsx
  services/console/providers/Workspace/updateOnEvents.test.ts
  services/console/providers/Workspace/updateOnEvents.ts
Due: console_check, console_test, console_build_docker, console_deploy

Fix update switch value in Datatable
  packages/blocks/lib/Blocks/DataTable/DataTable.stories.tsx
  packages/blocks/lib/Blocks/DataTable/EditableCell.tsx
  packages/blocks/lib/Blocks/DataTable/RenderValue.tsx
Due: backend_npm_install

Some missing test
  packages/blocks/lib/Blocks/__snapshots__/RichText.test.tsx.snap
Due: backend_npm_install

Avoid init Block more than one time
  services/pages/components/Page/BlockLoader.tsx
Due: none

Fix clicking actions buttons in datatable
  packages/blocks/lib/Blocks/DataTable/DataTable.tsx
  packages/blocks/lib/Blocks/DataTable/RenderValue.tsx
  packages/blocks/lib/Blocks/DataTable/types.ts
Due: backend_npm_install

Give workpace host to Blocks accross BlocksProvider
  packages/blocks/lib/Blocks/RichText.test.tsx
  packages/blocks/lib/Blocks/__snapshots__/RichText.test.tsx.snap
  packages/blocks/lib/Provider/BlocksProvider.tsx
  packages/blocks/lib/Provider/blocksContext.ts
  services/console/components/BlocksProvider.tsx
  services/console/layouts/WorkspaceLayout/WorkspaceLayout.test.tsx
  services/console/layouts/WorkspaceLayout/WorkspaceLayout.tsx
  services/console/pages/_app.tsx
Due: backend_npm_install, console_check, console_test, console_build_docker, console_deploy

Oups
  packages/blocks/lib/Provider/BlocksProvider.tsx
Due: backend_npm_install

Fix run/config contexts synchronization between automations when calling child automations
  services/runtime/src/services/runtime/contexts.ts
Due: runtime_test, runtime_build_docker, runtime_deploy

Blocks List block
  packages/blocks/lib/Blocks/BlocksList.stories.tsx
  packages/blocks/lib/Blocks/BlocksList.test.tsx
  packages/blocks/lib/Blocks/BlocksList.tsx
  packages/blocks/lib/Blocks/Hero/Hero.tsx
  packages/blocks/lib/Blocks/__snapshots__/BlocksList.test.tsx.snap
  packages/blocks/lib/Blocks/index.ts
  packages/design-system/styles/prismeai-theme.less
  services/console/components/FieldContainerWithRaw.tsx
  services/console/components/PageBuilder/Panel/EditSchema/BlocksList.tsx
  services/console/components/PageBuilder/Panel/EditSchema/Hero.tsx
  services/console/components/PageBuilder/Panel/EditSchema/getEditSchema.ts
  services/console/components/SchemaForm/BlockSelector.tsx
  services/console/public/images/blocks/preview-BlocksList.png
  services/console/public/locales/en/workspaces.json
  services/console/public/locales/fr/workspaces.json
  services/console/styles/globals.css
  services/pages/styles/globals.css
Due: backend_npm_install, console_check, console_test, console_build_docker, console_deploy

Move className as a common property
  packages/blocks/lib/Blocks/BlocksList.tsx
  packages/blocks/lib/Blocks/StackedNavigation/Content.tsx
  packages/blocks/lib/Blocks/StackedNavigation/__snapshots__/Content.test.tsx.snap
  packages/blocks/lib/Blocks/StackedNavigation/__snapshots__/Head.test.tsx.snap
  packages/blocks/lib/Blocks/__snapshots__/BlocksList.test.tsx.snap
  services/console/components/PageBuilder/Panel/EditSchema/BlocksList.tsx
  services/console/components/PageBuilder/Panel/EditSchema/commonSchema.tsx
  services/console/public/locales/en/workspaces.json
  services/console/public/locales/fr/workspaces.json
Due: backend_npm_install, console_check, console_test, console_build_docker, console_deploy

Fix check translations script
  scripts/checkTranslations.ts
Due: none

Path conditions:
  backend_npm_install: any of: services/api-gateway/package.json, services/runtime/package.json, services/workspaces/package.json, services/events/package.json, packages/**/*
  console_check: any of: services/console/**/*
  console_test: any of: services/console/**/*
  console_build_docker: any of: services/console/**/*
  console_deploy: any of: services/console/**/*
  workspaces_test: any of: services/workspaces/*
  workspaces_build_docker: any of: services/workspaces/**/*
  workspaces_deploy: any of: services/workspaces/**/*
  runtime_test: any of: services/runtime/**/*
  runtime_build_docker: any of: services/runtime/**/*
  runtime_deploy: any of: services/runtime/**/*
  api-gateway_build_docker: any of: services/api-gateway/**/*
  api-gateway_deploy: any of: services/api-gateway/**/*
  events_test: any of: services/events/**/*
  events_build_docker: any of: services/events/**/*
  events_deploy: any of: services/events/**/*
  docs_build_static: any of: docs/**/*, specifications/*
  docs_deploy: any of: docs/**/*, specifications/*
