Repository HP319193/prisme.ai: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend_npm_install, console_check, console_test, console_build_docker, console_deploy, workspaces_test, workspaces_build_docker, workspaces_deploy, runtime_test, runtime_build_docker, runtime_deploy, api-gateway_build_docker, api-gateway_deploy, events_test, events_build_docker, events_deploy, docs_build_static, docs_deploy

Path conditions:
  backend_npm_install: any of: services/api-gateway/package.json, services/runtime/package.json, services/workspaces/package.json, services/events/package.json, packages/**/*
  console_check: any of: services/console/**/*
  console_test: any of: services/console/**/*
  console_build_docker: any of: services/console/**/*
  console_deploy: any of: services/console/**/*
  workspaces_test: any of: services/workspaces/*
  workspaces_build_docker: any of: services/workspaces/**/*
  workspaces_deploy: any of: services/workspaces/**/*
  runtime_test: any of: services/runtime/**/*
  runtime_build_docker: any of: services/runtime/**/*
  runtime_deploy: any of: services/runtime/**/*
  api-gateway_build_docker: any of: services/api-gateway/**/*
  api-gateway_deploy: any of: services/api-gateway/**/*
  events_test: any of: services/events/**/*
  events_build_docker: any of: services/events/**/*
  events_deploy: any of: services/events/**/*
  docs_build_static: any of: docs/**/*, specifications/*
  docs_deploy: any of: docs/**/*, specifications/*

Fade scroll suggestions cards
  services/console/__mocks__/@ant-design/icons.js
  services/console/components/FadeScroll.test.tsx
  services/console/components/FadeScroll.tsx
  services/console/components/Workspaces/CardButton.tsx
  services/console/components/__snapshots__/FadeScroll.test.tsx.snap
  services/console/views/Workspaces.tsx
  services/console/views/__snapshots__/Workspaces.test.tsx.snap
Due: console_check, console_test, console_build_docker, console_deploy

Filters
  packages/design-system/lib/Components/StretchContent.stories.tsx
  packages/design-system/styles/prismeai-theme.less
  packages/design-system/tsconfig.json
  packages/sdk/lib/types.ts
  services/console/components/EventsViewer/EventsViewer.tsx
  services/console/components/EventsViewer/FilterEventsPopover.tsx
  services/console/components/EventsViewer/Filters.tsx
  services/console/components/EventsViewer/presetFilters.ts
  services/console/components/HorizontalSeparatedNav.tsx
  services/console/components/ObjectInput.tsx
  services/console/components/QueryStringProvider.tsx
  services/console/components/WorkspaceProvider/Provider.tsx
  services/console/components/Workspaces/CardButton.tsx
  services/console/pages/_app.tsx
  services/console/public/locales/fr/workspaces.json
  services/console/styles/globals.css
  services/console/utils/prismeAi.ts
  services/console/views/Apps.tsx
  services/console/views/Automation.tsx
  services/console/views/Page/PageRenderer.tsx
Due: backend_npm_install, console_check, console_test, console_build_docker, console_deploy

Hover on all cards variants
  packages/blocks/lib/Blocks/Cards/Variants/Actions.tsx
  packages/blocks/lib/Blocks/Cards/Variants/Article.tsx
  packages/blocks/lib/Blocks/Cards/Variants/Short.tsx
  packages/blocks/lib/Blocks/Cards/Variants/Square.tsx
Due: backend_npm_install

Fix Links in Page
  packages/blocks/lib/Blocks/Layout/__snapshots__/Head.test.tsx.snap
  packages/blocks/lib/Blocks/RichText.tsx
  packages/blocks/lib/Blocks/__snapshots__/RichText.test.tsx.snap
  packages/blocks/lib/Provider/defaultComponents.tsx
  services/console/views/Page/Page.tsx
  services/pages/components/BlocksProvider/Link.tsx
Due: backend_npm_install, console_check, console_test, console_build_docker, console_deploy

Fix tabs titles
  services/console/components/PageBuilder/Panel/Settings.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Fix padding on trigger and ouput forms
  services/console/components/AutomationBuilder/Panel/OutputForm.tsx
  services/console/components/AutomationBuilder/Panel/TriggerForm.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Remove ellipsis on editable title
  services/console/components/AutomationBuilder/EditableTitle.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Change + button in navigation
  services/console/components/AutomationBuilder/Panel/__snapshots__/OutputForm.test.tsx.snap
  services/console/components/AutomationBuilder/Panel/__snapshots__/TriggerForm.test.tsx.snap
  services/console/layouts/WorkspaceLayout/Navigation.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Reduce size of expand sidebar button
  services/console/layouts/WorkspaceLayout/WorkspaceLayout.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Fix nav link style in sidebar
  services/console/layouts/WorkspaceLayout/Navigation.tsx
  services/console/layouts/WorkspaceLayout/WorkspaceLayout.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Fix search button style
  services/console/layouts/WorkspaceLayout/SearchInput.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Fix search in nav styles and highlights
  services/console/components/Highlight/Highlight.test.tsx
  services/console/components/Highlight/Highlight.tsx
  services/console/components/Highlight/__snapshots__/Highlight.test.tsx.snap
  services/console/components/Highlight/index.ts
  services/console/components/Highlight/tokenize.test.ts
  services/console/components/Highlight/tokenize.ts
  services/console/layouts/WorkspaceLayout/Navigation.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Change magnifier icon
  services/console/icons/magnifier.svgr
  services/console/layouts/WorkspaceLayout/SearchInput.tsx
  services/console/views/Workspaces.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Margin in workspace menu
  services/console/components/Workspaces/WorkspaceMenu.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Translation
  services/console/public/locales/en/sign.json
Due: console_check, console_test, console_build_docker, console_deploy

Hover effect on Workspace buttons
  services/console/components/Workspaces/CardButton.tsx
  services/console/views/__snapshots__/Workspaces.test.tsx.snap
Due: console_check, console_test, console_build_docker, console_deploy

Fix crash
  services/console/components/SourceDetails.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Order workspaces by updatedAt order
  services/console/views/Workspaces.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Save page title on enter key
  services/console/views/Page/PageRenderer.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Change wording
  services/console/public/locales/en/workspaces.json
  services/console/public/locales/fr/workspaces.json
Due: console_check, console_test, console_build_docker, console_deploy

Fix i18n in Blocks
  packages/blocks/lib/BlockLoader.tsx
  packages/blocks/lib/i18n.tsx
Due: backend_npm_install

Missing translations
  services/console/public/locales/en/workspaces.json
Due: console_check, console_test, console_build_docker, console_deploy

Typo
  services/console/public/locales/en/workspaces.json
  services/console/public/locales/fr/workspaces.json
Due: console_check, console_test, console_build_docker, console_deploy

Fix loading events
  services/console/components/EventsViewer/EventsViewer.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Fix dates filter format
  services/console/components/EventsViewer/Filters.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Fix shadows in suggestions
  services/console/views/Workspaces.tsx
  services/console/views/__snapshots__/Workspaces.test.tsx.snap
Due: console_check, console_test, console_build_docker, console_deploy

Fix nav position in suggestions
  services/console/components/FadeScroll.tsx
  services/console/components/__snapshots__/FadeScroll.test.tsx.snap
  services/console/views/Workspaces.tsx
  services/console/views/__snapshots__/Workspaces.test.tsx.snap
Due: console_check, console_test, console_build_docker, console_deploy

added preview button image
  services/console/public/images/blocks/preview-Buttons.png
Due: console_check, console_test, console_build_docker, console_deploy

Fixed buttons height with /new/ font size
  packages/design-system/styles/prismeai-theme.less
Due: backend_npm_install

Added tag and unselected prop to buttons
  packages/design-system/lib/Components/Button.stories.tsx
  packages/design-system/lib/Components/Button.tsx
Due: backend_npm_install

Buttons block
  packages/blocks/lib/Blocks/Buttons.stories.tsx
  packages/blocks/lib/Blocks/Buttons.tsx
Due: backend_npm_install

moved "action" props handling outside of Cards
  packages/blocks/lib/Blocks/ActionOrLink.tsx
  packages/blocks/lib/Blocks/Cards/Cards.stories.tsx
  packages/blocks/lib/Blocks/Cards/Variants/Article.tsx
  packages/blocks/lib/Blocks/Cards/Variants/Short.tsx
  packages/blocks/lib/Blocks/Cards/Variants/Square.tsx
  packages/blocks/lib/Blocks/Cards/types.ts
Due: backend_npm_install

Buttons group uses ActionOrLink component
  packages/blocks/lib/Blocks/Buttons.stories.tsx
  packages/blocks/lib/Blocks/Buttons.tsx
Due: backend_npm_install

Enhanced primary button tag, preview images added
  packages/blocks/lib/Blocks/Buttons.stories.tsx
  packages/design-system/lib/Components/Button.tsx
  services/console/components/PageBuilder/builtinBlocksVariants.ts
  services/console/public/images/blocks/preview-Buttons-simple.png
  services/console/public/images/blocks/preview-Buttons-tag.png
  services/console/public/locales/en/workspaces.json
  services/console/public/locales/es/workspaces.json
  services/console/public/locales/fr/workspaces.json
Due: backend_npm_install, console_check, console_test, console_build_docker, console_deploy

Added schema edition for Buttons block
  packages/blocks/lib/Blocks/Buttons.tsx
  packages/blocks/lib/Blocks/index.ts
  packages/design-system/lib/Components/Button.tsx
  packages/design-system/tailwind.config.cjs
  services/console/components/PageBuilder/Panel/EditSchema/Buttons.tsx
  services/console/components/PageBuilder/Panel/EditSchema/CardsVariant/article.tsx
  services/console/components/PageBuilder/Panel/EditSchema/CardsVariant/short.tsx
  services/console/components/PageBuilder/Panel/EditSchema/CardsVariant/square.tsx
  services/console/components/PageBuilder/Panel/EditSchema/eventOrLink.tsx
  services/console/components/PageBuilder/Panel/EditSchema/getEditSchema.ts
  services/console/components/PageBuilder/builtinBlocksVariants.ts
  services/console/public/images/blocks/preview-Buttons-simple.png
  services/console/public/images/blocks/preview-Buttons-tag.png
  services/console/public/locales/en/workspaces.json
  services/console/public/locales/fr/workspaces.json
Due: backend_npm_install, console_check, console_test, console_build_docker, console_deploy

Fixed card popup not working anymore
  packages/blocks/lib/Blocks/Cards/ActionOrLink.tsx
Due: backend_npm_install

Websocket query filters now support beginning or ending wildcards
  services/events/src/services/events/Subscriptions.ts
Due: events_test, events_build_docker, events_deploy

Added an option.persist field to emit instruction to allow disabling event persistance (enabled by default)
  packages/broker/lib/events/eventsFactory.ts
  packages/types/index.d.ts
  services/events/src/app.ts
  services/runtime/src/services/runtime/automations/instructions/emit.ts
  specifications/swagger.yml
Due: backend_npm_install, runtime_test, runtime_build_docker, runtime_deploy, events_test, events_build_docker, events_deploy, docs_build_static, docs_deploy

Use css variable for colors
  packages/blocks/lib/tw.ts
  packages/design-system/lib/Components/Button.tsx
  packages/design-system/styles/prismeai-theme.less
  services/console/components/PagesProvider/PagesProvider.tsx
Due: backend_npm_install, console_check, console_test, console_build_docker, console_deploy

Added a new workspaces.suspended event to suspend a workspace runtime
  .gitlab-ci.yml
  packages/broker/lib/__mocks__/broker.ts
  packages/broker/lib/broker.ts
  packages/broker/lib/events/validator.ts
  packages/types/index.d.ts
  packages/validation/instructions.json
  services/events/Dockerfile
  services/events/src/permissions/config.ts
  services/events/src/services/events/send.ts
  services/runtime/Dockerfile
  services/runtime/src/eda/index.ts
  services/runtime/src/errors/index.ts
  services/runtime/src/services/runtime/automations/index.test.ts
  services/runtime/src/services/runtime/automations/index.ts
  services/runtime/src/services/runtime/automations/instructions/emit.ts
  services/runtime/src/services/runtime/contexts.ts
  services/runtime/src/services/runtime/index.ts
  services/runtime/src/services/workspaces/workspace.ts
  services/runtime/src/services/workspaces/workspaces.ts
  services/workspaces/Dockerfile
  specifications/swagger.yml
Due: backend_npm_install, workspaces_test, workspaces_build_docker, workspaces_deploy, runtime_test, runtime_build_docker, runtime_deploy, events_test, events_build_docker, events_deploy, docs_build_static, docs_deploy
