Repository HP319193/prisme.ai: changes, and which GitLab CI jobs are due for each by the changed paths.
All: npm_install, console_test, console_build_docker, console_deploy, workspaces_build_docker, workspaces_deploy, runtime_build_docker, runtime_deploy, api-gateway_build_docker, api-gateway_deploy, events_test, events_build_docker, events_deploy

npm_install:
  stage: dependencies
  image: docker:stable
  services:
  - docker:stable-dind
  script:
  ...

console_test:
  interruptible: true
  stage: test
  script:
  - "if ! [[ -d node_modules/ ]] ; then\n  BUILD_PACKAGES=0 npm ci\nfi\n"
  - npm run build:packages
  - npm test --prefix $DIRECTORY
  coverage: /All files\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)/
  artifacts:
    paths:
    - coverage
  cache:
  ...

console_build_docker:
  interruptible: true
  stage: build_docker
  image: docker:stable
  services:
  - docker:stable-dind
  script:
  ...

console_deploy:
  stage: deploy
  tags:
  - internal-runner
  image:
    name: registry.gitlab.com/gogowego-devsecops/dev/prisme.ai-infra:latest
    entrypoint:
    - /bin/sh
    - -c
  script:
  ...

workspaces_build_docker:
  interruptible: true
  stage: build_docker
  image: docker:stable
  services:
  - docker:stable-dind
  script:
  ...

workspaces_deploy:
  stage: deploy
  tags:
  - internal-runner
  image:
    name: registry.gitlab.com/gogowego-devsecops/dev/prisme.ai-infra:latest
    entrypoint:
    - /bin/sh
    - -c
  script:
  ...

runtime_build_docker:
  interruptible: true
  stage: build_docker
  image: docker:stable
  services:
  - docker:stable-dind
  script:
  ...

runtime_deploy:
  stage: deploy
  tags:
  - internal-runner
  image:
    name: registry.gitlab.com/gogowego-devsecops/dev/prisme.ai-infra:latest
    entrypoint:
    - /bin/sh
    - -c
  script:
  ...

api-gateway_build_docker:
  interruptible: true
  stage: build_docker
  image: docker:stable
  services:
  - docker:stable-dind
  script:
  ...

api-gateway_deploy:
  stage: deploy
  tags:
  - internal-runner
  image:
    name: registry.gitlab.com/gogowego-devsecops/dev/prisme.ai-infra:latest
    entrypoint:
    - /bin/sh
    - -c
  script:
  ...

events_test:
  interruptible: true
  stage: test
  script:
  - "if ! [[ -d node_modules/ ]] ; then\n  BUILD_PACKAGES=0 npm ci\nfi\n"
  - npm run build:packages
  - npm test --prefix $DIRECTORY
  coverage: /All files\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)/
  artifacts:
    paths:
    - coverage
  cache:
  ...

events_build_docker:
  interruptible: true
  stage: build_docker
  image: docker:stable
  services:
  - docker:stable-dind
  script:
  ...

events_deploy:
  stage: deploy
  tags:
  - internal-runner
  image:
    name: registry.gitlab.com/gogowego-devsecops/dev/prisme.ai-infra:latest
    entrypoint:
    - /bin/sh
    - -c
  script:
  ...

Authenticated access
  packages/sdk/lib/fetcher.ts
  packages/sdk/lib/types.ts
  services/console/components/PermissionsProvider/Provider.tsx
  services/console/components/SigninForm.tsx
  services/console/components/UserProvider/Provider.tsx
  services/console/components/UserProvider/context.ts
  services/console/pages/_app.tsx
  services/console/pages/page/[pageSlug].ts
  services/console/public/locales/fr/pages.json
  services/console/views/PublicPage.tsx
  services/console/views/Sign/In.test.tsx
  services/console/views/Sign/In.tsx
Due: npm_install, console_test, console_build_docker, console_deploy

Fix permissions
  services/console/components/PermissionsProvider/Provider.tsx
  services/console/components/Share/SharePage.tsx
  services/console/pages/_app.tsx
  services/console/views/Page.tsx
  services/console/views/PublicPage.tsx
Due: console_test, console_build_docker, console_deploy

Fetch page by slug
  packages/sdk/lib/api.ts
  services/console/pages/page/[pageSlug].ts
  services/console/views/PublicPage.tsx
  services/workspaces/src/api/routes/pages.ts
Due: npm_install, console_test, console_build_docker, console_deploy, workspaces_build_docker, workspaces_deploy

Fix type
  services/console/components/UserProvider/context.ts
Due: console_test, console_build_docker, console_deploy

Force rebuilding services
  services/console/Dockerfile
  services/events/Dockerfile
  services/runtime/Dockerfile
  services/workspaces/Dockerfile
Due: console_test, console_build_docker, console_deploy, workspaces_build_docker, workspaces_deploy, runtime_build_docker, runtime_deploy, events_test, events_build_docker, events_deploy

Update types
  packages/types/index.d.ts
Due: npm_install

Save slug
  services/console/components/Share/SharePage.tsx
  services/console/public/locales/fr/workspaces.json
  services/console/views/Page.tsx
  services/workspaces/src/services/workspaces/crud/pages.ts
Due: console_test, console_build_docker, console_deploy, workspaces_build_docker, workspaces_deploy

fix tsc
  packages/permissions/lib/accessManager.ts
  services/workspaces/src/services/workspaces/crud/pages.ts
Due: npm_install, workspaces_build_docker, workspaces_deploy

WIP
  packages/permissions/lib/accessManager.ts
  services/console/pages/page/[pageSlug].ts
Due: npm_install, console_test, console_build_docker, console_deploy

AccessManager also fetches related object roles on accessManager.can & filterSubjectsBy methods. Remove last manual calls to accessManager.pullRoleFromSubject() from workspace & events services
  packages/permissions/lib/accessManager.ts
  packages/permissions/lib/api/initCollaboratorRoutes.ts
  packages/permissions/lib/schemas.ts
  packages/permissions/lib/utils/extractObjectsByPath.ts
  packages/permissions/lib/utils/index.ts
  services/events/src/api/middlewares/accessManager.ts
  services/events/src/api/routes/events.ts
  services/events/src/services/events/Subscriptions.ts
  services/workspaces/src/api/app.ts
  services/workspaces/src/api/middlewares/accessManager.ts
  services/workspaces/src/permissions/middleware.ts
Due: npm_install, workspaces_build_docker, workspaces_deploy, events_test, events_build_docker, events_deploy

Change pages path
  services/console/pages/pages/[pageSlug].ts
Due: console_test, console_build_docker, console_deploy

Remove debug
  services/console/utils/debug.ts
  services/console/views/Workspace.tsx
Due: console_test, console_build_docker, console_deploy

fix workspace/page sparse & unique slug
  services/workspaces/src/permissions/index.ts
  services/workspaces/src/services/workspaces/crud/workspaces.ts
Due: workspaces_build_docker, workspaces_deploy

Display meta data
  services/console/views/PublicPage.tsx
Due: console_test, console_build_docker, console_deploy

Set page slug
  packages/types/index.d.ts
  services/console/public/locales/fr/workspaces.json
  services/console/views/Page.tsx
  services/workspaces/src/permissions/index.ts
  specifications/swagger.yml
Due: npm_install, console_test, console_build_docker, console_deploy, workspaces_build_docker, workspaces_deploy

Remove duplicate buttons
  services/console/views/AppsSidebar.tsx
  services/console/views/AutomationsSidebar.tsx
  services/console/views/PagesSidebar.tsx
  services/console/views/__snapshots__/AppsSidebar.test.tsx.snap
  services/console/views/__snapshots__/PagesSidebar.test.tsx.snap
  services/console/views/__snapshots__/Workspace.test.tsx.snap
Due: console_test, console_build_docker, console_deploy

Rename endpoint trigger wording
  services/console/public/locales/en/workspaces.json
Due: console_test, console_build_docker, console_deploy

Updated design-system components to use floatingLabel.tsx generic component
  packages/design-system/lib/Components/DatePicker.stories.tsx
  packages/design-system/lib/Components/DatePicker.tsx
  packages/design-system/lib/Components/Input.tsx
  packages/design-system/lib/Components/Internal/FloatingLabel.tsx
  packages/design-system/lib/Components/Select.tsx
Due: npm_install

Fix pagination for event feed using Page and Limit query parameters
  services/console/components/EventsViewer/EventsViewer.tsx
  services/console/components/EventsViewer/FilterEventsPopover.tsx
  services/console/components/useScrollListener.ts
  services/console/layouts/WorkspaceLayout/WorkspaceLayout.tsx
  services/console/layouts/WorkspaceLayout/context.ts
Due: console_test, console_build_docker, console_deploy

Collapse can take classname
  packages/design-system/lib/Components/Collapse.tsx
  services/console/components/EventsViewer/FilterEventsPopover.tsx
Due: npm_install, console_test, console_build_docker, console_deploy

Removed unused sdk eventsFilters
  packages/sdk/lib/api.ts
  packages/sdk/lib/events.ts
Due: npm_install

Moved EventsFilters type to packages/types/additional.d.ts
  packages/sdk/lib/events.ts
  packages/sdk/lib/types.ts
  packages/types/additional.d.ts
  services/console/layouts/WorkspaceLayout/WorkspaceLayout.tsx
  services/console/layouts/WorkspaceLayout/context.ts
  services/console/utils/prismeAi.ts
Due: npm_install, console_test, console_build_docker, console_deploy

SchemaForm support additionalProperties at root
  services/console/components/SchemaForm/Field.tsx
  services/console/components/SchemaForm/Form.tsx
  services/console/components/SchemaForm/Layout.tsx
Due: console_test, console_build_docker, console_deploy

Added basic filter box for correlationId only
  packages/sdk/lib/api.ts
  packages/sdk/lib/events.ts
  packages/sdk/lib/types.ts
  services/console/components/EventsViewer/EventsViewer.tsx
  services/console/components/EventsViewer/FilterEventsPopover.tsx
  services/console/layouts/WorkspaceLayout/WorkspaceLayout.tsx
  services/console/layouts/WorkspaceLayout/context.ts
  services/console/public/locales/en/workspaces.json
  services/console/public/locales/es/workspaces.json
  services/console/public/locales/fr/workspaces.json
Due: npm_install, console_test, console_build_docker, console_deploy

Moved EventsFilters type to sdk package
  packages/sdk/lib/events.ts
  packages/sdk/lib/types.ts
  packages/types/additional.d.ts
  services/console/layouts/WorkspaceLayout/WorkspaceLayout.tsx
  services/console/layouts/WorkspaceLayout/context.ts
  services/console/utils/prismeAi.ts
Due: npm_install, console_test, console_build_docker, console_deploy

Filter for all the key:values of the payload
  services/console/components/EventsViewer/EventsViewer.test.tsx
  services/console/components/EventsViewer/EventsViewer.tsx
  services/console/components/EventsViewer/FilterEventsPopover.tsx
  services/console/components/SchemaForm/Field.tsx
  services/console/components/SchemaForm/Form.tsx
  services/console/layouts/WorkspaceLayout/context.ts
  services/console/public/locales/en/workspaces.json
  services/console/public/locales/es/workspaces.json
  services/console/public/locales/fr/workspaces.json
  services/console/utils/prismeAi.ts
  services/console/views/Workspace.test.tsx
Due: console_test, console_build_docker, console_deploy

Increased datePicker input height
  packages/design-system/lib/Components/DatePicker.tsx
Due: npm_install

Adjusted schemaForm layout margins
  services/console/components/SchemaForm/LayoutColumns.tsx
  services/console/layouts/Field.tsx
Due: console_test, console_build_docker, console_deploy

Filters dont apply to websocket anymore, and small filters UI fixes
  services/console/components/EventsViewer/FilterEventsPopover.tsx
  services/console/layouts/WorkspaceLayout/WorkspaceLayout.tsx
Due: console_test, console_build_docker, console_deploy

datePicker use proper label, codeEditor don't use placeholder anymore
  services/console/components/SchemaForm/Field.tsx
Due: console_test, console_build_docker, console_deploy

Codestyle fix, changed icon if nothing found with filters
  services/console/components/EventsViewer/EventsViewer.tsx
  services/console/public/locales/en/workspaces.json
  services/console/public/locales/fr/workspaces.json
Due: console_test, console_build_docker, console_deploy

Basic Date search for filters
  packages/design-system/lib/Components/DatePicker.stories.tsx
  packages/design-system/lib/Components/DatePicker.tsx
  packages/design-system/lib/index.ts
  services/console/components/EventsViewer/FilterEventsPopover.tsx
  services/console/components/SchemaForm/Field.tsx
Due: npm_install, console_test, console_build_docker, console_deploy

Added basic filter icon
  services/console/components/EventsViewer/EventsViewer.tsx
  services/console/public/locales/en/workspaces.json
  services/console/public/locales/es/workspaces.json
  services/console/public/locales/fr/workspaces.json
Due: console_test, console_build_docker, console_deploy

Working commit types on filter state
  services/console/layouts/WorkspaceLayout/context.ts
Due: console_test, console_build_docker, console_deploy

Small tweaks for MR, code style, i18n typo
  packages/design-system/lib/Components/Input.tsx
  packages/design-system/lib/Components/Internal/FloatingLabel.tsx
  services/console/components/EventsViewer/FilterEventsPopover.tsx
  services/console/public/locales/en/workspaces.json
Due: npm_install, console_test, console_build_docker, console_deploy

Filter layout adjustement
  services/console/components/EventsViewer/FilterEventsPopover.tsx
  services/console/public/locales/en/workspaces.json
  services/console/public/locales/fr/workspaces.json
Due: console_test, console_build_docker, console_deploy

changing filters replace websocket with updated one
  packages/sdk/lib/events.ts
  services/console/components/EventsViewer/FilterEventsPopover.tsx
  services/console/layouts/WorkspaceLayout/WorkspaceLayout.tsx
  services/console/views/AppsSidebar.tsx
Due: npm_install, console_test, console_build_docker, console_deploy

Fix tests
  services/console/components/AutomationBuilder/Panel/__snapshots__/ConditionForm.test.tsx.snap
  services/console/components/AutomationBuilder/Panel/__snapshots__/InstructionValue.test.tsx.snap
  services/console/components/AutomationBuilder/Panel/__snapshots__/OutputForm.test.tsx.snap
  services/console/components/AutomationBuilder/Panel/__snapshots__/TriggerForm.test.tsx.snap
  services/console/components/SchemaForm/Form.tsx
  services/console/components/SchemaForm/__snapshots__/Form.test.tsx.snap
  services/console/layouts/__snapshots__/Field.test.tsx.snap
  services/console/views/Sign/__snapshots__/In.test.tsx.snap
Due: console_test, console_build_docker, console_deploy

As a more generic replacement to the old 'until' field, changed wait instruction syntax to allow waiting for oneOf multiple events
  packages/types/index.d.ts
  services/runtime/config/runtime.ts
  services/runtime/src/services/runtime/index.ts
  specifications/swagger.yml
Due: npm_install, runtime_build_docker, runtime_deploy

Added wait cancelTriggers option
  packages/types/index.d.ts
  services/runtime/src/services/runtime/index.ts
  specifications/swagger.yml
Due: npm_install, runtime_build_docker, runtime_deploy

Path conditions:
  npm_install: any of: package-lock.json, packages/**/*
  console_test: any of: services/console/**/*
  console_build_docker: any of: services/console/**/*
  console_deploy: any of: services/console/**/*
  workspaces_build_docker: any of: services/workspaces/**/*
  workspaces_deploy: any of: services/workspaces/**/*
  runtime_build_docker: any of: services/runtime/**/*
  runtime_deploy: any of: services/runtime/**/*
  api-gateway_build_docker: any of: services/api-gateway/**/*
  api-gateway_deploy: any of: services/api-gateway/**/*
  events_test: any of: services/events/**/*
  events_build_docker: any of: services/events/**/*
  events_deploy: any of: services/events/**/*
