Repository HP319193/prisme.ai: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend_npm_install, console_check, console_test, console_build_docker, console_deploy, workspaces_test, workspaces_build_docker, workspaces_deploy, runtime_test, runtime_build_docker, runtime_deploy, api-gateway_build_docker, api-gateway_deploy, events_test, events_build_docker, events_deploy, docs_build_static, docs_deploy

Path conditions:
  backend_npm_install: any of: services/api-gateway/package.json, services/runtime/package.json, services/workspaces/package.json, services/events/package.json, packages/**/*
  console_check: any of: services/console/**/*
  console_test: any of: services/console/**/*
  console_build_docker: any of: services/console/**/*
  console_deploy: any of: services/console/**/*
  workspaces_test: any of: services/workspaces/*
  workspaces_build_docker: any of: services/workspaces/**/*
  workspaces_deploy: any of: services/workspaces/**/*
  runtime_test: any of: services/runtime/**/*
  runtime_build_docker: any of: services/runtime/**/*
  runtime_deploy: any of: services/runtime/**/*
  api-gateway_build_docker: any of: services/api-gateway/**/*
  api-gateway_deploy: any of: services/api-gateway/**/*
  events_test: any of: services/events/**/*
  events_build_docker: any of: services/events/**/*
  events_deploy: any of: services/events/**/*
  docs_build_static: any of: docs/**/*, specifications/*
  docs_deploy: any of: docs/**/*, specifications/*

Fix duplicate events autocompletions
  services/console/components/SchemaForm/useSchema.test.tsx
  services/console/components/SchemaForm/useSchema.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Fixed initial apps installation on workspace duplication
  services/runtime/src/services/workspaces/workspaces.ts
  services/workspaces/src/services/workspaces/crud/workspaces.ts
Due: workspaces_build_docker, workspaces_deploy, runtime_test, runtime_build_docker, runtime_deploy

Fix crash
  services/console/views/Automation.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Fix selected items in navigation
  services/console/layouts/WorkspaceLayout/Navigation.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Remove workspace from list after deleting
  services/console/providers/Workspace/WorkspaceProvider.tsx
  services/console/providers/Workspaces/WorkspacesProvider.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Disable duplicate button while loading it
  services/console/components/Workspaces/WorkspaceMenu.tsx
  services/console/providers/Workspaces/WorkspacesProvider.tsx
  services/console/views/Workspaces.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Notification after versionning and rollbacking
  services/console/components/Activities/Labels.tsx
  services/console/components/VersionModal.tsx
  services/console/public/locales/fr/workspaces.json
Due: console_check, console_test, console_build_docker, console_deploy

Refresh workspace after rollbacking
  services/console/components/Activities/Labels.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Fix behavior on saving AppInstance
  services/console/components/SourceEdit/SourceEdit.tsx
  services/console/views/AppInstance.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Sync appInstance with events
  services/console/providers/AppInstanceProvider/AppInstanceProvider.test.tsx
  services/console/providers/AppInstanceProvider/AppInstanceProvider.tsx
  services/console/views/AppInstance.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Should fix page preview in release env
  services/pages/components/Page/BlockLoader.tsx
  services/pages/components/Page/Page.test.tsx
  services/pages/components/Page/__snapshots__/BlockLoader.test.tsx.snap
  services/pages/components/Page/__snapshots__/Page.test.tsx.snap
  services/pages/components/Page/usePageEvents.ts
  services/pages/components/Page/usePageFetcher.ts
  services/pages/components/usePreview.ts
Due: none

Fix sending custom events from API or WS
  packages/broker/lib/broker.ts
  services/events/src/services/events/send.ts
  services/runtime/src/services/runtime/index.ts
Due: backend_npm_install, runtime_test, runtime_build_docker, runtime_deploy, events_test, events_build_docker, events_deploy

App search API : Replaced Mongodb operator with a simple regex as text indices cannot match partial words (i.e Dial instead of Dialog)
  services/workspaces/src/services/apps/crud/apps.ts
Due: workspaces_build_docker, workspaces_deploy

Refacto App provider
  packages/types/index.d.ts
  services/console/components/Activities/SectionContent.tsx
  services/console/components/AppsProvider/Provider.test.tsx
  services/console/components/AppsProvider/Provider.tsx
  services/console/components/AppsProvider/context.ts
  services/console/components/AppsProvider/index.ts
  services/console/components/Navigation/SearchInput.tsx
  services/console/components/PublishModal.tsx
  services/console/layouts/WorkspaceLayout/__snapshots__/WorkspaceLayout.test.tsx.snap
  services/console/pages/_app.tsx
  services/console/providers/Apps/AppsProvider.tsx
  services/console/providers/Events/EventsProvider.tsx
  services/console/utils/useBlockComponent.ts
  services/console/views/AppsStore.tsx
  services/console/views/AppsStore/AppsStore.tsx
  services/console/views/AppsStore/index.ts
  specifications/swagger.yml
Due: backend_npm_install, console_check, console_test, console_build_docker, console_deploy, docs_build_static, docs_deploy

Refacto Pages with Map
  services/console/components/AutomationBuilder/Panel/InstructionValue.tsx
  services/console/components/PageBuilder/PageBlocks.tsx
  services/console/components/PageBuilder/PageBuilder.tsx
  services/console/components/PageBuilder/Panel/PageEditBlockForm.tsx
  services/console/components/PageBuilder/Panel/Settings.tsx
  services/console/components/PageBuilder/context.ts
  services/console/components/PageBuilder/useBlockPageConfig.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Fix callback after saving appInstance
  packages/blocks/lib/BlockLoader.tsx
  services/console/providers/AppInstanceProvider/AppInstanceProvider.tsx
Due: backend_npm_install, console_check, console_test, console_build_docker, console_deploy

Fix refresh block when navigating pages
  services/console/components/PageBuilder/PageBuilder.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Fix margins
  services/console/views/Workspaces.tsx
  services/console/views/__snapshots__/Workspaces.test.tsx.snap
Due: console_check, console_test, console_build_docker, console_deploy

Fix creating item behavior
  services/console/layouts/WorkspaceLayout/WorkspaceLayout.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Fix reopening workspace popover after closing it
  packages/design-system/lib/Components/Popover.tsx
  services/console/components/HeaderWorkspace.tsx
  services/console/layouts/EditDetails.tsx
Due: backend_npm_install, console_check, console_test, console_build_docker, console_deploy

Fix warning when changing slug
  services/console/providers/AppInstanceProvider/AppInstanceProvider.tsx
  services/console/providers/Automation/AutomationProvider.tsx
  services/console/providers/Page/PageProvider.tsx
  services/console/providers/Workspace/workspaceContextValue.mock.ts
  services/console/utils/urls.test.ts
  services/console/utils/urls.ts
  services/console/views/AppInstance.tsx
  services/console/views/Automation.test.tsx
  services/console/views/Automation.tsx
  services/console/views/Page/Page.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Better behavior when creating pages and automations
  services/console/components/Navigation/ItemsGroup.tsx
  services/console/layouts/WorkspaceLayout/Navigation.tsx
  services/console/layouts/WorkspaceLayout/WorkspaceLayout.tsx
  services/console/providers/Workspace/WorkspaceProvider.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Remove warning in workspace editor
  services/console/views/WorkspaceSource.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Apps doc is back
  services/console/views/AppInstance.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Replace deprecated function
  services/console/components/SourceEdit/SourceEdit.tsx
  services/console/layouts/WorkspaceLayout/WorkspaceLayout.tsx
  services/console/utils/generateNewName.ts
  services/console/views/AppsStore/AppsStore.tsx
  services/console/views/Workspaces.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Refacto loading creating workspace
  services/console/providers/Workspaces/WorkspacesProvider.test.tsx
  services/console/providers/Workspaces/WorkspacesProvider.tsx
  services/console/views/Workspaces.tsx
  services/console/views/__snapshots__/Workspaces.test.tsx.snap
Due: console_check, console_test, console_build_docker, console_deploy

Missing some keys
  services/console/views/AppInstance.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Validate workspace slug syntax on PATCH
  services/workspaces/src/services/workspaces/crud/workspaces.ts
Due: workspaces_build_docker, workspaces_deploy

No longer return entire documentation page with appInstances but only its source workspaceSlug & slug
  services/workspaces/src/api/routes/appInstances.ts
  services/workspaces/src/permissions/index.ts
  services/workspaces/src/services/apps/crud/apps.ts
  services/workspaces/src/services/workspaces/crud/appInstances.test.ts
  services/workspaces/src/services/workspaces/crud/appInstances.ts
Due: workspaces_build_docker, workspaces_deploy

Fix crash with apps without automation
  services/console/components/Activities/SectionContent.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Workspace slug input
  services/console/components/HeaderWorkspace.tsx
  services/console/public/locales/en/workspaces.json
  services/console/public/locales/fr/workspaces.json
Due: console_check, console_test, console_build_docker, console_deploy

Fix navigating between pages
  services/console/components/PagePreview.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Avoid crashing graph when writing shit in editor
  services/console/components/AutomationBuilder/AutomationBuilder.tsx
  services/console/components/AutomationBuilder/flow.ts
Due: console_check, console_test, console_build_docker, console_deploy

Fix z-index of workspace source editor
  services/console/layouts/WorkspaceLayout/WorkspaceLayout.tsx
  services/console/layouts/WorkspaceLayout/__snapshots__/WorkspaceLayout.test.tsx.snap
Due: console_check, console_test, console_build_docker, console_deploy

Fix svgr icons
  services/console/layouts/WorkspaceLayout/AutomationIcon.tsx
  services/console/next.config.js
Due: console_check, console_test, console_build_docker, console_deploy

Fix instructions slug
  services/console/views/Automation.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Fix align
  services/console/components/Navigation/ItemsGroup.tsx
  services/console/components/Navigation/__snapshots__/ItemsGroup.test.tsx.snap
Due: console_check, console_test, console_build_docker, console_deploy

Save documentation field inside App db entry so we know if the documentation does not exist when getting an appInstance to avoid returning a false documentation page
  packages/types/index.d.ts
  services/runtime/src/services/runtime/automations/instructions/fetch.ts
  services/workspaces/src/permissions/index.ts
  services/workspaces/src/services/apps/crud/apps.ts
  services/workspaces/src/services/workspaces/crud/appInstances.ts
  specifications/swagger.yml
Due: backend_npm_install, workspaces_build_docker, workspaces_deploy, runtime_test, runtime_build_docker, runtime_deploy, docs_build_static, docs_deploy

Fix getting an appInstance for which we don't have access to the app code
  services/workspaces/src/api/routes/appInstances.ts
Due: workspaces_build_docker, workspaces_deploy

When renaming a workspace slug, wait 2 sec before deleting old DetailedPage folder as previous copy may not be entirely finished due to S3 eventual consistency
  services/workspaces/src/services/workspaces/crud/pages.ts
Due: workspaces_build_docker, workspaces_deploy
