Repository HP319193/prisme.ai: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend_npm_install, console_check, console_test, console_build_docker, console_deploy, workspaces_test, workspaces_build_docker, workspaces_deploy, runtime_test, runtime_build_docker, runtime_deploy, api-gateway_build_docker, api-gateway_deploy, events_test, events_build_docker, events_deploy, docs_build_static, docs_deploy

Path conditions:
  backend_npm_install: any of: services/api-gateway/package.json, services/runtime/package.json, services/workspaces/package.json, services/events/package.json, packages/**/*
  console_check: any of: services/console/**/*
  console_test: any of: services/console/**/*
  console_build_docker: any of: services/console/**/*
  console_deploy: any of: services/console/**/*
  workspaces_test: any of: services/workspaces/*
  workspaces_build_docker: any of: services/workspaces/**/*
  workspaces_deploy: any of: services/workspaces/**/*
  runtime_test: any of: services/runtime/**/*
  runtime_build_docker: any of: services/runtime/**/*
  runtime_deploy: any of: services/runtime/**/*
  api-gateway_build_docker: any of: services/api-gateway/**/*
  api-gateway_deploy: any of: services/api-gateway/**/*
  events_test: any of: services/events/**/*
  events_build_docker: any of: services/events/**/*
  events_deploy: any of: services/events/**/*
  docs_build_static: any of: docs/**/*, specifications/*
  docs_deploy: any of: docs/**/*, specifications/*

Fix header white background on nav
  packages/blocks/lib/Blocks/Header.tsx
Due: backend_npm_install

Made cards clickable
  packages/blocks/lib/Blocks/Cards/ActionOrLink.tsx
  packages/blocks/lib/Blocks/Cards/Cards.stories.tsx
  packages/blocks/lib/Blocks/Cards/Cards.tsx
  packages/blocks/lib/Blocks/Cards/Variants/Article.tsx
  packages/blocks/lib/Blocks/Cards/Variants/Short.tsx
  packages/blocks/lib/Blocks/Cards/Variants/Square.tsx
  packages/blocks/lib/Blocks/Cards/types.ts
  packages/blocks/lib/tw.ts
  services/console/components/PageBuilder/Panel/EditSchema/Cards.tsx
  services/console/components/PageBuilder/Panel/EditSchema/CardsVariant/actions.tsx
  services/console/components/PageBuilder/Panel/EditSchema/CardsVariant/article.tsx
  services/console/components/PageBuilder/Panel/EditSchema/CardsVariant/classic.tsx
  services/console/components/PageBuilder/Panel/EditSchema/CardsVariant/eventOrLink.tsx
  services/console/components/PageBuilder/Panel/EditSchema/CardsVariant/short.tsx
  services/console/components/PageBuilder/Panel/EditSchema/CardsVariant/square.tsx
  services/console/components/PagesProvider/PagesProvider.tsx
  services/console/public/locales/en/workspaces.json
  services/console/public/locales/fr/workspaces.json
Due: backend_npm_install, console_check, console_test, console_build_docker, console_deploy

:bug: Display the localized instruction name in the AutomationBuilder
  services/console/components/AutomationBuilder/AutomationBuilder.test.tsx
  services/console/components/AutomationBuilder/AutomationBuilder.tsx
  services/console/components/AutomationBuilder/Block.tsx
  services/console/components/AutomationBuilder/Panel/InstructionSelection.tsx
  services/console/components/AutomationBuilder/Panel/InstructionValue.tsx
  services/console/components/AutomationBuilder/context.ts
  services/console/next.config.js
  services/console/views/Automation.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Fix appInstances config patch
  services/workspaces/src/api/routes/appInstances.ts
Due: workspaces_build_docker, workspaces_deploy

force workspaces rebuild
  services/workspaces/Dockerfile
  services/workspaces/src/api/routes/appInstances.ts
Due: workspaces_test, workspaces_build_docker, workspaces_deploy

:wrench: Use img rather than Next's Image.
  services/console/components/AutomationBuilder/Panel/InstructionSelection.tsx
  services/console/components/AutomationBuilder/Panel/__snapshots__/InstructionSelection.test.tsx.snap
  services/console/next.config.js
Due: console_check, console_test, console_build_docker, console_deploy

Fix updating onChange when it changes
  packages/design-system/lib/Components/SchemaForm/SchemaForm.tsx
Due: backend_npm_install

Move the trash out of the field
  packages/design-system/lib/Components/SchemaForm/FieldArray.tsx
  packages/design-system/lib/Components/SchemaForm/OneOf.tsx
Due: backend_npm_install

Fix field object structure
  packages/design-system/lib/Components/SchemaForm/FieldObject.tsx
Due: backend_npm_install

Fix warning when switching between editions
  services/console/views/Automation.tsx
  services/console/views/Page.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Make page blocks working in live preview mode
  services/console/views/Page.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Hide save button on Page preview mode
  services/console/views/Page/RightButtons.tsx
  services/console/views/Page/index.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Fixed action for article and square cards
  services/console/components/PageBuilder/Panel/EditSchema/CardsVariant/article.tsx
  services/console/components/PageBuilder/Panel/EditSchema/CardsVariant/square.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Smallest font to display more information in one line
  packages/design-system/lib/Components/DatePicker.tsx
  packages/design-system/lib/Components/Input.tsx
  packages/design-system/lib/Components/SchemaForm/FieldAdditionalProperties.tsx
  packages/design-system/lib/Components/SchemaForm/FieldArray.tsx
  packages/design-system/lib/Components/SchemaForm/FieldBoolean.tsx
  packages/design-system/lib/Components/SchemaForm/FieldLocalizedBoolean.tsx
  packages/design-system/lib/Components/SchemaForm/__snapshots__/SchemaForm.test.tsx.snap
  packages/design-system/package.json
  packages/design-system/styles/prismeai-theme.less
  services/console/components/Header.tsx
  services/console/components/HeaderWorkspace.tsx
  services/console/components/Panel.tsx
  services/console/pages/_app.tsx
  services/console/styles/globals.css
  services/console/tailwind.config.js
  services/console/views/Apps.tsx
  services/console/views/Automation.tsx
  services/console/views/Page.tsx
  services/console/views/Workspaces.tsx
Due: backend_npm_install, console_check, console_test, console_build_docker, console_deploy

Fix schema localisation
  packages/types/index.d.ts
  packages/validation/instructions.json
  services/console/components/AutomationBuilder/AutomationBuilder.tsx
  services/console/public/locales/en/workspaces.json
  services/console/public/locales/es/workspaces.json
  services/console/public/locales/fr/workspaces.json
  specifications/swagger.yml
Due: backend_npm_install, console_check, console_test, console_build_docker, console_deploy, docs_build_static, docs_deploy

Fix app graph icon
  services/console/components/AutomationBuilder/Block.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Fixed a wording in activity feed
  services/console/public/locales/en/workspaces.json
  services/console/public/locales/es/workspaces.json
  services/console/public/locales/fr/workspaces.json
Due: console_check, console_test, console_build_docker, console_deploy

update tests
  services/console/components/AutomationBuilder/__snapshots__/Block.test.tsx.snap
  services/console/components/AutomationBuilder/__snapshots__/Repeat.test.tsx.snap
Due: console_check, console_test, console_build_docker, console_deploy

update tests
  services/console/components/__snapshots__/Panel.test.tsx.snap
Due: console_check, console_test, console_build_docker, console_deploy

Fixed images sizing
  services/console/components/AutomationBuilder/Panel/InstructionSelection.tsx
  services/console/views/AppsStore.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Fix previews
  services/console/views/Page/index.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Update tests
  services/console/components/AutomationBuilder/Panel/__snapshots__/InstructionSelection.test.tsx.snap
Due: console_check, console_test, console_build_docker, console_deploy

Revert "Smallest font to display more information in one line"
  packages/design-system/lib/Components/DatePicker.tsx
  packages/design-system/lib/Components/Input.tsx
  packages/design-system/lib/Components/SchemaForm/FieldAdditionalProperties.tsx
  packages/design-system/lib/Components/SchemaForm/FieldArray.tsx
  packages/design-system/lib/Components/SchemaForm/FieldBoolean.tsx
  packages/design-system/lib/Components/SchemaForm/FieldLocalizedBoolean.tsx
  packages/design-system/lib/Components/SchemaForm/__snapshots__/SchemaForm.test.tsx.snap
  packages/design-system/package.json
  packages/design-system/styles/prismeai-theme.less
  services/console/components/Header.tsx
  services/console/components/HeaderWorkspace.tsx
  services/console/components/Panel.tsx
  services/console/pages/_app.tsx
  services/console/styles/globals.css
  services/console/tailwind.config.js
  services/console/views/Apps.tsx
  services/console/views/Automation.tsx
  services/console/views/Page/index.tsx
  services/console/views/Workspaces.tsx
Due: backend_npm_install, console_check, console_test, console_build_docker, console_deploy

Update tests due to revert
  services/console/components/__snapshots__/Panel.test.tsx.snap
Due: console_check, console_test, console_build_docker, console_deploy

All blocks use BlockErrorBoundary
  packages/blocks/lib/BlockLoader.tsx
Due: backend_npm_install

Fixed crash when app config made empty
  services/console/components/AppEditor.tsx
Due: console_check, console_test, console_build_docker, console_deploy

:wrench: Changed default url value for PAGES_HOST to includes /pages
  services/console/utils/urls.ts
Due: console_check, console_test, console_build_docker, console_deploy

Replace newTab with popup on card's actions
  packages/blocks/lib/Blocks/Cards/ActionOrLink.tsx
  packages/blocks/lib/Blocks/Cards/types.ts
  services/console/components/PageBuilder/Panel/EditSchema/CardsVariant/eventOrLink.tsx
  services/console/public/locales/en/workspaces.json
  services/console/public/locales/fr/workspaces.json
Due: backend_npm_install, console_check, console_test, console_build_docker, console_deploy

added spanish for card's action i18n
  services/console/public/locales/es/workspaces.json
Due: console_check, console_test, console_build_docker, console_deploy

Revert "Revert "Smallest font to display more information in one line""
  packages/design-system/lib/Components/DatePicker.tsx
  packages/design-system/lib/Components/Input.tsx
  packages/design-system/lib/Components/SchemaForm/FieldAdditionalProperties.tsx
  packages/design-system/lib/Components/SchemaForm/FieldArray.tsx
  packages/design-system/lib/Components/SchemaForm/FieldBoolean.tsx
  packages/design-system/lib/Components/SchemaForm/FieldLocalizedBoolean.tsx
  packages/design-system/lib/Components/SchemaForm/__snapshots__/SchemaForm.test.tsx.snap
  packages/design-system/package.json
  packages/design-system/styles/prismeai-theme.less
  services/console/components/Header.tsx
  services/console/components/HeaderWorkspace.tsx
  services/console/components/Panel.tsx
  services/console/pages/_app.tsx
  services/console/styles/globals.css
  services/console/tailwind.config.js
  services/console/views/Apps.tsx
  services/console/views/Automation.tsx
  services/console/views/Page/index.tsx
  services/console/views/Workspaces.tsx
Due: backend_npm_install, console_check, console_test, console_build_docker, console_deploy

Fix displaying correct tab in page view
  services/console/views/Page/Page.tsx
  services/console/views/Page/index.ts
Due: console_check, console_test, console_build_docker, console_deploy

Fix smallest font display
  packages/design-system/lib/Components/Localized/LocalizedInput.tsx
  packages/design-system/lib/Components/SchemaForm/FieldAdditionalProperties.tsx
  packages/design-system/lib/Components/SchemaForm/FieldArray.tsx
  packages/design-system/lib/Components/SchemaForm/FieldObject.tsx
  packages/design-system/styles/prismeai-theme.less
  services/console/components/Share/SharePage.tsx
  services/console/components/Share/ShareWorkspacePopover.tsx
  services/console/components/UserProvider/Provider.tsx
  services/console/components/__snapshots__/Panel.test.tsx.snap
  services/console/styles/globals.css
  services/console/views/Workspaces.tsx
Due: backend_npm_install, console_check, console_test, console_build_docker, console_deploy

Fix warning when editing page
  services/console/views/Page/Page.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Fix fonts in app store modal
  packages/design-system/styles/prismeai-theme.less
  services/console/views/AppsStore.tsx
Due: backend_npm_install, console_check, console_test, console_build_docker, console_deploy

Search workspace in list
  package-lock.json
  packages/types/index.d.ts
  services/console/package.json
  services/console/public/locales/fr/workspaces.json
  services/console/utils/filterUtils.test.ts
  services/console/utils/filterUtils.ts
  services/console/views/Workspaces.tsx
  services/console/views/__snapshots__/Workspaces.test.tsx.snap
  specifications/swagger.yml
Due: backend_npm_install, console_check, console_test, console_build_docker, console_deploy, docs_build_static, docs_deploy

Rewrite workspace navigation
  services/console/layouts/WorkspaceLayout/Navigation.tsx
  services/console/layouts/WorkspaceLayout/WorkspaceLayout.test.tsx
  services/console/layouts/WorkspaceLayout/WorkspaceLayout.tsx
  services/console/public/locales/en/workspaces.json
  services/console/public/locales/es/workspaces.json
  services/console/public/locales/fr/workspaces.json
Due: console_check, console_test, console_build_docker, console_deploy

Reconnect socket after disconnecting
  packages/sdk/lib/events.ts
Due: backend_npm_install

Made cards use richtextrenderer
  packages/blocks/lib/Blocks/Cards/Cards.stories.tsx
  packages/blocks/lib/Blocks/Cards/Variants/Article.tsx
  packages/blocks/lib/Blocks/Cards/Variants/Classic.tsx
  packages/blocks/lib/Blocks/Cards/Variants/Short.tsx
  packages/blocks/lib/Blocks/Cards/Variants/Square.tsx
Due: backend_npm_install

Reload lost messages while socket is disconnected
  packages/sdk/lib/api.ts
  packages/sdk/lib/events.ts
Due: backend_npm_install

Prevent from reading user.resetPassword field on /me route
  services/api-gateway/src/services/identity/users.ts
Due: api-gateway_build_docker, api-gateway_deploy
