Repository HP319193/prisme.ai: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend_npm_install, console_check, console_test, console_build_docker, console_deploy, workspaces_test, workspaces_build_docker, workspaces_deploy, runtime_test, runtime_build_docker, runtime_deploy, api-gateway_build_docker, api-gateway_deploy, events_test, events_build_docker, events_deploy, docs_build_static, docs_deploy

backend_npm_install:
  stage: dependencies
  image: docker:stable
  services:
  - docker:stable-dind
  script:
  ...

console_check:
  stage: test
  script:
  - "if ! [[ -d node_modules/ ]] ; then\n  BUILD_PACKAGES=0 npm ci\nfi\n"
  - npm run build:packages
  - npm run check:console
  needs: []
  before_script:
  - export DIRECTORY=services/$CONSOLE_DIRECTORY

console_test:
  stage: test
  script:
  - "if ! [[ -d node_modules/ ]] ; then\n  BUILD_PACKAGES=0 npm ci\nfi\n"
  - npm run build:packages
  - npm test -- $DIRECTORY
  coverage: /All files\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)/
  artifacts:
    paths:
    - coverage
  cache:
    key:
      files:
  ...

console_build_docker:
  stage: build_docker
  image: docker:stable
  services:
  - docker:stable-dind
  script:
  ...

console_deploy:
  stage: deploy
  tags:
  - internal-runner
  image:
    name: registry.gitlab.com/gogowego-devsecops/dev/prisme.ai-infra:latest
    entrypoint:
    - /bin/sh
    - -c
  script:
  ...

workspaces_test:
  stage: test
  script:
  - "if ! [[ -d node_modules/ ]] ; then\n  BUILD_PACKAGES=0 npm ci\nfi\n"
  - npm run build:packages
  - npm test -- $DIRECTORY
  coverage: /All files\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)/
  artifacts:
    paths:
    - coverage
  cache:
    key:
      files:
  ...

workspaces_build_docker:
  stage: build_docker
  image: docker:stable
  services:
  - docker:stable-dind
  script:
  ...

workspaces_deploy:
  stage: deploy
  tags:
  - internal-runner
  image:
    name: registry.gitlab.com/gogowego-devsecops/dev/prisme.ai-infra:latest
    entrypoint:
    - /bin/sh
    - -c
  script:
  ...

runtime_test:
  stage: test
  script:
  - "if ! [[ -d node_modules/ ]] ; then\n  BUILD_PACKAGES=0 npm ci\nfi\n"
  - npm run build:packages
  - npm test -- $DIRECTORY
  coverage: /All files\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)/
  artifacts:
    paths:
    - coverage
  cache:
    key:
      files:
  ...

runtime_build_docker:
  stage: build_docker
  image: docker:stable
  services:
  - docker:stable-dind
  script:
  ...

runtime_deploy:
  stage: deploy
  tags:
  - internal-runner
  image:
    name: registry.gitlab.com/gogowego-devsecops/dev/prisme.ai-infra:latest
    entrypoint:
    - /bin/sh
    - -c
  script:
  ...

api-gateway_build_docker:
  stage: build_docker
  image: docker:stable
  services:
  - docker:stable-dind
  script:
  ...

api-gateway_deploy:
  stage: deploy
  tags:
  - internal-runner
  image:
    name: registry.gitlab.com/gogowego-devsecops/dev/prisme.ai-infra:latest
    entrypoint:
    - /bin/sh
    - -c
  script:
  ...

events_test:
  stage: test
  script:
  - "if ! [[ -d node_modules/ ]] ; then\n  BUILD_PACKAGES=0 npm ci\nfi\n"
  - npm run build:packages
  - npm test -- $DIRECTORY
  coverage: /All files\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)/
  artifacts:
    paths:
    - coverage
  cache:
    key:
      files:
  ...

Add app slug in event value
  packages/types/index.d.ts
  services/console/components/SchemaForm/useSchema.test.tsx
  services/console/components/SchemaForm/useSchema.tsx
  specifications/swagger.yml
Due: backend_npm_install, console_check, console_test, console_build_docker, console_deploy, docs_build_static, docs_deploy

Extract nested events
  services/console/components/SchemaForm/useSchema.test.tsx
  services/console/components/SchemaForm/useSchema.tsx
  services/workspaces/src/services/apps/crud/apps.ts
  services/workspaces/src/services/apps/crud/extractEvents.ts
Due: console_check, console_test, console_build_docker, console_deploy, workspaces_build_docker, workspaces_deploy

Source can has a templated value
  packages/types/index.d.ts
  services/console/components/SchemaForm/useSchema.tsx
  services/workspaces/src/services/apps/crud/extractEvents.ts
  specifications/swagger.yml
Due: backend_npm_install, console_check, console_test, console_build_docker, console_deploy, workspaces_build_docker, workspaces_deploy, docs_build_static, docs_deploy

Fix tests
  services/console/components/AutomationBuilder/Panel/InstructionValue.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Change API naming
  packages/types/index.d.ts
  services/console/components/SchemaForm/useSchema.test.tsx
  services/console/components/SchemaForm/useSchema.tsx
  specifications/swagger.yml
Due: backend_npm_install, console_check, console_test, console_build_docker, console_deploy, docs_build_static, docs_deploy

Remove self events
  services/console/components/AutomationBuilder/AutomationBuilder.tsx
  services/console/components/AutomationBuilder/Panel/InstructionValue.tsx
  services/console/components/AutomationBuilder/Panel/TriggerForm.tsx
  services/console/components/AutomationBuilder/context.ts
  services/console/components/SchemaForm/useSchema.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Fix scroll load events feed
  packages/design-system/lib/Components/Feed.tsx
  services/console/components/EventsViewer/EventsViewer.tsx
  services/console/components/EventsViewer/__snapshots__/EventsViewer.test.tsx.snap
  services/console/views/__snapshots__/Workspace.test.tsx.snap
Due: backend_npm_install, console_check, console_test, console_build_docker, console_deploy

Doc
  docs/docs/en/architecture/technical/events/Capture d’écran 2022-09-01 à 10.17.20.png
  docs/docs/en/architecture/technical/schemaform.md
  docs/docs/en/blocks/form.md
  docs/docs/en/workspaces/instructions.md
  docs/mkdocs.yml
  packages/design-system/lib/Components/SchemaForm/SchemaForm.stories.tsx
  packages/validation/instructions.json
Due: backend_npm_install, docs_build_static, docs_deploy

Translate blocks title
  packages/blocks/lib/Blocks/Cards.tsx
  packages/blocks/lib/Blocks/DataTable/DataTable.tsx
  packages/blocks/lib/Blocks/Form.tsx
Due: backend_npm_install

Redirect to current language if available
  services/console/pages/_app.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Fix instruction value raw mode height
  services/console/components/FieldContainerWithRaw.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Warn only when automation has changed
  services/console/layouts/WorkspaceLayout/WorkspaceLayout.tsx
  services/console/views/Automation.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Change wordings in usage
  services/console/public/locales/en/user.json
  services/console/public/locales/es/user.json
  services/console/public/locales/fr/user.json
  services/console/views/Account/Components/BillingPlan.tsx
  services/console/views/Account/Components/RightSidebar.tsx
  services/console/views/Account/Components/Usages.tsx
Due: console_check, console_test, console_build_docker, console_deploy

DataTable columns titles and actions labels are translatable
  packages/blocks/lib/Blocks/DataTable/DataTable.tsx
  packages/blocks/lib/Blocks/DataTable/types.ts
  services/console/components/PageBuilder/PageBlock.tsx
  services/console/components/PageBuilder/Panel/EditSchema/DataTable.tsx
Due: backend_npm_install, console_check, console_test, console_build_docker, console_deploy

Fix password reset events & replace console.* with request logger.*
  packages/types/index.d.ts
  services/api-gateway/src/eda/index.ts
  services/api-gateway/src/routes/identity.ts
  services/api-gateway/src/services/identity/index.ts
  services/api-gateway/src/services/identity/users.ts
  services/api-gateway/src/utils/email.ts
  specifications/swagger.yml
Due: backend_npm_install, api-gateway_build_docker, api-gateway_deploy, docs_build_static, docs_deploy

:rocket: Password reset.
  package-lock.json
  packages/design-system/lib/Components/SchemaForm/__snapshots__/SchemaForm.test.tsx.snap
  packages/sdk/lib/api.ts
  packages/types/index.d.ts
  services/api-gateway/locales/en.json
  services/api-gateway/locales/es.json
  services/api-gateway/locales/fr.json
  services/api-gateway/locales/zh.json
  services/api-gateway/src/routes/identity.ts
  services/api-gateway/src/services/identity/users.ts
  services/api-gateway/src/utils/email.ts
  services/api-gateway/src/utils/emails/forgotPassword/html.pug
  services/console/components/ForgotForm.tsx
  services/console/components/PhotoPickr.tsx
  services/console/components/ResetForm.tsx
  services/console/components/SigninForm.tsx
  services/console/components/UserProvider/Provider.tsx
  services/console/components/UserProvider/context.ts
  services/console/pages/forgot.tsx
  services/console/public/locales/en/sign.json
  services/console/public/locales/es/sign.json
  services/console/public/locales/fr/sign.json
  services/console/tailwind.config.js
  services/console/views/Page.tsx
  services/console/views/Sign/Forgot.tsx
  services/console/views/Sign/Up.tsx
  services/console/views/Sign/__snapshots__/In.test.tsx.snap
  specifications/swagger.yml
Due: backend_npm_install, console_check, console_test, console_build_docker, console_deploy, api-gateway_build_docker, api-gateway_deploy, docs_build_static, docs_deploy

:fire: Delete useless console.info. Fix console check.
  services/api-gateway/src/utils/emails/forgotPassword/subject.pug
  services/console/components/ForgotForm.tsx
  services/console/components/UserProvider/Provider.tsx
  services/console/components/UserProvider/context.ts
Due: console_check, console_test, console_build_docker, console_deploy, api-gateway_build_docker, api-gateway_deploy

:construction: Password reset API.
  package-lock.json
  packages/types/index.d.ts
  services/api-gateway/local.env
  services/api-gateway/locales/en.json
  services/api-gateway/locales/es.json
  services/api-gateway/locales/zh.json
  services/api-gateway/package.json
  services/api-gateway/src/config/index.ts
  services/api-gateway/src/config/mails.ts
  services/api-gateway/src/eda/index.ts
  services/api-gateway/src/routes/identity.ts
  services/api-gateway/src/services/identity/index.ts
  services/api-gateway/src/services/identity/users.ts
  services/api-gateway/src/storage/mongodb.ts
  services/api-gateway/src/types/errors.ts
  services/api-gateway/src/utils/email.ts
  services/api-gateway/src/utils/emails/forgotPassword/html.pug
  services/api-gateway/src/utils/emails/forgotPassword/subject.pug
  specifications/swagger.yml
Due: backend_npm_install, api-gateway_build_docker, api-gateway_deploy, docs_build_static, docs_deploy

Fix Help/Whats new pages url with studio.prisme.ai instead of pages.prisme.ai in order to retrieve currently authenticated user in same localstorage
  services/console/components/HeaderWorkspace.tsx
  services/console/views/Workspaces.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Include email templates in api-gateway docker build
  services/api-gateway/package.json
  services/api-gateway/src/index.ts
Due: backend_npm_install, api-gateway_build_docker, api-gateway_deploy

Don't warn after saving
  services/console/views/Automation.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Add a load more events button for big screen
  services/console/components/EventsViewer/EventsViewer.tsx
  services/console/components/EventsViewer/__snapshots__/EventsViewer.test.tsx.snap
  services/console/public/locales/en/workspaces.json
  services/console/public/locales/es/workspaces.json
  services/console/public/locales/fr/workspaces.json
  services/console/views/__snapshots__/Workspace.test.tsx.snap
Due: console_check, console_test, console_build_docker, console_deploy

:wrench: Fix email not finding locales json.
  services/api-gateway/src/utils/email.ts
Due: api-gateway_build_docker, api-gateway_deploy

Display help and changelog pages with current language
  packages/design-system/lib/Components/Popover.tsx
  services/console/components/HeaderWorkspace.tsx
Due: backend_npm_install, console_check, console_test, console_build_docker, console_deploy

Quick fix language in Workspaces home
  services/console/components/HeaderWorkspace.tsx
  services/console/views/Workspaces.tsx
  services/console/views/__snapshots__/Workspaces.test.tsx.snap
Due: console_check, console_test, console_build_docker, console_deploy

Fix anonymous user whose was not retrieved anymore
  services/api-gateway/src/storage/mongodb.ts
Due: api-gateway_build_docker, api-gateway_deploy

Fix anonymous login when an invalid session is stored
  services/api-gateway/src/middlewares/authentication/init.ts
  services/api-gateway/src/services/identity/users.ts
  services/api-gateway/src/types/errors.ts
Due: api-gateway_build_docker, api-gateway_deploy

Add pages events in autocomplete list
  services/console/components/AutomationBuilder/Panel/TriggerForm.tsx
  services/console/components/SchemaForm/useSchema.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Clean events list
  services/console/components/SchemaForm/useSchema.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Display page name in label
  services/console/components/SchemaForm/useSchema.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Avoid useless page render which may cause false anon signin
  services/console/pages/_app.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Doc
  docs/docs/en/blocks/form.md
  docs/docs/en/workspaces/schemaform.md
  docs/mkdocs.yml
  docs/theme/assets/images/workspaces/schemaform1.png
  docs/theme/assets/images/workspaces/schemaform2.png
  docs/theme/assets/images/workspaces/schemaform3.png
  docs/theme/assets/images/workspaces/schemaform4.png
Due: docs_build_static, docs_deploy

OneOf can alter parent properties
  packages/design-system/lib/Components/SchemaForm/FieldObject.tsx
  packages/design-system/lib/Components/SchemaForm/OneOf.tsx
  packages/design-system/lib/Components/SchemaForm/SchemaForm.stories.tsx
  packages/design-system/lib/Components/SchemaForm/types.ts
Due: backend_npm_install

Clean code
  packages/blocks/lib/Blocks/Cards/Cards.tsx
  packages/blocks/lib/Blocks/Cards/types.ts
Due: backend_npm_install

Moved cards to subfolder
  packages/blocks/lib/Blocks/Cards.stories.tsx
  packages/blocks/lib/Blocks/Cards/Cards.stories.tsx
  packages/blocks/lib/Blocks/Cards/Cards.tsx
  packages/blocks/lib/Blocks/Cards/index.ts
Due: backend_npm_install

Split cards components in subfolders
  packages/blocks/lib/Blocks/Cards/Accordion.tsx
  packages/blocks/lib/Blocks/Cards/CardButton.tsx
  packages/blocks/lib/Blocks/Cards/Cards.tsx
  packages/blocks/lib/Blocks/Cards/types.ts
Due: backend_npm_install

Added cards variants
  packages/blocks/lib/BlockLoader.tsx
  packages/blocks/lib/Blocks/Cards/Cards.stories.tsx
  packages/blocks/lib/Blocks/Cards/Cards.tsx
  packages/blocks/lib/Blocks/Cards/ScrollElements.tsx
  packages/blocks/lib/Blocks/Cards/Variants/Actions.tsx
  packages/blocks/lib/Blocks/Cards/Variants/Article.tsx
  packages/blocks/lib/Blocks/Cards/Variants/Classic.tsx
  packages/blocks/lib/Blocks/Cards/Variants/Short.tsx
  packages/blocks/lib/Blocks/Cards/Variants/Square.tsx
  packages/blocks/lib/Blocks/Cards/types.ts
  packages/blocks/lib/styles.css
  packages/blocks/lib/tw.ts
  packages/blocks/lib/utils/truncate.tsx
Due: backend_npm_install

Cards schema form
  packages/blocks/lib/Blocks/Cards/types.ts
  packages/blocks/lib/index.ts
  services/console/components/PageBuilder/Panel/EditSchema/Cards.tsx
  services/console/public/locales/en/workspaces.json
  services/console/public/locales/es/workspaces.json
  services/console/public/locales/fr/workspaces.json
Due: backend_npm_install, console_check, console_test, console_build_docker, console_deploy

Path conditions:
  backend_npm_install: any of: services/api-gateway/package.json, services/runtime/package.json, services/workspaces/package.json, services/events/package.json, packages/**/*
  console_check: any of: services/console/**/*
  console_test: any of: services/console/**/*
  console_build_docker: any of: services/console/**/*
  console_deploy: any of: services/console/**/*
  workspaces_test: any of: services/workspaces/*
  workspaces_build_docker: any of: services/workspaces/**/*
  workspaces_deploy: any of: services/workspaces/**/*
  runtime_test: any of: services/runtime/**/*
  runtime_build_docker: any of: services/runtime/**/*
  runtime_deploy: any of: services/runtime/**/*
  api-gateway_build_docker: any of: services/api-gateway/**/*
  api-gateway_deploy: any of: services/api-gateway/**/*
  events_test: any of: services/events/**/*
  events_build_docker: any of: services/events/**/*
  events_deploy: any of: services/events/**/*
  docs_build_static: any of: docs/**/*, specifications/*
  docs_deploy: any of: docs/**/*, specifications/*
