Repository HP319193/prisme.ai: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend_npm_install, console_check, console_test, console_build_docker, console_deploy, workspaces_test, workspaces_build_docker, workspaces_deploy, runtime_test, runtime_build_docker, runtime_deploy, api-gateway_build_docker, api-gateway_deploy, events_test, events_build_docker, events_deploy, docs_build_static, docs_deploy

Path conditions:
  backend_npm_install: any of: services/api-gateway/package.json, services/runtime/package.json, services/workspaces/package.json, services/events/package.json, packages/**/*
  console_check: any of: services/console/**/*
  console_test: any of: services/console/**/*
  console_build_docker: any of: services/console/**/*
  console_deploy: any of: services/console/**/*
  workspaces_test: any of: services/workspaces/*
  workspaces_build_docker: any of: services/workspaces/**/*
  workspaces_deploy: any of: services/workspaces/**/*
  runtime_test: any of: services/runtime/**/*
  runtime_build_docker: any of: services/runtime/**/*
  runtime_deploy: any of: services/runtime/**/*
  api-gateway_build_docker: any of: services/api-gateway/**/*
  api-gateway_deploy: any of: services/api-gateway/**/*
  events_test: any of: services/events/**/*
  events_build_docker: any of: services/events/**/*
  events_deploy: any of: services/events/**/*
  docs_build_static: any of: docs/**/*, specifications/*
  docs_deploy: any of: docs/**/*, specifications/*

Add some styles to RichText block
  packages/blocks/lib/Blocks/Cards.tsx
  packages/blocks/lib/Blocks/RichText.tsx
  services/console/styles/globals.css
Due: backend_npm_install, console_check, console_test, console_build_docker, console_deploy

Make nav inline if only one link
  packages/blocks/lib/Blocks/Header.tsx
Due: backend_npm_install

remove unused code
  services/runtime/src/services/runtime/contexts.ts
Due: runtime_test, runtime_build_docker, runtime_deploy

Fix run context synchronization when user.id is manually changed (with a set)
  services/runtime/src/services/runtime/automations/index.test.ts
  services/runtime/src/services/runtime/contexts.ts
  services/runtime/src/services/workspaces/__mocks__/workspaces/instructions/current.yml
Due: runtime_test, runtime_build_docker, runtime_deploy

Remove margin on rich text container
  services/console/styles/globals.css
Due: console_check, console_test, console_build_docker, console_deploy

Fix carousel navigation with arrows
  packages/blocks/lib/Blocks/Cards.tsx
Due: backend_npm_install

Option to open cards link in new window
  packages/blocks/lib/Blocks/Cards.tsx
  services/console/components/PageBuilder/Panel/EditSchema/Cards.tsx
  services/console/pages/_app.tsx
  services/console/public/locales/en/workspaces.json
  services/console/public/locales/es/workspaces.json
  services/console/public/locales/fr/workspaces.json
Due: backend_npm_install, console_check, console_test, console_build_docker, console_deploy

Fix crash
  services/console/components/PageBuilder/extractEvents.ts
Due: console_check, console_test, console_build_docker, console_deploy

Replace logo.png
  docs/theme/assets/logo.png
Due: docs_build_static, docs_deploy

Replace illustration.png
  docs/theme/assets/illustration.png
Due: docs_build_static, docs_deploy

Replace favicon.png
  docs/theme/assets/favicon.png
Due: docs_build_static, docs_deploy

Fix container classname
  packages/blocks/lib/Blocks/RichText.stories.tsx
  packages/blocks/lib/Blocks/RichText.tsx
Due: backend_npm_install

:rocket: Allow to select hours in events filter.
  package-lock.json
  services/console/components/EventsViewer/FilterEventsPopover.tsx
Due: console_check, console_test, console_build_docker, console_deploy

forbid passwords with more than 32 chars
  docs/docs/en/getstarted/configuration.md
  services/api-gateway/src/config/system.ts
Due: api-gateway_build_docker, api-gateway_deploy, docs_build_static, docs_deploy

fix password validation regex
  services/api-gateway/src/config/system.ts
Due: api-gateway_build_docker, api-gateway_deploy

Block Layout
  packages/blocks/lib/Blocks/Cards.tsx
  packages/blocks/lib/Blocks/Form.tsx
  packages/blocks/lib/Blocks/Layout/Content.tsx
  packages/blocks/lib/Blocks/Layout/ContentContainer.tsx
  packages/blocks/lib/Blocks/Layout/Head.tsx
  packages/blocks/lib/Blocks/Layout/Layout.stories.tsx
  packages/blocks/lib/Blocks/Layout/Layout.tsx
  packages/blocks/lib/Blocks/Layout/context.ts
  packages/blocks/lib/Blocks/Layout/index.ts
  packages/blocks/lib/Blocks/RichText.tsx
  packages/blocks/lib/Blocks/index.ts
  packages/blocks/lib/Provider/context.ts
  packages/design-system/lib/Components/SchemaForm/Enum.tsx
Due: backend_npm_install

Form : hide submit option
  packages/blocks/lib/Blocks/Form.tsx
  services/console/components/PageBuilder/Panel/EditSchema/Form.tsx
  services/console/public/locales/en/workspaces.json
  services/console/public/locales/es/workspaces.json
  services/console/public/locales/fr/workspaces.json
Due: backend_npm_install, console_check, console_test, console_build_docker, console_deploy

Cards : cover may be a color
  packages/blocks/lib/Blocks/Cards.tsx
Due: backend_npm_install

Fix crash with api keys
  packages/permissions/lib/accessManager.ts
  services/workspaces/Dockerfile
  services/workspaces/src/api/app.ts
Due: backend_npm_install, workspaces_test, workspaces_build_docker, workspaces_deploy

Allow uploading file with its dataURI
  services/workspaces/src/api/routes/files.ts
Due: workspaces_build_docker, workspaces_deploy

force rebuild workspaces
  services/workspaces/Dockerfile
  services/workspaces/src/app.ts
Due: workspaces_test, workspaces_build_docker, workspaces_deploy

Improve interpolation exclusion to allow dynamically building automations.do
  services/runtime/src/services/runtime/automations/index.ts
  specifications/swagger.yml
Due: runtime_test, runtime_build_docker, runtime_deploy, docs_build_static, docs_deploy

Some fixes
  packages/blocks/lib/Blocks/Layout/Content.tsx
  packages/blocks/lib/Blocks/Layout/ContentContainer.tsx
  packages/blocks/lib/Blocks/Layout/Layout.tsx
  packages/design-system/lib/Components/Internal/FloatingLabel.tsx
  packages/design-system/lib/Components/SchemaForm/FieldArray.tsx
  packages/design-system/lib/Components/SchemaForm/FieldBoolean.tsx
Due: backend_npm_install

Added context to allow retrieving current workspace DSUL from automations
  docs/docs/en/workspaces/automations.md
  services/runtime/src/services/runtime/automations/index.test.ts
  services/runtime/src/services/runtime/contexts.ts
  services/runtime/src/services/workspaces/__mocks__/workspaces/instructions/current.yml
Due: runtime_test, runtime_build_docker, runtime_deploy, docs_build_static, docs_deploy

Make api gateway return an explicit error when request body exceeds configured limits. Make these limits configurable
  docs/docs/en/getstarted/configuration.md
  services/api-gateway/src/config/system.ts
  services/api-gateway/src/middlewares/errorHandler.ts
  services/api-gateway/src/routes/index.ts
  services/api-gateway/src/types/errors.ts
Due: api-gateway_build_docker, api-gateway_deploy, docs_build_static, docs_deploy

BEM
  packages/blocks/lib/Blocks/Cards.tsx
  packages/blocks/lib/Blocks/Layout/Content.tsx
  packages/blocks/lib/Blocks/Layout/ContentContainer.tsx
  packages/blocks/lib/Blocks/Layout/Head.tsx
  packages/blocks/lib/Blocks/Layout/Layout.tsx
Due: backend_npm_install

Added event userTopics to allow sending events to groups of users from automations
  docs/docs/en/getstarted/configuration.md
  docs/docs/en/workspaces/instructions.md
  packages/broker/lib/__mocks__/broker.ts
  packages/broker/lib/broker.test.ts
  packages/broker/lib/broker.ts
  packages/broker/lib/events/eventsFactory.ts
  packages/permissions/lib/accessManager.ts
  packages/permissions/lib/rulesBuilder.test.ts
  packages/permissions/lib/rulesBuilder.ts
  packages/permissions/lib/types.ts
  packages/types/index.d.ts
  services/console/components/EventsViewer/EventDetails.tsx
  services/events/config/cache.ts
  services/events/config/index.ts
  services/events/src/api/app.ts
  services/events/src/api/middlewares/accessManager.ts
  services/events/src/api/routes/websockets.ts
  services/events/src/app.ts
  services/events/src/cache/__mocks__/cache.ts
  services/events/src/cache/index.ts
  services/events/src/cache/redis.ts
  services/events/src/cache/types.ts
  services/events/src/eda/index.ts
  services/events/src/permissions/config.ts
  services/events/src/services/events/Subscriptions.ts
  services/events/src/services/events/store/ElasticsearchStore.ts
  services/events/src/services/events/store/preprocess.ts
  services/events/src/services/events/users.ts
  services/runtime/src/app.ts
  services/runtime/src/cache/index.ts
  services/runtime/src/eda/index.ts
  services/runtime/src/services/runtime/automations/index.ts
  services/runtime/src/services/runtime/automations/instructions/createUserTopic.ts
  services/runtime/src/services/runtime/automations/instructions/emit.ts
  services/runtime/src/services/runtime/automations/instructions/index.ts
  services/runtime/src/services/runtime/automations/instructions/joinUserTopic.ts
  services/runtime/src/services/runtime/contexts.ts
  services/runtime/src/services/runtime/index.ts
  specifications/swagger.yml
Due: backend_npm_install, console_check, console_test, console_build_docker, console_deploy, runtime_test, runtime_build_docker, runtime_deploy, events_test, events_build_docker, events_deploy, docs_build_static, docs_deploy

Allow building event payload queries with an or clause (required to match multiple topics + standard current session)
  services/events/src/api/routes/events.ts
  services/events/src/services/events/Subscriptions.ts
  services/events/src/services/events/store/types.ts
Due: events_test, events_build_docker, events_deploy

Allow adding userTopics to pages websocket filters from block update events
  packages/sdk/lib/events.ts
  packages/validation/instructions.json
  services/console/components/Page/usePageBlocksConfigs.ts
Due: backend_npm_install, console_check, console_test, console_build_docker, console_deploy

Fix unit tests
  services/events/src/cache/__mocks__/cache.ts
  services/events/src/permissions/config.ts
  services/events/src/services/events/Subscriptions.test.ts
  services/events/src/services/events/store/ElasticsearchStore.ts
  services/runtime/src/cache/__mocks__/cache.ts
Due: runtime_test, runtime_build_docker, runtime_deploy, events_test, events_build_docker, events_deploy

fix evnets & runtime build
  services/events/src/api/routes/events.ts
  services/events/src/services/events/Subscriptions.ts
  services/runtime/src/services/runtime/automations/instructions/all.ts
  services/runtime/src/services/runtime/automations/instructions/conditions.ts
  services/runtime/src/services/runtime/automations/instructions/createUserTopic.ts
  services/runtime/src/services/runtime/automations/instructions/index.ts
  services/runtime/src/services/runtime/automations/instructions/repeat.ts
Due: runtime_test, runtime_build_docker, runtime_deploy, events_test, events_build_docker, events_deploy

Pass the blocks container element to Block
  packages/blocks/lib/BlockLoader.tsx
  packages/blocks/lib/Blocks/Layout/Content.tsx
  services/console/components/Page/PageBlock.tsx
  services/console/components/PageBuilder/PageBlock.tsx
  services/console/components/PageBuilder/PageBlocks.tsx
  services/console/views/PublicPage.tsx
Due: backend_npm_install, console_check, console_test, console_build_docker, console_deploy

Allow updating get events api result sorting
  packages/types/index.d.ts
  services/events/src/api/routes/events.ts
  services/events/src/services/events/store/ElasticsearchStore.ts
  specifications/swagger.yml
Due: backend_npm_install, events_test, events_build_docker, events_deploy, docs_build_static, docs_deploy

Fix color input display
  packages/design-system/lib/Components/SchemaForm/FieldTextColor.tsx
Due: backend_npm_install

Fix events build
  services/events/src/services/events/Subscriptions.ts
Due: events_test, events_build_docker, events_deploy

:bug: Antd does not support natively objects. Stringified them as a quick fix.
  packages/blocks/lib/Blocks/DataTable.stories.tsx
  packages/blocks/lib/Blocks/DataTable.tsx
Due: backend_npm_install
