Repository HP319193/prisme.ai: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend_npm_install, console_check, console_test, console_build_docker, console_deploy, workspaces_test, workspaces_build_docker, workspaces_deploy, runtime_test, runtime_build_docker, runtime_deploy, api-gateway_build_docker, api-gateway_deploy, events_test, events_build_docker, events_deploy, docs_build_static, docs_deploy

Path conditions:
  backend_npm_install: any of: services/api-gateway/package.json, services/runtime/package.json, services/workspaces/package.json, services/events/package.json, packages/**/*
  console_check: any of: services/console/**/*
  console_test: any of: services/console/**/*
  console_build_docker: any of: services/console/**/*
  console_deploy: any of: services/console/**/*
  workspaces_test: any of: services/workspaces/*
  workspaces_build_docker: any of: services/workspaces/**/*
  workspaces_deploy: any of: services/workspaces/**/*
  runtime_test: any of: services/runtime/**/*
  runtime_build_docker: any of: services/runtime/**/*
  runtime_deploy: any of: services/runtime/**/*
  api-gateway_build_docker: any of: services/api-gateway/**/*
  api-gateway_deploy: any of: services/api-gateway/**/*
  events_test: any of: services/events/**/*
  events_build_docker: any of: services/events/**/*
  events_deploy: any of: services/events/**/*
  docs_build_static: any of: docs/**/*, specifications/*
  docs_deploy: any of: docs/**/*, specifications/*

Fix modal title font-size
  packages/design-system/styles/prismeai-theme.less
Due: backend_npm_install

Fix localized automation title
  services/console/components/AutomationBuilder/Panel/InstructionSelection.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Shame
  services/console/components/AutomationBuilder/Panel/__snapshots__/InstructionForm.test.tsx.snap
  services/console/components/AutomationBuilder/Panel/__snapshots__/InstructionSelection.test.tsx.snap
Due: console_check, console_test, console_build_docker, console_deploy

Fix losing instructions when switching between their forms
  services/console/components/AutomationBuilder/AutomationBuilder.test.tsx
  services/console/components/AutomationBuilder/AutomationBuilder.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Centered button text in cards
  packages/blocks/lib/Blocks/Cards/Variants/Actions.tsx
Due: backend_npm_install

Centered card background, fixed margin on blocklayout on pages default style
  packages/blocks/lib/Blocks/Cards/Variants/Actions.tsx
  packages/blocks/lib/Blocks/Cards/Variants/Article.tsx
  packages/blocks/lib/Blocks/Cards/Variants/Square.tsx
  services/console/components/PagesProvider/PagesProvider.tsx
Due: backend_npm_install, console_check, console_test, console_build_docker, console_deploy

Removed snap-both to prevent scroll bug !1081
  packages/blocks/lib/Blocks/Layout/ContentContainer.tsx
Due: backend_npm_install

Send a validation email on signup + account validation api
  packages/sdk/lib/api.ts
  packages/types/index.d.ts
  services/api-gateway/locales/en.json
  services/api-gateway/locales/es.json
  services/api-gateway/locales/fr.json
  services/api-gateway/src/config/mails.ts
  services/api-gateway/src/middlewares/authentication/init.ts
  services/api-gateway/src/routes/identity.ts
  services/api-gateway/src/services/identity/index.ts
  services/api-gateway/src/services/identity/users.ts
  services/api-gateway/src/types/errors.ts
  services/api-gateway/src/utils/email.ts
  services/api-gateway/src/utils/emails/validateAccount/html.pug
  services/api-gateway/src/utils/emails/validateAccount/subject.pug
  services/console/components/UserProvider/Provider.test.tsx
  services/console/components/UserProvider/Provider.tsx
  services/console/components/UserProvider/context.ts
  services/console/views/Sign/Up.tsx
  specifications/swagger.yml
Due: backend_npm_install, console_check, console_test, console_build_docker, console_deploy, api-gateway_build_docker, api-gateway_deploy, docs_build_static, docs_deploy

:rocket: Add email validation frontend.
  packages/sdk/lib/api.ts
  services/console/components/SignLayout.tsx
  services/console/components/UserProvider/Provider.test.tsx
  services/console/components/UserProvider/Provider.tsx
  services/console/components/UserProvider/context.ts
  services/console/components/ValidateForm.tsx
  services/console/pages/validate.tsx
  services/console/public/locales/en/sign.json
  services/console/public/locales/es/sign.json
  services/console/public/locales/fr/sign.json
  services/console/views/Sign/In.tsx
  services/console/views/Sign/Up.tsx
  services/console/views/Sign/Validate.tsx
Due: backend_npm_install, console_check, console_test, console_build_docker, console_deploy

Use pattern in schema form to display error on automation slug validation
  docs/docs/en/workspaces/schemaform.md
  packages/design-system/lib/Components/SchemaForm/Field.tsx
  packages/design-system/lib/Components/SchemaForm/FieldText.tsx
  packages/design-system/lib/Components/SchemaForm/SchemaForm.stories.tsx
  packages/design-system/lib/Components/SchemaForm/SchemaForm.tsx
  packages/design-system/lib/Components/SchemaForm/types.ts
  packages/design-system/lib/Components/SchemaForm/utils.ts
  services/console/components/FieldContainerWithRaw.tsx
  services/console/public/locales/en/workspaces.json
  services/console/public/locales/es/workspaces.json
  services/console/public/locales/fr/workspaces.json
  services/console/views/Automation.tsx
Due: backend_npm_install, console_check, console_test, console_build_docker, console_deploy, docs_build_static, docs_deploy

Save elements names by hitting enter key
  packages/design-system/lib/utils/useContentEditable.tsx
  services/console/components/AutomationBuilder/EditableTitle.tsx
  services/console/views/Apps.tsx
  services/console/views/Automation.tsx
  services/console/views/Page/Page.tsx
Due: backend_npm_install, console_check, console_test, console_build_docker, console_deploy

Fix loading workspace's blocks
  services/console/components/PageBuilder/ExternalSchemaLoader.tsx
  services/console/components/PageBuilder/PageBlocks.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Allow links as tel: in Blocks
  packages/blocks/lib/Blocks/Cards/Variants/Square.tsx
  packages/design-system/lib/Components/Localized/useLocalizedText.ts
  services/console/pages/_app.tsx
Due: backend_npm_install, console_check, console_test, console_build_docker, console_deploy

Init Layout dynamic blocks
  packages/blocks/lib/BlockLoader.tsx
  packages/blocks/lib/Blocks/Layout/Content.tsx
Due: backend_npm_install

Add a a in CardButton
  packages/blocks/lib/Blocks/Cards/CardButton.tsx
Due: backend_npm_install

Better fix for card button
  packages/blocks/lib/Blocks/Cards/CardButton.tsx
Due: backend_npm_install

Fix popup in Cards
  packages/blocks/lib/Blocks/Cards/ActionOrLink.tsx
  packages/blocks/lib/Blocks/Cards/CardButton.tsx
Due: backend_npm_install

Fix page height
  services/console/styles/globals.css
Due: console_check, console_test, console_build_docker, console_deploy

Fix placeholder translations in Forms
  packages/design-system/lib/Components/Localized/useLocalizedText.test.tsx
  packages/design-system/lib/Components/Localized/useLocalizedText.ts
  packages/design-system/lib/Components/SchemaForm/types.ts
Due: backend_npm_install

:wrench: Add BrowserStack acknowledgment.
  README.md
Due: none

Remove a condition
  services/console/components/AutomationBuilder/AutomationBuilder.tsx
  services/console/components/AutomationBuilder/ConditionEdge.tsx
  services/console/components/AutomationBuilder/context.ts
Due: console_check, console_test, console_build_docker, console_deploy

Confirm before delete
  services/console/__mocks__/antd.js
  services/console/components/AutomationBuilder/Block.test.tsx
  services/console/components/AutomationBuilder/Block.tsx
  services/console/components/AutomationBuilder/ConditionEdge.test.tsx
  services/console/components/AutomationBuilder/ConditionEdge.tsx
  services/console/components/AutomationBuilder/__snapshots__/ConditionEdge.test.tsx.snap
  services/console/public/locales/fr/common.json
  services/console/public/locales/fr/workspaces.json
  services/console/styles/globals.css
Due: console_check, console_test, console_build_docker, console_deploy

Back of the warning on dirty state
  services/console/layouts/WorkspaceLayout/WorkspaceLayout.test.tsx
  services/console/layouts/WorkspaceLayout/WorkspaceLayout.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Use FieldAny instead of FreeObject
  packages/design-system/lib/Components/SchemaForm/FieldAdditionalProperties.tsx
  packages/design-system/lib/Components/SchemaForm/SchemaForm.tsx
  packages/design-system/lib/Components/SchemaForm/context.ts
  services/console/components/AutomationBuilder/Panel/InstructionValue.tsx
  services/console/components/AutomationBuilder/Panel/OutputForm.tsx
  services/console/components/AutomationBuilder/Panel/schemaFormComponents.tsx
  services/console/components/FieldContainerWithRaw.tsx
Due: backend_npm_install, console_check, console_test, console_build_docker, console_deploy

Change raw icon
  services/console/components/FieldContainerWithRaw.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Fix raw mode editor height
  services/console/components/FieldContainerWithRaw.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Display same label style than original
  services/console/components/FieldContainerWithRaw.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Fix apps key
  services/console/layouts/WorkspaceLayout/Navigation.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Header can have a link on logo
  packages/blocks/lib/Blocks/Header.tsx
  services/console/components/PageBuilder/Panel/EditSchema/Header.tsx
  services/console/public/locales/en/workspaces.json
  services/console/public/locales/es/workspaces.json
  services/console/public/locales/fr/workspaces.json
Due: backend_npm_install, console_check, console_test, console_build_docker, console_deploy

Fix links in rich texts
  packages/blocks/lib/Blocks/RichText.tsx
Due: backend_npm_install

Implement block variants
  package-lock.json
  packages/types/index.d.ts
  services/console/__mocks__/@prisme.ai/blocks.js
  services/console/components/PageBuilder/PageBuilder.tsx
  services/console/components/PageBuilder/Panel/BlockButton.tsx
  services/console/components/PageBuilder/Panel/PageNewBlockForm.tsx
  services/console/components/PageBuilder/context.ts
  services/console/components/PageBuilder/useBlocks.test.tsx
  services/console/components/PageBuilder/useBlocks.ts
  services/console/public/images/blocks/preview-Cards.jpg
  services/console/public/images/blocks/preview-DataTable.jpg
  services/console/public/images/blocks/preview-Development.jpg
  services/console/public/images/blocks/preview-Form.jpg
  services/console/public/images/blocks/preview-Header.jpg
  services/console/public/images/blocks/preview-Layout.jpg
  services/console/public/images/blocks/preview-RichText.jpg
  services/console/public/images/blocks/preview.jpg
  services/console/public/locales/en/workspaces.json
  services/console/public/locales/es/workspaces.json
  services/console/public/locales/fr/workspaces.json
  services/console/views/Page/Page.tsx
  services/workspaces/src/services/apps/crud/apps.ts
  specifications/swagger.yml
Due: backend_npm_install, console_check, console_test, console_build_docker, console_deploy, workspaces_build_docker, workspaces_deploy, docs_build_static, docs_deploy

Fix types
  services/console/components/PageBuilder/ExternalSchemaLoader.tsx
  services/console/components/PageBuilder/PageBlocks.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Fix warning after saving a page
  services/console/views/Page/Page.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Workaround to add workspaceId in saved page on client side
  services/console/components/PagesProvider/PagesProvider.tsx
  services/console/utils/useAppConfig.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Fix modal font size
  services/console/styles/globals.css
Due: console_check, console_test, console_build_docker, console_deploy

Duplicate workspace from home
  packages/sdk/lib/api.ts
  services/console/__mocks__/@ant-design/icons.js
  services/console/__mocks__/antd.js
  services/console/components/Workspaces/WorkspaceMenu.tsx
  services/console/components/WorkspacesProvider/Provider.tsx
  services/console/components/WorkspacesProvider/context.ts
  services/console/public/locales/en/workspaces.json
  services/console/public/locales/es/workspaces.json
  services/console/public/locales/fr/workspaces.json
  services/console/views/Workspaces.tsx
  services/console/views/__snapshots__/Workspaces.test.tsx.snap
Due: backend_npm_install, console_check, console_test, console_build_docker, console_deploy

:bug: Fix navigation between installed apps. Using actual slug.
  services/console/layouts/WorkspaceLayout/Navigation.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Fix adding a custom block
  services/console/components/PageBuilder/PageBuilder.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Display blocks in collapse
  services/console/components/PageBuilder/Panel/PageNewBlockForm.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Design the block selector
  packages/blocks/lib/Blocks/index.ts
  services/console/components/PageBuilder/Panel/BlockButton.tsx
  services/console/components/PageBuilder/Panel/PageNewBlockForm.tsx
  services/console/components/PageBuilder/extractEvents.ts
  services/console/components/PageBuilder/useBlocks.ts
  services/console/public/images/blocks/block card square.png
  services/console/public/images/blocks/preview-Cards-articles.png
  services/console/public/images/blocks/preview-Cards.jpg
  services/console/public/images/blocks/preview-Cards.png
  services/console/public/images/blocks/preview-DataTable.jpg
  services/console/public/images/blocks/preview-DataTable.png
  services/console/public/images/blocks/preview-Development.jpg
  services/console/public/images/blocks/preview-Form.jpg
  services/console/public/images/blocks/preview-Form.png
  services/console/public/images/blocks/preview-Header.jpg
  services/console/public/images/blocks/preview-Header.png
  services/console/public/images/blocks/preview-RichText.jpg
  services/console/public/images/blocks/preview-RichText.png
  services/console/public/images/blocks/preview.jpg
Due: backend_npm_install, console_check, console_test, console_build_docker, console_deploy
