Repository HP319193/prisme.ai: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend_npm_install, console_check, console_test, console_build_docker, console_deploy, workspaces_test, workspaces_build_docker, workspaces_deploy, runtime_test, runtime_build_docker, runtime_deploy, api-gateway_build_docker, api-gateway_deploy, events_test, events_build_docker, events_deploy, docs_build_static, docs_deploy

Path conditions:
  backend_npm_install: any of: services/api-gateway/package.json, services/runtime/package.json, services/workspaces/package.json, services/events/package.json, packages/**/*
  console_check: any of: services/console/**/*
  console_test: any of: services/console/**/*
  console_build_docker: any of: services/console/**/*
  console_deploy: any of: services/console/**/*
  workspaces_test: any of: services/workspaces/*
  workspaces_build_docker: any of: services/workspaces/**/*
  workspaces_deploy: any of: services/workspaces/**/*
  runtime_test: any of: services/runtime/**/*
  runtime_build_docker: any of: services/runtime/**/*
  runtime_deploy: any of: services/runtime/**/*
  api-gateway_build_docker: any of: services/api-gateway/**/*
  api-gateway_deploy: any of: services/api-gateway/**/*
  events_test: any of: services/events/**/*
  events_build_docker: any of: services/events/**/*
  events_deploy: any of: services/events/**/*
  docs_build_static: any of: docs/**/*, specifications/*
  docs_deploy: any of: docs/**/*, specifications/*

Pages CSS editor
  packages/types/index.d.ts
  services/console/public/locales/fr/workspaces.json
  services/console/views/Page.tsx
  services/workspaces/src/permissions/index.ts
  specifications/swagger.yml
Due: backend_npm_install, console_check, console_test, console_build_docker, console_deploy, workspaces_build_docker, workspaces_deploy, docs_build_static, docs_deploy

Apply styles on public page
  services/console/views/PublicPage.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Set default theme
  services/console/components/PagesProvider/PagesProvider.tsx
  services/console/components/PagesProvider/index.ts
  services/console/public/locales/en/workspaces.json
  services/console/public/locales/es/workspaces.json
  services/console/public/locales/fr/workspaces.json
  services/console/views/Page.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Bonus : autocompletion on section ids
  services/console/components/CodeEditor/CodeEditor.tsx
  services/console/views/Page.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Block clicks on header nav links when on edit mode
  services/console/components/Blocks/Header.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Urlencode endpoint slug within global.endpoints runtime var
  services/runtime/src/services/workspaces/workspace.ts
Due: runtime_test, runtime_build_docker, runtime_deploy

Runtime webhooks : decode automation slug as they may contain encoded whitespaces
  services/runtime/src/api/routes/webhooks.ts
Due: runtime_test, runtime_build_docker, runtime_deploy

Display page preview in console
  services/console/components/PagePreview.tsx
  services/console/public/locales/en/workspaces.json
  services/console/public/locales/es/workspaces.json
  services/console/public/locales/fr/workspaces.json
  services/console/views/Page.tsx
  services/console/views/PublicPage.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Updated preview style and header responsive to match 768px breakpoint
  services/console/components/Blocks/Header.tsx
  services/console/components/Blocks/__snapshots__/Header.test.tsx.snap
  services/console/components/PageBuilder/PageBlocks.tsx
  services/console/views/Page.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Fix link to console login
  docs/mkdocs.yml
Due: docs_build_static, docs_deploy

Fix page preview flooding init
  services/console/components/Blocks/useBlocksConfigs.ts
Due: console_check, console_test, console_build_docker, console_deploy

moved Form block onSubmit and onChange to bottom
  services/console/components/Blocks/Form.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Select forms now grow
  packages/design-system/lib/Components/SchemaForm/FieldArray.tsx
Due: backend_npm_install

await hidePanel to enforce proper data shown
  services/console/components/PageBuilder/PageBuilder.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Increased margin/paddings in blocks and forms
  packages/design-system/lib/Components/SchemaForm/FieldObject.tsx
  packages/design-system/lib/Components/SchemaForm/SchemaForm.tsx
  services/console/components/Blocks/Cards.tsx
  services/console/components/Blocks/Form.tsx
  services/console/components/Blocks/Header.tsx
  services/console/components/Blocks/__snapshots__/Header.test.tsx.snap
Due: backend_npm_install, console_check, console_test, console_build_docker, console_deploy

HidePanel on page save
  services/console/components/PageBuilder/PageBuilder.tsx
  services/console/views/Page.tsx
Due: console_check, console_test, console_build_docker, console_deploy

More crash fix if blocks is undefined
  services/console/components/Blocks/useBlocksConfigs.ts
  services/console/views/PublicPage.tsx
Due: console_check, console_test, console_build_docker, console_deploy

form block localize provided schema
  services/console/components/Blocks/Form.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Fixed nested schemaform localisation with test
  services/console/utils/useLocalizedText.test.tsx
  services/console/utils/useLocalizedText.ts
Due: console_check, console_test, console_build_docker, console_deploy

Multiple translations fix for pages and blocks
  services/console/public/locales/en/workspaces.json
  services/console/public/locales/es/workspaces.json
  services/console/public/locales/fr/workspaces.json
Due: console_check, console_test, console_build_docker, console_deploy

Updated font size to match figma
  packages/design-system/styles/prismeai-theme.less
Due: backend_npm_install

updated block edit categories, scrollbars
  services/console/components/PageBuilder/Panel/Settings.tsx
  services/console/public/locales/en/workspaces.json
  services/console/public/locales/es/workspaces.json
  services/console/public/locales/fr/workspaces.json
Due: console_check, console_test, console_build_docker, console_deploy

Added title to datatable, cards and form
  services/console/components/Blocks/Cards.tsx
  services/console/components/Blocks/Components/BlockTitle.tsx
  services/console/components/Blocks/DataTable.tsx
  services/console/components/Blocks/Form.tsx
  services/console/public/locales/en/workspaces.json
  services/console/public/locales/es/workspaces.json
  services/console/public/locales/fr/workspaces.json
Due: console_check, console_test, console_build_docker, console_deploy

Fix select on localizeSchemaForm
  services/console/utils/useLocalizedText.test.tsx
  services/console/utils/useLocalizedText.ts
Due: console_check, console_test, console_build_docker, console_deploy

Added scroll and page behaviour for default css
  services/console/components/PagesProvider/PagesProvider.tsx
  services/console/views/PublicPage.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Added side scroll for datatable, if table too long
  services/console/components/Blocks/DataTable.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Not ideal fix to prevent Raw from overriding fieldObject label
  packages/design-system/lib/Components/SchemaForm/FieldObject.tsx
Due: backend_npm_install

Fix rare crash on FieldText "rendered less useCallback than previous call"
  packages/design-system/lib/Components/SchemaForm/FieldText.tsx
Due: backend_npm_install

Fix carousel autoscroll option display
  services/console/components/Blocks/Cards.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Customizable submit button for Form block
  services/console/components/Blocks/Form.tsx
  services/console/public/locales/en/pages.json
  services/console/public/locales/en/workspaces.json
  services/console/public/locales/es/pages.json
  services/console/public/locales/es/workspaces.json
  services/console/public/locales/fr/pages.json
  services/console/public/locales/fr/workspaces.json
Due: console_check, console_test, console_build_docker, console_deploy

Added upload file to schemaFormBuilder
  packages/design-system/lib/Components/SchemaForm/FieldText.tsx
  services/console/components/SchemaFormBuilder/SchemaFormBuilder.tsx
  services/console/components/SchemaFormBuilder/__snapshots__/SchemaFormBuilder.test.tsx.snap
Due: backend_npm_install, console_check, console_test, console_build_docker, console_deploy

fix init automation infinite loop
  services/console/components/Blocks/useBlocksConfigs.ts
Due: console_check, console_test, console_build_docker, console_deploy

Added textArea support for SchemaFormBuilder
  services/console/components/SchemaFormBuilder/SchemaFormBuilder.tsx
  services/console/public/locales/en/workspaces.json
  services/console/public/locales/es/workspaces.json
  services/console/public/locales/fr/workspaces.json
Due: console_check, console_test, console_build_docker, console_deploy

Update test snapshot for schemaformbuilder
  services/console/components/SchemaFormBuilder/__snapshots__/SchemaFormBuilder.test.tsx.snap
Due: console_check, console_test, console_build_docker, console_deploy

Replace add and edit page buttons positions
  services/console/components/PageBuilder/AddBlock.tsx
  services/console/components/PageBuilder/EditBlock.tsx
  services/console/components/PageBuilder/PageBlock.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Remove hard link between parent and children components
  services/console/components/PageBuilder/PageBuilder.tsx
  services/console/views/Page.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Fix blocks not displaying config from automations
  services/console/components/Blocks/useBlocksConfigs.ts
Due: console_check, console_test, console_build_docker, console_deploy

Fix socket call on *first only* init
  services/console/components/Blocks/useBlocksConfigs.ts
Due: console_check, console_test, console_build_docker, console_deploy

Clean Block provider
  packages/design-system/lib/Components/Block/Block.tsx
  packages/design-system/lib/Components/Block/context.ts
  packages/design-system/lib/Components/LayoutSelection.tsx
  services/console/components/PageBuilder/PageBlock.tsx
  services/console/components/PageBuilder/PageBlockProvider.tsx
  services/console/components/PageBuilder/Panel/PageEditBlockForm.tsx
  services/console/views/AppsSidebarItem.tsx
Due: backend_npm_install, console_check, console_test, console_build_docker, console_deploy

Prevent invalid json input in instructions
  services/console/components/AutomationBuilder/Panel/InstructionValue.tsx
  services/console/public/locales/en/workspaces.json
  services/console/public/locales/es/workspaces.json
  services/console/public/locales/fr/workspaces.json
Due: console_check, console_test, console_build_docker, console_deploy
