Repository HP319193/prisme.ai: changes, and which GitLab CI jobs are due for each by the changed paths.
All: console_test, console_build_docker, console_deploy, workspaces_build_docker, workspaces_deploy

console_test:
  interruptible: true
  stage: test
  script:
  - npm test $SERVICE_NAME
  coverage: /All files\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)\s+\|\s+([\d\.]+)/
  artifacts:
    paths:
    - coverage
  before_script:
  - export SERVICE_NAME=$CONSOLE_DIRECTORY

console_build_docker:
  interruptible: true
  stage: build_docker
  image: docker:stable
  services:
  - docker:stable-dind
  script:
  - cp -r ../../specifications/ .
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN registry.gitlab.com
  - docker pull $IMAGE_NAME:latest || true
  ...

console_deploy:
  stage: deploy
  cache: []
  tags:
  - internal-runner
  image:
    name: lachlanevenson/k8s-kubectl:latest
    entrypoint:
    - /bin/bash
    - -c
  script:
  - kubectl -n core rollout restart deploy/${K8S_NAME}
  - kubectl -n core rollout status deploy/${K8S_NAME}
  before_script:
  - export KUBECONFIG=$KUBECONFIG
  ...

workspaces_build_docker:
  interruptible: true
  stage: build_docker
  image: docker:stable
  services:
  - docker:stable-dind
  script:
  - cp -r ../../specifications/ .
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN registry.gitlab.com
  - docker pull $IMAGE_NAME:latest || true
  ...

workspaces_deploy:
  stage: deploy
  cache: []
  tags:
  - internal-runner
  image:
    name: lachlanevenson/k8s-kubectl:latest
    entrypoint:
    - /bin/bash
    - -c
  script:
  - kubectl -n core rollout restart deploy/${K8S_NAME}
  - kubectl -n core rollout status deploy/${K8S_NAME}
  before_script:
  - export KUBECONFIG=$KUBECONFIG
  ...

Fix build
  services/console/Dockerfile
  services/console/package-lock.json
Due: console_test, console_build_docker, console_deploy

Fix running build server
  services/console/pages/_middleware.ts
Due: none

API Gateway
  .gitlab-ci.yml
  package-lock.json
  package.json
  services/api-gateway/Dockerfile
  services/api-gateway/gateway.config.yml
  services/api-gateway/package-lock.json
  services/api-gateway/package.json
  services/api-gateway/src/config/gateway.ts
  services/api-gateway/src/config/gatewayConfigValidator/customRules.ts
  services/api-gateway/src/config/gatewayConfigValidator/index.ts
  services/api-gateway/src/config/index.ts
  services/api-gateway/src/config/system.ts
  services/api-gateway/src/express.d.ts
  services/api-gateway/src/index.ts
  services/api-gateway/src/logger/index.ts
  services/api-gateway/src/middlewares/errorHandler.ts
  services/api-gateway/src/middlewares/httpLogger.ts
  services/api-gateway/src/middlewares/traceability.ts
  services/api-gateway/src/pipelines/index.ts
  services/api-gateway/src/policies/blacklist.ts
  services/api-gateway/src/policies/index.ts
  services/api-gateway/src/policies/prismeAuth.ts
  services/api-gateway/src/policies/proxy.ts
  services/api-gateway/src/routers/index.ts
  services/api-gateway/src/types/errors.ts
  services/api-gateway/src/types/gateway.ts
  services/api-gateway/src/types/index.ts
  services/api-gateway/tsconfig.json
Due: none

Editing an automation
  jest.config.js
  package-lock.json
  package.json
  services/console/.sentryclirc
  services/console/components/CodeEditor.test.tsx
  services/console/components/CodeEditor.tsx
  services/console/components/__snapshots__/CodeEditor.test.tsx.snap
  services/console/layouts/AutomationLayout.test.tsx
  services/console/layouts/AutomationLayout.tsx
  services/console/layouts/AutomationLayout/AutomationLayout.test.tsx
  services/console/layouts/AutomationLayout/AutomationLayout.tsx
  services/console/layouts/AutomationLayout/__snapshots__/AutomationLayout.test.tsx.snap
  services/console/layouts/AutomationLayout/context.ts
  services/console/layouts/AutomationLayout/index.tsx
  services/console/layouts/Main.tsx
  services/console/layouts/SidePanel.tsx
  services/console/layouts/WorkspaceLayout/WorkspaceLayout.tsx
  services/console/layouts/WorkspaceLayout/__snapshots__/WorkspaceLayout.test.tsx.snap
  services/console/layouts/__snapshots__/Main.test.tsx.snap
  services/console/layouts/__snapshots__/SidePanel.test.tsx.snap
  services/console/package.json
  services/console/public/locales/en/workspaces.json
  services/console/public/locales/fr/workspaces.json
  services/console/tsconfig.json
  services/console/utils/yaml.ts
  services/console/utils/yaml.worker.ts
  services/console/views/Automation.tsx
  services/console/views/AutomationDesign.test.tsx
  services/console/views/AutomationDesign.tsx
  services/console/views/AutomationManifest.test.tsx
  services/console/views/AutomationManifest.tsx
  services/console/views/AutomationSidebar.test.tsx
  services/console/views/AutomationsSidebar.tsx
  services/console/views/__snapshots__/AutomationManifest.test.tsx.snap
  services/console/views/__snapshots__/Workspaces.test.tsx.snap
Due: console_test, console_build_docker, console_deploy

Validation package
  jest.config.js
  package-lock.json
  package.json
  packages/validation/.gitignore
  packages/validation/package.json
  packages/validation/src/build.js
  packages/validation/tsconfig.json
  packages/validation/validation.test.js
  rollup.config.js
  services/console/layouts/AutomationLayout/AutomationLayout.tsx
  services/console/layouts/AutomationLayout/context.ts
  services/console/package.json
  services/console/utils/useYaml.ts
  services/console/utils/yaml.test.ts
  services/console/utils/yaml.ts
  services/console/views/AutomationManifest.test.tsx
  services/console/views/AutomationManifest.tsx
  specifications/swagger.yml
Due: console_test, console_build_docker, console_deploy

Add missing translations
  services/console/public/locales/en/workspaces.json
  services/console/public/locales/es/errors.json
  services/console/public/locales/es/workspaces.json
Due: none

Endpoints annotations in ACEEditor
  .jest/setEnvVars.js
  jest.config.js
  services/console/.env
  services/console/components/CodeEditor.tsx
  services/console/layouts/Main.tsx
  services/console/layouts/Toaster.tsx
  services/console/layouts/WorkspaceLayout/__snapshots__/WorkspaceLayout.test.tsx.snap
  services/console/layouts/__snapshots__/Main.test.tsx.snap
  services/console/pages/_app.tsx
  services/console/public/locales/en/workspaces.json
  services/console/public/locales/es/workspaces.json
  services/console/public/locales/fr/workspaces.json
  services/console/styles/globals.css
  services/console/utils/aceEditorTweaks.ts
  services/console/utils/urls.test.ts
  services/console/utils/urls.ts
  services/console/utils/yaml.test.ts
  services/console/utils/yaml.ts
  services/console/views/AutomationManifest.test.tsx
  services/console/views/AutomationManifest.tsx
  services/console/views/__snapshots__/Workspaces.test.tsx.snap
  specifications/swagger.yml
Due: console_test, console_build_docker, console_deploy

Titles in Head
  services/console/layouts/WorkspaceLayout/WorkspaceLayout.tsx
  services/console/pages/_app.tsx
  services/console/pages/signin.tsx
  services/console/pages/workspaces/[id]/automations/[name]/design.tsx
  services/console/pages/workspaces/[id]/automations/[name]/index.tsx
  services/console/pages/workspaces/[id]/automations/[name]/manifest.tsx
  services/console/pages/workspaces/[id]/index.ts
  services/console/pages/workspaces/index.ts
  services/console/public/favicon.ico
  services/console/public/favicon.png
  services/console/public/locales/en/common.json
  services/console/public/locales/fr/common.json
  services/console/public/locales/fr/sign.json
  services/console/public/locales/fr/workspaces.json
  services/console/public/vercel.svg
  services/console/views/AutomationManifest.tsx
  services/console/views/Home.tsx
  services/console/views/Sign/In.tsx
  services/console/views/Workspace.tsx
  services/console/views/Workspaces.tsx
Due: none

Updated test for headers change
  services/console/views/__snapshots__/Home.test.tsx.snap
Due: none

Add mock user and mock backend url in env variable
  services/console/.env
Due: console_test, console_build_docker, console_deploy

Published @prisme.ai/validation 1.0.3
  packages/validation/.npmignore
  packages/validation/package.json
Due: none

Fix console build
  package-lock.json
  services/console/package.json
  services/console/utils/yaml.ts
Due: console_test, console_build_docker, console_deploy

Added Prettier to root's package
  package-lock.json
  package.json
Due: none

Basic DSUL execution (handle emit + run workflow + system contexts)
  package-lock.json
  packages/types/index.d.ts
  packages/types/package.json
  services/runtime/config/cache.ts
  services/runtime/config/index.ts
  services/runtime/config/runtime.ts
  services/runtime/package-lock.json
  services/runtime/package.json
  services/runtime/src/api/express.d.ts
  services/runtime/src/api/routes/webhooks.ts
  services/runtime/src/app.ts
  services/runtime/src/cache/index.ts
  services/runtime/src/cache/redis.ts
  services/runtime/src/cache/types.ts
  services/runtime/src/eda/index.ts
  services/runtime/src/errors/index.ts
  services/runtime/src/logger/index.ts
  services/runtime/src/services/runtime/contexts.ts
  services/runtime/src/services/runtime/index.ts
  services/runtime/src/services/runtime/processEvent.ts
  services/runtime/src/services/runtime/workflows/index.ts
  services/runtime/src/services/runtime/workflows/instructions/emit.ts
  services/runtime/src/services/runtime/workflows/instructions/index.ts
  services/runtime/src/services/workspaces/index.ts
  services/runtime/src/services/workspaces/workspace.ts
  services/runtime/src/services/workspaces/workspaces.ts
  specifications/swagger.yml
Due: none

Console properly use .env variables at runtime
  .jest/setEnvVars.js
  services/console/.env
  services/console/api/api.ts
  services/console/next.config.js
  services/console/utils/urls.test.ts
  services/console/utils/urls.ts
  services/console/views/AutomationManifest.test.tsx
Due: console_test, console_build_docker, console_deploy

Fix pipeline (@prisme.ai/types needed to be updated with merged swagger.yml)
  package-lock.json
  packages/types/package.json
  services/api-gateway/package-lock.json
  services/api-gateway/package.json
Due: none

Runtime now fetch DSUL from storage
  .gitlab-ci.yml
  package-lock.json
  services/runtime/config/index.ts
  services/runtime/config/storage.ts
  services/runtime/package-lock.json
  services/runtime/package.json
  services/runtime/src/app.ts
  services/runtime/src/errors/handlers.ts
  services/runtime/src/services/runtime/workflows/instructions/index.ts
  services/runtime/src/services/sys/healthcheck.ts
  services/runtime/src/services/workspaces/workspaces.ts
  services/runtime/src/storage/drivers/filesystem.ts
  services/runtime/src/storage/drivers/s3.ts
  services/runtime/src/storage/index.ts
  services/runtime/src/storage/types.ts
Due: none

Fix gateway docker build (dockerfile did not include specifications/ folder)
  services/api-gateway/Dockerfile
Due: none

Fix runtime build (@prisme.ai/types has to be in prod dependencies)
  services/runtime/package-lock.json
  services/runtime/package.json
Due: none

Fix runtime build (aws-sdk was missing)
  package-lock.json
  services/runtime/package-lock.json
  services/runtime/package.json
Due: none

Fix location of specifications swagger inside api-gateway
  services/api-gateway/Dockerfile
Due: none

Add SESSIONS_STORAGE_PASSWORD env var to api gateway
  services/api-gateway/src/config/storage.ts
  services/api-gateway/src/middlewares/authentication/init.ts
  services/api-gateway/src/storage/types.ts
Due: none

DSULStorage instance of Storage moved to workspace
  services/workspaces/package-lock.json
  services/workspaces/package.json
  services/workspaces/src/services/workspaces/DSULStorage.ts
  services/workspaces/src/services/workspaces/crud.ts
  services/workspaces/src/services/workspaces/index.ts
  services/workspaces/src/storage/drivers/filesystem.ts
  services/workspaces/src/storage/drivers/s3.ts
  services/workspaces/src/storage/index.ts
  services/workspaces/src/storage/types.ts
Due: workspaces_build_docker, workspaces_deploy

Prettified previous commits from this MR
  services/workspaces/src/storage/drivers/filesystem.ts
  services/workspaces/src/storage/drivers/s3.ts
  services/workspaces/src/storage/index.ts
  services/workspaces/src/storage/types.ts
Due: none

Added PrismeError handling on Storage drivers
  services/workspaces/src/storage/drivers/filesystem.ts
  services/workspaces/src/storage/drivers/s3.ts
Due: none

Handle 404 for GET workspace
  services/workspaces/src/api/routes/workspaces.ts
  services/workspaces/src/services/workspaces/crud.ts
Due: none

Workspace delete return code fixed
  services/workspaces/src/services/workspaces/crud.ts
Due: none

Workspaces CRUD added
  services/workspaces/src/api/routes/workspaces.ts
  services/workspaces/src/services/workspaces/crud.ts
  services/workspaces/src/services/workspaces/index.ts
Due: none

Added CRUD using S3_LIKE and FILESYSTEM
  services/workspaces/package-lock.json
  services/workspaces/package.json
  services/workspaces/src/storage/drivers/filesystem.ts
  services/workspaces/src/storage/drivers/s3.ts
  services/workspaces/src/storage/index.ts
  services/workspaces/src/storage/types.ts
Due: workspaces_build_docker, workspaces_deploy

Workspace Patch route added
  services/workspaces/src/api/routes/workspaces.ts
  services/workspaces/src/services/workspaces/crud.ts
  services/workspaces/src/services/workspaces/index.ts
Due: none

Fix workspaces tsc build
  package-lock.json
  services/workspaces/package-lock.json
  services/workspaces/package.json
  services/workspaces/src/storage/drivers/s3.ts
Due: workspaces_build_docker, workspaces_deploy

Various workspaces CRUD fixes & clean
  package-lock.json
  services/workspaces/.gitignore
  services/workspaces/config/eda.ts
  services/workspaces/config/index.ts
  services/workspaces/config/storage.ts
  services/workspaces/package.json
  services/workspaces/src/api/express.d.ts
  services/workspaces/src/api/middlewares/errors.ts
  services/workspaces/src/api/middlewares/validation.ts
  services/workspaces/src/api/routes/workspaces.ts
  services/workspaces/src/app.ts
  services/workspaces/src/eda/index.ts
  services/workspaces/src/errors/handlers.ts
  services/workspaces/src/errors/index.ts
  services/workspaces/src/logger/index.ts
  services/workspaces/src/services/workspaces/DSULStorage.ts
  services/workspaces/src/services/workspaces/crud.ts
  services/workspaces/src/services/workspaces/index.ts
  services/workspaces/src/storage/drivers/filesystem.ts
  services/workspaces/src/storage/drivers/s3.ts
  services/workspaces/src/storage/index.ts
Due: workspaces_build_docker, workspaces_deploy

Workspaces return 404 error if trying to delete or patch an unknown workspace
  services/workspaces/src/services/workspaces/crud.ts
Due: none

Workspaces emit createx/updated/deleted workspace events
  packages/types/index.d.ts
  services/workspaces/src/eda/index.ts
  services/workspaces/src/services/workspaces/crud.ts
  services/workspaces/src/services/workspaces/index.ts
  specifications/swagger.yml
Due: none

Fix 'only' filter in .gitlab-ci to take subdirectories into account
  .gitlab-ci.yml
  services/api-gateway/Dockerfile
Due: none

Disable express-open-api security scheme validation as API Gateway already takes care of security aspects
  services/api-gateway/src/middlewares/validation.ts
Due: none

Fix build
  package-lock.json
  packages/types/package.json
  services/workspaces/package.json
  services/workspaces/src/services/events/send.ts
Due: workspaces_build_docker, workspaces_deploy

Path conditions:
  console_test: any of: services/console/*
  console_build_docker: any of: services/console/*
  console_deploy: any of: services/console/*
  workspaces_build_docker: any of: services/workspaces/*
  workspaces_deploy: any of: services/workspaces/*
