Repository HP319193/prisme.ai: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend_npm_install, console_check, console_test, console_build_docker, console_deploy, workspaces_test, workspaces_build_docker, workspaces_deploy, runtime_test, runtime_build_docker, runtime_deploy, api-gateway_build_docker, api-gateway_deploy, events_test, events_build_docker, events_deploy, docs_build_static, docs_deploy

Path conditions:
  backend_npm_install: any of: services/api-gateway/package.json, services/runtime/package.json, services/workspaces/package.json, services/events/package.json, packages/**/*
  console_check: any of: services/console/**/*
  console_test: any of: services/console/**/*
  console_build_docker: any of: services/console/**/*
  console_deploy: any of: services/console/**/*
  workspaces_test: any of: services/workspaces/*
  workspaces_build_docker: any of: services/workspaces/**/*
  workspaces_deploy: any of: services/workspaces/**/*
  runtime_test: any of: services/runtime/**/*
  runtime_build_docker: any of: services/runtime/**/*
  runtime_deploy: any of: services/runtime/**/*
  api-gateway_build_docker: any of: services/api-gateway/**/*
  api-gateway_deploy: any of: services/api-gateway/**/*
  events_test: any of: services/events/**/*
  events_build_docker: any of: services/events/**/*
  events_deploy: any of: services/events/**/*
  docs_build_static: any of: docs/**/*, specifications/*
  docs_deploy: any of: docs/**/*, specifications/*

Fixed workspaces unit test
  services/workspaces/Dockerfile
  services/workspaces/config/storage.ts
Due: workspaces_test, workspaces_build_docker, workspaces_deploy

Added upload size validation
  services/workspaces/config/storage.ts
  services/workspaces/src/errors/index.ts
  services/workspaces/src/services/FileStorage.ts
Due: workspaces_build_docker, workspaces_deploy

Added a Broker mock to to facilitate future unit tests. Prepared runtime for unit tests
  packages/broker/lib/__mocks__/broker.ts
  packages/broker/lib/__mocks__/index.ts
  packages/types/index.d.ts
  services/runtime/config/storage.ts
  services/runtime/src/api/app.ts
  services/runtime/src/api/middlewares/traceability.ts
  services/runtime/src/app.ts
  services/runtime/src/cache/__mocks__/cache.ts
  services/runtime/src/eda/index.ts
  services/runtime/src/metrics/eda.ts
  services/runtime/src/metrics/index.ts
  services/runtime/src/services/apps/apps.ts
  services/runtime/src/services/runtime/index.test.ts
  services/runtime/src/services/workspaces/__mocks__/workspaces/basic/current.yml
  services/runtime/src/services/workspaces/__mocks__/workspaces/index.ts
  services/runtime/src/services/workspaces/workspaces.ts
  services/runtime/src/storage/drivers/filesystem.ts
  services/runtime/src/storage/index.ts
  specifications/swagger.yml
Due: backend_npm_install, runtime_test, runtime_build_docker, runtime_deploy, docs_build_static, docs_deploy

Added contexts & set related unit tests
  services/runtime/src/cache/__mocks__/cache.ts
  services/runtime/src/services/runtime/automations/index.test.ts
  services/runtime/src/services/runtime/contexts.ts
  services/runtime/src/services/workspaces/__mocks__/workspaces/index.ts
  services/runtime/src/services/workspaces/__mocks__/workspaces/instructions/current.yml
  services/runtime/src/services/workspaces/workspaces.test.ts
Due: runtime_test, runtime_build_docker, runtime_deploy

More advanced events/automations flow unit tests
  services/runtime/src/services/runtime/index.test.ts
  services/runtime/src/services/workspaces/__mocks__/apps/basicApp/current.yml
  services/runtime/src/services/workspaces/__mocks__/workspaces/basic/current.yml
  services/runtime/src/services/workspaces/__mocks__/workspaces/imports/current.yml
Due: runtime_test, runtime_build_docker, runtime_deploy

Exclude ./packages/* directories from jest coverage %
  .gitlab-ci.yml
Due: none

Fixed wait with cancelTriggers: true & added unit test for this
  services/runtime/src/services/runtime/automations/index.test.ts
  services/runtime/src/services/runtime/index.ts
  services/runtime/src/services/workspaces/__mocks__/workspaces/instructions/current.yml
Due: runtime_test, runtime_build_docker, runtime_deploy

Fix nested app publishing which never updated dependent workspaces. Added more appInstance related unit tests
  services/runtime/src/services/runtime/index.test.ts
  services/runtime/src/services/workspaces/__mocks__/apps/basicApp/current.yml
  services/runtime/src/services/workspaces/__mocks__/apps/nestedApp/current.yml
  services/runtime/src/services/workspaces/__mocks__/workspaces/imports/current.yml
  services/runtime/src/services/workspaces/__mocks__/workspaces/index.ts
  services/runtime/src/services/workspaces/workspace.ts
  services/runtime/src/services/workspaces/workspaces.test.ts
  services/runtime/src/services/workspaces/workspaces.ts
Due: runtime_test, runtime_build_docker, runtime_deploy

Added unit tests on run context variables
  services/runtime/src/services/runtime/automations/index.test.ts
  services/runtime/src/services/workspaces/__mocks__/apps/basicApp/current.yml
  services/runtime/src/services/workspaces/__mocks__/apps/nestedApp/current.yml
  services/runtime/src/services/workspaces/__mocks__/workspaces/instructions/current.yml
Due: runtime_test, runtime_build_docker, runtime_deploy

Basic events & automation execution unit tests
  package-lock.json
  packages/broker/lib/__mocks__/broker.ts
  services/runtime/package.json
  services/runtime/src/cache/__mocks__/cache.ts
  services/runtime/src/services/runtime/contexts.ts
  services/runtime/src/services/runtime/index.test.ts
  services/runtime/src/services/runtime/index.ts
  services/runtime/src/services/workspaces/__mocks__/apps/basicApp/current.yml
  services/runtime/src/services/workspaces/__mocks__/workspaces/imports/current.yml
  services/runtime/src/services/workspaces/__mocks__/workspaces/index.ts
  services/runtime/src/storage/drivers/filesystem.ts
Due: backend_npm_install, runtime_test, runtime_build_docker, runtime_deploy

Added unit tests on appInstance lifecycles events automations (workspaces.apps.*)
  services/runtime/src/services/runtime/index.test.ts
  services/runtime/src/services/workspaces/__mocks__/apps/basicApp/current.yml
  services/runtime/src/services/workspaces/workspaces.ts
Due: runtime_test, runtime_build_docker, runtime_deploy

Wait & Break instructions unit tests
  services/runtime/src/services/runtime/automations/index.test.ts
  services/runtime/src/services/runtime/automations/index.ts
  services/runtime/src/services/runtime/index.ts
  services/runtime/src/services/workspaces/__mocks__/workspaces/instructions/current.yml
Due: runtime_test, runtime_build_docker, runtime_deploy

Added units tests on logic instructions
  services/runtime/src/services/runtime/automations/index.test.ts
  services/runtime/src/services/workspaces/__mocks__/workspaces/instructions/current.yml
Due: runtime_test, runtime_build_docker, runtime_deploy

Added unit tests for config variable & workspaces live update
  services/runtime/src/services/runtime/index.test.ts
  services/runtime/src/services/workspaces/__mocks__/apps/basicApp/current.yml
  services/runtime/src/services/workspaces/__mocks__/workspaces/basic/current.yml
  services/runtime/src/services/workspaces/__mocks__/workspaces/imports/current.yml
  services/runtime/src/services/workspaces/workspaces.test.ts
  services/runtime/src/services/workspaces/workspaces.ts
Due: runtime_test, runtime_build_docker, runtime_deploy

Fixed runtime build
  services/runtime/src/services/runtime/index.ts
Due: runtime_test, runtime_build_docker, runtime_deploy

Force rebuilding workspaces & events as last build pipeline didn't see the updated types index.d.ts
  services/events/Dockerfile
  services/workspaces/Dockerfile
Due: workspaces_test, workspaces_build_docker, workspaces_deploy, events_test, events_build_docker, events_deploy

Fix uploading files with null bytes in filename
  services/workspaces/Dockerfile
  services/workspaces/src/services/FileStorage.ts
Due: workspaces_test, workspaces_build_docker, workspaces_deploy

Quick all instruction implementation
  services/runtime/src/services/runtime/automations/instructions/all.ts
  services/runtime/src/services/runtime/automations/instructions/index.ts
Due: runtime_test, runtime_build_docker, runtime_deploy

All fields components are get from provider
  packages/design-system/lib/Components/SchemaForm/Enum.tsx
  packages/design-system/lib/Components/SchemaForm/Field.tsx
  packages/design-system/lib/Components/SchemaForm/FieldSelect.tsx
  packages/design-system/lib/Components/SchemaForm/FieldText.tsx
  packages/design-system/lib/Components/SchemaForm/FieldTextTextArea.tsx
  packages/design-system/lib/Components/SchemaForm/SchemaForm.stories.tsx
  packages/design-system/lib/Components/SchemaForm/SchemaForm.tsx
  packages/design-system/lib/Components/SchemaForm/context.ts
Due: backend_npm_install

Runtime now ignores comment instructions
  services/runtime/src/services/runtime/automations/instructions/index.ts
Due: runtime_test, runtime_build_docker, runtime_deploy

Fixed runtime which not always updated workspace before executing workspaces.apps.installed (thus missing to execute the app onInstall automation)
  services/runtime/src/services/runtime/index.ts
Due: runtime_test, runtime_build_docker, runtime_deploy

Ability to change FieldContainer component
  packages/design-system/lib/Components/SchemaForm/FieldArray.tsx
  packages/design-system/lib/Components/SchemaForm/FieldBoolean.tsx
  packages/design-system/lib/Components/SchemaForm/FieldObject.tsx
  packages/design-system/lib/Components/SchemaForm/SchemaForm.stories.tsx
  packages/design-system/lib/Components/SchemaForm/context.ts
Due: backend_npm_install

Fix additionalProperties initial value
  packages/design-system/lib/Components/SchemaForm/FieldAdditionalProperties.tsx
  packages/design-system/lib/Components/SchemaForm/SchemaForm.stories.tsx
Due: backend_npm_install

Fixed variable interpolation which stringified objects when variable names were nested. Allow repeat instruction to iterate over an object
  docs/docs/en/workspaces/instructions.md
  services/runtime/src/services/runtime/automations/instructions/repeat.ts
  services/runtime/src/utils/interpolate.test.ts
  services/runtime/src/utils/interpolate.ts
Due: runtime_test, runtime_build_docker, runtime_deploy, docs_build_static, docs_deploy

Ability to choose to set a raw value instead of required type
  services/console/components/AutomationBuilder/Panel/InstructionValue.tsx
  services/console/components/FieldContainerWithRaw.tsx
  services/console/layouts/WorkspaceLayout/WorkspaceLayout.tsx
  services/console/layouts/WorkspaceLayout/__snapshots__/WorkspaceLayout.test.tsx.snap
  services/console/public/locales/en/workspaces.json
  services/console/public/locales/es/workspaces.json
  services/console/public/locales/fr/workspaces.json
Due: console_check, console_test, console_build_docker, console_deploy

Fix when page is empty
  services/console/components/Blocks/useBlocksConfigs.ts
Due: console_check, console_test, console_build_docker, console_deploy

Fixed broker memory leak using ajv validator
  packages/broker/lib/events/validator.ts
  services/runtime/Dockerfile
  services/workspaces/Dockerfile
Due: backend_npm_install, workspaces_test, workspaces_build_docker, workspaces_deploy, runtime_test, runtime_build_docker, runtime_deploy

update jest.config.js
  jest.config.js
Due: none

Fixed runtime build
  packages/broker/lib/events/validator.ts
  services/runtime/Dockerfile
Due: backend_npm_install, runtime_test, runtime_build_docker, runtime_deploy

DS Input support defaultValue
  packages/design-system/lib/Components/Input.tsx
Due: backend_npm_install

Upload images on workspaces, automations and pages
  package-lock.json
  packages/design-system/lib/Components/SchemaForm/FieldTextUpload.tsx
  packages/sdk/lib/api.test.ts
  packages/sdk/lib/api.ts
  packages/sdk/lib/fetcher.test.ts
  packages/sdk/lib/fetcher.ts
  services/api-gateway/src/index.ts
  services/console/components/PagesProvider/PagesProvider.tsx
Due: backend_npm_install, console_check, console_test, console_build_docker, console_deploy, api-gateway_build_docker, api-gateway_deploy

Remove debug
  services/console/components/PagesProvider/PagesProvider.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Do not replace undefined values with an empty string anymore when they span the entire string. Fixed 0 value which were replaced with an empty string
  services/runtime/src/utils/interpolate.test.ts
  services/runtime/src/utils/interpolate.ts
Due: runtime_test, runtime_build_docker, runtime_deploy

Fixed repeat until. Added unit tests for repeat until & repeat until + on
  services/runtime/src/services/runtime/automations/index.test.ts
  services/runtime/src/services/runtime/automations/instructions/repeat.ts
  services/runtime/src/services/workspaces/__mocks__/workspaces/instructions/current.yml
Due: runtime_test, runtime_build_docker, runtime_deploy

Fixed broker events validation (ajv did not find schemas)
  packages/broker/lib/events/validator.ts
  services/runtime/Dockerfile
  services/workspaces/Dockerfile
  services/workspaces/src/api/middlewares/validation.ts
Due: backend_npm_install, workspaces_test, workspaces_build_docker, workspaces_deploy, runtime_test, runtime_build_docker, runtime_deploy

Fix workspaces build
  services/workspaces/Dockerfile
  services/workspaces/src/api/middlewares/validation.ts
Due: workspaces_test, workspaces_build_docker, workspaces_deploy

Automation output may be edited as raw
  services/console/components/AutomationBuilder/Panel/OutputForm.tsx
Due: console_check, console_test, console_build_docker, console_deploy

Fetch instruction now automatically adds content-type: application/json if not specified. Now handle application/x-www-form-urlencoded body content-type.
  services/runtime/src/services/runtime/automations/instructions/fetch.ts
Due: runtime_test, runtime_build_docker, runtime_deploy

Allow declaring additional global context variables from runtime env vars
  docs/docs/en/getstarted/configuration.md
  services/runtime/config/runtime.ts
  services/runtime/src/services/runtime/contexts.ts
  services/runtime/src/services/runtime/index.ts
Due: runtime_test, runtime_build_docker, runtime_deploy, docs_build_static, docs_deploy

Fix native events validation
  packages/broker/lib/events/validator.ts
  services/runtime/Dockerfile
  services/workspaces/Dockerfile
Due: backend_npm_install, workspaces_test, workspaces_build_docker, workspaces_deploy, runtime_test, runtime_build_docker, runtime_deploy
