Repository HP319193/prisme.ai: changes, and which GitLab CI jobs are due for each by the changed paths.
All: npm_install, console_test, console_build_docker, console_deploy, workspaces_build_docker, workspaces_deploy, runtime_build_docker, runtime_deploy, api-gateway_build_docker, api-gateway_deploy, events_test, events_build_docker, events_deploy

Path conditions:
  npm_install: any of: package-lock.json, packages/**/*
  console_test: any of: services/console/**/*
  console_build_docker: any of: services/console/**/*
  console_deploy: any of: services/console/**/*
  workspaces_build_docker: any of: services/workspaces/**/*
  workspaces_deploy: any of: services/workspaces/**/*
  runtime_build_docker: any of: services/runtime/**/*
  runtime_deploy: any of: services/runtime/**/*
  api-gateway_build_docker: any of: services/api-gateway/**/*
  api-gateway_deploy: any of: services/api-gateway/**/*
  events_test: any of: services/events/**/*
  events_build_docker: any of: services/events/**/*
  events_deploy: any of: services/events/**/*

Fix for menutab minimizing when there was place
  packages/design-system/lib/Components/MenuTab.tsx
  services/console/components/EventsViewer/EventsViewer.tsx
Due: npm_install, console_test, console_build_docker, console_deploy

Return app photo alongside appInstance
  packages/types/index.d.ts
  services/runtime/src/services/workspaces/workspace.ts
  services/workspaces/src/services/apps/crud/apps.ts
  services/workspaces/src/services/workspaces/crud/appInstances.ts
  specifications/swagger.yml
Due: npm_install, workspaces_build_docker, workspaces_deploy, runtime_build_docker, runtime_deploy

force rebuilding workspaces
  services/runtime/src/services/workspaces/workspace.ts
  services/workspaces/Dockerfile
Due: workspaces_build_docker, workspaces_deploy, runtime_build_docker, runtime_deploy

Update event feed style
  packages/design-system/lib/Components/Feed.tsx
  services/console/components/EventsViewer/EventDetails.tsx
  services/console/components/EventsViewer/EventsViewer.tsx
  services/console/views/Workspace.tsx
Due: npm_install, console_test, console_build_docker, console_deploy

Force rebuild workspace with updated typings
  packages/types/index.d.ts
  services/workspaces/Dockerfile
Due: npm_install, workspaces_build_docker, workspaces_deploy

restrict viewing app source code to its workspace owners/editors
  services/workspaces/src/permissions/config.ts
  services/workspaces/src/permissions/index.ts
  services/workspaces/src/services/apps/crud/apps.ts
Due: workspaces_build_docker, workspaces_deploy

force rebuilding workspaces
  packages/types/index.d.ts
  services/workspaces/Dockerfile
Due: npm_install, workspaces_build_docker, workspaces_deploy

Lowercase email before sign in/up
  services/api-gateway/src/services/identity/users.ts
Due: api-gateway_build_docker, api-gateway_deploy

Trim email on sign in/search
  services/api-gateway/src/services/identity/users.ts
Due: api-gateway_build_docker, api-gateway_deploy

Updated workspaces list UI
  package.json
  services/console/public/locales/en/workspaces.json
  services/console/public/locales/fr/workspaces.json
  services/console/views/Workspaces.tsx
Due: console_test, console_build_docker, console_deploy

Update tests
  services/console/components/EventsViewer/EventsViewer.tsx
  services/console/components/EventsViewer/__snapshots__/EventsViewer.test.tsx.snap
  services/console/views/__snapshots__/Workspace.test.tsx.snap
  services/console/views/__snapshots__/Workspaces.test.tsx.snap
Due: console_test, console_build_docker, console_deploy

fix crash on expanding event row if no payload
  services/console/components/EventsViewer/EventDetails.tsx
Due: console_test, console_build_docker, console_deploy

fix nlu block build usage in a page
  package-lock.json
  services/console/components/Block.tsx
  services/console/package.json
Due: npm_install, console_test, console_build_docker, console_deploy

temporarily increased limit for app store and workspaces list query
  packages/sdk/lib/api.ts
  services/console/components/AppsProvider/context.ts
  services/console/views/AppsStore.tsx
Due: npm_install, console_test, console_build_docker, console_deploy

graph handles are properly themed
  services/console/components/AutomationBuilder/Block.test.tsx
  services/console/components/AutomationBuilder/Block.tsx
  services/console/components/AutomationBuilder/ConditionEdge.tsx
  services/console/components/AutomationBuilder/Conditions.tsx
  services/console/components/AutomationBuilder/Edge.tsx
  services/console/components/AutomationBuilder/Instruction.tsx
  services/console/components/AutomationBuilder/OutputBlock.tsx
  services/console/components/AutomationBuilder/Repeat.tsx
  services/console/components/AutomationBuilder/TriggerBlock.tsx
  services/console/components/AutomationBuilder/__snapshots__/AutomationBuilder.test.tsx.snap
  services/console/components/AutomationBuilder/__snapshots__/Block.test.tsx.snap
  services/console/components/AutomationBuilder/__snapshots__/ConditionEdge.test.tsx.snap
  services/console/components/AutomationBuilder/__snapshots__/Conditions.test.tsx.snap
  services/console/components/AutomationBuilder/__snapshots__/Edge.test.tsx.snap
  services/console/components/AutomationBuilder/__snapshots__/Instruction.test.tsx.snap
  services/console/components/AutomationBuilder/__snapshots__/InstructionEdge.test.tsx.snap
  services/console/components/AutomationBuilder/__snapshots__/Repeat.test.tsx.snap
  services/console/components/AutomationBuilder/__snapshots__/flow.test.ts.snap
  services/console/components/AutomationBuilder/flow.ts
  services/console/components/AutomationBuilder/styles.ts
  services/console/styles/globals.css
  services/console/tailwind.config.js
  services/console/views/__snapshots__/Workspaces.test.tsx.snap
Due: console_test, console_build_docker, console_deploy

Fix workspaces list rows gap
  services/console/views/Workspaces.tsx
Due: console_test, console_build_docker, console_deploy

Graph block UI styled
  services/console/components/AutomationBuilder/AutomationBuilder.tsx
  services/console/components/AutomationBuilder/Block.tsx
  services/console/components/AutomationBuilder/Conditions.tsx
  services/console/components/AutomationBuilder/Instruction.tsx
  services/console/components/AutomationBuilder/OutputBlock.tsx
  services/console/components/AutomationBuilder/TriggerBlock.tsx
  services/console/styles/globals.css
  services/console/tailwind.config.js
Due: console_test, console_build_docker, console_deploy

Trigger block styled
  services/console/components/AutomationBuilder/AutomationBuilder.tsx
  services/console/components/AutomationBuilder/Block.tsx
  services/console/components/AutomationBuilder/TriggerBlock.tsx
  services/console/public/locales/fr/workspaces.json
Due: console_test, console_build_docker, console_deploy

Change prop name
  services/console/components/AutomationBuilder/Block.test.tsx
  services/console/components/AutomationBuilder/Block.tsx
  services/console/components/AutomationBuilder/Conditions.tsx
  services/console/components/AutomationBuilder/Instruction.tsx
  services/console/components/AutomationBuilder/OutputBlock.tsx
  services/console/components/AutomationBuilder/Repeat.tsx
  services/console/components/AutomationBuilder/TriggerBlock.tsx
Due: console_test, console_build_docker, console_deploy

:bug: Fixes large payload not displaying properly.
  services/console/components/EventsViewer/EventDetails.tsx
Due: console_test, console_build_docker, console_deploy

Fix getApps function
  packages/sdk/lib/api.ts
  packages/types/index.d.ts
  services/console/components/AppsProvider/Provider.tsx
  services/console/components/AppsProvider/context.ts
  services/console/components/PublishModal.tsx
Due: npm_install, console_test, console_build_docker, console_deploy

Check types on CI
  .gitlab-ci.yml
  package.json
  services/console/layouts/Fieldset.test.tsx
Due: console_test, console_build_docker, console_deploy

Refacto SchemaForm
  package-lock.json
  packages/design-system/.storybook/style.css
  packages/design-system/lib/Components/DatePicker.tsx
  packages/design-system/lib/Components/LocalizedInput.tsx
  packages/design-system/lib/Components/SchemaForm/Description.tsx
  packages/design-system/lib/Components/SchemaForm/Field.tsx
  packages/design-system/lib/Components/SchemaForm/FieldAdditionalProperties.tsx
  packages/design-system/lib/Components/SchemaForm/FieldAny.tsx
  packages/design-system/lib/Components/SchemaForm/FieldArray.tsx
  packages/design-system/lib/Components/SchemaForm/FieldBoolean.tsx
  packages/design-system/lib/Components/SchemaForm/FieldDate.tsx
  packages/design-system/lib/Components/SchemaForm/FieldLocalizedBoolean.tsx
  packages/design-system/lib/Components/SchemaForm/FieldLocalizedText.tsx
  packages/design-system/lib/Components/SchemaForm/FieldObject.tsx
  packages/design-system/lib/Components/SchemaForm/FieldSelect.tsx
  packages/design-system/lib/Components/SchemaForm/FieldText.tsx
  packages/design-system/lib/Components/SchemaForm/FieldTextTextArea.tsx
  packages/design-system/lib/Components/SchemaForm/FieldTextUpload.tsx
  packages/design-system/lib/Components/SchemaForm/LayoutBasic.tsx
  packages/design-system/lib/Components/SchemaForm/LayoutGrid.tsx
  packages/design-system/lib/Components/SchemaForm/OneOf.tsx
  packages/design-system/lib/Components/SchemaForm/SchemaForm.stories.tsx
  packages/design-system/lib/Components/SchemaForm/SchemaForm.test.tsx
  packages/design-system/lib/Components/SchemaForm/SchemaForm.tsx
  packages/design-system/lib/Components/SchemaForm/__snapshots__/SchemaForm.test.tsx.snap
  packages/design-system/lib/Components/SchemaForm/context.ts
  packages/design-system/lib/Components/SchemaForm/index.ts
  packages/design-system/lib/Components/SchemaForm/types.ts
  packages/design-system/lib/Components/SchemaForm/utils.ts
  packages/design-system/lib/Components/StretchContent.tsx
  packages/design-system/lib/index.ts
  packages/design-system/package.json
  services/console/__mocks__/@ant-design/icons.js
  services/console/__mocks__/antd.js
Due: npm_install, console_test, console_build_docker, console_deploy

Update automation in real time
  packages/types/index.d.ts
  packages/validation/instructions.json
  services/console/components/AutomationBuilder/AutomationBuilder.tsx
  services/console/components/AutomationBuilder/Block.tsx
  services/console/components/AutomationBuilder/Panel/ConditionForm.tsx
  services/console/components/AutomationBuilder/Panel/InstructionForm.tsx
  services/console/components/AutomationBuilder/Panel/InstructionValue.tsx
  services/console/components/AutomationBuilder/Panel/OutputForm.tsx
  services/console/components/AutomationBuilder/Panel/TriggerForm.tsx
  services/console/public/locales/en/workspaces.json
  services/console/public/locales/es/workspaces.json
  services/console/public/locales/fr/workspaces.json
  specifications/swagger.yml
Due: npm_install, console_test, console_build_docker, console_deploy

Fixed app install permissions
  services/workspaces/src/api/routes/files.ts
  services/workspaces/src/services/apps/crud/apps.ts
  services/workspaces/src/services/workspaces/crud/appInstances.ts
Due: workspaces_build_docker, workspaces_deploy

Force rebuilding workspace
  services/workspaces/Dockerfile
  services/workspaces/src/api/routes/index.ts
  specifications/swagger.yml
Due: workspaces_build_docker, workspaces_deploy

Fixed workspaes test
  services/workspaces/Dockerfile
  services/workspaces/src/services/workspaces/crud/appInstances.test.ts
  services/workspaces/src/services/workspaces/crud/workspaces.test.ts
Due: workspaces_build_docker, workspaces_deploy

Oops, remove upload WIP files
  services/workspaces/Dockerfile
  services/workspaces/src/api/routes/files.ts
Due: workspaces_build_docker, workspaces_deploy

Sorry for this
  services/workspaces/Dockerfile
  services/workspaces/src/api/routes/index.ts
Due: workspaces_build_docker, workspaces_deploy

Change workspaces home behavior
  services/console/layouts/__snapshots__/Fieldset.test.tsx.snap
  services/console/views/Workspaces.test.tsx
  services/console/views/Workspaces.tsx
  services/console/views/__snapshots__/Workspaces.test.tsx.snap
Due: console_test, console_build_docker, console_deploy

Move Date field in its correct module
  packages/design-system/lib/Components/SchemaForm/Field.tsx
  packages/design-system/lib/Components/SchemaForm/FieldText.tsx
Due: npm_install

Change wording
  services/console/public/locales/en/workspaces.json
  services/console/public/locales/es/workspaces.json
  services/console/public/locales/fr/workspaces.json
Due: console_test, console_build_docker, console_deploy

Use JSONEditor on Free additional properties
  packages/design-system/lib/Components/SchemaForm/FieldAdditionalProperties.tsx
Due: npm_install

Fix storybook
  packages/design-system/lib/Components/Feed.stories.tsx
  packages/design-system/lib/Components/Layout.stories.tsx
Due: npm_install

Fix tests
  services/console/views/__snapshots__/Workspaces.test.tsx.snap
Due: console_test, console_build_docker, console_deploy

An instruction which do nothing but help organize code in graph
  specifications/swagger.yml
Due: none

Enum in SchemaForm
  packages/design-system/lib/Components/SchemaForm/Enum.tsx
  packages/design-system/lib/Components/SchemaForm/Field.tsx
  packages/design-system/lib/Components/SchemaForm/FieldSelect.tsx
  packages/design-system/lib/Components/SchemaForm/SchemaForm.stories.tsx
  packages/design-system/lib/Components/SchemaForm/types.ts
Due: npm_install

fix display instructions settings
  services/console/components/AutomationBuilder/Block.tsx
  services/console/components/AutomationBuilder/Instruction.tsx
Due: console_test, console_build_docker, console_deploy

Fix fields display
  packages/design-system/lib/Components/SchemaForm/FieldAny.tsx
  packages/design-system/lib/Components/SchemaForm/FieldObject.tsx
Due: npm_install
